Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Revert "chore: hand roll json_normalize to use None as missing value"
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

add additional fields
  kolena/_experimental/object_detection/dataset.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

fix linter
  kolena/_experimental/object_detection/dataset.py
Due: none

Fix spelling on object detection directory
  examples/dataset/object_detection_2d/README.md
  examples/dataset/object_detection_2d/object_detection_2d/__init__.py
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/metrics.py
  examples/dataset/object_detection_2d/object_detection_2d/model.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/object_detection_2d/tests/test_object_detection_2d.py
Due: example

Update example to use fn upload_object_detection_results
  examples/dataset/object_detection_2d/object_detection_2d/metrics.py
  examples/dataset/object_detection_2d/object_detection_2d/model.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/object_detection_2d/pyproject.toml
Due: example

added entry on readme.md
  examples/dataset/README.md
Due: none

use prod kolena sdk
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

fix multiclass check logic and add test
  kolena/_experimental/object_detection/dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

remove unnecessary comprehension
  kolena/_experimental/object_detection/dataset.py
Due: none

fix unit test
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

fix dataset_name we pass on the fn upload_object_detection_results
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
Due: example

helper functions to facilitate using dataset for 2d object detection (#495)
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
  tests/integration/_experimental/object_detection/test_dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

fix readme.md
  examples/dataset/object_detection_2d/README.md
Due: none

unref image assets
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

remove pip installation guide
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

fix url ref
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

Revert "remove pip installation guide"
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

Small wording tweaks
  docs/metrics/index.md
  docs/metrics/statistical-significance.md
Due: none

address comments
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

Add GIFs for light and dark mode showing statistical significance used for improvement/regression highlighting
  docs/assets/images/statistical-significance-demo-dark.gif
  docs/assets/images/statistical-significance-demo-light.gif
  docs/metrics/statistical-significance.md
Due: none

update docstring
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

refactor code snippet explanation
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

Statistical significance metrics doc (#492)
  docs/assets/images/statistical-significance-demo-dark.gif
  docs/assets/images/statistical-significance-demo-light.gif
  docs/metrics/index.md
  docs/metrics/statistical-significance.md
  mkdocs.yml
Due: none

KOL-4393 - Migrate OD 2D example to datasets (#497)
  examples/dataset/README.md
  examples/dataset/object_detection_2d/README.md
  examples/dataset/object_detection_2d/object_detection_2d/__init__.py
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/object_detection_2d/tests/test_object_detection_2d.py
Due: example

Example and documentation on uploading dataset embeddings (#493)
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  examples/dataset/search_embeddings/README.md
  examples/dataset/search_embeddings/pyproject.toml
  examples/dataset/search_embeddings/search_embeddings/__init__.py
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
  examples/workflow/search_embeddings/README.md
  mkdocs.yml
Due: example

Update Kolena SDK required version for OD 2D example.
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

Update Kolena SDK required version for OD 2D example. (#498)
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

Update defaults in upload_object_detection_results
  kolena/_experimental/object_detection/dataset.py
Due: none

Update OD example defaults
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
  kolena/_experimental/object_detection/dataset.py
Due: example

Fix upload_object_detection_results ignoring configurations
  kolena/_experimental/object_detection/dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

annotate tests
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

Fix upload_object_detection_results ignoring configurations (#500)
  kolena/_experimental/object_detection/dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

update github action versions for nodejs deprecation warning
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Update usage in test
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

Update unit test
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

dataset embedding doc follow-up
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

dataset embedding doc follow-up (#502)
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

update github action versions for nodejs deprecation warning (#501)
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Update requests pin to accept <3
  pyproject.toml
Due: none
