Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

created new annotation for labeled text segments (#586)
  kolena/annotation.py
  tests/unit/test_annotation.py
Due: all

Add test
  tests/integration/dataset/helper.py
  tests/integration/dataset/test_evaluation.py
Due: none

Migrate to experimental
  kolena/dataset/evaluation.py
  tests/integration/_experimental/helper.py
  tests/integration/_experimental/test_quality_standard.py
  tests/integration/dataset/test_evaluation.py
Due: none

Add main file
  kolena/_experimental/quality_standard.py
Due: none

Test metric value
  tests/integration/_experimental/test_quality_standard.py
Due: none

Consistently use of quality-standard `result` over `results` in docs
  kolena/_experimental/quality_standard.py
  tests/integration/_experimental/test_quality_standard.py
Due: none

Only expose 'compute_object_detection_results'
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
Due: none

Fix comment indentation
  kolena/metrics/_geometry.py
Due: none

Fix reference in docstring
  kolena/_experimental/object_detection/dataset.py
Due: none

add unit test
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/tests/__init__.py
  examples/dataset/crossing_pedestrian_detection/tests/test_crossing_pedestrian_detection.py
Due: example

add tests to circle ci workflow
  .circleci/continue_config.yml
Due: all

Update test to use multiple eval configs
  tests/integration/_experimental/test_quality_standard.py
Due: none

Add test for multiple metrics
  tests/integration/_experimental/test_quality_standard.py
Due: none

feat: Add quality-standard result download (#589)
  kolena/_api/v2/quality_standard.py
  kolena/_experimental/quality_standard.py
  tests/integration/_experimental/helper.py
  tests/integration/_experimental/test_quality_standard.py
Due: all

Add IoU property to object detection inferences (#588)
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/_geometry.py
  tests/unit/metrics/test_geometry.py
Due: none

Add Crossing Pedestrian Detection example (#590)
  .circleci/continue_config.yml
  examples/dataset/crossing_pedestrian_detection/README.md
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/__init__.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/tests/test_crossing_pedestrian_detection.py
Due: all, example

Silence FutureWarning from pandas regarding convert_dtype being deprecated
  kolena/_utils/dataframes/transformers.py
Due: all

Silence FutureWarning from pandas regarding convert_dtype being deprecated (#591)
  kolena/_utils/dataframes/transformers.py
Due: all

adding new files to resolve warnings
  docs/automations/embedding-extraction.md
  docs/automations/extract-text-metadata.md
  docs/automations/index.md
  docs/dataset/advanced-usage/index.md
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
  docs/dataset/core-concepts/quality-standard.md
  docs/index.md
  docs/installing-kolena.md
  libcairo.2.dylib
  libcairo.2.dylib.
  mkdocs.yml
Due: none

adding place holder file for task metrics
  docs/dataset/advanced-usage/task-metrics.md
  mkdocs.yml
Due: none

adding placeholder for rich datatypes
  docs/dataset/advanced-usage/rich-datatypes.md
Due: none

updating the quickstart text and assets
  docs/assets/images/add-test-cases.gif
  docs/assets/images/quickstart-compare-models.gif
  docs/assets/images/quickstart-configure-metrics.gif
  docs/dataset/quickstart.md
  mkdocs.yml
Due: none

Adding update to more docs
  docs/assets/images/task-metrics-binary-classification.gif
  docs/assets/images/task-metrics-multiclass-classification.gif
  docs/assets/images/task-metrics-object-detection.gif
  docs/assets/images/task-metrics-regression.gif
  docs/dataset/advanced-usage/task-metrics.md
  docs/dataset/core-concepts/index.md
Due: none

fix upload typo in integration test
  tests/integration/dataset/test_dataset.py
Due: none

fix upload typo in integration test (#592)
  tests/integration/dataset/test_dataset.py
Due: none

More additions to the metrics docs
  docs/assets/images/automated-embeddings-extraction.gif
  docs/assets/images/categorical-aggregation-options.png
  docs/assets/images/numeric-aggregation-optins.png
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  docs/dataset/advanced-usage/task-metrics.md
Due: none

Moving a file around
  docs/dataset/advanced-usage/formatting-your-datasets.md
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/task-metrics.md
  docs/dataset/index.md
Due: none

Updated links
  docs/dataset/advanced-usage/formatting-your-datasets.md
  docs/dataset/advanced-usage/index.md
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
  docs/dataset/core-concepts/quality-standard.md
  docs/metrics/statistical-significance.md
  docs/workflow/advanced-usage/packaging-for-automated-evaluation.md
  mkdocs.yml
Due: none

Adding new icon
  docs/dataset/advanced-usage/index.md
  docs/dataset/core-concepts/index.md
  docs/dataset/quickstart.md
  docs/index.md
  docs/overrides/.icons/kolena/search-around-16.svg
Due: none

Trying to add new icons
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  docs/overrides/.icons/kolena/search-around-20.svg
  mkdocs.yml
Due: none

Added image for custom metrics
  docs/assets/images/custom-metrics.png
  docs/dataset/advanced-usage/task-metrics.md
Due: none

Moving files around to setup automations
  docs/automations/embedding-extraction.md
  docs/automations/extract-text-metadata.md
  docs/automations/set-up-natural-language-search.md
  docs/dataset/advanced-usage/extract-text-metadata.md
Due: none

Organized the API docs
  docs/automations/extract-text-metadata.md
  docs/automations/index.md
  docs/automations/set-up-natural-language-search.md
  docs/dataset/advanced-usage/formatting-your-datasets.md
  docs/dataset/advanced-usage/index.md
  docs/reference/dataset/index.md
  docs/reference/index.md
  mkdocs.yml
Due: none

remove telemetry
  kolena/_api/v1/token.py
  kolena/_utils/instrumentation.py
  kolena/_utils/krequests.py
  kolena/_utils/log.py
  kolena/_utils/state.py
  kolena/initialize.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
  tests/unit/test_initialize.py
  tests/unit/test_krequests.py
Due: generic, all

fix circular include
  kolena/_utils/state.py
Due: all

update test_krequests tests that used telemetry
  tests/unit/test_krequests.py
Due: none

readd removed import kolena
  kolena/_utils/state.py
Due: all

Remove telemetry (#594)
  kolena/_api/v1/token.py
  kolena/_utils/instrumentation.py
  kolena/_utils/krequests.py
  kolena/_utils/log.py
  kolena/_utils/state.py
  kolena/initialize.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
  tests/unit/test_initialize.py
  tests/unit/test_krequests.py
Due: generic, all

Updated the gif to exclude my bookmarks
  docs/assets/images/automated-embeddings-extraction.gif
Due: none

updated cropped gif
  docs/assets/images/task-metrics-multiclass-classification.gif
Due: none
