Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

rename file
  examples/dataset/README.md
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/upload_dataset.py
Due: example

log number of results inserted and updated when testing on dataset
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
Due: all

rain forecast tabular data example
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/rain_forecast/rain_forecast/__init__.py
  examples/dataset/rain_forecast/rain_forecast/metrics.py
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
Due: example

fix style error
  kolena/dataset/evaluation.py
Due: none

Update README
  examples/dataset/README.md
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/pyproject.toml
Due: none

s/benchmark_model/upload_results/g
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
Due: example

Update to allow any hashable object to be used as id field
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/common.py
Due: none

Implement `__str__` in Annotation base class
  kolena/workflow/annotation.py
Due: generic

Keypoint detection example for Kolena Datasets (#371)
  examples/README.md
  examples/dataset/README.md
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/__init__.py
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
  examples/workflow/keypoint_detection/README.md
  kolena/_utils/endpoints.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: all, example

Updated output typing
  examples/dataset/rain_forecast/rain_forecast/metrics.py
Due: example

Remove unnecessary f-string
  kolena/_experimental/dataset/common.py
Due: none

update keypoint detection to use upload_results
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
Due: example

Update `__str__` to output valid JSON
  kolena/workflow/annotation.py
Due: generic

Set up smoke test for rain_forecast example
  .circleci/continue_config.yml
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/tests/test_rain_forecast.py
Due: all, example

Update dataset library import
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
Due: example

refactor: datatypes
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/datatypes.py
  kolena/dataset/dataset.py
  kolena/workflow/__init__.py
  kolena/workflow/_datatypes.py
  kolena/workflow/_validators.py
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/evaluator.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/io.py
  kolena/workflow/plot.py
  kolena/workflow/test_sample.py
  tests/unit/dataset/test_dataset.py
  tests/unit/workflow/test_annotation.py
  tests/unit/workflow/test_asset.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_ground_truth.py
  tests/unit/workflow/test_test_sample.py
  tests/unit/workflow/test_validators.py
Due: generic, all

standardize examples
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/pyproject.toml
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/question_answering/question_answering/upload_dataset.py
Due: example

KOL-4082 v1 documentation core concepts (#382)
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
Due: none

Added Quality Standard page.
  docs/dataset/core-concepts/quality-standard.md
Due: none

Update email from @kolena.io to @kolena.com
  docs/faq/index.md
  examples/dataset/question_answering/pyproject.toml
  examples/workflow/age_estimation/pyproject.toml
  examples/workflow/automatic_speech_recognition/pyproject.toml
  examples/workflow/classification/pyproject.toml
  examples/workflow/face_recognition_11/pyproject.toml
  examples/workflow/keypoint_detection/pyproject.toml
  examples/workflow/object_detection_2d/pyproject.toml
  examples/workflow/object_detection_3d/pyproject.toml
  examples/workflow/question_answering/pyproject.toml
  examples/workflow/search_embeddings/pyproject.toml
  examples/workflow/semantic_segmentation/pyproject.toml
  examples/workflow/semantic_textual_similarity/pyproject.toml
  examples/workflow/speaker_diarization/pyproject.toml
  examples/workflow/text_summarization/pyproject.toml
  pyproject.toml
Due: none

Update unit test
  tests/unit/dataset/test_common.py
Due: none

Update email from @kolena.io to @kolena.com (#397)
  docs/faq/index.md
  examples/dataset/question_answering/pyproject.toml
  examples/workflow/age_estimation/pyproject.toml
  examples/workflow/automatic_speech_recognition/pyproject.toml
  examples/workflow/classification/pyproject.toml
  examples/workflow/face_recognition_11/pyproject.toml
  examples/workflow/keypoint_detection/pyproject.toml
  examples/workflow/object_detection_2d/pyproject.toml
  examples/workflow/object_detection_3d/pyproject.toml
  examples/workflow/question_answering/pyproject.toml
  examples/workflow/search_embeddings/pyproject.toml
  examples/workflow/semantic_segmentation/pyproject.toml
  examples/workflow/semantic_textual_similarity/pyproject.toml
  examples/workflow/speaker_diarization/pyproject.toml
  examples/workflow/text_summarization/pyproject.toml
  pyproject.toml
Due: none

chore: hoist annotation
  docs/reference/annotation.md
  kolena/annotation.py
  kolena/workflow/_validators.py
  kolena/workflow/annotation.py
  mkdocs.yml
  tests/unit/workflow/test_annotation.py
Due: generic, all

toml email update
  examples/dataset/classification/pyproject.toml
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
Due: none

Update Copyright year on mkdocs.yml
  mkdocs.yml
Due: none

add smoke tests
  examples/dataset/classification/tests/test_binary_classification.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/tests/test_keypoint_detection.py
  examples/dataset/question_answering/tests/test_question_answering.py
Due: example

chore: hoist asset
  docs/reference/asset.md
  kolena/asset.py
  kolena/workflow/_validators.py
  kolena/workflow/asset.py
  mkdocs.yml
  tests/unit/workflow/test_asset.py
Due: generic, all

Add memray to dev dependencies
  pyproject.toml
Due: none

chore: move tests
  tests/unit/test_annotation.py
  tests/unit/test_asset.py
  tests/unit/workflow/test_annotation.py
  tests/unit/workflow/test_asset.py
Due: none

chore: remove annotation and asset under dataset
  docs/reference/dataset/annotation.md
  docs/reference/dataset/asset.md
  kolena/dataset/__init__.py
  mkdocs.yml
Due: none

Update Copyright year on mkdocs.yml (#398)
  mkdocs.yml
Due: none

refactor: hoist io
  docs/reference/io.md
  kolena/dataset/dataset.py
  kolena/io.py
  kolena/workflow/io.py
  mkdocs.yml
  tests/unit/test_io.py
  tests/unit/workflow/test_io.py
Due: generic, all

Added evaluation configuration
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
Due: example

Test updating cache
  .circleci/continue_config.yml
Due: all

chore: relax ci no output timeout for integration tests
  .circleci/continue_config.yml
Due: all

Added Github Action to build legacy docs.
  .github/workflows/legacy_docs.yml
Due: none

Consistent casing with other examples
  examples/dataset/rain_forecast/rain_forecast/metrics.py
Due: example

Add `--clear-cache` option to CI pytest invocations
  .circleci/continue_config.yml
Due: all

Update mkdocs.yml
  mkdocs.yml
Due: none
