Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

nits
  tests/unit/_experimental/test_utils.py
Due: none

nits
  tests/unit/_experimental/test_plots.py
Due: none

Add a few missing deprecation callouts
  kolena/classification/test_image.py
  kolena/detection/_internal/test_suite.py
  kolena/fr/test_suite.py
Due: classification, detection, fr

fix logic around zero division
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
  tests/unit/_experimental/test_utils.py
Due: none

Start plugging in insider-only features from mkdocs-material
  docs/advanced-usage.md
  docs/advanced/index.md
  docs/faq.md
  docs/faq/index.md
  docs/index.md
  docs/metrics-guide.md
  docs/metrics-guide/index.md
  docs/reference/index.md
  docs/reference/legacy/built-in/base.md
  docs/reference/legacy/built-in/classification.md
  docs/reference/legacy/built-in/detection.md
  docs/reference/legacy/built-in/fr.md
  docs/reference/legacy/index.md
  docs/reference/workflow/index.md
  mkdocs.yml
  pyproject.toml
Due: none

change y_true logic for 3.7.1
  kolena/_experimental/object_detection/utils.py
Due: none

created constants for test matchings
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
Due: none

Set up mkdocstrings-python insiders
  CONTRIBUTING.md
  docs/reference/legacy/built-in/classification.md
  docs/reference/legacy/built-in/detection.md
  docs/reference/legacy/built-in/fr.md
  mkdocs.yml
  pyproject.toml
Due: none

Start fleshing out index pages; try another strategy re dependencies
  .pre-commit-config.yaml
  docs/reference/index.md
  docs/reference/legacy/built-in/base.md
  docs/reference/legacy/built-in/classification.md
  docs/reference/legacy/built-in/detection.md
  docs/reference/legacy/built-in/fr.md
  docs/reference/legacy/index.md
  docs/reference/workflow/index.md
  mkdocs.yml
  pyproject.toml
Due: none

Add 'optional = true' to docs and docs-insiders dependency groups
  pyproject.toml
Due: none

Add verbose flags to poetry install in CI to start debugging
  .circleci/continue_config.yml
Due: all

Experiment with out-of-band insiders installation approach
  .circleci/continue_config.yml
  .github/workflows/release.yml
  docs/setup_insiders.sh
  mkdocs.insiders.yml
  mkdocs.yml
  pyproject.toml
Due: all

Add docs job definition
  .circleci/continue_config.yml
Due: all

Add execution perms to docs/setup_insiders.sh
  docs/setup_insiders.sh
Due: none

Add fingerprint to docs job
  .circleci/continue_config.yml
Due: all

Cleanup in preparation for review
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/reference/workflow/index.md
  mkdocs.insiders.yml
  mkdocs.yml
  pyproject.toml
Due: none

Add icons to titles of reference pages
  docs/reference/index.md
  docs/reference/legacy/index.md
  docs/reference/workflow/index.md
Due: none

Copy theme features instead of trying to merge, which weirdly broke things like light/dark and nav sidebar styles
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

nits
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
Due: none

seperate returns for plot type, update tests
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
Due: none

Use 'insider' features from mkdocs-material and mkdocstrings (#69)
  .circleci/continue_config.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/advanced-usage.md
  docs/advanced/index.md
  docs/faq.md
  docs/faq/index.md
  docs/index.md
  docs/metrics-guide.md
  docs/metrics-guide/index.md
  docs/reference/index.md
  docs/reference/legacy/built-in/base.md
  docs/reference/legacy/built-in/classification.md
  docs/reference/legacy/built-in/detection.md
  docs/reference/legacy/built-in/fr.md
  docs/reference/legacy/index.md
  docs/reference/workflow/index.md
  docs/setup_insiders.sh
  mkdocs.insiders.yml
  mkdocs.yml
  pyproject.toml
Due: all

[WIP] Start customizing slate theme for dark mode
  docs/css/theme.css
  mkdocs.yml
Due: none

Begin theme customization, setting background image on header
  docs/assets/images/background.svg
  docs/css/theme.css
  mkdocs.yml
Due: none

Continue theme customization
  docs/css/theme.css
Due: none

Add another header position tweak for >2000px viewports
  docs/css/theme.css
Due: none

Plausible first pass at customized slate theme
  docs/css/theme.css
Due: none

Pare down theme copypasta by overriding 'default' and 'slate' rather than creating new color schemes
  docs/css/theme.css
  mkdocs.yml
Due: none

Use sun and moon for light/dark mode toggles instead of lightbulb
  mkdocs.yml
Due: none

Make job name looks better
  .circleci/continue_config.yml
Due: all

update merge
  .circleci/continue_config.yml
Due: all

Customize docs themes (#71)
  docs/assets/images/background.svg
  docs/css/theme.css
  mkdocs.yml
Due: none

Write a few FAQs
  docs/advanced-usage/index.md
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/faq/index.md
  docs/index.md
  docs/using-kolena-client.md
  kolena/initialize.py
  mkdocs.yml
Due: all

use matching constant
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
  tests/unit/_experimental/test_utils.py
Due: none

Write kolena.workflow index page
  docs/index.md
  docs/reference/legacy/built-in/classification.md
  docs/reference/legacy/built-in/detection.md
  docs/reference/legacy/built-in/fr.md
  docs/reference/legacy/index.md
  docs/reference/workflow/index.md
  kolena/workflow/annotation.py
  mkdocs.yml
Due: generic

Populate 'Advanced Usage' index
  docs/advanced-usage/index.md
  docs/index.md
  mkdocs.yml
Due: none

Move 'using-kolena-client' page to previous location for URL compat
  docs/.gitignore
  docs/index.md
  docs/testing-with-kolena/using-kolena-client.md
  mkdocs.yml
Due: none

Populate base reference index file
  docs/reference/index.md
  docs/reference/legacy/index.md
  docs/reference/workflow/index.md
  docs/testing-with-kolena/using-kolena-client.md
Due: none

Make job name looks better (#70)
  .circleci/continue_config.yml
Due: all

push
  kolena/_experimental/object_detection/seed_test_run.py
  kolena/_experimental/object_detection/seed_test_suite.py
  pyproject.toml
Due: none
