Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

update test
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/tests/test_classification.py
Due: example

Added evaluator for binary classification
  examples/classification/classification/evaluator.py
  examples/classification/classification/evaluator_base.py
  examples/classification/classification/evaluator_binary.py
  examples/classification/classification/evaluator_multiclass.py
  examples/classification/classification/workflow.py
  examples/classification/scripts/multiclass/seed_test_run.py
Due: example

Added stratification test cases / updated README
  examples/classification/README.md
  examples/classification/scripts/binary/__init__.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/tests/test_binary_classification.py
  examples/classification/tests/test_multiclass_classification.py
Due: example

Rename _validate_locator to _validate_image_locator
  kolena/_utils/dataframes/validators.py
  kolena/detection/_datatypes.py
  kolena/detection/_internal/datatypes.py
  kolena/fr/datatypes.py
  tests/unit/utils/dataframes/test_validators.py
Due: detection, fr, all

Reintroduce _validate_locator for general (non-image) locators
  kolena/_utils/dataframes/validators.py
  tests/unit/utils/dataframes/test_validators.py
Due: all

Drop support for non-TLS HTTP locators
  kolena/_utils/dataframes/validators.py
  tests/unit/utils/dataframes/test_validators.py
Due: all

Added to README.md
  examples/README.md
  examples/classification/README.md
  examples/classification/classification/evaluator_binary.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/tests/test_binary_classification.py
Due: example

Rename _validate_locator to _validate_image_locator (#171)
  kolena/_utils/dataframes/validators.py
  kolena/detection/_datatypes.py
  kolena/detection/_internal/datatypes.py
  kolena/fr/datatypes.py
  tests/unit/utils/dataframes/test_validators.py
Due: detection, fr, all

Multiclass Classification Example Stratification (#170)
  examples/classification/README.md
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/classification/tests/test_classification.py
Due: example

Add derived values to kolena.workflow.BoundingBox
  kolena/workflow/_datatypes.py
  kolena/workflow/annotation.py
Due: generic

Add upload embeddings client function
  kolena/_api/v1/generic.py
  kolena/search/__init__.py
  kolena/search/_internal/__init__.py
  kolena/search/_internal/datatypes.py
  kolena/search/embeddings.py
Due: all

Add additional log line
  kolena/_experimental/search/embeddings.py
Due: none

Fix embedding pickle/encoding logic + report n_samples in response object
  kolena/_api/v1/generic.py
  kolena/_experimental/search/embeddings.py
Due: all

Update integration tests
  tests/integration/_experimental/search/test_embeddings.py
Due: none

Fix issues with embeddings tests
  tests/integration/_experimental/search/test_embeddings.py
Due: none

Update pandera check for embeddings dataframe
  kolena/_experimental/search/_internal/datatypes.py
Due: none

Fix errors with actual execution
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
Due: none

Serialize embedding before sending it to SDK server endpoint
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
Due: none

Include key field as part of upload_embeddings, used to specify model locator
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/__init__.py
  tests/integration/_experimental/search/test_embeddings.py
Due: none

Move it all to _experimental
  kolena/_experimental/search/__init__.py
  kolena/_experimental/search/_internal/__init__.py
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
Due: none

Add volume to 3D bbox; add unit tests
  kolena/workflow/annotation.py
  tests/unit/workflow/test_annotation.py
Due: generic

Add explicit tests for serde of derived fields
  tests/unit/workflow/test_annotation.py
Due: none

Change signature input to just be np.ndarray
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/test_embeddings.py
Due: none

Add upload embeddings client function (#165)
  kolena/_api/v1/generic.py
  kolena/_experimental/search/__init__.py
  kolena/_experimental/search/_internal/__init__.py
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/__init__.py
  tests/integration/_experimental/search/test_embeddings.py
Due: all

Add sentence to docstrings about derived fields
  kolena/workflow/annotation.py
Due: generic

Simplify volume calculation
  kolena/workflow/annotation.py
Due: generic

Add additional test for deserialization; unbreak 3.7
  kolena/workflow/annotation.py
  tests/unit/workflow/test_annotation.py
Due: generic

Add unit test for extension of object with derived fields
  tests/unit/workflow/test_annotation.py
Due: none

Allow overriding derived values and types
  kolena/workflow/annotation.py
  tests/unit/workflow/test_annotation.py
Due: generic

docstring update
  examples/classification/classification/workflow.py
Due: example

Revert "Allow overriding derived values and types"
  kolena/workflow/annotation.py
  tests/unit/workflow/test_annotation.py
Due: generic

Update docstrings
  kolena/workflow/annotation.py
Due: generic

Add derived values to kolena.workflow.BoundingBox{,3D} (#172)
  kolena/workflow/_datatypes.py
  kolena/workflow/annotation.py
  tests/unit/workflow/test_annotation.py
Due: generic

Binary Classification Evaluator (#169)
  examples/classification/classification/evaluator.py
  examples/classification/classification/evaluator_base.py
  examples/classification/classification/evaluator_binary.py
  examples/classification/classification/evaluator_multiclass.py
  examples/classification/classification/workflow.py
  examples/classification/scripts/multiclass/seed_test_run.py
Due: example

Fixed README.md
  examples/classification/README.md
Due: none

Remove _area function from 2D OD example seed scripts in favor of derived value
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
