Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

update example on extending annotations
  docs/core-concepts/workflow.md
Due: none

improve wording of annoation expansion section
  docs/core-concepts/workflow.md
Due: none

Remove parallelism from integration tests (#295)
  .circleci/continue_config.yml
Due: all

chore: add boilerplate for results
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_experimental/dataset/common.py
Due: all

remove condition on event api
  kolena/_utils/instrumentation.py
  kolena/initialize.py
Due: all

chore: add results upload helpers
  kolena/_experimental/dataset/_evaluation.py
Due: none

add event api to pre-built workflows
  kolena/detection/_internal/model.py
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_run.py
  kolena/detection/_internal/test_suite.py
  kolena/fr/model.py
  kolena/fr/test_case.py
  kolena/fr/test_run.py
  kolena/fr/test_suite.py
Due: detection, fr

chore: update test to use results
  kolena/_experimental/dataset/_evaluation.py
Due: none

chore: trim
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: add more tests
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: clean
  kolena/_experimental/dataset/common.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

chore: trim
  kolena/_api/v2/evaluation.py
  kolena/_api/v2/model.py
Due: all

chore: address comments
  kolena/_experimental/dataset/_evaluation.py
Due: none

chore: consolidate inference and metrics to results (#289)
  kolena/_api/v2/evaluation.py
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_experimental/dataset/common.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: all

Deployed 9cb317a with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix unit test
  kolena/workflow/_thresholded.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

Fix unit test
  kolena/workflow/_validators.py
  tests/unit/workflow/test_evaluator.py
Due: generic

Remove unecesary list type
  kolena/workflow/evaluator.py
Due: generic

nested metrics impl
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Added docstring to ThresholdedMetrics class
  kolena/workflow/_thresholded.py
Due: generic

Rename _thresholded.py to from thresholded.py
  kolena/workflow/__init__.py
  kolena/workflow/_validators.py
  kolena/workflow/thresholded.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

Update average precision score to be based on sampled PR curve
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Update README with new `eval_level` argument
  examples/semantic_segmentation/README.md
Due: none

remodelled fr holistic
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

revert update to expanding annotation section
  docs/core-concepts/workflow.md
Due: none

update based on PR comments
  docs/core-concepts/workflow.md
  docs/quickstart.md
Due: none

rename mask_cnn to mask_rcnn
  docs/quickstart.md
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
Due: example

fix whitespace
  docs/core-concepts/workflow.md
Due: none

feat: support partial uploading
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

allow additional headers in client state
  kolena/_utils/krequests.py
  kolena/_utils/state.py
  tests/unit/test_initialize.py
Due: all

chore: naming consistency
  kolena/_experimental/dataset/_evaluation.py
Due: none

feat: support partial results uploading (#301)
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

Remove `eval_level` argument
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

tighten up kwargs override order
  kolena/_utils/krequests.py
  kolena/_utils/state.py
  tests/unit/test_krequests.py
Due: all

fix style error
  tests/unit/test_krequests.py
Due: none

Update average precision score to be based on sampled PR curve (#300)
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

fix unit test error due to global client state reset
  tests/unit/test_krequests.py
Due: none

Update docstring
  kolena/workflow/thresholded.py
Due: generic

allow request level override of content-type header
  kolena/_utils/krequests.py
  tests/unit/test_krequests.py
Due: all

KOL-3467 - Thresholded (#249)
  kolena/workflow/__init__.py
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  kolena/workflow/thresholded.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic
