Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

include new annotation type
  kolena/annotation.py
Due: all

stash
  docs/dataset/advanced-usage/special-data-types.md
  kolena/_experimental/data_type/__init__.py
  kolena/_experimental/data_type/special.py
Due: none

move timestamp to experimental special class
  docs/dataset/advanced-usage/special-data-types.md
  docs/reference/experimental/index.md
  kolena/_experimental/data_type/__init__.py
  kolena/_experimental/special_data_type.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  tests/integration/dataset/test_dataset.py
Due: all

convert to utc first
  kolena/_experimental/special_data_type.py
Due: none

add docstring, set GMT as default tz
  kolena/_experimental/special_data_type.py
Due: none

clean up + add unit tests
  kolena/_experimental/special_data_type.py
  tests/unit/_experimental/test_special_data_type.py
Due: none

import typing for backwards compatibility
  tests/unit/_experimental/test_special_data_type.py
Due: none

add logic to convert to utc within timestamp
  kolena/_experimental/special_data_type.py
Due: none

feat: add special datatype for timestamp (#730)
  docs/reference/experimental/index.md
  examples/dataset/classification/classification/multiclass/upload_results.py
  kolena/_experimental/special_data_type.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  tests/integration/dataset/test_dataset.py
  tests/unit/_experimental/test_special_data_type.py
Due: all, example

support iso format by default, refactor tz localization
  kolena/_experimental/special_data_type.py
  tests/unit/_experimental/test_special_data_type.py
Due: none

Revert "feat: add special datatype for timestamp (#730)"
  docs/reference/experimental/index.md
  examples/dataset/classification/classification/multiclass/upload_results.py
  kolena/_experimental/special_data_type.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  tests/integration/dataset/test_dataset.py
  tests/unit/_experimental/test_special_data_type.py
Due: all, example

Revert "feat: add special datatype for timestamp (#730)" (#732)
  docs/reference/experimental/index.md
  examples/dataset/classification/classification/multiclass/upload_results.py
  kolena/_experimental/special_data_type.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  tests/integration/dataset/test_dataset.py
  tests/unit/_experimental/test_special_data_type.py
Due: all, example

Revert "Revert "feat: add special datatype for timestamp (#730)" (#732)"
  docs/reference/experimental/index.md
  examples/dataset/classification/classification/multiclass/upload_results.py
  kolena/_experimental/special_data_type.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  tests/integration/dataset/test_dataset.py
  tests/unit/_experimental/test_special_data_type.py
Due: all, example

raise not found error when downloading results with a model that does not exist on a dataset
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

raise not found error when downloading results with a model that does not exist on a dataset (#734)
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

Unclamp minimum version on requests-toolbelt
  pyproject.toml
Due: none

Unclamp minimum version on requests-toolbelt (#735)
  pyproject.toml
Due: none

Add client side support for the DocumentAsset type
  docs/dataset/core-concepts/index.md
  kolena/asset.py
Due: all

Allow for .md and .log files as well
  docs/dataset/core-concepts/index.md
  kolena/asset.py
Due: all

chore: add back special datatype for timestamp (#733)
  docs/reference/experimental/index.md
  examples/dataset/classification/classification/multiclass/upload_results.py
  kolena/_experimental/special_data_type.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  tests/integration/dataset/test_dataset.py
  tests/unit/_experimental/test_special_data_type.py
Due: all, example

Bump pandera to drop bad import chain
  pyproject.toml
Due: none

Add client side support for the DocumentAsset type (#736)
  docs/dataset/core-concepts/index.md
  kolena/asset.py
  pyproject.toml
Due: all

Bump pandera dependency to drop bad import chain
  examples/dataset/speaker_diarization/pyproject.toml
Due: none

Bump pandera dependency to drop bad import chain (#737)
  examples/dataset/speaker_diarization/pyproject.toml
Due: none

Upload dataset script
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/pyproject.toml
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/__init__.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/constants.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_dataset.py
Due: example

Uses latest kolena package
  examples/dataset/retrieval_augmented_generation/pyproject.toml
Due: none

Added upload results and allow uploading dataset without GT
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/pyproject.toml
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/utils.py
Due: example

Compute metrics in upload_results script
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_dataset.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
Due: example

remove relative dependency
  examples/dataset/retrieval_augmented_generation/pyproject.toml
Due: none

Added citation + updated dependency list
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/pyproject.toml
Due: none

Updated README.md with more information + updated copyright year
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/__init__.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/constants.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_dataset.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/utils.py
Due: example

fix example snippet on embedding upload
  docs/dataset/advanced-usage/upload-embeddings.md
Due: none

minor string fix
  docs/dataset/advanced-usage/upload-embeddings.md
Due: none

chore: fix example snippet on embedding upload (#740)
  docs/dataset/advanced-usage/upload-embeddings.md
Due: none

Pinning pandera version on problematic integration test
  examples/workflow/speaker_diarization/pyproject.toml
Due: none

Pinned multimethod on workflow/speaker_diarization example
  examples/workflow/speaker_diarization/pyproject.toml
Due: none

RAG example using financebench (#738)
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/pyproject.toml
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/__init__.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/constants.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_dataset.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/utils.py
  examples/workflow/speaker_diarization/pyproject.toml
Due: example
