Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Update search.py
  kolena/_api/v2/search.py
Due: all

Specify that Keypoints3D and Polyline3D can be visualized in their own 3d space
  kolena/annotation.py
Due: all

do not run embedding reduction when running integration test (#682)
  kolena/_api/v2/search.py
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/test_embeddings.py
Due: all

Add skeleton fields to Keypoints and Keypoints3D annotations (#659)
  kolena/annotation.py
Due: all

Improve documentation around formatting assets and annotations in a dataset (#681)
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
  docs/dataset/core-concepts/index.md
  kolena/asset.py
Due: all

remove video_id col from JAAD dataset
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
Due: example

refactor duplicated config into constants
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
Due: example

Make reads in JAAD example anonymous (#625)
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
Due: example

add docs for azure-openai configuration
  docs/connecting-external-llm-endpoint/azure-openai.md
Due: none

respond to comments
  docs/connecting-external-llm-endpoint/azure-openai.md
Due: none

add docs for azure-openai configuration (#688)
  docs/connecting-external-llm-endpoint/azure-openai.md
Due: none

Revert "temporarily bump up testing resource to unblock"
  .circleci/continue_config.yml
Due: all

update documentation on video annotation
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
Due: none

chore: update doc on video annotation, revert circle CI instance size (#689)
  .circleci/continue_config.yml
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
Due: all

expose external llm api docs
  docs/connecting-external-llm-endpoint/index.md
  mkdocs.yml
Due: none

Linking try in metrics docs
  docs/metrics/accuracy.md
  docs/metrics/average-precision.md
  docs/metrics/averaging-methods.md
  docs/metrics/confusion-matrix.md
  docs/metrics/f1-score.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/pr-curve.md
  docs/metrics/roc-curve.md
  docs/metrics/root-mean-squared-error.md
  docs/metrics/spearman-correlation.md
Due: none

expose external llm api docs (#690)
  docs/connecting-external-llm-endpoint/index.md
  mkdocs.yml
Due: none

more links
  docs/metrics/confusion-matrix.md
  docs/metrics/pearson-correlation.md
Due: none

feat: copy qs from another dataset
  kolena/_api/v1/event.py
  kolena/_api/v2/quality_standard.py
  kolena/_experimental/__init__.py
  kolena/_experimental/quality_standard.py
  tests/integration/_experimental/test_quality_standard.py
Due: all

Updating docs with links to trunk
  docs/metrics/accuracy.md
  docs/metrics/average-precision.md
  docs/metrics/averaging-methods.md
  docs/metrics/bertscore.md
  docs/metrics/difficulty-score.md
  docs/metrics/f1-score.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/pearson-correlation.md
  docs/metrics/root-mean-squared-error.md
  docs/metrics/spearman-correlation.md
  docs/metrics/wer-cer-mer.md
Due: none

fix tests
  tests/integration/_experimental/test_quality_standard.py
Due: none

modifications based on comments
  docs/metrics/accuracy.md
  docs/metrics/average-precision.md
  docs/metrics/averaging-methods.md
  docs/metrics/bertscore.md
  docs/metrics/confusion-matrix.md
  docs/metrics/difficulty-score.md
  docs/metrics/f1-score.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/pearson-correlation.md
  docs/metrics/pr-curve.md
  docs/metrics/roc-curve.md
  docs/metrics/root-mean-squared-error.md
  docs/metrics/spearman-correlation.md
  docs/metrics/wer-cer-mer.md
Due: none

Linking try in metrics docs (#691)
  docs/metrics/accuracy.md
  docs/metrics/average-precision.md
  docs/metrics/averaging-methods.md
  docs/metrics/bertscore.md
  docs/metrics/confusion-matrix.md
  docs/metrics/difficulty-score.md
  docs/metrics/f1-score.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/pearson-correlation.md
  docs/metrics/pr-curve.md
  docs/metrics/roc-curve.md
  docs/metrics/root-mean-squared-error.md
  docs/metrics/spearman-correlation.md
  docs/metrics/wer-cer-mer.md
Due: none

respond to comments
  kolena/_api/v2/quality_standard.py
  kolena/_experimental/quality_standard.py
Due: all

Attempt to fix uv install issue in release workflow
  .github/workflows/release.yml
Due: none

Attempt to fix uv install issue in release workflow (#693)
  .github/workflows/release.yml
Due: none

Fix uv build commands
  .github/workflows/release.yml
Due: none

Fix uv build commands (#694)
  .github/workflows/release.yml
Due: none

Update build steps to exclude examples, docs
  .github/workflows/release.yml
  pyproject.toml
Due: none

Also exclude tests
  pyproject.toml
Due: none

Explicitly include kolena to have to exclude less
  pyproject.toml
Due: none

Remove sources that shouldn't have been checked in
  pyproject.toml
Due: none

feat: copy qs from another dataset (#692)
  kolena/_api/v1/event.py
  kolena/_api/v2/quality_standard.py
  kolena/_experimental/__init__.py
  kolena/_experimental/quality_standard.py
  tests/integration/_experimental/test_quality_standard.py
Due: all

Update build steps to exclude examples, docs (#695)
  .github/workflows/release.yml
  pyproject.toml
Due: none

wip commit for bounding box metadata docs
  docs/automations/extract-bounding-box-metadata.md
Due: none

add event api to dataset embedding uploads
  kolena/_api/v1/event.py
  kolena/_experimental/search/embeddings.py
Due: all

add event api to dataset embedding uploads (#697)
  kolena/_api/v1/event.py
  kolena/_experimental/search/embeddings.py
Due: all

add custom annotation class
  kolena/annotation.py
Due: all

better support for uploading custom embeddings
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/test_embeddings.py
Due: none

docs for array functions and fields
  docs/assets/images/custom-fields-dark.gif
  docs/assets/images/custom-fields-light.gif
  docs/dataset/advanced-usage/custom-queries.md
  mkdocs.yml
Due: none
