Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

fix mypy for speaker_diarization
  examples/workflow/speaker_diarization/speaker_diarization/evaluator.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/speaker_diarization/speaker_diarization/utils.py
Due: example

update classification example
  examples/workflow/classification/classification/evaluator.py
  examples/workflow/classification/classification/evaluator_base.py
  examples/workflow/classification/classification/evaluator_binary.py
  examples/workflow/classification/classification/evaluator_multiclass.py
  examples/workflow/classification/classification/workflow.py
  examples/workflow/classification/scripts/binary/seed_test_run.py
  examples/workflow/classification/scripts/binary/seed_test_suite.py
  examples/workflow/classification/scripts/multiclass/seed_test_run.py
  examples/workflow/classification/scripts/multiclass/seed_test_suite.py
Due: example

fix some mypy for od
  examples/workflow/object_detection_2d/object_detection_2d/extended/seed_test_run.py
  examples/workflow/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/workflow/object_detection_2d/object_detection_2d/extended/workflow.py
  examples/workflow/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/workflow/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/workflow/object_detection_2d/test_ds.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
Due: example

more cleanup
  examples/workflow/object_detection_2d/test_ds.py
  kolena/_experimental/classification/utils.py
Due: example

additonal mypy fixes
  examples/workflow/object_detection_3d/object_detection_3d/evaluator.py
  examples/workflow/object_detection_3d/object_detection_3d/utils.py
Due: example

fix remaning mypy errors
  examples/workflow/keypoint_detection/keypoint_detection/evaluator.py
  examples/workflow/object_detection_3d/object_detection_3d/evaluator.py
  examples/workflow/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/workflow/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_activation_map.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_run.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
Due: example

responding to comments
  kolena/dataset/evaluation.py
Due: none

pass pre commit locally
  .pre-commit-config.yaml
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/workflow/face_recognition_11/face_recognition_11/utils.py
  examples/workflow/keypoint_detection/keypoint_detection/evaluator.py
  examples/workflow/keypoint_detection/keypoint_detection/seed_test_run.py
  examples/workflow/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/workflow/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/workflow/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/workflow/object_detection_3d/object_detection_3d/evaluator.py
  examples/workflow/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/workflow/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/workflow/speaker_diarization/speaker_diarization/evaluator.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/speaker_diarization/speaker_diarization/utils.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
Due: example

updated the upload_results doc to more accurately describe its input and output (#460)
  docs/reference/dataset/index.md
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

remove invalid unions
  examples/workflow/face_recognition_11/face_recognition_11/workflow.py
  examples/workflow/keypoint_detection/keypoint_detection/evaluator.py
  examples/workflow/keypoint_detection/keypoint_detection/workflow.py
  examples/workflow/text_summarization/text_summarization/evaluator.py
  examples/workflow/text_summarization/text_summarization/workflow.py
Due: example

fix od_3d example
  examples/workflow/object_detection_3d/object_detection_3d/evaluator.py
Due: example

remove typing_extensions.literal import
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Updated to use the kolena-public-examples bucket
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_dataset.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_results.py
Due: example

Move `kolena.workflow.metrics` to `kolena.metrics` (#467)
  docs/metrics/accuracy.md
  docs/metrics/f1-score.md
  docs/metrics/fpr.md
  docs/metrics/geometry-matching.md
  docs/metrics/iou.md
  docs/metrics/precision.md
  docs/metrics/recall.md
  docs/metrics/specificity.md
  docs/metrics/tp-fp-fn-tn.md
  docs/reference/metrics.md
  docs/reference/workflow/metrics.md
  kolena/metrics/__init__.py
  kolena/metrics/_formula.py
  kolena/metrics/_geometry.py
  kolena/workflow/metrics.py
  mkdocs.yml
  tests/unit/metrics/__init__.py
  tests/unit/metrics/test_formula.py
  tests/unit/metrics/test_geometry.py
Due: generic

Updated README.md + fix smoke test
  examples/dataset/semantic_segmentation/README.md
  examples/dataset/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Remove distinction between docs-owners and kolena-owners
  .github/CODEOWNERS
Due: none

Simplify
  .github/CODEOWNERS
Due: none

Remove distinction between docs-owners and kolena-owners (#469)
  .github/CODEOWNERS
Due: none

Updated README.md file with the QS data
  examples/dataset/semantic_segmentation/README.md
  examples/dataset/semantic_segmentation/semantic_segmentation/activation_map_uploader.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_activation_map.py
Due: example

updated the write bucket to the one ci has access to
  examples/dataset/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Added semantic segmentation ci test back
  .circleci/continue_config.yml
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/workflow/semantic_segmentation/tests/test_semantic_segmentation.py
Due: all, example

Added aws as context for example-test-dataset job
  .circleci/continue_config.yml
Due: all

Added aws context
  .circleci/continue_config.yml
Due: all

remove tests that are not ready
  .circleci/continue_config.yml
Due: all

Fix model name in ci test
  examples/dataset/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Fix semantic textual similarity example
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: example

bump up the pandas version
  examples/workflow/semantic_textual_similarity/pyproject.toml
Due: none

Added scipy to pyproject of sts example
  examples/workflow/semantic_textual_similarity/pyproject.toml
Due: none

semantic segmentation example (#468)
  .circleci/continue_config.yml
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/rain_forecast/metrics.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
  examples/dataset/semantic_segmentation/README.md
  examples/dataset/semantic_segmentation/pyproject.toml
  examples/dataset/semantic_segmentation/semantic_segmentation/__init__.py
  examples/dataset/semantic_segmentation/semantic_segmentation/activation_map_uploader.py
  examples/dataset/semantic_segmentation/semantic_segmentation/constants.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_activation_map.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_dataset.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_results.py
  examples/dataset/semantic_segmentation/semantic_segmentation/utils.py
  examples/dataset/semantic_segmentation/tests/test_semantic_segmentation.py
Due: all, example

add read retry for GET/PUT/DELETE calls (#464)
  kolena/_utils/krequests.py
Due: all

add read retry for GET/PUT/DELETE calls (#464) (#473)
  kolena/_utils/krequests.py
Due: all

Added semantic segmentation ci test back (#471)
  .circleci/continue_config.yml
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/workflow/semantic_segmentation/tests/test_semantic_segmentation.py
  examples/workflow/semantic_textual_similarity/pyproject.toml
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: all, example

chore: format
  docs/workflow/advanced-usage/set-up-natural-language-search.md
Due: none

style: add markdown lint
  .pre-commit-config.yaml
Due: none

chore: lint
  .markdownlint.yaml
  README.md
  docs/connecting-cloud-storage/amazon-s3.md
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/google-cloud-storage.md
  docs/connecting-cloud-storage/http-basic.md
  docs/metrics/accuracy.md
  docs/workflow/advanced-usage/index.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
  docs/workflow/quickstart.md
  examples/workflow/question_answering/README.md
  examples/workflow/semantic_segmentation/README.md
Due: none

chore: address comments
  .markdownlint.yaml
Due: none

chore: lint
  .markdownlint.yaml
  docs/metrics/geometry-matching.md
  examples/workflow/README.md
Due: none

chore: indentation
  docs/reference/workflow/metrics.md
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
