Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Fix doc-ref
  kolena/_experimental/classification/dataset.py
Due: none

Add client implementation for uploading multilabel classification results (#751)
  docs/reference/experimental/index.md
  kolena/_experimental/classification/__init__.py
  kolena/_experimental/classification/_matching.py
  kolena/_experimental/classification/dataset.py
  kolena/_experimental/object_detection/dataset.py
Due: none

support editing dataset description programmatically
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: all

try pin mkdocstrings-python for doc build error
  pyproject.toml
Due: none

feat: support editing dataset description programmatically (#752)
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
  pyproject.toml
  tests/integration/dataset/test_dataset.py
Due: all

Make ingest work with label annotation type objects
  kolena/_experimental/classification/_matching.py
  kolena/_utils/datatypes.py
Due: all

Make ingest work with label annotation type objects (#753)
  kolena/_experimental/classification/_matching.py
  kolena/_utils/datatypes.py
Due: all

moved upload embeddings out of experimental
  kolena/dataset/__init__.py
  kolena/dataset/search/__init__.py
  kolena/dataset/search/_internal/__init__.py
  kolena/dataset/search/_internal/datatypes.py
  kolena/dataset/search/embeddings.py
  tests/integration/_experimental/search/test_embeddings.py
Due: none

redirect old upload emb to new location, warning on depreciation
  kolena/_experimental/search/__init__.py
  kolena/_experimental/search/_internal/__init__.py
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
Due: none

updated docs to reflect moved upload embeddings. Added deprecation warning
  docs/reference/dataset/index.md
  docs/reference/experimental/index.md
  kolena/_experimental/search/embeddings.py
Due: none

reverted changes to internal embedding. Fixed circular import issue.
  docs/reference/dataset/index.md
  kolena/_experimental/search/_internal/__init__.py
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  kolena/dataset/search/embeddings.py
  tests/integration/dataset/search/__init__.py
  tests/integration/dataset/search/test_embeddings.py
Due: none

updated integration test
  kolena/_experimental/search/embeddings.py
  tests/integration/dataset/search/test_embeddings.py
Due: none

revert upload embeddings change
  docs/reference/dataset/index.md
  kolena/_experimental/search/__init__.py
  kolena/_experimental/search/embeddings.py
  kolena/dataset/search/__init__.py
  kolena/dataset/search/embeddings.py
Due: none

move schema validator
  kolena/_experimental/search/_internal/datatypes.py
  kolena/dataset/search/embeddings.py
Due: none

updated circleCI to look at tests in dataset instead of experimental
  .circleci/continue_config.yml
Due: all

reverted workflow embeddings. Cleaned up code
  docs/reference/dataset/index.md
  kolena/_experimental/search/__init__.py
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  kolena/dataset/search/__init__.py
  kolena/dataset/search/embeddings.py
Due: none

updated the testing to reverted embeding location.
  tests/integration/dataset/search/test_embeddings.py
Due: none

moved embedding out of search
  docs/reference/dataset/index.md
  kolena/_experimental/search/embeddings.py
  kolena/dataset/__init__.py
  kolena/dataset/embeddings.py
  kolena/dataset/search/__init__.py
  tests/integration/dataset/search/test_embeddings.py
Due: none

removed duplicate integration test
  .circleci/continue_config.yml
Due: all

moved integration test to match path in dataset api
  tests/integration/dataset/search/__init__.py
  tests/integration/dataset/test_embeddings.py
Due: none

chore: moved upload embeddings out of experimental (#754)
  .circleci/continue_config.yml
  docs/reference/dataset/index.md
  docs/reference/experimental/index.md
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  kolena/dataset/__init__.py
  kolena/dataset/embeddings.py
  tests/integration/_experimental/search/__init__.py
  tests/integration/dataset/test_embeddings.py
Due: all

updated to use new embedding upload endpoint for docs and example
  docs/dataset/advanced-usage/upload-embeddings.md
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

Add authentication integrations documentation
  docs/authentication-integrations/index.md
  docs/authentication-integrations/scim-setup.md
Due: none

added screenshots to clarify steps
  docs/assets/images/scim-active-directory.png
  docs/assets/images/scim-setup-image.png
  docs/authentication-integrations/index.md
  docs/authentication-integrations/scim-setup.md
  mkdocs.yml
Due: none

updated dependecies and removed E231s
  examples/dataset/search_embeddings/pyproject.toml
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

updated time sync frequency context
  docs/authentication-integrations/scim-setup.md
Due: none

chore: updated to use new upload embedding endpoint for docs and example (#755)
  docs/dataset/advanced-usage/upload-embeddings.md
  examples/dataset/search_embeddings/pyproject.toml
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

Verified working video embedding extraction locally
  examples/dataset/video_embedding_extraction/README.md
  examples/dataset/video_embedding_extraction/direct_video_embedding_extractor.py
  examples/dataset/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/pyproject.toml
  examples/dataset/video_embedding_extraction/upload_embeddings_to_kolena.py
Due: example

clean up video embedding extraction script
  examples/dataset/video_embedding_extraction/direct_video_embedding_extractor.py
  examples/dataset/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/upload_embeddings_to_kolena.py
Due: example

add integ test for models with tags
  tests/integration/dataset/test_evaluation.py
Due: none

remove unnecessary text and added missing import
  examples/dataset/video_embedding_extraction/README.md
  examples/dataset/video_embedding_extraction/direct_video_embedding_extractor.py
Due: example

updated time to align with google sync times 30m plus
  docs/authentication-integrations/scim-setup.md
Due: none

upload and load model metadata
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

chore: create docs for SCIM (#756)
  docs/assets/images/scim-active-directory.png
  docs/assets/images/scim-setup-image.png
  docs/authentication-integrations/index.md
  docs/authentication-integrations/scim-setup.md
  mkdocs.yml
Due: none

feat: support key-value metadata on models (#758)
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

align format to other examples. Added annotations.
  examples/dataset/video_embedding_extraction/README.md
  examples/dataset/video_embedding_extraction/pyproject.toml
  examples/dataset/video_embedding_extraction/tests/test_video_embedding_extraction.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/upload_embeddings_to_kolena.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/video_embedding_extractor.py
Due: example

reformat to align with other examples. Added annotations
  examples/dataset/video_embedding_extraction/README.md
  examples/dataset/video_embedding_extraction/tests/test_video_embedding_extraction.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/upload_embeddings_to_kolena.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/video_embedding_extractor.py
Due: example

Fix to black hood id
  examples/dataset/video_embedding_extraction/tests/test_video_embedding_extraction.py
Due: example

comment clean up
  examples/dataset/video_embedding_extraction/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/upload_embeddings_to_kolena.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/video_embedding_extractor.py
Due: example

added fvcore, updated video s3 retrieve, arg update to default
  examples/dataset/video_embedding_extraction/README.md
  examples/dataset/video_embedding_extraction/pyproject.toml
  examples/dataset/video_embedding_extraction/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/upload_embeddings_to_kolena.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/video_embedding_extractor.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
