Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Filter out ignored for threshold computation in single class evaluation
  kolena/_experimental/object_detection/evaluator_single_class.py
Due: none

Unpin importlib-metadata
  pyproject.toml
Due: none

Remove version upper bound from `importlib-metadata` (#162)
  pyproject.toml
Due: none

[Hotfix] Remove version upper bound from `importlib-metadata` (#162) (#163)
  pyproject.toml
Due: none

Update poetry-core minimum version
  pyproject.toml
Due: none

Update poetry-core minimum version (#164)
  pyproject.toml
Due: none

Example of GT extension of pre-built object detection 2D workflow
  examples/object_detection_2d_extend/README.md
  examples/object_detection_2d_extend/object_detection_2d_extend/__init__.py
  examples/object_detection_2d_extend/object_detection_2d_extend/constants.py
  examples/object_detection_2d_extend/object_detection_2d_extend/seed_test_run.py
  examples/object_detection_2d_extend/object_detection_2d_extend/seed_test_suite.py
  examples/object_detection_2d_extend/object_detection_2d_extend/workflow.py
  examples/object_detection_2d_extend/pyproject.toml
Due: example

annotation doesn't have ignored key
  examples/object_detection_2d_extend/object_detection_2d_extend/seed_test_suite.py
Due: example

Dropped Inference / TestSample re-definition in workflow.py
  examples/object_detection_2d_extend/object_detection_2d_extend/seed_test_run.py
  examples/object_detection_2d_extend/object_detection_2d_extend/workflow.py
Due: example

Updated README.md
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_2d_extend/README.md
Due: example

Moved the extended piece to a subdirectory of existing object_detection_2d example
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/extended/__init__.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/workflow.py
  examples/object_detection_2d_extend/README.md
  examples/object_detection_2d_extend/object_detection_2d_extend/constants.py
  examples/object_detection_2d_extend/object_detection_2d_extend/seed_test_run.py
  examples/object_detection_2d_extend/pyproject.toml
Due: example

Added seed_test_run.py for extended workflow with bare minimum copy paste
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

revert the change made for test
  examples/object_detection_2d/object_detection_2d/constants.py
Due: example

Addressed PR comment
  examples/object_detection_2d/object_detection_2d/extended/workflow.py
Due: example

Example of extending 2D Object Detection Pre-built Workflow (#166)
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/extended/__init__.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/workflow.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
Due: example

Added an API doc page for pre-built workflow
  docs/overrides/.icons/kolena/drive-time-16.svg
  docs/overrides/.icons/kolena/drive-time-20.svg
  docs/quickstart.md
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/workflow.py
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Fixed issues with workflow
  kolena/_experimental/object_detection/workflow.py
Due: none

Port over previous diff to coerce list-like args to lists
  kolena/workflow/_datatypes.py
  kolena/workflow/annotation.py
  kolena/workflow/plot.py
  tests/unit/workflow/test_annotation.py
  tests/unit/workflow/test_plot.py
Due: generic

Added an API doc page for pre-built workflow (#167)
  docs/overrides/.icons/kolena/drive-time-16.svg
  docs/overrides/.icons/kolena/drive-time-20.svg
  docs/quickstart.md
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/workflow.py
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Reorganize API reference sidebar
  docs/overrides/.icons/kolena/widget-16.svg
  docs/overrides/.icons/kolena/widget-20.svg
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Flesh out index pages
  README.md
  docs/reference/index.md
  docs/reference/legacy/index.md
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
  mkdocs.yml
Due: none

Update READMEs
  docs/quickstart.md
  examples/README.md
  examples/object_detection_2d/README.md
  examples/object_detection_3d/README.md
Due: none

Update links
  docs/reference/index.md
  docs/reference/pre-built/index.md
Due: none

Address PR feedback
  docs/quickstart.md
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
Due: none

Add evaluator tests for Inference -> TestSampleMetrics mapping
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

Add ignored field for inference and metrics in builtin 2D OD (#160)
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: example

Touch up pre-built workflow docs (#168)
  README.md
  docs/overrides/.icons/kolena/widget-16.svg
  docs/overrides/.icons/kolena/widget-20.svg
  docs/quickstart.md
  docs/reference/index.md
  docs/reference/legacy/index.md
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
  examples/README.md
  examples/object_detection_2d/README.md
  examples/object_detection_3d/README.md
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Using the latest kolena 0.80 release
  examples/classification/pyproject.toml
Due: none

Fixed example test
  examples/classification/tests/test_classification.py
Due: example

Fixed args in the test
  examples/classification/tests/test_classification.py
Due: example

Added a bullet in README.md
  examples/README.md
  examples/classification/README.md
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
Due: example

link update
  examples/README.md
Due: none

Added a multiclass classification example on CIFAR-10 dataset (#161)
  .circleci/continue_config.yml
  examples/README.md
  examples/classification/README.md
  examples/classification/classification/__init__.py
  examples/classification/classification/evaluator_multiclass.py
  examples/classification/classification/workflow.py
  examples/classification/pyproject.toml
  examples/classification/scripts/multiclass/__init__.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/classification/tests/test_classification.py
Due: all, example

Changed the test suite name in test
  examples/classification/tests/test_classification.py
Due: example

Added stratification to the multiclass example
  examples/classification/README.md
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
Due: example

Changed the test suite name in example test
  examples/classification/tests/test_classification.py
Due: example

Model name to include dataset name
  examples/classification/scripts/multiclass/seed_test_run.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
