Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

update homepage to kolena.com
  pyproject.toml
Due: none

Updated the script to accommodate for the recent changes made to the csv file
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

additional updates to thumbnail section
  docs/dataset/formatting-your-datasets.md
Due: none

add explaination before code snippet
  docs/dataset/formatting-your-datasets.md
Due: none

additonal clean up
  docs/dataset/formatting-your-datasets.md
Due: none

update Object detection section
  docs/dataset/formatting-your-datasets.md
Due: none

update formatting
  docs/dataset/formatting-your-datasets.md
Due: none

Migrate docs to `.com` (#510)
  .github/workflows/docs.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  docs/overrides/main.html
  docs/workflow/advanced-usage/packaging-for-automated-evaluation.md
  docs/workflow/advanced-usage/set-up-natural-language-search.md
  examples/dataset/age_estimation/README.md
  examples/dataset/automatic_speech_recognition/README.md
  examples/dataset/classification/README.md
  examples/dataset/keypoint_detection/README.md
  examples/dataset/object_detection_2d/README.md
  examples/dataset/question_answering/README.md
  examples/dataset/rain_forecast/README.md
  examples/dataset/search_embeddings/README.md
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
  examples/dataset/semantic_segmentation/README.md
  examples/dataset/speaker_diarization/README.md
  examples/dataset/text_summarization/README.md
  examples/workflow/README.md
  examples/workflow/age_estimation/README.md
  examples/workflow/automatic_speech_recognition/README.md
  examples/workflow/classification/README.md
  examples/workflow/face_recognition_11/README.md
  examples/workflow/keypoint_detection/README.md
  examples/workflow/object_detection_2d/README.md
  examples/workflow/object_detection_3d/README.md
  examples/workflow/question_answering/README.md
  examples/workflow/search_embeddings/README.md
  examples/workflow/semantic_segmentation/README.md
  examples/workflow/semantic_textual_similarity/README.md
  examples/workflow/speaker_diarization/README.md
  examples/workflow/text_summarization/README.md
  mkdocs.yml
  pyproject.toml
Due: example

Updated the script to accommodate for the recent changes made to the csv file (#512)
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

Addressed comments left on PR #512
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

consistency format
  examples/dataset/text_summarization/README.md
Due: none

Text Summarization Public Example Cleanup (#513)
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

update typos
  docs/dataset/formatting-your-datasets.md
Due: none

update based on pr comments
  docs/dataset/formatting-your-datasets.md
Due: none

additonal pr comments
  docs/dataset/formatting-your-datasets.md
Due: none

Silence np.array_split warning for standard case by only calling array_split when necessary
  kolena/_utils/batched_load.py
  kolena/dataset/evaluation.py
Due: all

update id field section
  docs/dataset/formatting-your-datasets.md
Due: none

update docs to add cors policy for both .io and .com
  docs/connecting-cloud-storage/amazon-s3.md
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/google-cloud-storage.md
Due: none

update docs to add cors policy for both .io and .com (#515)
  docs/connecting-cloud-storage/amazon-s3.md
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/google-cloud-storage.md
Due: none

Update Dataset Formatting guide content (#511)
  docs/dataset/formatting-your-datasets.md
Due: none

fix embedding example docs
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  examples/dataset/search_embeddings/README.md
Due: none

update references to kolena.com
  docs/connecting-cloud-storage/amazon-s3.md
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/google-cloud-storage.md
  docs/connecting-cloud-storage/http-basic.md
  docs/connecting-cloud-storage/index.md
  docs/connecting-cloud-storage/s3-compatible.md
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  docs/dataset/formatting-your-datasets.md
  docs/dataset/quickstart.md
  docs/faq/index.md
  docs/index.md
  docs/installing-kolena.md
  docs/workflow/advanced-usage/index.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
  docs/workflow/advanced-usage/packaging-for-automated-evaluation.md
  docs/workflow/advanced-usage/set-up-natural-language-search.md
  docs/workflow/advanced-usage/uploading-activation-maps.md
  docs/workflow/building-a-workflow.md
  docs/workflow/core-concepts/model.md
  docs/workflow/core-concepts/test-suite.md
  docs/workflow/core-concepts/workflow.md
  docs/workflow/quickstart.md
  examples/dataset/automatic_speech_recognition/README.md
  examples/dataset/classification/README.md
  examples/dataset/keypoint_detection/README.md
  examples/dataset/object_detection_2d/README.md
  examples/dataset/question_answering/README.md
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/search_embeddings/README.md
  examples/dataset/semantic_segmentation/README.md
  examples/dataset/speaker_diarization/README.md
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/README.md
  examples/workflow/object_detection_3d/README.md
  examples/workflow/search_embeddings/README.md
  kolena/_utils/endpoints.py
  kolena/initialize.py
  kolena/workflow/plot.py
  mkdocs.yml
Due: generic, all

update tests on .io
  tests/unit/utils/test_endpoints.py
Due: none

fix embedding example docs (#516)
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  examples/dataset/search_embeddings/README.md
Due: none

chore: fix tests
  tests/unit/dataset/test_dataset.py
Due: none

chore: replace NaN with None before uploading
  kolena/_utils/batched_load.py
  kolena/dataset/dataset.py
Due: all

chore: no nan in download as well
  kolena/dataset/dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/dataset/test_dataset.py
  tests/unit/utils/test_dataframes.py
Due: none

chore: hand roll json_normalize to use None as missing value
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

chore: type hints
  tests/unit/utils/test_dataframes.py
Due: none

chore: add more tests
  kolena/_utils/dataframes/transformers.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

chore: create df_apply wrapper
  kolena/_utils/dataframes/_pandas.py
  kolena/dataset/dataset.py
  kolena/io.py
  tests/unit/utils/test_dataframes.py
Due: all

chore: add tests for replace_nan
  kolena/_utils/batched_load.py
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

refactor: abstract replace_nan
  kolena/_utils/batched_load.py
  kolena/_utils/dataframes/__init__.py
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  kolena/io.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

chore: add integration tests
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/utils/dataframes/test_transformers.py
Due: none

chore: fix integration tests
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
Due: none

chore: address comments
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/integration/helper.py
Due: all

fix: Update broken OD multiclass upload test and enable in CI
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

update to .com in readme
  README.md
Due: none

fix: Update broken OD multiclass upload test and enable in CI (#518)
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

added example of semantic textual similarity - first iteration
  examples/dataset/semantic_textual_similarity/README.md
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/__init__.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/constants.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/metrics.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/upload_dataset.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/upload_results.py
  examples/dataset/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: example
