Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

add wrapper
  kolena/_experimental/trace/trace.py
Due: none

bug fix
  kolena/_experimental/trace/trace.py
Due: none

thread safe
  kolena/_experimental/trace/trace.py
Due: none

speed up test
  tests/integration/_experimental/trace/test_trace.py
Due: none

fix test cases
  kolena/_experimental/trace/trace.py
  tests/unit/_experimental/trace/test_trace.py
Due: none

no verbose loggign
  kolena/_experimental/trace/trace.py
Due: none

added failure test cases
  kolena/_experimental/trace/trace.py
  tests/unit/_experimental/trace/test_trace.py
Due: none

fix example test
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
Due: example

put back mkdoc version change
  pyproject.toml
Due: none

pyproject file update
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  pyproject.toml
Due: none

Update pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
Due: none

Update test_trace.py
  tests/integration/_experimental/trace/test_trace.py
Due: none

Decorator to send data to kolena (#648)
  docs/reference/experimental/index.md
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  kolena/_api/v2/dataset.py
  kolena/_experimental/trace/__init__.py
  kolena/_experimental/trace/trace.py
  kolena/dataset/dataset.py
  tests/integration/_experimental/trace/__init__.py
  tests/integration/_experimental/trace/test_trace.py
  tests/unit/_experimental/trace/__init__.py
  tests/unit/_experimental/trace/test_trace.py
Due: all, example

added 3d keypoint and 3d polyline annotation models
  kolena/annotation.py
  tests/unit/test_annotation.py
Due: all

added 3d keypoint and 3d polyline annotation models (#653)
  kolena/annotation.py
  tests/unit/test_annotation.py
Due: all

Updating docs on TextSegmentation
  kolena/annotation.py
Due: all

line length issue
  kolena/annotation.py
Due: all

Small fixes based on feedback
  kolena/annotation.py
Due: all

Indents
  kolena/annotation.py
Due: all

Updating docs on TextSegmentation (#654)
  kolena/annotation.py
Due: all

Code example for an NER problem in Kolena
  examples/dataset/named_entity_recognition/README.md
  examples/dataset/named_entity_recognition/data/.gitignore
  examples/dataset/named_entity_recognition/named_entity_recognition/constants.py
  examples/dataset/named_entity_recognition/named_entity_recognition/metrics.py
  examples/dataset/named_entity_recognition/named_entity_recognition/tag_map.py
  examples/dataset/named_entity_recognition/named_entity_recognition/upload_dataset.py
  examples/dataset/named_entity_recognition/named_entity_recognition/upload_results.py
  examples/dataset/named_entity_recognition/pyproject.toml
Due: example

ci: upgrade pre-commit dependencies
  .pre-commit-config.yaml
  examples/workflow/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/workflow/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

chore: types-all => types-requests
  .pre-commit-config.yaml
Due: none

chore: use pyupgrade that supports python 3.8
  .pre-commit-config.yaml
Due: none

ci: upgrade pre-commit dependencies (#656)
  .pre-commit-config.yaml
  examples/workflow/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/workflow/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

enable download extracted properties for datapoints and results
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/integration/helper.py
Due: all

Adjust README for clarity
  examples/dataset/named_entity_recognition/README.md
Due: none

Add unit tests
  .circleci/continue_config.yml
  examples/dataset/named_entity_recognition/tests/test_metrics.py
Due: all, example

Ensure that we're properly comparing ground truths and predictions
  examples/dataset/named_entity_recognition/named_entity_recognition/upload_results.py
Due: example

fix test
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
Due: none

Add second model as an option
  examples/dataset/named_entity_recognition/README.md
  examples/dataset/named_entity_recognition/named_entity_recognition/constants.py
  examples/dataset/named_entity_recognition/named_entity_recognition/upload_results.py
Due: example

Code example for an NER problem in Kolena (#655)
  .circleci/continue_config.yml
  examples/dataset/named_entity_recognition/README.md
  examples/dataset/named_entity_recognition/data/.gitignore
  examples/dataset/named_entity_recognition/named_entity_recognition/constants.py
  examples/dataset/named_entity_recognition/named_entity_recognition/metrics.py
  examples/dataset/named_entity_recognition/named_entity_recognition/tag_map.py
  examples/dataset/named_entity_recognition/named_entity_recognition/upload_dataset.py
  examples/dataset/named_entity_recognition/named_entity_recognition/upload_results.py
  examples/dataset/named_entity_recognition/pyproject.toml
  examples/dataset/named_entity_recognition/tests/test_metrics.py
Due: all, example

respond to comments
  tests/integration/helper.py
Due: all

enable download extracted properties for datapoints and results (#657)
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/integration/helper.py
Due: all

pass in the commit tags to register dataset request
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
Due: all

pass in the commit tags to register dataset request (#658)
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
Due: all

adding the new doc file
  docs/dataset/advanced-usage/llm-prompt-extraction.md
Due: none

LLM extraction documentation
  docs/assets/images/prompt-extraction-access-dark.gif
  docs/assets/images/prompt-extraction-access-light.gif
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/llm-prompt-extraction.md
  mkdocs.yml
Due: none

Better formatting of doc string
  kolena/dataset/dataset.py
Due: none

Adding model leaderboard documentation
  docs/assets/images/metric-groups-leaderboard-dark.gif
  docs/assets/images/metric-groups-leaderboard-light.gif
  docs/dataset/core-concepts/index.md
Due: none
