Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

add test for unmatched_inf alone
  tests/unit/workflow/metrics/test_plots.py
Due: none

nits
  kolena/workflow/metrics/_plots.py
Due: generic

Use safe_issubclass; add a few more unit tests
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
Due: generic

Move plot definitions to ./plot.py and add unit tests verifying new import path and old import path still work
  examples/text_summarization/text_summarization/evaluator.py
  kolena/workflow/__init__.py
  kolena/workflow/evaluator.py
  kolena/workflow/plot.py
  tests/integration/workflow/conftest.py
  tests/unit/workflow/test_plot.py
Due: generic, example

init experimental OD workflow with per-class metrics
  kolena/_experimental/__init__.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/test_run.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  kolena/detection/_experimental/__init__.py
  kolena/detection/_experimental/test_run.py
  kolena/detection/multiclass/_utils.py
  kolena/detection/multiclass/evaluator.py
  kolena/workflow/metrics/_geometry.py
  pyproject.toml
  tests/unit/_experimental/__init__.py
  tests/unit/_experimental/test_plots.py
Due: detection, generic

nits
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/utils.py
  kolena/detection/_experimental/__init__.py
  kolena/detection/_experimental/test_run.py
Due: detection

fix unit test param naming
  tests/unit/_experimental/test_plots.py
Due: none

Add validation to prevent List[Optional[MetricsTestCase]]
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
Due: generic

Support nested aggregate metrics in MetricsTestCase (#52)
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/test_case.py
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_evaluator.py
Due: generic

change workflow to include matchings
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
Due: none

add nested class metrics
  kolena/_experimental/object_detection/evaluator.py
Due: none

added sklearn as an extra dependancy
  README.md
  kolena/_utils/scikit-learn.py
  pyproject.toml
Due: all

experimental refactoring
  kolena/_experimental/__init__.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/__init__.py
  tests/unit/_experimental/test_plots.py
Due: none

experimental OD confusion matrix refactoring
  kolena/_experimental/__init__.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/__init__.py
  tests/unit/_experimental/test_plots.py
Due: none

update readme with pip
  README.md
Due: none

nits
  kolena/_experimental/object_detection/utils.py
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_plots.py
  tests/unit/_experimental/test_plots.py
  tests/unit/workflow/metrics/test_plots.py
Due: generic

add match to module
  kolena/_experimental/object_detection/utils.py
  kolena/workflow/metrics/__init__.py
Due: generic

Update dependencies to mkdocs only
  pyproject.toml
Due: none

Start wiring together mkdocs w/ mkdocstrings -- looks promising so far
  docs/Makefile
  docs/README.md
  docs/css/theme.css
  docs/example.md
  docs/favicon.png
  docs/index.md
  docs/render.sh
  docs/source/_static/css/custom.css
  docs/source/_static/wordmark-purple.svg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/templates/module.rst_t
  docs/source/templates/package.rst_t
  docs/source/templates/toc.rst_t
  docs/theme/announce.html
  docs/theme/main.html
  docs/wordmark-white.svg
  mkdocs.yml
  pyproject.toml
Due: none

Continue tuning theme, update initialize documentation
  docs/css/theme.css
  docs/example.md
  docs/setup/initialization.md
  docs/setup/installation.md
  kolena/initialize.py
  mkdocs.yml
Due: all

seed scripts and nits
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/seed_test_run.py
  kolena/_experimental/object_detection/seed_test_suite.py
  kolena/_experimental/object_detection/workflow.py
  pyproject.toml
Due: none

metrics as extra sklearn_metrics
  README.md
  kolena/_experimental/temp_test.py
  kolena/_extras/__init__.py
  kolena/_extras/metrics/__init__.py
  kolena/_extras/metrics/sklearn.py
  pyproject.toml
Due: none

Use default themes to unblock
  .gitignore
  docs/css/theme.css
  kolena/initialize.py
  mkdocs.yml
  pyproject.toml
Due: all

update circleci to check extra unit tests
  .circleci/continue_config.yml
Due: all

created tests for extra sklearn
  tests/unit/_extras/__init__.py
  tests/unit/_extras/test_extras_fail.py
  tests/unit_extras/__init__.py
  tests/unit_extras/_extras/__init__.py
  tests/unit_extras/_extras/test_extras_metrics.py
Due: none

nits
  tests/unit/_extras/test_extras_fail.py
  tests/unit_extras/_extras/test_extras_metrics.py
Due: none

remove bad gts from matrix
  kolena/_experimental/object_detection/utils.py
Due: none

fixed tests to not count unmatched infs
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
Due: none

Use Sphinx docstring style; add social footer links
  docs/setup/installation.md
  kolena/fr/test_suite.py
  kolena/initialize.py
  mkdocs.yml
Due: fr, all

fix yaml
  .circleci/continue_config.yml
Due: all

bypass unused error
  kolena/_extras/metrics/sklearn.py
Due: none

rename extra jobs in yaml
  .circleci/continue_config.yml
Due: all

import metrics for extra envs
  .circleci/continue_config.yml
Due: all

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
