Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

all comments addressed
  docs/assets/images/speaker-diarization-example.png
  docs/overrides/.icons/kolena/diarization-workflow-16.svg
  docs/overrides/.icons/kolena/diarization-workflow-20.svg
  docs/quickstart.md
  examples/README.md
  examples/speaker_diarization/README.md
  examples/speaker_diarization/speaker_diarization/metadata.csv
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/temp.ipynb
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

Revert "Upgrade pillow for security (#305)"
  pyproject.toml
Due: none

Add pyproject.toml
  examples/speaker_diarization/pyproject.toml
Due: none

Update examples/speaker_diarization/README.md
  examples/speaker_diarization/README.md
Due: none

Delete metadata
  examples/speaker_diarization/speaker_diarization/metadata.csv
  examples/speaker_diarization/speaker_diarization/temp.ipynb
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

drop pillow requirement
  pyproject.toml
Due: none

cleanup extra print
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
Due: example

change to 1 model / TS
  examples/speaker_diarization/README.md
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
Due: example

final pre-commit changes
  examples/speaker_diarization/README.md
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

add init files
  examples/automatic_speech_recognition/automatic_speech_recognition/__init__.py
  examples/speaker_diarization/speaker_diarization/__init__.py
Due: example

__init__ precommit fix
  examples/automatic_speech_recognition/automatic_speech_recognition/__init__.py
  examples/speaker_diarization/speaker_diarization/__init__.py
Due: example

increase no-output timeout
  .circleci/continue_config.yml
Due: all

tertile fix
  examples/speaker_diarization/speaker_diarization/utils.py
  examples/speaker_diarization/temp.ipynb
Due: example

Update utils.py
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

remove unecessary print
  examples/speaker_diarization/README.md
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
Due: example

Add diarization workflow to examples (#307)
  docs/assets/images/speaker-diarization-example.png
  docs/overrides/.icons/kolena/diarization-workflow-16.svg
  docs/overrides/.icons/kolena/diarization-workflow-20.svg
  docs/quickstart.md
  examples/README.md
  examples/automatic_speech_recognition/automatic_speech_recognition/__init__.py
  examples/speaker_diarization/README.md
  examples/speaker_diarization/pyproject.toml
  examples/speaker_diarization/speaker_diarization/__init__.py
  examples/speaker_diarization/speaker_diarization/evaluator.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
  examples/speaker_diarization/speaker_diarization/workflow.py
  examples/speaker_diarization/temp.ipynb
Due: example

Deployed ffe3d99 with MkDocs version: 1.5.3
  assets/images/speaker-diarization-example.png
  objects.inv
  quickstart/index.html
  reference/workflow/model/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Delete temp.ipynb
  examples/speaker_diarization/temp.ipynb
Due: none

Delete temp.ipynb (#313)
  examples/speaker_diarization/temp.ipynb
Due: none

Deployed 9b509dd with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

changes to duplicates
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

Correct TestSuite `load_all` docstring
  kolena/workflow/test_suite.py
Due: generic

Add `load_all` method to Model
  kolena/_api/v1/core.py
  kolena/_api/v1/event.py
  kolena/_api/v1/generic.py
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic, all

fixed metrics
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/utils.py
Due: example

minor fix to pair metrics
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

README and minor changes
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

clean up + linting
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Update examples/face_recognition_11/README.md
  examples/face_recognition_11/README.md
Due: none

README and clean up update
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/utils.py
Due: example

update toml
  examples/face_recognition_11/pyproject.toml
Due: none

Plot fixes + pre-commit fixes
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/utils.py
Due: example

lint + readme updates
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

Fixed thresholds in plot
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

threshold fix 2
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

cleaned up bbox/keypoint creation
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
Due: example

Converts zip to list
  examples/face_recognition_11/face_recognition_11/utils.py
Due: example
