Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Rename 'generic' to 'workflow' to reflect external naming
  kolena/classification/multiclass/test_run.py
  kolena/workflow/workflow.py
  tests/integration/detection/test_test_case.py
  tests/integration/workflow/__init__.py
  tests/integration/workflow/conftest.py
  tests/integration/workflow/dummy.py
  tests/integration/workflow/test_model.py
  tests/integration/workflow/test_test_case.py
  tests/integration/workflow/test_test_run.py
  tests/integration/workflow/test_test_suite.py
  tests/unit/utils/test_endpoints.py
Due: classification, detection, generic

Update CI definitions
  .circleci/config.yml
Due: all

n_label to n_labels
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/workflow.py
Due: classification

Add 'ScoredClassificationLabel' and update kolena.classification.multiclass to use this instead of InferenceLabel
  kolena/classification/multiclass/__init__.py
  kolena/classification/multiclass/_utils.py
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/workflow.py
  kolena/workflow/annotation.py
  tests/integration/classification/multiclass/test_workflow.py
Due: classification, generic

Continue to support hand-rolled InferenceLabel for compatibility, with deprecation warning
  kolena/classification/multiclass/__init__.py
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/workflow.py
  tests/integration/classification/multiclass/test_workflow.py
Due: classification

Touch up some MulticlassClassificationEvaluator types
  kolena/classification/multiclass/_utils.py
  kolena/classification/multiclass/evaluator.py
Due: classification

Conditional integration testing (#42)
  .circleci/config.yml
  .circleci/continue_config.yml
  codecov.yml
  tests/integration/classification/multiclass/__init__.py
  tests/integration/detection/__init__.py
Due: classification, detection, all

Add ScoredClassificationLabel to `kolena.workflow.annotation` (#47)
  kolena/classification/multiclass/_utils.py
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/workflow.py
  kolena/workflow/annotation.py
  tests/integration/classification/multiclass/test_workflow.py
Due: classification, generic

Rename 'generic' to 'workflow' to reflect external naming (#46)
  .circleci/config.yml
  .circleci/continue_config.yml
  kolena/classification/multiclass/test_run.py
  kolena/workflow/workflow.py
  tests/integration/detection/test_test_case.py
  tests/integration/workflow/__init__.py
  tests/integration/workflow/conftest.py
  tests/integration/workflow/dummy.py
  tests/integration/workflow/test_model.py
  tests/integration/workflow/test_test_case.py
  tests/integration/workflow/test_test_run.py
  tests/integration/workflow/test_test_suite.py
  tests/unit/utils/test_endpoints.py
Due: classification, detection, generic, all

Skip plotting early when computing roc curves for multi-class classification (#44)
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/workflow.py
Due: classification

Update kolena.workflow.Histogram to support multiple distributions for a given test case
  kolena/workflow/evaluator.py
Due: generic

Add tests for histogram distributions
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_plot.py
Due: generic

Migrate to new api_base envvar
  kolena/_utils/state.py
  tests/unit/test_initialize.py
Due: all

Remove old envvar
  kolena/_utils/state.py
  tests/unit/test_initialize.py
Due: all

fix unittest
  kolena/_utils/state.py
Due: all

Migrate to new api_base envvar (#48)
  kolena/_utils/state.py
  tests/unit/test_initialize.py
Due: all

Add serialization unit test
  kolena/workflow/__init__.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_plot.py
Due: generic

Update Histogram signature
  kolena/workflow/evaluator.py
Due: generic

Update Histogram validation and tests
  kolena/workflow/__init__.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_plot.py
Due: generic

Fix docs
  kolena/workflow/evaluator.py
Due: generic

add confusion matrix to plots
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_plots.py
  tests/unit/workflow/metrics/test_plots.py
Due: generic

Update docstring
  kolena/workflow/evaluator.py
Due: generic

Add docstring and (failing) unit tests for aggregate metrics nested within MetricsTestCase
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
Due: generic

created pr and f1-threshold curves per class
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_geometry.py
  kolena/workflow/metrics/_plots.py
  pyproject.toml
  tests/unit/workflow/metrics/test_plots.py
Due: generic

removed InfMatch from confusion matrix
  kolena/workflow/metrics/_plots.py
Due: generic

Green unit tests for validation
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
Due: generic

Support multiple distributions per test case in `kolena.workflow.Histogram` (#49)
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_plot.py
Due: generic

fix y_pred logic
  kolena/workflow/metrics/_plots.py
  tests/unit/workflow/metrics/test_plots.py
Due: generic

nits
  kolena/workflow/metrics/_plots.py
  tests/unit/workflow/metrics/test_plots.py
Due: generic

Validate single level of MetricsTestCase nesting
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/test_case.py
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_evaluator.py
Due: generic

init OD workflow
  kolena/detection/multiclass/__init__.py
  kolena/detection/multiclass/_utils.py
  kolena/detection/multiclass/evaluator.py
  kolena/detection/multiclass/test_run.py
  kolena/detection/multiclass/workflow.py
Due: detection

Use legacy/xunit1 format for circleci
  .circleci/continue_config.yml
Due: all

fix sklearn version
  pyproject.toml
Due: none

addressed requested changes
  kolena/workflow/metrics/_plots.py
  tests/unit/workflow/metrics/test_plots.py
Due: generic

Add 'Class' field to PerClassMetrics
  kolena/workflow/evaluator.py
Due: generic

updated docs
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_geometry.py
  kolena/workflow/metrics/_plots.py
  tests/unit/workflow/metrics/test_plots.py
Due: generic

added docs
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_plots.py
  tests/unit/workflow/metrics/test_plots.py
Due: generic

rebased origin
  kolena/workflow/metrics/_plots.py
Due: generic

created PR and F1 plots
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_plots.py
  pyproject.toml
  tests/unit/workflow/metrics/test_plots.py
Due: generic

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
