Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

AWS docs reorg (#211)
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
  docs/advanced-usage/connecting-cloud-storage/google-cloud-storage.md
  docs/advanced-usage/connecting-cloud-storage/http-basic.md
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  docs/advanced-usage/index.md
  pyproject.toml
Due: none

remove pyarrow pin
  examples/question_answering/pyproject.toml
Due: none

nits
  pyproject.toml
Due: none

fix CI yaml for integration tests
  .circleci/continue_config.yml
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
Due: all

nits
  .circleci/continue_config.yml
Due: all

experimental pytest group
  .circleci/config.yml
  .circleci/continue_config.yml
Due: all

nits
  .circleci/config.yml
  .circleci/continue_config.yml
Due: all

no experimental pytest group
  .circleci/config.yml
  .circleci/continue_config.yml
Due: all

skip other pytest groups for irrelevant jobs
  .circleci/continue_config.yml
Due: all

seperate _experimental workflows
  .circleci/continue_config.yml
Due: all

nit
  .circleci/continue_config.yml
Due: all

divide extras for experimental
  .circleci/continue_config.yml
Due: all

fix tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/search/test_embeddings.py
Due: none

add step to click next
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

add step to click next (#214)
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

misc wraps experimental non-metric
  .circleci/continue_config.yml
Due: all

hack: assign executable explicitly
  .circleci/continue_config.yml
Due: all

reorder nit
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
Due: none

hack: another one
  .circleci/continue_config.yml
Due: all

hack: recreate env when invalid
  .circleci/continue_config.yml
Due: all

chore: remove unnecessary recreate env
  .circleci/continue_config.yml
Due: all

remove intentional failure
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
Due: none

chore: add parameter to recreate cache
  .circleci/continue_config.yml
Due: all

chore: fix
  .circleci/continue_config.yml
Due: all

chore: reuse var
  .circleci/continue_config.yml
Due: all

chore: fix var reference
  .circleci/continue_config.yml
Due: all

chore: explicit recreate cache var
  .circleci/continue_config.yml
Due: all

chore: remove poetry.lock
  .circleci/continue_config.yml
Due: all

fix tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
Due: none

chore: last try
  .circleci/continue_config.yml
Due: all

change f1 optimal to a constant
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: example

nits
  kolena/_experimental/object_detection/workflow.py
Due: none

Create Question Answer Example Workflow (#203)
  examples/question_answering/README.md
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/__init__.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/question_answering/question_answering/utils.py
  examples/question_answering/question_answering/workflow.py
  pyproject.toml
Due: example

nits
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: example

unparallelize test
  .circleci/continue_config.yml
Due: all

allow use of system preference for dark mode
  mkdocs.insiders.yml
  mkdocs.yml
Due: none
