Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Update raw file fields for RAG example
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
Due: example

Update raw file fields for RAG example (#741)
  examples/dataset/retrieval_augmented_generation/README.md
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
Due: example

added logic to handle labeled answers
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
Due: example

metrics fix
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
Due: example

fix module name for exp special data type
  kolena/_utils/datatypes.py
Due: all

adding a new file
  docs/metrics/fnr.md
Due: none

updated FNR docs
  docs/metrics/fnr.md
  mkdocs.yml
Due: none

fix module name for exp special data type (#743)
  kolena/_utils/datatypes.py
Due: all

updated is_page logic to be pair of doc + page_num. Added new versioning
  examples/dataset/retrieval_augmented_generation/pyproject.toml
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
Due: example

added notes for rules on what is correct
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
Due: example

feat: added logic to handle labeled answers (#742)
  examples/dataset/retrieval_augmented_generation/pyproject.toml
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/metrics.py
  examples/dataset/retrieval_augmented_generation/retrieval_augmented_generation/upload_results.py
Due: example

fixing comments
  docs/metrics/fnr.md
Due: none

pydantic conflict fixes
  kolena/_api/v2/_api.py
  kolena/_api/v2/_derived_field.py
  kolena/_api/v2/_dsl.py
  kolena/_api/v2/_filter.py
  kolena/_api/v2/_metric.py
  kolena/_api/v2/_scope.py
  kolena/_api/v2/_stats.py
  kolena/_api/v2/_stratification.py
  kolena/_api/v2/_testing.py
  kolena/_api/v2/quality_standard.py
Due: all

simple test for pydantic v1 compatibility
  examples/workflow/test_pydantic_v1/pyproject.toml
  examples/workflow/test_pydantic_v1/workflow_test/__init__.py
  examples/workflow/test_pydantic_v1/workflow_test/test.py
Due: example

Mehrad/fnr docs (#744)
  docs/metrics/fnr.md
  mkdocs.yml
Due: none

pydantic conflict fixes (#745)
  kolena/_api/v2/_api.py
  kolena/_api/v2/_derived_field.py
  kolena/_api/v2/_dsl.py
  kolena/_api/v2/_filter.py
  kolena/_api/v2/_metric.py
  kolena/_api/v2/_scope.py
  kolena/_api/v2/_stats.py
  kolena/_api/v2/_stratification.py
  kolena/_api/v2/_testing.py
  kolena/_api/v2/quality_standard.py
Due: all

adding new file
  docs/metrics/density-score.md
  mkdocs.yml
Due: none

added uniqueness score
  docs/metrics/density-score.md
  docs/metrics/uniqueness-score.md
  mkdocs.yml
Due: none

added representation score
  docs/metrics/representation-score.md
  docs/metrics/uniqueness-score.md
  mkdocs.yml
Due: none

added potential difficulty score
  docs/metrics/potential-difficulty-score.md
Due: none

last touches
  docs/metrics/density-score.md
  docs/metrics/potential-difficulty-score.md
  docs/metrics/representation-score.md
  docs/metrics/uniqueness-score.md
  mkdocs.yml
Due: none

Mehrad/kolena scores docs (#746)
  docs/metrics/density-score.md
  docs/metrics/potential-difficulty-score.md
  docs/metrics/representation-score.md
  docs/metrics/uniqueness-score.md
  mkdocs.yml
Due: none

Fixed the order
  mkdocs.yml
Due: none

changed the order
  mkdocs.yml
Due: none

Provide a quality_standard.check function for CI systems to run and validate against a QS
  kolena/_api/v1/event.py
  kolena/_experimental/quality_standard.py
  kolena/_utils/endpoints.py
Due: all

support dataset tag during upload
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
Due: all

support dataset tag during upload (#749)
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
Due: all

Pull in default model + flip check boolean to see if things passed (rather than failed)
  kolena/_experimental/quality_standard.py
  kolena/dataset/evaluation.py
Due: none

feature to use file name field
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

Fixed dataset name
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

handle cases where column doesn't exist
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

Add client endpoint for augmenting multilabel classification results with datapoint metrics
  kolena/_experimental/classification/__init__.py
  kolena/_experimental/classification/_matching.py
  kolena/_experimental/classification/dataset.py
Due: none

Update field naming
  kolena/_experimental/classification/dataset.py
Due: none

Make _compute_multilabel_classification_results private
  kolena/_experimental/classification/dataset.py
Due: none

Handle edge case where gt field and inf field have the same column name
  kolena/_experimental/classification/dataset.py
  kolena/_experimental/object_detection/dataset.py
Due: none

Fix mypy issues
  kolena/_experimental/classification/_matching.py
  kolena/_experimental/classification/dataset.py
Due: none

Address PR comments
  kolena/_experimental/classification/_matching.py
  kolena/_experimental/classification/dataset.py
Due: none

appease the mypy gods
  kolena/_experimental/classification/dataset.py
Due: none

Add upload_multilabel_classification_results to docs
  docs/reference/experimental/index.md
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
