Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

chore: data_path => data_paths
  kolena/_experimental/data_ingestion/_data_format/coco.py
  kolena/_experimental/data_ingestion/_types.py
Due: none

refactor: CocoDataFormat => CocoJsonDataFormat
  kolena/_experimental/data_ingestion/__init__.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

refactor: prepare for coco inference
  kolena/_experimental/data_ingestion/__init__.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
  kolena/_experimental/data_ingestion/_types.py
Due: none

chore: adapt to latest api
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

chore: poetry run pre-commit run -a
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

replace f1-opt as default value
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_workflow.py
Due: example

nits
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/__init__.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: example

revert to literal for F1 optimal, added defaults
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
Due: example

fix tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

rename and nits
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: example

attempt to add torch
  examples/question_answering/pyproject.toml
Due: none

undo poetry add torch
  examples/question_answering/pyproject.toml
Due: none

Replace F1-optimal threshold strategy with default value (#223)
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
Due: example

Use derived bbox area in 2D OD example seed scripts (#174)
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

change workflow for polygons
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
Due: none

rename bboxes to objects in old tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_configurations.py
Due: none

torch test no wheels
  examples/question_answering/pyproject.toml
Due: none

no precompute
  examples/question_answering/question_answering/evaluator.py
Due: example

need to specify cpu for darwin
  examples/question_answering/pyproject.toml
Due: none

add default values to test run
  examples/question_answering/question_answering/seed_test_run.py
Due: example

add azure page
  docs/advanced-usage/connecting-cloud-storage/azure-blob-storage.md.md
  mkdocs.yml
Due: none

fix file extensions
  docs/advanced-usage/connecting-cloud-storage/azure-blob-storage.md
Due: none

fix: extend test sample to add image id field
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

fix typos
  docs/advanced-usage/connecting-cloud-storage/azure-blob-storage.md
  docs/advanced-usage/connecting-cloud-storage/index.md
Due: none

rename bbox to object
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
Due: none

rename unit tests from bbox to object
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

create shallow polygon prebuilt OD tests
  tests/unit/_experimental/object_detection/test_polygons.py
Due: none

fix tests
  tests/unit/_experimental/object_detection/test_polygons.py
Due: none

update readme
  examples/question_answering/README.md
Due: none

Addressed some PR comments
  docs/metrics/confusion-matrix.md
Due: none

add links; replace 'grant permissions' w/ 'assign roles'
  docs/advanced-usage/connecting-cloud-storage/azure-blob-storage.md
Due: none

use subheader
  docs/advanced-usage/connecting-cloud-storage/azure-blob-storage.md
Due: none

Azure doc (#226)
  docs/advanced-usage/connecting-cloud-storage/azure-blob-storage.md
  docs/advanced-usage/connecting-cloud-storage/index.md
  mkdocs.yml
Due: none

Remove S3 from 'Google Cloud Storage S3' copy
  docs/advanced-usage/connecting-cloud-storage/google-cloud-storage.md
Due: none

Added fpr and specificity metrics utils
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_formula.py
  tests/unit/workflow/metrics/test_formula.py
Due: generic

Remove S3 from 'Google Cloud Storage S3' copy (#227)
  docs/advanced-usage/connecting-cloud-storage/google-cloud-storage.md
Due: none

Specificity docs
  docs/assets/images/metrics-specificity-dark.svg
  docs/assets/images/metrics-specificity-light.svg
  docs/metrics/specificity.md
Due: none

Added FPR doc
  docs/assets/images/metrics-fpr-dark.svg
  docs/assets/images/metrics-fpr-light.svg
  docs/metrics/fpr.md
  docs/metrics/specificity.md
Due: none
