Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

METEOR metrics doc (#244)
  docs/metrics/meteor.md
Due: none

add telemetry flag to client request headers
  kolena/_utils/krequests.py
Due: all

add unit tests on client state telemetry
  tests/unit/test_initialize.py
Due: none

Deployed 69d1c9f with MkDocs version: 1.5.3
  assets/images/bleu-judgement.png
  assets/images/social/metrics/bleu.png
  assets/images/social/metrics/meteor.png
  assets/images/social/metrics/rouge.png
  metrics/bleu/index.html
  metrics/meteor/index.html
  metrics/rouge/index.html
  reference/legacy/built-in/classification/index.html
  reference/legacy/built-in/detection/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Added support to for thresholded metrics, via Dict. - Update evaluator and validators to allow dicts. - Added new unit test to verify the new use cases.
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

Update documentation
  docs/advanced-usage/nesting-test-case-metrics.md
Due: none

Update unit test
  kolena/workflow/_validators.py
  tests/unit/workflow/test_validators.py
Due: generic

Undo unecesary changes on documentation
  docs/advanced-usage/nesting-test-case-metrics.md
Due: none

Fix python style that was failing some test.
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
Due: generic

Fix python style that was failing some test
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
Due: generic

BERTScore metric + add hyperlinks
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/meteor.md
  docs/metrics/rouge.md
Due: none

Add rouge.md hyperlink
  docs/metrics/bertscore.md
Due: none

BERTScore metric doc (#251)
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/meteor.md
  docs/metrics/rouge.md
Due: none

update
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/tests/test_evaluator.py
Due: example

update readme
  examples/face_recognition_11/README.md
Due: none

Delete examples/face_recognition_11/tests/test_evaluator.py
  examples/face_recognition_11/tests/test_evaluator.py
Due: example

Address PR comments
  examples/search_embeddings/README.md
  examples/search_embeddings/pyproject.toml
  examples/search_embeddings/search/extract_embeddings.py
Due: example

Allow for differently versioned tar files
  examples/search_embeddings/README.md
Due: none

Add search embeddings extraction as part of the age_estimation workflow (#248)
  examples/search_embeddings/README.md
  examples/search_embeddings/local_packages/.gitignore
  examples/search_embeddings/pyproject.toml
  examples/search_embeddings/search/__init__.py
  examples/search_embeddings/search/extract_embeddings.py
Due: example

Avoid init param with default mutable value
  kolena/workflow/_validators.py
Due: generic

Added Dict support on MetricsTestSample
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
Due: generic

Include activation map upload as part of workflow
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Updated diagrams and enabled metrics docs
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/assets/images/bleu-judgement.png
  docs/assets/images/metrics-bert-computation-dark.svg
  docs/assets/images/metrics-bert-computation-light.svg
  docs/assets/images/metrics-bert-vector-space-dark.svg
  docs/assets/images/metrics-bert-vector-space-light.svg
  docs/assets/images/metrics-fpr-dark.svg
  docs/assets/images/metrics-fpr-light.svg
  docs/assets/images/metrics-precision-dark.svg
  docs/assets/images/metrics-precision-light.svg
  docs/assets/images/metrics-recall-dark.svg
  docs/assets/images/metrics-recall-light.svg
  docs/assets/images/metrics-specificity-dark.svg
  docs/assets/images/metrics-specificity-light.svg
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/fpr.md
  docs/metrics/index.md
  docs/metrics/meteor.md
  docs/metrics/roc-curve.md
  docs/metrics/rouge-n.md
  docs/metrics/rouge.md
  docs/metrics/specificity.md
  mkdocs.yml
Due: none

improved error messaging when running a test against a test suite without test case
  kolena/workflow/test_suite.py
  tests/unit/workflow/test_test_suite.py
Due: generic

do it on test_run instead
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
  tests/unit/workflow/test_test_suite.py
Due: generic

remove unnecessary imports
  tests/unit/workflow/test_test_suite.py
Due: none

Add default argument value for initialize(api_token)
  kolena/_utils/cli.py
  kolena/_utils/consts.py
  kolena/errors.py
  kolena/initialize.py
  tests/integration/test_initialize.py
Due: all

use IncorrectUsageError
  kolena/workflow/test_run.py
Due: generic

Fixed the table
  docs/metrics/bertscore.md
Due: none

created meaningful test cases
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

Update kolena.initialize documentation
  kolena/errors.py
  kolena/initialize.py
Due: all

Move kolena.initialize unit tests to appropriate file
  kolena/initialize.py
  tests/integration/test_initialize.py
  tests/unit/test_initialize.py
Due: all

Fix formatting in consts.py
  kolena/_utils/consts.py
Due: all

Update process to asynchronously batch and upload activation maps
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

improved error messaging when running a test against a test suite without test case (#255)
  kolena/workflow/test_run.py
Due: generic

Lock pandas and pyarrow versions for debugging
  pyproject.toml
Due: none

don't break for 3.7
  pyproject.toml
Due: none

Dataset ingestion APIs
  kolena/_experimental/dataset/dataset.py
  tests/unit/workflow/test_data_object.py
Due: none

relocate
  kolena/_experimental/dataset/dataset.py
Due: none

add tests
  kolena/_experimental/dataset/dataset.py
Due: none
