Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Update embedding search documentation and example readme
  docs/advanced-usage/set-up-natural-language-search.md
  examples/search_embeddings/README.md
  examples/search_embeddings/pyproject.toml
Due: none

remove unneeded note
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

remove local_packages directory
  examples/search_embeddings/local_packages/.gitignore
Due: none

update poetry install instructions
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

selfcheck metrics workflow
  examples/question_answering/question_answering/truthful_qa/evaluator.py
  examples/question_answering/question_answering/truthful_qa/seed_test_run.py
  examples/question_answering/question_answering/truthful_qa/seed_test_suite.py
  examples/question_answering/question_answering/truthful_qa/workflow.py
Due: example

updated instructions again
  docs/advanced-usage/set-up-natural-language-search.md
  examples/search_embeddings/README.md
  examples/search_embeddings/pyproject.toml
Due: none

add text to remind the user to use their own kolena token
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

Update embedding search documentation and example README (#352)
  docs/advanced-usage/set-up-natural-language-search.md
  examples/search_embeddings/README.md
  examples/search_embeddings/local_packages/.gitignore
  examples/search_embeddings/pyproject.toml
Due: none

replace formatting w/ colors that work with dark mode
  docs/assets/css/theme.css
  docs/metrics/wer-cer-mer.md
Due: none

Uses the right selfcheck metrics csv + added thresholds to the sample level metrics
  examples/question_answering/question_answering/truthful_qa/evaluator.py
  examples/question_answering/question_answering/truthful_qa/seed_test_run.py
  examples/question_answering/question_answering/truthful_qa/workflow.py
Due: example

experimental workflow for TruthfulQA
  examples/question_answering/question_answering/truthful_qa/evaluator.py
Due: example

Add Instance Segmentation workflow wrapper on Object Detection
  kolena/_experimental/instance_segmentation/__init__.py
  kolena/_experimental/instance_segmentation/evaluator.py
  kolena/_experimental/instance_segmentation/evaluator_multiclass.py
  kolena/_experimental/instance_segmentation/evaluator_single_class.py
  kolena/_experimental/instance_segmentation/workflow.py
Due: none

Add optional config flag to choose evaluator for Object Detection
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Add unit test
  tests/unit/_experimental/object_detection/test_configurations.py
Due: none

Delete unused evaluators
  kolena/_experimental/instance_segmentation/evaluator_multiclass.py
  kolena/_experimental/instance_segmentation/evaluator_single_class.py
Due: none

Fix integration tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

Fix formatting
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

Add smoke test
  kolena/_experimental/instance_segmentation/evaluator.py
  tests/integration/_experimental/instance_segmentation/test_workflow.py
Due: none

Fix formatting v2
  tests/integration/_experimental/instance_segmentation/test_workflow.py
Due: none

chore: add TODO
  kolena/_experimental/dataset/_dataset.py
Due: none

Remove serialization of composites to JSON
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Fix smoke test name
  tests/integration/_experimental/instance_segmentation/test_workflow.py
Due: none

Check if `data_type` is member of DatapointType
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Add Instance Segmentation workflow wrapper on Object Detection (#354)
  kolena/_experimental/instance_segmentation/__init__.py
  kolena/_experimental/instance_segmentation/evaluator.py
  kolena/_experimental/instance_segmentation/workflow.py
  tests/integration/_experimental/instance_segmentation/test_workflow.py
Due: none

Use `SEP` over literal '.'
  kolena/_experimental/dataset/_dataset.py
Due: none

chore: generate datapoint_id_object
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/common.py
Due: none

Fix _extract_thresholded_metrics and update unit test.
  kolena/workflow/test_run.py
  tests/unit/workflow/test_test_run.py
Due: generic

Set `pd.json_normalize(max_level=0)` to avoid recursive flattening
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Revert update to multiclass unit test
  tests/unit/_experimental/object_detection/test_configurations.py
Due: none

Add optional config flag to choose evaluator for Object Detection (#353)
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_configurations.py
Due: none

Add input validation check for empty/whitespace prefix
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Add unit test to ensure composite serialization not applied to result
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Add support for composite datasets (#346)
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/data.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Added model_id and eval_config_id to request to add thresholded metrics
  kolena/_api/v1/generic.py
  kolena/workflow/test_run.py
Due: generic, all

Don't require credentials to read from S3 public buckets in examples.
  examples/age_estimation/age_estimation/seed_test_run.py
  examples/age_estimation/age_estimation/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/text_summarization/text_summarization/seed_test_run.py
  examples/text_summarization/text_summarization/seed_test_suite.py
Due: example

Update documentation to use pd.read_csv correctly when accessing a public bucket
  docs/building-a-workflow.md
Due: none

Run pre-commit hooks
  examples/classification/scripts/binary/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
Due: example

Make S3 reads from public buckets via pandas anonymous (#355)
  docs/building-a-workflow.md
  examples/age_estimation/age_estimation/seed_test_run.py
  examples/age_estimation/age_estimation/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/text_summarization/text_summarization/seed_test_run.py
  examples/text_summarization/text_summarization/seed_test_suite.py
Due: example

Added new unit test to cover other cases.
  kolena/_api/v1/generic.py
  kolena/workflow/test_run.py
  tests/unit/workflow/test_test_run.py
Due: generic, all

client require id_field when register dataset and not require on when adding result, allow chunk processing in client
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_experimental/dataset/common.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: all

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
