Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

chore: another one
  docs/connecting-cloud-storage/azure-blob-storage.md
Due: none

fix pyarrow dependency issue
  pyproject.toml
Due: none

typo
  pyproject.toml
Due: none

update pyproject
  pyproject.toml
Due: none

chore: replace removed ms simple icons (#649)
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/index.md
Due: none

rough draft of image extraction documentation
  docs/automations/extract-image-metadata.md
  docs/automations/index.md
  mkdocs.yml
Due: none

added examples, images and gifs
  docs/assets/images/edit-image-extraction-properties-dark.gif
  docs/assets/images/edit-image-extraction-properties-light.gif
  docs/assets/images/extraction-area.png
  docs/assets/images/extraction-aspect-dark.gif
  docs/assets/images/extraction-aspect-light.gif
  docs/assets/images/extraction-brightness-dark.gif
  docs/assets/images/extraction-brightness-light.gif
  docs/assets/images/extraction-contrast-dark.gif
  docs/assets/images/extraction-contrast-light.gif
  docs/assets/images/extraction-entropy-dark.gif
  docs/assets/images/extraction-entropy-light.gif
  docs/assets/images/extraction-sharpness-dark.gif
  docs/assets/images/extraction-sharpness-light.gif
  docs/assets/images/extraction-symmetry-dark.gif
  docs/assets/images/extraction-symmetry-light.gif
  docs/assets/images/hydrated-image-example-dark.png
  docs/assets/images/hydrated-image-example-light.png
  docs/assets/images/navigate-to-image-extraction-config-dark.gif
  docs/assets/images/navigate-to-image-extraction-config-light.gif
  docs/assets/images/select-image-extraction-properties-dark.gif
  docs/assets/images/select-image-extraction-properties-light.gif
  docs/automations/extract-image-metadata.md
Due: none

Minor edits
  docs/automations/extract-image-metadata.md
  docs/automations/extract-text-metadata.md
  docs/dataset/advanced-usage/index.md
  mkdocs.yml
Due: none

changed images and iterated on feedback
  docs/assets/images/navigate-to-image-extraction-config-dark.gif
  docs/assets/images/navigate-to-image-extraction-config-light.gif
  docs/assets/images/select-image-extraction-properties-dark.gif
  docs/assets/images/select-image-extraction-properties-light.gif
  docs/automations/extract-image-metadata.md
  docs/dataset/advanced-usage/index.md
Due: none

Documentation on Image Property Extraction (#646)
  docs/assets/images/edit-image-extraction-properties-dark.gif
  docs/assets/images/edit-image-extraction-properties-light.gif
  docs/assets/images/extraction-area.png
  docs/assets/images/extraction-aspect-dark.gif
  docs/assets/images/extraction-aspect-light.gif
  docs/assets/images/extraction-brightness-dark.gif
  docs/assets/images/extraction-brightness-light.gif
  docs/assets/images/extraction-contrast-dark.gif
  docs/assets/images/extraction-contrast-light.gif
  docs/assets/images/extraction-entropy-dark.gif
  docs/assets/images/extraction-entropy-light.gif
  docs/assets/images/extraction-sharpness-dark.gif
  docs/assets/images/extraction-sharpness-light.gif
  docs/assets/images/extraction-symmetry-dark.gif
  docs/assets/images/extraction-symmetry-light.gif
  docs/assets/images/hydrated-image-example-dark.png
  docs/assets/images/hydrated-image-example-light.png
  docs/assets/images/navigate-to-image-extraction-config-dark.gif
  docs/assets/images/navigate-to-image-extraction-config-light.gif
  docs/assets/images/select-image-extraction-properties-dark.gif
  docs/assets/images/select-image-extraction-properties-light.gif
  docs/automations/extract-image-metadata.md
  docs/automations/extract-text-metadata.md
  docs/automations/index.md
  docs/dataset/advanced-usage/index.md
  mkdocs.yml
Due: none

Updated to thresholded metrics
  docs/assets/images/thresholded-metrics-dark.gif
  docs/assets/images/thresholded-metrics-light.gif
  docs/assets/images/thresholded-plots-dark.gif
  docs/assets/images/thresholded-plots-light.gif
  docs/dataset/advanced-usage/task-metrics.md
  docs/dataset/advanced-usage/thresholded-results.md
Due: none

chore: remove unused screenshots
  docs/assets/images/thresholded-results/metric-button-dark.png
  docs/assets/images/thresholded-results/metric-button-light.png
  docs/assets/images/thresholded-results/metric-config-dark.png
  docs/assets/images/thresholded-results/metric-config-light.png
  docs/assets/images/thresholded-results/metric-qs-dark.png
  docs/assets/images/thresholded-results/metric-qs-light.png
  docs/assets/images/thresholded-results/plot-double-agg-dark.png
  docs/assets/images/thresholded-results/plot-double-agg-light.png
  docs/assets/images/thresholded-results/plot-f1-dark.png
  docs/assets/images/thresholded-results/plot-f1-light.png
  docs/assets/images/thresholded-results/plot-pr-dark.png
  docs/assets/images/thresholded-results/plot-pr-light.png
Due: none

docs: thresholded results (#637)
  docs/assets/images/thresholded-metrics-dark.gif
  docs/assets/images/thresholded-metrics-light.gif
  docs/assets/images/thresholded-plots-dark.gif
  docs/assets/images/thresholded-plots-light.gif
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/task-metrics.md
  docs/dataset/advanced-usage/thresholded-results.md
  mkdocs.yml
Due: none

chore: add pydantic_v1 namespace
  kolena/_utils/pydantic_v1/__init__.py
  kolena/_utils/pydantic_v1/dataclasses.py
Due: all

chore: downgrade to pydantic v1
  kolena/_api/v1/batched_load.py
  kolena/_api/v1/client_log.py
  kolena/_api/v1/core.py
  kolena/_api/v1/event.py
  kolena/_api/v1/generic.py
  kolena/_api/v1/repository.py
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/_api/v2/search.py
  kolena/_experimental/instance_segmentation/workflow.py
  kolena/_experimental/object_detection/workflow.py
  kolena/_utils/datatypes.py
  kolena/_utils/geometry.py
  kolena/_utils/inference_validators.py
  kolena/_utils/validators.py
  kolena/annotation.py
  kolena/asset.py
  kolena/metrics/_geometry.py
  kolena/workflow/define_workflow.py
  kolena/workflow/evaluator.py
  kolena/workflow/evaluator_function.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/model.py
  kolena/workflow/plot.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_sample.py
  kolena/workflow/test_suite.py
  kolena/workflow/workflow.py
  tests/integration/workflow/conftest.py
  tests/integration/workflow/dummy.py
  tests/integration/workflow/test_test_run.py
  tests/unit/test_annotation.py
  tests/unit/test_asset.py
  tests/unit/workflow/test_data_object.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_test_sample.py
Due: generic, all

chore: missing parts
  kolena/_api/v1/event.py
  kolena/_api/v2/dataset.py
  kolena/workflow/test_sample.py
  tests/integration/workflow/dummy.py
Due: generic, all

allow use to download result by commit id
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

chore: revert __post_init__ => __post_init_post_parse__
  examples/workflow/classification/classification/workflow.py
  examples/workflow/object_detection_3d/object_detection_3d/workflow.py
  kolena/_experimental/instance_segmentation/workflow.py
  kolena/_experimental/object_detection/workflow.py
  kolena/_experimental/workflow/thresholded.py
  kolena/annotation.py
  kolena/asset.py
  kolena/workflow/plot.py
  kolena/workflow/test_sample.py
  kolena/workflow/workflow.py
Due: generic, all, example

Update model.py
  kolena/_api/v2/model.py
Due: all

Revert "chore: revert __post_init__ => __post_init_post_parse__"
  examples/workflow/classification/classification/workflow.py
  examples/workflow/object_detection_3d/object_detection_3d/workflow.py
  kolena/_experimental/instance_segmentation/workflow.py
  kolena/_experimental/object_detection/workflow.py
  kolena/_experimental/workflow/thresholded.py
  kolena/annotation.py
  kolena/asset.py
  kolena/workflow/plot.py
  kolena/workflow/test_sample.py
  kolena/workflow/workflow.py
Due: generic, all, example

chore: revert __post_init__ => __post_init_post_parse__
  kolena/workflow/plot.py
Due: generic

chore: missing update_forward_refs
  kolena/_api/v1/generic.py
Due: all

allow user to download result by commit id (#652)
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

chore: fix tests
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

chore: relax pydantic version
  pyproject.toml
Due: none

chore: clean up
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

Simplify crossing pedestrian detection example to use upload_object_detection_results (#644)
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/tests/test_crossing_pedestrian_detection.py
Due: example

update dependency
  pyproject.toml
Due: none

no verbose logging for decorator
  kolena/_experimental/trace/trace.py
  tests/integration/_experimental/trace/test_trace.py
Due: none

allow user to specify a datapoint field as model name
  kolena/_experimental/trace/trace.py
Due: none

polish and added tests
  kolena/_experimental/trace/trace.py
  tests/integration/_experimental/trace/__init__.py
  tests/integration/_experimental/trace/test_trace.py
Due: none

fix bugs and added unit test
  kolena/_experimental/trace/trace.py
  tests/integration/_experimental/trace/test_trace.py
  tests/unit/_experimental/trace/__init__.py
  tests/unit/_experimental/trace/test_trace.py
Due: none

added multithread test
  tests/integration/_experimental/trace/test_trace.py
Due: none

decorator to send data to kolena
  kolena/_api/v2/dataset.py
  kolena/_experimental/trace/__init__.py
  kolena/_experimental/trace/trace.py
  kolena/dataset/dataset.py
Due: all

doc change
  docs/reference/experimental/index.md
  kolena/_experimental/trace/__init__.py
  kolena/_experimental/trace/trace.py
  tests/integration/_experimental/trace/test_trace.py
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
