Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Update
  README.md
Due: none

Update Codecov badge
  README.md
Due: none

Add CircleCI logo
  README.md
Due: none

Try 'for-the-badge' style
  README.md
Due: none

Revert to default style
  README.md
Due: none

Back to flat-square
  README.md
Due: none

Add unit tests for per-sample and per-class metrics computation
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/workflow.py
  tests/unit/classification/multiclass/test_evaluator.py
Due: classification

Add formulas for commonly used TP/FP/FN
  kolena/classification/multiclass/evaluator.py
  kolena/workflow/metrics/_formula.py
  tests/unit/classification/multiclass/test_evaluator.py
Due: classification, generic

Add basic functions for Precision, Recall, F1 to kolena.workflow.metrics
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_formula.py
Due: generic

Update documentation
  kolena/workflow/metrics/_formula.py
Due: generic

Add unit tests
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_formula.py
  tests/unit/workflow/metrics/test_formula.py
Due: generic

Add Precision, Recall, F1 to kolena.workflow.metrics (#85)
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_formula.py
  tests/unit/workflow/metrics/test_formula.py
Due: generic

Continue refactoring multiclass evaluator
  kolena/classification/multiclass/evaluator.py
Due: classification

IoU metrics guide
  docs/assets/images/metrics-iou-2dbbox.png
  docs/assets/images/metrics-iou-example1.png
  docs/assets/images/metrics-iou-example2.png
  docs/assets/images/metrics-iou-example3.png
  docs/assets/images/metrics-iou-seg-mask-results.png
  docs/assets/images/metrics-iou-seg-mask.png
  docs/metrics/index.md
  docs/metrics/iou.md
  mkdocs.yml
Due: none

Updated the API link
  docs/metrics/iou.md
Due: none

[WIP] Documentation on extending annotation types
  docs/reference/workflow/annotation.md
  kolena/workflow/annotation.py
Due: generic

Hide Metrics Glossary from nav bar and search
  docs/metrics/averaging-methods.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

Hide Metrics Glossary from nav bar and search (#87)
  docs/metrics/averaging-methods.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

centered table
  docs/metrics/iou.md
Due: none

nits
  kolena/_experimental/object_detection/evaluator_old.py
  kolena/_experimental/object_detection/seed_test_run.py
  kolena/_experimental/object_detection/seed_test_suite.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Temporary branch filter to debug docs publish
  .github/workflows/release.yml
Due: none

Add --global flag
  .github/workflows/release.yml
Due: none

Added TP/FP/FN/TN metric doc
  docs/assets/images/metrics-tpfpfntn-dog-classifier.png
  docs/assets/images/metrics-tpfpfntn-legends.png
  docs/assets/images/metrics-tpfpfntn-multi-class.png
  docs/assets/images/metrics-tpfpfntn-single-class.png
  docs/metrics/tp-fp-fn-tn.md
Due: none

Added Confusion Matrix doc
  docs/assets/images/metrics-confusion-matrix-normalized.png
  docs/metrics/confusion-matrix.md
  docs/metrics/tp-fp-fn-tn.md
Due: none

Try configuring git user before SSH config
  .github/workflows/release.yml
Due: none

Configure before checkout
  .github/workflows/release.yml
Due: none

Update test-suite.md
  docs/core-concepts/test-suite.md
Due: none

Updated images to fit better on the page
  docs/assets/images/metrics-confusion-matrix-normalized.png
  docs/assets/images/metrics-tpfpfntn-multi-class.png
  docs/assets/images/metrics-tpfpfntn-single-class.png
  docs/metrics/confusion-matrix.md
Due: none

png to jpg
  docs/assets/images/metrics-iou-seg-mask-results.jpg
  docs/assets/images/metrics-iou-seg-mask-results.png
  docs/assets/images/metrics-iou-seg-mask.jpg
  docs/assets/images/metrics-iou-seg-mask.png
  docs/metrics/iou.md
Due: none

Update test-suite.md (#90)
  docs/core-concepts/test-suite.md
Due: none

remove seeding scripts
  kolena/_experimental/object_detection/class_person.txt
  kolena/_experimental/object_detection/class_transportation.txt
  kolena/_experimental/object_detection/evaluator_old.py
  kolena/_experimental/object_detection/seed_test_run.py
  kolena/_experimental/object_detection/seed_test_suite.py
  kolena/_experimental/object_detection/seed_test_suite_class.py
Due: none

Try --shell
  .github/workflows/release.yml
Due: none

Use 'Kolena Robot' name
  .github/workflows/release.yml
Due: none

Create CNAME
  CNAME
Due: none

fix extra class error
  kolena/_experimental/object_detection/evaluator.py
Due: none

add thresholds to workflow and mutliclass plots
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
Due: none

nit
  kolena/_experimental/object_detection/utils.py
Due: none

Add meta tags to social card layout
  docs/layouts/custom.yml
Due: none

Use a few more YAML variables
  docs/layouts/custom.yml
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
