Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

successful dummy workflow with results page
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Using out bucket
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Using multithread to upload to reduce evaluation time
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
Due: example

Updated README to specify person images
  examples/semantic_segmentation/README.md
Due: none

successful eval results upload to results page
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

sanitize model_name for s3 path
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
  examples/semantic_segmentation/tests/test_model_sanitize.py
Due: example

remove print
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

removed locator from metadata and create tiny pairs sample
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

Added more print statements to show the progress during the test run
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
Due: example

add smoke test
  examples/semantic_segmentation/pyproject.toml
  examples/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Count of TP/FP/FN is no longer recomputed
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
Due: example

typo fixes
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

semantic segmentation example (#241)
  docs/assets/images/coco-stuff-10k.jpg
  docs/overrides/.icons/kolena/polygon-16.svg
  docs/overrides/.icons/kolena/polygon-20.svg
  docs/quickstart.md
  examples/README.md
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/pyproject.toml
  examples/semantic_segmentation/semantic_segmentation/__init__.py
  examples/semantic_segmentation/semantic_segmentation/constants.py
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
  examples/semantic_segmentation/tests/test_model_sanitize.py
  examples/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

add stratification based on image size
  examples/semantic_segmentation/semantic_segmentation/constants.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
Due: example

update pr comments
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

add stratification based on image size to semantic segmentation example (#242)
  examples/semantic_segmentation/semantic_segmentation/constants.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Deployed 56040ea with MkDocs version: 1.5.3
  assets/images/coco-stuff-10k.jpg
  quickstart/index.html
  reference/legacy/built-in/base/index.html
  reference/legacy/built-in/fr/index.html
  reference/workflow/annotation/index.html
  reference/workflow/asset/index.html
  reference/workflow/test-case/index.html
  reference/workflow/test-suite/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Changes to address some comments
  docs/metrics/bleu.md
Due: none

Changes to address the comments
  docs/metrics/bertscore.md
Due: none

Update bleu.md
  docs/metrics/bleu.md
Due: none

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Create rouge.md
  docs/metrics/rouge.md
Due: none

Create meteor.md
  docs/metrics/meteor.md
Due: none

grammar changes
  docs/metrics/meteor.md
Due: none

add helper functions to export kolena data (#239)
  docs/reference/workflow/io-tools.md
  kolena/workflow/_datatypes.py
  kolena/workflow/io.py
  mkdocs.yml
  tests/unit/workflow/test_data_object.py
  tests/unit/workflow/test_io.py
Due: generic

Dataset ingestion APIs
  kolena/_api/v2/__init__.py
  kolena/_api/v2/dataset.py
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/dataset.py
  kolena/_utils/batched_load.py
  kolena/_utils/endpoints.py
  kolena/_utils/krequests.py
  kolena/_utils/krequests_v2.py
  kolena/_utils/state.py
  kolena/workflow/_datatypes.py
  tests/unit/workflow/test_data_object.py
Due: generic, all

relocate
  kolena/_experimental/dataset/dataset.py
  kolena/workflow/_datatypes.py
Due: generic

Restructure exports
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

add unit tests
  kolena/_experimental/dataset/dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

add tests
  kolena/_experimental/dataset/dataset.py
  tests/integration/_experimental/dataset/__init__.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/__init__.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

add unit test
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

fix import
  tests/unit/workflow/test_data_object.py
Due: none

results page up
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

removed comment
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

revert outdated changes
  tests/unit/workflow/test_data_object.py
Due: none

Addressed PR comments
  docs/metrics/roc-curve.md
Due: none

Code style improvement
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

updated readme
  examples/face_recognition_11/README.md
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
