Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Using evaluator function instead
  examples/question_answering/question_answering/evaluator.py
  examples/question_answering/question_answering/seed_test_run.py
Due: example

Added the example to README.md and quickstart guide
  docs/assets/images/CoQA.jpg
  docs/overrides/.icons/kolena/chat-16.svg
  docs/overrides/.icons/kolena/chat-20.svg
  docs/quickstart.md
  examples/README.md
Due: none

metrics glossary: fpr/specificity (#228)
  docs/assets/images/metrics-fpr-dark.svg
  docs/assets/images/metrics-fpr-light.svg
  docs/assets/images/metrics-specificity-dark.svg
  docs/assets/images/metrics-specificity-light.svg
  docs/metrics/fpr.md
  docs/metrics/specificity.md
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_formula.py
  tests/unit/workflow/metrics/test_formula.py
Due: generic

Create CoQA Evaluator (#220)
  .circleci/continue_config.yml
  docs/assets/images/CoQA.jpg
  docs/overrides/.icons/kolena/chat-16.svg
  docs/overrides/.icons/kolena/chat-20.svg
  docs/quickstart.md
  examples/README.md
  examples/question_answering/README.md
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/evaluator.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/question_answering/question_answering/utils.py
  examples/question_answering/tests/test_question_answering.py
Due: all, example

Added links to precision and recall for row/col normalization section
  docs/metrics/confusion-matrix.md
Due: none

metrics glossary: confusion matrix (#217)
  docs/assets/images/metrics-confusion-matrix-dark.png
  docs/assets/images/metrics-confusion-matrix-light.png
  docs/assets/images/metrics-confusion-matrix-normalized-dark.png
  docs/assets/images/metrics-confusion-matrix-normalized-light.png
  docs/metrics/confusion-matrix.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

initial commit for fr example integration
  examples/face_recognition/README.md
  examples/face_recognition/face_recognition/test.py
Due: example

Short circuit local evaluation if remote evaluator is triggered
  kolena/workflow/test_run.py
  tests/integration/workflow/test_test_run.py
Due: generic

Clean up patching logic
  tests/integration/workflow/test_test_run.py
Due: none

Fix testing
  tests/integration/workflow/test_test_run.py
Due: none

fix: Short circuit local evaluation if remote evaluator is triggered (#231)
  kolena/workflow/test_run.py
  tests/integration/workflow/test_test_run.py
Due: generic

Generic workflow grabbag datatype with pydantic
  examples/object_detection_3d/pyproject.toml
  kolena/workflow/_datatypes.py
  pyproject.toml
  tests/integration/workflow/dummy.py
  tests/integration/workflow/test_test_run.py
  tests/unit/workflow/test_data_object.py
Due: generic

Include metadata in retrieved test sample
  kolena/workflow/model.py
  kolena/workflow/test_run.py
  tests/integration/workflow/conftest.py
Due: generic

try to deserialize typed dataobject in extra fields to certain degree
  kolena/workflow/_datatypes.py
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_data_object.py
Due: generic

try to deserialize typed dataobject in extra fields to certain degree
  kolena/workflow/_datatypes.py
Due: generic

missed integration tests update
  kolena/workflow/_datatypes.py
  tests/integration/workflow/test_test_run.py
Due: generic

clean up comment
  tests/unit/workflow/test_data_object.py
Due: none

ROC curve metrics doc
  docs/assets/images/metrics-roccurve-example-dark.png
  docs/assets/images/metrics-roccurve-example-light.png
  docs/assets/images/metrics-roccurve-example-multiclass-dark.png
  docs/assets/images/metrics-roccurve-example-multiclass-light.png
  docs/metrics/roc-curve.md
Due: none

custom dataclass
  kolena/workflow/_datatypes.py
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_data_object.py
Due: generic

fix imports
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/test_sample.py
Due: generic

incomplete sentence
  docs/metrics/roc-curve.md
Due: none

update test-suite load test samples
  kolena/workflow/_datatypes.py
  kolena/workflow/test_suite.py
Due: generic

Added confused matches usage in geometry-matching doc
  docs/metrics/geometry-matching.md
Due: none

Implement custom __str__ to include extra fields
  kolena/workflow/_datatypes.py
  tests/unit/workflow/test_data_object.py
Due: generic

BLEU metric glossary
  docs/assets/images/bleu-judgement.png
  docs/metrics/bleu.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

updated diagrams for text outlines
  docs/assets/images/metrics-ap-ir-example-dark.svg
  docs/assets/images/metrics-ap-ir-example-light.svg
  docs/assets/images/metrics-ap-limitation2-dark.svg
  docs/assets/images/metrics-ap-limitation2-light.svg
  docs/assets/images/metrics-ap-limitation5-dark.svg
  docs/assets/images/metrics-ap-limitation5-light.svg
  docs/assets/images/metrics-ap-od-example-dark.svg
  docs/assets/images/metrics-ap-od-example-light.svg
  docs/assets/images/metrics-ap-od-pr-11-dark.svg
  docs/assets/images/metrics-ap-od-pr-11-light.svg
  docs/assets/images/metrics-ap-od-pr-dark.svg
  docs/assets/images/metrics-ap-od-pr-interpolation-dark.svg
  docs/assets/images/metrics-ap-od-pr-interpolation-light.svg
  docs/assets/images/metrics-ap-od-pr-light.svg
Due: none

fixed broken text for metrics-ap-limitation2-dark
  docs/assets/images/metrics-ap-limitation2-dark.svg
Due: none

added basic examples integration structure for fr 1:1
  examples/face_recognition/README.md
  examples/face_recognition/face_recognition/test.py
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/__init__.py
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/scripts/__init__.py
  examples/face_recognition_11/scripts/seed_test_run.py
  examples/face_recognition_11/scripts/seed_test_suite.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

dummy change
  tests/integration/workflow/conftest.py
Due: none

revert dummy change
  tests/integration/workflow/conftest.py
Due: none

Include metadata in retrieved test sample (#232)
  kolena/workflow/_datatypes.py
  kolena/workflow/model.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
  tests/integration/workflow/conftest.py
Due: generic

Updated diagrams on Average Precision page (#224)
  docs/assets/images/metrics-ap-ir-example-dark.svg
  docs/assets/images/metrics-ap-ir-example-light.svg
  docs/assets/images/metrics-ap-ir-example.png
  docs/assets/images/metrics-ap-limitation2-dark.svg
  docs/assets/images/metrics-ap-limitation2-light.svg
  docs/assets/images/metrics-ap-limitation2.png
  docs/assets/images/metrics-ap-limitation5-dark.svg
  docs/assets/images/metrics-ap-limitation5-light.svg
  docs/assets/images/metrics-ap-limitation5.png
  docs/assets/images/metrics-ap-od-example-dark.svg
  docs/assets/images/metrics-ap-od-example-light.svg
  docs/assets/images/metrics-ap-od-example.png
  docs/assets/images/metrics-ap-od-pr-11-dark.svg
  docs/assets/images/metrics-ap-od-pr-11-light.svg
  docs/assets/images/metrics-ap-od-pr-11.png
  docs/assets/images/metrics-ap-od-pr-dark.svg
  docs/assets/images/metrics-ap-od-pr-interpolation-dark.svg
  docs/assets/images/metrics-ap-od-pr-interpolation-light.svg
  docs/assets/images/metrics-ap-od-pr-interpolation.png
  docs/assets/images/metrics-ap-od-pr-light.svg
  docs/assets/images/metrics-ap-od-pr.png
  docs/metrics/average-precision.md
Due: none

Enabled average precision and pr curve pages
  docs/metrics/average-precision.md
  docs/metrics/index.md
  docs/metrics/pr-curve.md
  mkdocs.yml
Due: none

update
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/scripts/seed_test_run.py
  examples/face_recognition_11/scripts/seed_test_suite.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

updated evaluator and workflow structure
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

BERTScore + BLEU
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/assets/images/bleu-judgement.png
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

style fix
  kolena/workflow/_datatypes.py
Due: generic

Quick impl of load metrics code
  kolena/_api/v1/generic.py
  kolena/workflow/model.py
Due: generic, all

Fix imports
  kolena/_api/v1/generic.py
  kolena/workflow/__init__.py
Due: generic, all

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
