Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

update OD task doc with usage details
  docs/assets/images/metrics-tasks-od-COCO_val2014_000000023294_annotated.png
  docs/assets/images/metrics-tasks-od-debugger-dark.png
  docs/assets/images/metrics-tasks-od-debugger-light.png
  docs/assets/images/metrics-tasks-od-multiclass.png
  docs/assets/images/metrics-tasks-od-qs-dark.png
  docs/assets/images/metrics-tasks-od-qs-light.png
  docs/dataset/formatting-your-datasets.md
  docs/metrics/object-detection.md
Due: none

use byteio instead of creating a temp file
  kolena/_utils/batched_load.py
Due: all

update usage of update_data_frame
  kolena/_experimental/search/embeddings.py
  kolena/_utils/batched_load.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
Due: generic, all

iterated on comments
  docs/metrics/coefficient-of-determination.md
  docs/metrics/index.md
Due: none

add cohen's kappa to metric docs
  docs/metrics/cohen-kappa.md
  mkdocs.yml
Due: none

change limitations header name to be consistent
  docs/metrics/HHEM-score.md
  docs/metrics/bertscore.md
  docs/metrics/consistency-score.md
  docs/metrics/contradiction-score.md
  docs/metrics/index.md
  docs/metrics/meteor.md
  docs/metrics/perplexity.md
  docs/metrics/prompt-based-hallucination-metric.md
  docs/metrics/rouge-n.md
Due: none

change limitations header name to be consistent
  docs/metrics/bleu.md
Due: none

edited sentence and wording
  docs/metrics/coefficient-of-determination.md
Due: none

edited sentence and wording
  docs/metrics/index.md
Due: none

Coefficient of Determination (R²) Metric Document (#569)
  docs/metrics/coefficient-of-determination.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

Remove 2d annotations
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
Due: example

add unit tests for chunking logic
  kolena/_utils/batched_load.py
Due: all

add missing test file
  tests/unit/utils/test_batch_loading.py
Due: none

Update model and evaluation configuration serialization in endpoints.py
  kolena/_api/v2/model.py
  kolena/_utils/endpoints.py
  kolena/dataset/evaluation.py
  pyproject.toml
Due: all

Include 2d bboxes in dataset and results
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

Remove 2d inferences, add inferences to image list
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

Add projection matrix to new images
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

Use bbox eval type in kitti_eval
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

Only include FP, TP, FN on image list
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

nits
  docs/metrics/cohen-kappa.md
Due: none

rename file
  docs/metrics/cohens-kappa.md
Due: none

nit spelling
  docs/metrics/index.md
  mkdocs.yml
Due: none

Put 2d inference annotations back
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

Change (un)matched annotations to 3d
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

Metric doc: Cohen's Kappa (#571)
  docs/metrics/HHEM-score.md
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/cohens-kappa.md
  docs/metrics/consistency-score.md
  docs/metrics/contradiction-score.md
  docs/metrics/index.md
  docs/metrics/meteor.md
  docs/metrics/perplexity.md
  docs/metrics/prompt-based-hallucination-metric.md
  docs/metrics/rouge-n.md
  mkdocs.yml
Due: none

Omit 2D annotations from dataset and result uploads
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
Due: example

Only upload left/right images with model results
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
Due: example

Remove unused top-level constant
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
Due: example

Omit raw_inferences_2d from results
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

Use projected bounding boxes in KITTI example (#573)
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
Due: example

Update link
  kolena/dataset/evaluation.py
Due: none

use consistent terminology
  docs/dataset/quickstart.md
Due: none

attempt to fix linter issues
  docs/dataset/quickstart.md
Due: none

Quckstart: Use consistent terminology (#575)
  docs/dataset/quickstart.md
Due: none

attempt to improve summary of dataset core concept
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
Due: none

update content for formatting datasets
  docs/dataset/formatting-your-datasets.md
  docs/dataset/index.md
Due: none

hypenate
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
  docs/dataset/formatting-your-datasets.md
  docs/dataset/index.md
Due: none

Update typing annotations in model.py and evaluation.py files
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

update download results
  kolena/dataset/evaluation.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

fix mypy
  kolena/_experimental/object_detection/dataset.py
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
