Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

fix yaml
  .circleci/continue_config.yml
Due: all

fix yaml to older
  .circleci/continue_config.yml
Due: all

add metrics extra to ci base param
  .circleci/continue_config.yml
Due: all

remove per class f1 pr plots
  kolena/_experimental/object_detection/utils.py
Due: none

Start wiring together reference documentation
  CONTRIBUTING.md
  docs/assets/images/favicon.png
  docs/assets/images/wordmark-white.svg
  docs/example.md
  docs/overrides/announce.html
  docs/overrides/main.html
  docs/reference/classification.md
  docs/reference/detection.md
  docs/reference/errors.md
  docs/reference/fr.md
  docs/reference/initialize.md
  docs/reference/workflow.md
  kolena/initialize.py
  mkdocs.yml
Due: all

updated tests to not be per class
  tests/unit/_experimental/test_plots.py
Due: none

Wire together kolena.workflow reference docs
  docs/reference/errors.md
  docs/reference/workflow.md
  docs/reference/workflow/annotation.md
  docs/reference/workflow/asset.md
  docs/reference/workflow/define_workflow.md
  docs/reference/workflow/evaluator.md
  docs/reference/workflow/ground_truth.md
  docs/reference/workflow/inference.md
  docs/reference/workflow/model.md
  docs/reference/workflow/test_case.md
  docs/reference/workflow/test_run.md
  docs/reference/workflow/test_sample.md
  docs/reference/workflow/test_suite.md
  kolena/workflow/_datatypes.py
  kolena/workflow/_helpers.py
  kolena/workflow/annotation.py
  kolena/workflow/evaluator.py
  kolena/workflow/evaluator_function.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_sample.py
  kolena/workflow/test_suite.py
  mkdocs.yml
Due: generic

Continue porting reference documentation
  docs/reference/builtin/classification.md
  docs/reference/builtin/detection.md
  docs/reference/builtin/fr.md
  docs/reference/classification.md
  docs/reference/detection.md
  docs/reference/fr.md
  docs/reference/workflow/extras.md
  docs/reference/workflow/ground_truth.md
  docs/reference/workflow/inference.md
  docs/reference/workflow/test_sample.md
  kolena/workflow/test_run.py
  kolena/workflow/test_sample.py
  kolena/workflow/workflow.py
  mkdocs.yml
Due: generic

Remove unused definitions in kolena.workflow.Workflow
  kolena/workflow/workflow.py
Due: generic

fix yaml
  kolena/_extras/metrics/sklearn.py
Due: none

Cleanliness pass through annotations, assets
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/reference/workflow/asset.md
  kolena/workflow/_helpers.py
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/evaluator_function.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_sample.py
  kolena/workflow/test_suite.py
  mkdocs.yml
Due: generic

marked extra metrics tests and changed docs
  .circleci/continue_config.yml
  README.md
  kolena/_extras/metrics/sklearn.py
  tests/unit/_extras/test_extras_metrics.py
  tests/unit_extras/__init__.py
  tests/unit_extras/_extras/__init__.py
  tests/unit_extras/_extras/test_extras_metrics.py
Due: all

nits
  tests/unit/_extras/test_metrics.py
Due: none

nits
  .circleci/continue_config.yml
Due: all

Continue cleaning up kolena.workflow API docs; start porting kolena.classification into legacy section
  docs/reference/workflow/define_workflow.md
  kolena/classification/model.py
  kolena/classification/test_case.py
  kolena/classification/test_image.py
  kolena/classification/test_run.py
  kolena/classification/test_suite.py
  kolena/workflow/evaluator_function.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/test_run.py
  kolena/workflow/test_sample.py
  mkdocs.yml
Due: classification, generic

Added sklearn as an extra and optional dependancy (#57)
  .circleci/continue_config.yml
  README.md
  kolena/_extras/__init__.py
  kolena/_extras/metrics/__init__.py
  kolena/_extras/metrics/sklearn.py
  pyproject.toml
  tests/unit/_extras/__init__.py
  tests/unit/_extras/test_metrics.py
Due: all

add marker to toml
  pyproject.toml
Due: none

nits
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update pyproject.toml (#60)
  pyproject.toml
Due: none

Document kolena.fr
  docs/reference/built-in/classification.md
  docs/reference/built-in/detection.md
  docs/reference/built-in/fr/datatypes.md
  docs/reference/built-in/fr/model.md
  docs/reference/built-in/fr/test_case.md
  docs/reference/built-in/fr/test_images.md
  docs/reference/built-in/fr/test_run.md
  docs/reference/built-in/fr/test_suite.md
  docs/reference/builtin/classification.md
  docs/reference/builtin/detection.md
  docs/reference/builtin/fr.md
  kolena/fr/datatypes.py
  kolena/fr/model.py
  kolena/fr/test_case.py
  kolena/fr/test_images.py
  kolena/fr/test_run.py
  kolena/fr/test_suite.py
  mkdocs.yml
Due: fr

nits
  kolena/_extras/metrics/sklearn.py
  tests/unit/workflow/metrics/test_plots.py
Due: none

mark tests as metrics
  tests/unit/_experimental/test_plots.py
Due: none

moved import of compute_pr_f1_plots into tests
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
Due: none

Continue fixing up kolena.classification legacy docs
  docs/reference/built-in/classification.md
  docs/reference/workflow/define_workflow.md
  docs/reference/workflow/extras.md
  kolena/classification/__init__.py
  kolena/classification/metadata.py
  kolena/classification/test_config.py
  kolena/classification/test_run.py
  kolena/detection/_internal/metadata.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  mkdocs.yml
Due: classification, detection, generic

nit
  kolena/_experimental/object_detection/__init__.py
Due: none

Simplify built-in kolena.fr setup
  docs/reference/built-in/fr.md
  docs/reference/built-in/fr/datatypes.md
  docs/reference/built-in/fr/model.md
  docs/reference/built-in/fr/test_case.md
  docs/reference/built-in/fr/test_images.md
  docs/reference/built-in/fr/test_run.md
  docs/reference/built-in/fr/test_suite.md
  docs/setup/initialization.md
  docs/setup/installation.md
  mkdocs.yml
Due: none

Add indentation to docs blocks for legibility
  docs/css/mkdocstrings.css
  docs/reference/built-in/classification.md
  kolena/fr/datatypes.py
  kolena/fr/test_run.py
  mkdocs.yml
Due: fr

Add docstrings to various plot definitions; move define_workflow into a public module
  docs/reference/workflow/define_workflow.md
  kolena/workflow/__init__.py
  kolena/workflow/define_workflow.py
  kolena/workflow/evaluator.py
  kolena/workflow/evaluator_function.py
  mkdocs.yml
Due: generic

Improve API reference documentation -- main hangup is still missing inheritance from kolena.{classification,detection}
  kolena/classification/test_image.py
  kolena/detection/_internal/test_case.py
  kolena/workflow/evaluator.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_suite.py
  mkdocs.yml
Due: classification, detection, generic

Dummy diff
  README.md
Due: none

Remove 'experimental.new-installer' line in CI definition
  .circleci/continue_config.yml
  README.md
Due: all

Remove 'experimental.new-installer' from a few more places
  .circleci/continue_config.yml
Due: all

Poke cache
  .circleci/continue_config.yml
Due: all

Update CI definition
  .circleci/continue_config.yml
Due: all

Fix name of '-metrics' extra
  .circleci/continue_config.yml
Due: all

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
