Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

remove empty examples
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_3d/pyproject.toml
Due: none

hotfix 0.77.1 - Pandera pin <0.16 (#149)
  examples/age_estimation/pyproject.toml
  examples/keypoint_detection/pyproject.toml
  examples/text_summarization/pyproject.toml
  pyproject.toml
Due: none

updates
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/object_detection_3d/object_detection_3d/workflow.py
Due: example

Return computation result of TestRun.run() and add dry-run option
  kolena/workflow/test_run.py
Due: generic

Update test-sample metrics for 3d object detection
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/object_detection_3d/object_detection_3d/workflow.py
Due: example

updates
  examples/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/object_detection_3d/object_detection_3d/workflow.py
Due: example

license fix, add inference label set
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
Due: example

fix test
  examples/object_detection_3d/tests/test_object_detection_3d.py
Due: example

Added a working example for uploading activation maps
  examples/activation_map/README.md
  examples/activation_map/activation_map/__init__.py
  examples/activation_map/activation_map/evaluator.py
  examples/activation_map/activation_map/seed.py
  examples/activation_map/activation_map/utils.py
  examples/activation_map/activation_map/workflow.py
  examples/activation_map/pyproject.toml
Due: example

Added missing import
  docs/advanced-usage/uploading-activation-maps.md
Due: none

clean up unrelated changes
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
Due: example

add label sets to each category
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Update 2D OD example (#147)
  docs/assets/images/COCO-transportation.jpeg
  docs/quickstart.md
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
Due: example

Wording updates
  docs/advanced-usage/uploading-activation-maps.md
Due: none

Deployed 4ea8565 with MkDocs version: 1.4.3
  assets/images/COCO-transportation.jpeg
  assets/images/KITTI-pointcloud.png
  metrics/accuracy/index.html
  metrics/average-precision/index.html
  objects.inv
  quickstart/index.html
  reference/legacy/built-in/classification/index.html
  reference/legacy/built-in/detection/index.html
  reference/legacy/built-in/fr/index.html
  reference/workflow/asset/index.html
  reference/workflow/evaluator/index.html
  reference/workflow/metrics/index.html
  reference/workflow/plot/index.html
  reference/workflow/test-sample/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

updates
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/object_detection_3d/object_detection_3d/workflow.py
  examples/object_detection_3d/tests/test_object_detection_3d.py
Due: example

fix import
  examples/object_detection_3d/tests/test_object_detection_3d.py
Due: example

Separated the generation/uploading/running test into three scripts
  examples/activation_map/activation_map/evaluator.py
  examples/activation_map/activation_map/seed.py
  examples/activation_map/activation_map/seed_bitmap_mask.py
  examples/activation_map/activation_map/seed_test_run.py
  examples/activation_map/activation_map/seed_test_suite.py
  examples/activation_map/activation_map/utils.py
Due: example

remove valid_X annotations
  examples/object_detection_3d/object_detection_3d/evaluator.py
Due: example

update 3d od sample metrics (#150)
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/object_detection_3d/object_detection_3d/workflow.py
  examples/object_detection_3d/tests/test_object_detection_3d.py
  kolena/workflow/test_run.py
Due: generic, example

Added a list of popular methods
  docs/advanced-usage/uploading-activation-maps.md
Due: none

uploading activation map guide (#142)
  docs/advanced-usage/index.md
  docs/advanced-usage/uploading-activation-maps.md
  docs/assets/images/activation-map.png
  docs/building-a-workflow.md
  docs/overrides/.icons/kolena/heatmap-16.svg
  docs/overrides/.icons/kolena/heatmap-20.svg
  docs/reference/workflow/visualization.md
  mkdocs.yml
Due: none

nit function names and add unit tests
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_case_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_case_plots.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_sample_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_suite_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_case_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_case_plots.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_sample_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_suite_metrics.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_evaluators.py
  tests/unit/_experimental/object_detection/test_plots.py
  tests/unit/_experimental/object_detection/test_utils.py
Due: none

Add remote evaluator for text-summarization (#144)
  .circleci/continue_config.yml
  examples/text_summarization/docker/build.sh
  examples/text_summarization/docker/text-summarization.dockerfile
  examples/text_summarization/pyproject.toml
  examples/text_summarization/text_summarization/remote_evaluator.py
Due: all, example

nit pip installs
  docs/installing-kolena.md
Due: none

pip install nits
  docs/installing-kolena.md
Due: none

pip install nits (#152)
  docs/installing-kolena.md
Due: none

new integration tests, delete old tests
  kolena/_experimental/object_detection/evaluator_multiclass.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_case_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_case_plots.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_sample_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_suite_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_case_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_case_plots.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_sample_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_suite_metrics.py
Due: none

Add pointcloud sample type
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_test_sample.py
Due: generic

Fix imports
  kolena/workflow/__init__.py
  tests/unit/workflow/test_test_sample.py
Due: generic

plot nits
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/unit/_experimental/object_detection/test_plots.py
Due: none

mark tests with metrics
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

fix imports to avoid sklearn missing issue
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Added PR curve page (not linked yet)
  docs/assets/images/metrics-prcurve-example.png
  docs/assets/images/metrics-prcurve.png
  docs/metrics/average-precision.md
  docs/metrics/pr-curve.md
Due: none

update OD init
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

safely exit integration scripts
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

update tests to include FP thresholds
  .circleci/config.yml
  kolena/_experimental/object_detection/evaluator_multiclass.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: all

undo config changes
  .circleci/config.yml
Due: all
