Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

fix text summ test
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/tests/test_text_summarization.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
Due: example

Polish dataset examples (#443)
  .circleci/continue_config.yml
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/classification/tests/test_binary_classification.py
  examples/dataset/classification/tests/test_classification.py
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/constants.py
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/keypoint_detection/tests/test_keypoint_detection.py
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/question_answering/question_answering/constants.py
  examples/dataset/question_answering/question_answering/prepare_results.py
  examples/dataset/rain_forecast/rain_forecast/constants.py
  examples/dataset/rain_forecast/rain_forecast/metrics.py
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
  examples/dataset/speaker_diarization/README.md
  examples/dataset/speaker_diarization/speaker_diarization/upload_dataset.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/tests/test_speaker_diarization.py
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/pyproject.toml
  examples/dataset/text_summarization/tests/test_text_summarization.py
  examples/dataset/text_summarization/text_summarization/constants.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: all, example

order examples in readme
  examples/dataset/README.md
Due: none

Update site_name in mkdocs.yml
  .github/workflows/legacy_docs.yml
  mkdocs.yml
Due: none

Legacy docs (#416)
  .github/workflows/legacy_docs.yml
  docs/advanced-usage/set-up-natural-language-search.md
  docs/building-a-workflow.md
  docs/core-concepts/index.md
  docs/core-concepts/model.md
  docs/core-concepts/test-suite.md
  docs/core-concepts/workflow.md
  docs/faq/index.md
  docs/index.md
  docs/installing-kolena.md
  docs/quickstart.md
  docs/reference/errors.md
  docs/reference/index.md
  docs/reference/initialize.md
  docs/reference/legacy/index.md
  docs/reference/pre-built/classification.md
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
  docs/reference/workflow/annotation.md
  docs/reference/workflow/asset.md
  docs/reference/workflow/define-workflow.md
  docs/reference/workflow/evaluator.md
  docs/reference/workflow/ground-truth.md
  docs/reference/workflow/index.md
  docs/reference/workflow/inference.md
  docs/reference/workflow/io.md
  docs/reference/workflow/metrics.md
  docs/reference/workflow/model.md
  docs/reference/workflow/plot.md
  docs/reference/workflow/test-case.md
  docs/reference/workflow/test-run.md
  docs/reference/workflow/test-sample.md
  docs/reference/workflow/test-suite.md
  docs/reference/workflow/thresholded-metrics.md
  docs/reference/workflow/visualization.md
  examples/README.md
  mkdocs.yml
Due: none

update header
  examples/dataset/classification/classification/binary/__init__.py
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

migrate metrics
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

binary classification
  examples/dataset/README.md
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/__init__.py
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/pyproject.toml
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/pyproject.toml
Due: example

standardize examples
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/pyproject.toml
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/question_answering/question_answering/upload_dataset.py
Due: example

rename file
  examples/dataset/README.md
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_dataset.py
Due: example

nit
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

remove _experimental from scripts
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

revert changes in binary classification
  examples/dataset/classification/classification/binary/upload_dataset.py
Due: example

docs: consistent wording
  docs/dataset/quickstart.md
  docs/metrics/rouge-n.md
  docs/metrics/vectara-HEM-score.md
  examples/dataset/README.md
Due: none

rebase and update age estimation example
  .circleci/continue_config.yml
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
  examples/dataset/age_estimation/tests/test_age_estimation.py
Due: all, example

Invalidate trunk-doc cloudfront cache upon merge (#445)
  .github/workflows/docs.yml
Due: none

clean up
  examples/dataset/age_estimation/age_estimation/upload_results.py
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/__init__.py
Due: example

fix arg parsing in age estimation
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

docs: consistent wording (#447)
  docs/dataset/quickstart.md
  docs/metrics/rouge-n.md
  docs/metrics/vectara-HEM-score.md
  examples/dataset/README.md
Due: none

added draft for object_detection_2d example
  examples/dataset/object_detection_2d/README.md
  examples/dataset/object_detection_2d/object_detection_2d/__init__.py
  examples/dataset/object_detection_2d/object_detection_2d/commons.py
  examples/dataset/object_detection_2d/object_detection_2d/metrics.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/object_detection_2d/pyproject.toml
Due: example

return stats for upload_results call
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

added prototype/draft for OD2D example
  examples/dataset/object_detection_2d/README.md
  examples/dataset/object_detection_2d/object_detection_2d/__init__.py
  examples/dataset/object_detection_2d/object_detection_2d/commons.py
  examples/dataset/object_detection_2d/object_detection_2d/metrics.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/object_detection_2d/pyproject.toml
Due: example

update cli for age estimation example
  examples/dataset/age_estimation/README.md
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

use released version of kolena for dataset tests
  examples/dataset/age_estimation/pyproject.toml
  examples/dataset/classification/pyproject.toml
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/pyproject.toml
Due: none

edit readme and fix bin class logic
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

remove f stirng
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

Classification Example Updates (#446)
  examples/dataset/README.md
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

shorten log message
  kolena/dataset/evaluation.py
Due: none

style fix
  kolena/dataset/evaluation.py
Due: none

Return number of results inserted and updated when testing on dataset (#392)
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

Migrate age estimation example to datasets (#427)
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/age_estimation/README.md
  examples/dataset/age_estimation/age_estimation/__init__.py
  examples/dataset/age_estimation/age_estimation/constants.py
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
  examples/dataset/age_estimation/pyproject.toml
  examples/dataset/age_estimation/tests/test_age_estimation.py
  examples/dataset/classification/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/pyproject.toml
Due: all, example

docs: example snippet to concat dp and results
  kolena/dataset/evaluation.py
Due: none

chore: format
  kolena/dataset/evaluation.py
Due: none

nit bin class example
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

edits to typing
  examples/dataset/object_detection_2d/object_detection_2d/__init__.py
  examples/dataset/object_detection_2d/object_detection_2d/commons.py
  examples/dataset/object_detection_2d/object_detection_2d/metrics.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
Due: example

chore: mypy _experimental p1
  examples/workflow/classification/classification/workflow.py
  kolena/_experimental/classification/utils.py
  kolena/_experimental/instance_segmentation/workflow.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
Due: example

Improve id fields hashable exception signature (#440)
  kolena/dataset/_common.py
Due: none

chore: address comments
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: none

Add QS to READMEs
  examples/dataset/keypoint_detection/README.md
  examples/dataset/question_answering/README.md
  examples/dataset/text_summarization/README.md
Due: none

Update workflow examples to use consistent arg names
  examples/workflow/age_estimation/age_estimation/seed_test_suite.py
  examples/workflow/age_estimation/tests/test_age_estimation.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
  examples/workflow/classification/scripts/binary/seed_test_suite.py
  examples/workflow/classification/scripts/multiclass/seed_test_suite.py
  examples/workflow/classification/tests/test_binary_classification.py
  examples/workflow/classification/tests/test_multiclass_classification.py
  examples/workflow/face_recognition_11/README.md
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/face_recognition_11/tests/test_face_recognition_11.py
  examples/workflow/object_detection_3d/README.md
  examples/workflow/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/workflow/object_detection_3d/tests/test_object_detection_3d.py
  examples/workflow/question_answering/question_answering/seed_test_suite.py
  examples/workflow/question_answering/tests/test_question_answering.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/speaker_diarization/tests/test_speaker_diarization.py
  examples/workflow/text_summarization/tests/test_text_summarization.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
