Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Updated the s3 path to the new bucket
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
  examples/dataset/rain_forecast/tests/test_rain_forecast.py
Due: example

Revert "Add `--clear-cache` option to CI pytest invocations"
  .circleci/continue_config.yml
Due: all

Revert "Test updating cache"
  .circleci/continue_config.yml
Due: all

Updated contradiction score docs according to the recent finding (#376)
  docs/metrics/contradiction-score.md
Due: none

Add quickstart docs
  docs/dataset/quickstart.md
Due: none

created custom __repr__ function for annotation type
  kolena/workflow/annotation.py
  tests/unit/workflow/test-assets/test__dataframe__to_csv__with__annotations_expected_csv_output.csv
  tests/unit/workflow/test_annotation.py
Due: generic

rename dataset upload script filename
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/question_answering/upload_dataset.py
Due: example

Change names to reflect updated terminology
  docs/dataset/quickstart.md
Due: none

Update KeypointDetection test to use a random suite name
  examples/workflow/keypoint_detection/tests/test_keypoint_detection.py
Due: example

Fix formatting
  examples/workflow/keypoint_detection/tests/test_keypoint_detection.py
Due: example

refactor: hoist annotation, asset and io modules (#395)
  .circleci/continue_config.yml
  docs/reference/annotation.md
  docs/reference/asset.md
  docs/reference/dataset/annotation.md
  docs/reference/dataset/asset.md
  docs/reference/io.md
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  kolena/asset.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
  kolena/io.py
  kolena/workflow/__init__.py
  kolena/workflow/_datatypes.py
  kolena/workflow/_validators.py
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/evaluator.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  kolena/workflow/io.py
  kolena/workflow/plot.py
  kolena/workflow/test_sample.py
  mkdocs.yml
  tests/unit/dataset/test_dataset.py
  tests/unit/test_annotation.py
  tests/unit/test_asset.py
  tests/unit/test_io.py
  tests/unit/workflow/test_annotation.py
  tests/unit/workflow/test_asset.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_ground_truth.py
  tests/unit/workflow/test_io.py
  tests/unit/workflow/test_test_sample.py
  tests/unit/workflow/test_validators.py
Due: generic, all

change bucket
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/tests/test_binary_classification.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/question_answering/question_answering/constants.py
Due: example

Update KeypointDetection test to use a random suite name (#402)
  examples/workflow/keypoint_detection/tests/test_keypoint_detection.py
Due: example

added __repr__ for annotation classes
  kolena/annotation.py
  tests/unit/test_annotation.py
  tests/unit/test_asset/test__dataframe__to_csv__with__annotations_expected_csv_output.csv
Due: all

Update Text Summarization test to use a random suite name
  examples/workflow/text_summarization/tests/test_text_summarization.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
Due: example

Updated to the s3://kolena-public-examples bucket
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/question_answering/constants.py
  examples/dataset/question_answering/question_answering/prepare_results.py
  examples/dataset/question_answering/question_answering/upload_dataset.py
  examples/dataset/question_answering/question_answering/upload_results.py
Due: example

Fix formatting
  examples/workflow/text_summarization/tests/test_text_summarization.py
Due: example

Update Text Summarization test to use a random suite name (#405)
  examples/workflow/text_summarization/tests/test_text_summarization.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
Due: example

Script that computes hallucination metrics (#373)
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/question_answering/question_answering/closed_domain_metrics.py
  examples/dataset/question_answering/question_answering/constants.py
  examples/dataset/question_answering/question_answering/metrics.py
  examples/dataset/question_answering/question_answering/open_domain_metrics.py
  examples/dataset/question_answering/question_answering/prepare_results.py
  examples/dataset/question_answering/question_answering/upload_dataset.py
  examples/dataset/question_answering/question_answering/upload_results.py
Due: example

Add `--clear-cache` option to CI pytest invocations (#401)
  .circleci/continue_config.yml
Due: all

Update "Age Estimation" test to use a random suite name
  examples/workflow/age_estimation/age_estimation/seed_test_suite.py
  examples/workflow/age_estimation/tests/test_age_estimation.py
Due: example

Fix formatting
  examples/workflow/age_estimation/tests/test_age_estimation.py
Due: example

Update circleci integration step to ignore examples folder
  .circleci/continue_config.yml
Due: all

Added prefix to the test dataset name
  examples/dataset/rain_forecast/rain_forecast/constants.py
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
  examples/dataset/rain_forecast/tests/test_rain_forecast.py
Due: example

Update "Age Estimation" test to use a random suite name (#407)
  examples/workflow/age_estimation/age_estimation/seed_test_suite.py
  examples/workflow/age_estimation/tests/test_age_estimation.py
Due: example

Update circleci integration step to ignore examples folder (#408)
  .circleci/continue_config.yml
Due: all

cleaned code without serialization, added annotations
  examples/dataset/README.md
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/tests/test_binary_classification.py
Due: example

docs: expose public functions
  docs/reference/dataset/fetch-dataset-history.md
  docs/reference/dataset/fetch-dataset.md
  docs/reference/dataset/fetch-results.md
  docs/reference/dataset/register-dataset.md
  docs/reference/dataset/test.md
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  mkdocs.yml
Due: none

Update "Classification" test to use a random suite name
  examples/workflow/classification/scripts/binary/seed_test_suite.py
  examples/workflow/classification/scripts/multiclass/seed_test_suite.py
  examples/workflow/classification/tests/conftest.py
  examples/workflow/classification/tests/test_binary_classification.py
  examples/workflow/classification/tests/test_multiclass_classification.py
Due: example

recursively serialize dataobject
  kolena/io.py
  tests/unit/test_io.py
Due: all

Run pre-commit
  examples/workflow/classification/tests/conftest.py
  examples/workflow/classification/tests/test_binary_classification.py
  examples/workflow/classification/tests/test_multiclass_classification.py
Due: example

Update "Speech Recognition" test to use a random suite name
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
Due: example

Run pre-commit
  examples/workflow/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
Due: example

rain forecast tabular data example (#394)
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/rain_forecast/rain_forecast/__init__.py
  examples/dataset/rain_forecast/rain_forecast/constants.py
  examples/dataset/rain_forecast/rain_forecast/metrics.py
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
  examples/dataset/rain_forecast/tests/test_rain_forecast.py
Due: all, example

Binary classification example for dataset (#377)
  examples/dataset/README.md
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/__init__.py
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/pyproject.toml
  examples/dataset/classification/tests/test_binary_classification.py
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/tests/test_keypoint_detection.py
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/question_answering/tests/test_question_answering.py
Due: example

Update "Speech Recognition" test to use a random suite name (#412)
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
Due: example

randomize object_detection_3d test name
  examples/workflow/object_detection_3d/tests/test_object_detection_3d.py
Due: example

randomize object_detection_3d test name (#413)
  examples/workflow/object_detection_3d/tests/test_object_detection_3d.py
Due: example

Split out advanced usage
  docs/advanced-usage/index.md
  docs/workflow/advanced-usage/index.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
  docs/workflow/advanced-usage/packaging-for-automated-evaluation.md
  docs/workflow/advanced-usage/set-up-natural-language-search.md
  docs/workflow/advanced-usage/uploading-activation-maps.md
  mkdocs.yml
Due: none

Fix random prefix flipping between tests in same module
  examples/workflow/classification/tests/conftest.py
  examples/workflow/classification/tests/test_binary_classification.py
  examples/workflow/classification/tests/test_multiclass_classification.py
Due: example
