Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Fix incorrect results from ordering difference (#438)
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/speaker_diarization/utils.py
Due: example

Add content for Datasets index page
  docs/dataset/index.md
Due: none

Flesh out Datasets: Core Concepts index page
  docs/dataset/core-concepts/index.md
Due: none

Add quality standards guide to speaker diarization
  examples/dataset/speaker_diarization/README.md
Due: none

Improve id fields hashable exception signature
  kolena/dataset/common.py
Due: none

Add Kolena Datasets blurb for all top level Kolena Workflows pages
  docs/workflow/building-a-workflow.md
  docs/workflow/core-concepts/index.md
  docs/workflow/index.md
  docs/workflow/quickstart.md
Due: none

Flesh out Kolena Workflows index page
  docs/workflow/index.md
Due: none

Remove extra bolding from card level links to dataset and quality standard
  docs/dataset/core-concepts/index.md
  docs/dataset/index.md
Due: none

Remove extra divider on dataset and workflow index pages
  docs/dataset/index.md
  docs/workflow/index.md
Due: none

Make workflow index blurb less awkward
  docs/workflow/index.md
Due: none

Added Quality Standards guide on README.md (#434)
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/rain_forecast/metrics.py
Due: example

Flesh out page for Quality Standard
  docs/dataset/core-concepts/quality-standard.md
Due: none

Add quality standards guide to speaker diarization (#439)
  examples/dataset/speaker_diarization/README.md
Due: none

Add docs for previously empty pages (#441)
  docs/dataset/core-concepts/index.md
  docs/dataset/core-concepts/quality-standard.md
  docs/dataset/index.md
  docs/workflow/building-a-workflow.md
  docs/workflow/core-concepts/index.md
  docs/workflow/index.md
  docs/workflow/quickstart.md
Due: none

Remove workflow reference from datasets quickstart
  docs/dataset/quickstart.md
Due: none

Replace quotes in quickstart with backticks
  docs/dataset/quickstart.md
Due: none

clean classification example
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
Due: example

Dataset quickstart docs cleanup (#442)
  docs/dataset/quickstart.md
Due: none

clean keypoint example
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/constants.py
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/keypoint_detection/tests/test_keypoint_detection.py
Due: example

nits to QA example
  examples/dataset/question_answering/README.md
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/question_answering/question_answering/prepare_results.py
Due: example

nits to speaker_diarization example
  examples/dataset/speaker_diarization/README.md
  examples/dataset/speaker_diarization/speaker_diarization/upload_dataset.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/tests/test_speaker_diarization.py
Due: example

nit rain_forecast
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
Due: example

nit text summ
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

Use kwarg-only syntax for kolena.dataset functions
  kolena/dataset/_common.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  tests/unit/dataset/test_common.py
  tests/unit/dataset/test_dataset.py
Due: none

add all examples to CI tests
  .circleci/continue_config.yml
Due: all

remove QA tests, fix others
  .circleci/continue_config.yml
  examples/dataset/classification/tests/test_binary_classification.py
  examples/dataset/classification/tests/test_multiclass_classification.py
  examples/dataset/keypoint_detection/tests/test_keypoint_detection.py
Due: all, example

Rename following discussion
  docs/reference/dataset/fetch-dataset-history.md
  docs/reference/dataset/fetch-dataset.md
  docs/reference/dataset/fetch-results.md
  docs/reference/dataset/index.md
  docs/reference/dataset/register-dataset.md
  docs/reference/dataset/upload-results.md
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/question_answering/question_answering/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  mkdocs.yml
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/test_initialize.py
Due: example

Continue cleanup after rename
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
Due: none

Fix unit tests
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

Update docs
  docs/faq/index.md
  kolena/dataset/dataset.py
Due: none

Update docs
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: none

Fix tests
  docs/dataset/core-concepts/quality-standard.md
  mkdocs.yml
  tests/integration/dataset/test_dataset.py
Due: none

Touch up `kolena.dataset` API in preparation for release (#444)
  docs/dataset/core-concepts/quality-standard.md
  docs/faq/index.md
  docs/reference/dataset/fetch-dataset-history.md
  docs/reference/dataset/fetch-dataset.md
  docs/reference/dataset/fetch-results.md
  docs/reference/dataset/index.md
  docs/reference/dataset/register-dataset.md
  docs/reference/dataset/upload-results.md
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/question_answering/question_answering/upload_dataset.py
  examples/dataset/rain_forecast/rain_forecast/upload_dataset.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
  kolena/dataset/__init__.py
  kolena/dataset/_common.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  mkdocs.yml
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/dataset/test_common.py
  tests/unit/dataset/test_dataset.py
  tests/unit/test_initialize.py
Due: example

fix classification tests
  .circleci/continue_config.yml
  examples/dataset/classification/tests/test_binary_classification.py
Due: all, example

combine tests
  examples/dataset/classification/tests/test_classification.py
Due: example

Invalidate trunk-doc cloudfront cache upon merge
  .github/workflows/docs.yml
Due: none

fix id fields
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
Due: example

nit
  examples/dataset/classification/tests/test_multiclass_classification.py
Due: example

update vocab in READMEs
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/keypoint_detection/README.md
  examples/dataset/question_answering/README.md
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
Due: example

fix text summarization torch
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/pyproject.toml
  examples/dataset/text_summarization/text_summarization/constants.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example
