Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Add a `pip install kolena` line to README
  README.md
Due: none

Use docs.kolena.io link for README banner image
  README.md
  docs/assets/images/kolena-banner.png
Due: none

Update docs landing page badges
  docs/index.md
Due: none

Replaced precision and recall images (#131)
  docs/assets/images/metrics-precision-dark.svg
  docs/assets/images/metrics-precision-light.svg
  docs/assets/images/metrics-precision-recall.png
  docs/assets/images/metrics-recall-dark.svg
  docs/assets/images/metrics-recall-light.svg
  docs/metrics/precision.md
  docs/metrics/recall.md
Due: none

Update README (#132)
  README.md
  docs/assets/images/kolena-banner.png
  docs/index.md
Due: none

colorization util function to help uploading activation map easily
  kolena/workflow/visualization/__init__.py
  kolena/workflow/visualization/_activation_map.py
  tests/unit/workflow/visualization/__init__.py
  tests/unit/workflow/visualization/test_activation_map.py
Due: generic

Added the function header
  kolena/workflow/visualization/_activation_map.py
Due: generic

check for all np.float types instead of just a subset of it
  kolena/workflow/visualization/_activation_map.py
  tests/unit/workflow/visualization/test_activation_map.py
Due: generic

Add another precision float type test case
  tests/unit/workflow/visualization/test_activation_map.py
Due: none

Dropped types in the function header
  kolena/workflow/visualization/_activation_map.py
Due: generic

vectorized colorization functions
  kolena/workflow/visualization/_activation_map.py
Due: generic

replaced the const MAX_UINT8 with numpy array info max
  kolena/workflow/visualization/_activation_map.py
Due: generic

Moved fade_low_activation flag to Colormap class and expose Colormap to the main function
  kolena/workflow/visualization/__init__.py
  kolena/workflow/visualization/_activation_map.py
  tests/unit/workflow/visualization/test_activation_map.py
Due: generic

colorization util function to help activation map uploading (#133)
  kolena/workflow/visualization/__init__.py
  kolena/workflow/visualization/_activation_map.py
  tests/unit/workflow/visualization/__init__.py
  tests/unit/workflow/visualization/test_activation_map.py
Due: generic

Add pointcloud sample type
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_test_sample.py
Due: generic

Fix imports
  kolena/workflow/__init__.py
  tests/unit/workflow/test_test_sample.py
Due: generic

change from POINTCLOUD to POINT_CLOUD
  kolena/workflow/test_sample.py
Due: generic

simplify redundant tests, fixed missing infs
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_case_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_case_plots.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_sample_metrics.py
  tests/unit/_experimental/object_detection/test_utils.py
Due: none

Addressed PR comments
  docs/metrics/average-precision.md
Due: none

Metrics Glossary: average precision (first draft) (#123)
  docs/assets/images/metrics-ap-ir-example.png
  docs/assets/images/metrics-ap-limitation2.png
  docs/assets/images/metrics-ap-limitation5.png
  docs/assets/images/metrics-ap-od-example.png
  docs/assets/images/metrics-ap-od-pr-11.png
  docs/assets/images/metrics-ap-od-pr-interpolation.png
  docs/assets/images/metrics-ap-od-pr.png
  docs/metrics/average-precision.md
Due: none

AP limitations touch up
  docs/metrics/average-precision.md
Due: none

add y-intercept to pr curves without domain dups
  kolena/_experimental/object_detection/utils.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_test_case_plots.py
  tests/unit/_experimental/object_detection/test_plots.py
Due: none

Flip BGR to RGB
  kolena/workflow/visualization/_activation_map.py
  tests/unit/workflow/visualization/test_activation_map.py
Due: generic

Flip BGR to RGB (#137)
  kolena/workflow/visualization/_activation_map.py
  tests/unit/workflow/visualization/test_activation_map.py
Due: generic

KITTI 3D object detection example
  .circleci/continue_config.yml
  examples/README.md
  examples/object_detection_3d/README.md
  examples/object_detection_3d/object_detection_3d/__init__.py
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/object_detection_3d/object_detection_3d/prepare_inference_results.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/utils.py
  examples/object_detection_3d/object_detection_3d/vendored/__init__.py
  examples/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/object_detection_3d/object_detection_3d/vendored/rotate_iou.py
  examples/object_detection_3d/object_detection_3d/workflow.py
  examples/object_detection_3d/pyproject.toml
  examples/object_detection_3d/tests/test_object_detection_3d.py
Due: all, example

KITTI 3D object detection example
  examples/object_detection_3d/object_detection_3d/kitti_eval.py
  examples/object_detection_3d/object_detection_3d/rotate_iou.py
Due: example

temp reference
  examples/object_detection_3d/object_detection_3d/preprocess.py
Due: example

update temp code
  examples/object_detection_3d/object_detection_3d/preprocess.py
Due: example

fix argument usage
  examples/object_detection_3d/object_detection_3d/prepare_inference_results.py
Due: example

Deployed 5ae431d with MkDocs version: 1.4.3
  assets/images/metrics-ap-ir-example.png
  assets/images/metrics-ap-limitation2.png
  assets/images/metrics-ap-limitation5.png
  assets/images/metrics-ap-od-example.png
  assets/images/metrics-ap-od-pr-11.png
  assets/images/metrics-ap-od-pr-interpolation.png
  assets/images/metrics-ap-od-pr.png
  assets/images/social/metrics/average-precision.png
  metrics/average-precision/index.html
  reference/legacy/built-in/classification/index.html
  reference/legacy/built-in/detection/index.html
  reference/legacy/built-in/fr/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

fix incorrect pytest marker
  examples/object_detection_3d/tests/test_object_detection_3d.py
Due: example

restructure
  examples/object_detection_3d/README.md
  examples/object_detection_3d/object_detection_3d/prepare_inference_results.py
  examples/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/object_detection_3d/object_detection_3d/preprocess.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/utils.py
  examples/object_detection_3d/object_detection_3d/workflow.py
  examples/object_detection_3d/pyproject.toml
  examples/object_detection_3d/tests/test_object_detection_3d.py
Due: example

minor fix on README
  examples/object_detection_3d/README.md
Due: none

clean up dependencies
  examples/object_detection_3d/pyproject.toml
Due: none

straightforward utils and tests
  kolena/_experimental/classification/__init__.py
  kolena/_experimental/classification/utils.py
  kolena/_experimental/classification/workflow.py
  tests/unit/_experimental/classification/__init__.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

clean up dependencies
  examples/object_detection_3d/object_detection_3d/kitti_eval.py
  examples/object_detection_3d/object_detection_3d/rotate_iou.py
Due: example

KITTI 3D object detection example (#134)
  .circleci/continue_config.yml
  examples/README.md
  examples/object_detection_3d/README.md
  examples/object_detection_3d/object_detection_3d/__init__.py
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/object_detection_3d/object_detection_3d/prepare_inference_results.py
  examples/object_detection_3d/object_detection_3d/prepare_test_samples.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/utils.py
  examples/object_detection_3d/object_detection_3d/vendored/__init__.py
  examples/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/object_detection_3d/object_detection_3d/vendored/rotate_iou.py
  examples/object_detection_3d/object_detection_3d/workflow.py
  examples/object_detection_3d/pyproject.toml
  examples/object_detection_3d/tests/test_object_detection_3d.py
Due: all, example

Added a util function to create a png in-memory image
  kolena/workflow/visualization/__init__.py
  kolena/workflow/visualization/_utils.py
  tests/unit/workflow/visualization/data/rgba.png
  tests/unit/workflow/visualization/test_utils.py
Due: generic

Add 3d object detection example to docs
  docs/quickstart.md
Due: none
