Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

updated logic for plots
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

Inference and evaluation for dataset
  kolena/_api/v2/evaluation.py
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_experimental/dataset/common.py
  kolena/workflow/test_run.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: generic, all

export helper functions
  kolena/_experimental/dataset/__init__.py
Due: none

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

metrics glossary: ROC curve (#234)
  docs/assets/images/metrics-roccurve-example-dark.png
  docs/assets/images/metrics-roccurve-example-light.png
  docs/assets/images/metrics-roccurve-example-multiclass-dark.png
  docs/assets/images/metrics-roccurve-example-multiclass-light.png
  docs/metrics/roc-curve.md
Due: none

Update bleu.md
  docs/metrics/bleu.md
Due: none

Update bertscore.md
  docs/metrics/bertscore.md
Due: none

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Updated stratifications in semantic segmentation example
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/constants.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Updated stratifications in semantic segmentation example (#246)
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/constants.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Dataset APIs - data ingestion (#201)
  kolena/_api/v2/__init__.py
  kolena/_api/v2/dataset.py
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/_dataset.py
  kolena/_utils/batched_load.py
  kolena/_utils/endpoints.py
  kolena/_utils/krequests.py
  kolena/_utils/krequests_v2.py
  kolena/_utils/state.py
  kolena/workflow/_datatypes.py
  tests/integration/_experimental/dataset/__init__.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/__init__.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: generic, all

Added tables to the example samples
  docs/metrics/rouge.md
Due: none

New shorter example
  docs/metrics/bleu.md
Due: none

Fixes all comments
  docs/metrics/rouge.md
Due: none

Limit the images that have the commercial use license
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
Due: example

Updated the README file with the right # of samples
  examples/semantic_segmentation/README.md
Due: none

Deployed c5d63e2 with MkDocs version: 1.5.3
  assets/images/metrics-roccurve-example-dark.png
  assets/images/metrics-roccurve-example-light.png
  assets/images/metrics-roccurve-example-multiclass-dark.png
  assets/images/metrics-roccurve-example-multiclass-light.png
  assets/images/social/metrics/roc-curve.png
  metrics/roc-curve/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add search embeddings extraction as part of the age_estimation workflow
  examples/age_estimation/README.md
  examples/age_estimation/local_packages/.gitignore
  examples/age_estimation/pyproject.toml
  examples/age_estimation/search/__init__.py
  examples/age_estimation/search/extract_embeddings.py
Due: example

Move search embeddings example to its own directory
  examples/age_estimation/README.md
  examples/search_embeddings/README.md
  examples/search_embeddings/local_packages/.gitignore
  examples/search_embeddings/pyproject.toml
  examples/search_embeddings/search/__init__.py
  examples/search_embeddings/search/extract_embeddings.py
Due: example

update to eval logic
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/pyproject.toml
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

fixed plot logic
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

formatting fix
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/pyproject.toml
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Addresses all comments
  docs/metrics/meteor.md
Due: none

Explain overlap and penalty before definition
  docs/metrics/bleu.md
Due: none

Change title to BLEU
  docs/metrics/bleu.md
Due: none

update
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Remove link to BERTScore
  docs/metrics/bleu.md
Due: none

Replace w/ em-dashes
  docs/metrics/bertscore.md
Due: none

BLEU metrics doc (#237)
  docs/assets/images/bleu-judgement.png
  docs/metrics/bleu.md
Due: none

ROUGE metrics doc (#243)
  docs/metrics/rouge.md
Due: none

Changes to address the comments
  docs/metrics/bertscore.md
Due: none

BERT metrics doc
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/metrics/bertscore.md
Due: none

Add bertscore reference to BLEU
  docs/metrics/bleu.md
Due: none

semantic segmentation example: commercial use license + recall fix (#247)
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
Due: example

Updated example for METEOR
  docs/metrics/meteor.md
Due: none

update: clear
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_evaluator.py
Due: example

Change BERT -> BERTScore
  docs/metrics/meteor.md
Due: none
