Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

using importorskip
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Example for adaptive colors
  docs/assets/css/theme.css
  docs/metrics/pr-curve.md
Due: none

Don't use 'md' in class name
  docs/assets/css/theme.css
  docs/metrics/pr-curve.md
Due: none

add experimental group to ci script
  .circleci/config.yml
  .circleci/continue_config.yml
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: all

run _experimental as workflow
  .circleci/config.yml
  .circleci/continue_config.yml
  tests/integration/_experimental/object_detection/test_workflow.py
Due: all

add histogram tests and evaluator
  kolena/_experimental/classification/__init__.py
  kolena/_experimental/classification/multiclass_evaluator.py
  kolena/_experimental/classification/seed_test_suite.py
  kolena/_experimental/classification/test_run.py
  kolena/_experimental/classification/utils.py
  kolena/_experimental/classification/workflow.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

use importorskip for test imports
  tests/unit/_experimental/classification/test_utils.py
Due: none

nit
  kolena/_experimental/object_detection/evaluator_multiclass.py
Due: none

nits
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

remove prints
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/unit/_experimental/object_detection/test_evaluators.py
  tests/unit/_experimental/object_detection/test_plots.py
Due: none

add confusion matrix tests
  kolena/_experimental/classification/utils.py
  kolena/_experimental/classification/workflow.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

clarify test
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

rename
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/object_detection/test_plots.py
Due: none

comment todos
  kolena/_experimental/classification/seed_test_suite.py
  kolena/_experimental/classification/utils.py
  kolena/_experimental/classification/workflow.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Add pointcloud sample type (#135)
  kolena/workflow/__init__.py
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_test_sample.py
Due: generic

add reason to importorskip
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

roc curve tests
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

nit pip install error
  kolena/_extras/metrics/sklearn.py
Due: none

Added an example for multiclass
  docs/assets/css/theme.css
  docs/assets/images/metrics-prcurve-example-multiclass.png
  docs/metrics/pr-curve.md
Due: none

Added utils for classification
  kolena/_experimental/classification/__init__.py
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/__init__.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Added utils for classification (#155)
  kolena/_experimental/classification/__init__.py
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/__init__.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Add base doc files for cloud integrations
  docs/cloud-integrations/aws.md
  docs/cloud-integrations/gcp.md
Due: none

Added ROC curve util function
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Add simple aws connection instructions
  docs/cloud-integrations/aws.md
Due: none

Use parametrize instead
  tests/unit/_experimental/classification/test_utils.py
Due: none

add initial gcp instructions
  docs/cloud-integrations/gcp.md
Due: none

addressed nit comment
  docs/metrics/pr-curve.md
Due: none

Added additional check for recalls and removed optional average precision parameter
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Polished function header
  kolena/_experimental/classification/utils.py
Due: none

Added PR curve page (not linked yet) (#153)
  docs/assets/css/theme.css
  docs/assets/images/metrics-prcurve-example-multiclass.png
  docs/assets/images/metrics-prcurve-example.png
  docs/assets/images/metrics-prcurve.png
  docs/metrics/average-precision.md
  docs/metrics/pr-curve.md
Due: none

Add prebuilt OD multiclass tests (#128)
  .circleci/config.yml
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_extras/metrics/sklearn.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_case_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_case_plots.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_sample_metrics.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_test_suite_metrics.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_evaluators.py
  tests/unit/_experimental/object_detection/test_plots.py
  tests/unit/_experimental/object_detection/test_utils.py
Due: all

Added ROC curve util function (#156)
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Added a type cast for get_histogram_range
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Added a type cast for get_histogram_range (#158)
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Share 2D OD example with stratification by bbox area
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  kolena/workflow/annotation.py
Due: generic, example

Implement area function in seed script for now
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  kolena/workflow/annotation.py
Due: generic, example

Share 2D OD example with stratification by bbox area (#159)
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

Add ignored field for inference and metrics in builtin 2D OD
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: example

Added a multiclass classification example on CIFAR-10 dataset
  .circleci/continue_config.yml
  examples/classification/README.md
  examples/classification/classification/__init__.py
  examples/classification/classification/evaluator_multiclass.py
  examples/classification/classification/workflow.py
  examples/classification/pyproject.toml
  examples/classification/scripts/multiclass/__init__.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/classification/tests/test_classification.py
Due: all, example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
