Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Read eval config from config json file
  examples/dataset/face_recognition_11/face_recognition_11/constants.py
  examples/dataset/face_recognition_11/face_recognition_11/upload_results.py
Due: example

feat: Support unlabeled object annotations via `upload_object_detection_results` (#521)
  kolena/_experimental/instance_segmentation/__init__.py
  kolena/_experimental/instance_segmentation/dataset.py
  kolena/_experimental/object_detection/dataset.py
  kolena/annotation.py
  kolena/metrics/__init__.py
  kolena/metrics/_geometry.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: all

Updated file locators on age-estimation example
  examples/dataset/age_estimation/age_estimation/constants.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

Updated WORKFLOW to TASK
  examples/dataset/face_recognition_11/face_recognition_11/constants.py
  examples/dataset/face_recognition_11/face_recognition_11/upload_dataset.py
  examples/dataset/face_recognition_11/face_recognition_11/upload_results.py
Due: example

Changed the default dataset name
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

Use raw results in coco json results format
  examples/dataset/person_detection/person_detection/constants.py
  examples/dataset/person_detection/person_detection/upload_dataset.py
  examples/dataset/person_detection/person_detection/upload_results.py
Due: example

Updated file locators on age-estimation example (#529)
  examples/dataset/age_estimation/age_estimation/constants.py
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

Remove unused dependencies
  examples/dataset/person_detection/pyproject.toml
Due: none

Add a little more flavor to the README
  examples/dataset/person_detection/README.md
Due: none

Fix tests
  examples/dataset/person_detection/tests/test_person_detection.py
Due: example

Enable tests on person detection
  .circleci/continue_config.yml
Due: all

Make smoke test for person detection smaller (to run quickly)
  examples/dataset/person_detection/person_detection/upload_dataset.py
  examples/dataset/person_detection/person_detection/upload_results.py
  examples/dataset/person_detection/tests/test_person_detection.py
Due: example

coco-2014-val Person Detection workflow (#506)
  .circleci/continue_config.yml
  examples/dataset/person_detection/README.md
  examples/dataset/person_detection/person_detection/__init__.py
  examples/dataset/person_detection/person_detection/constants.py
  examples/dataset/person_detection/person_detection/upload_dataset.py
  examples/dataset/person_detection/person_detection/upload_results.py
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/person_detection/tests/test_person_detection.py
Due: all, example

feat: Attempt to initialize client if uninitialized
  kolena/_utils/state.py
Due: all

Update `assert_initialized` -> `initialized`
  kolena/_utils/state.py
  kolena/initialize.py
Due: all

Update docstring; remove cruft
  kolena/_utils/state.py
  kolena/errors.py
  kolena/workflow/evaluator_function.py
  tests/unit/test_initialize.py
Due: generic, all

Readd function to check initialization status
  kolena/_utils/state.py
  kolena/workflow/evaluator_function.py
Due: generic, all

Add unit test
  tests/unit/test_initialize.py
Due: none

chore: upgrade docker version
  .circleci/continue_config.yml
Due: all

chore: upgrade docker version (#531)
  .circleci/continue_config.yml
Due: all

Drop `verbose=True` kw_arg from auto initialize call
  kolena/_utils/state.py
Due: all

update object detection test with fixed inference scores
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

feat: Attempt to initialize client if uninitialized (#530)
  kolena/_utils/state.py
  kolena/errors.py
  kolena/initialize.py
  kolena/workflow/evaluator_function.py
  tests/unit/test_initialize.py
Due: generic, all

update object detection test with fixed inference scores (#532)
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

Update docs to account for auto-initialization
  docs/installing-kolena.md
  kolena/initialize.py
Due: all

Update wording
  docs/installing-kolena.md
Due: none

Update wording
  docs/installing-kolena.md
  kolena/initialize.py
Due: all

Update initialize blurb
  docs/installing-kolena.md
Due: none

chore: infer explicit id
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

chore: python 3.8
  tests/unit/dataset/test_dataset.py
Due: none

chore: remove redundant tests
  tests/unit/dataset/test_dataset.py
Due: none

chore: infer explicit id (#534)
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

Update docs to account for auto-initialization (#533)
  docs/installing-kolena.md
  kolena/initialize.py
Due: all

update readme
  examples/dataset/image_retrieval_by_text/README.md
Due: none

created image retrieval by text dataset example
  examples/dataset/image_retrieval_by_text/README.md
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/__init__.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/constants.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_dataset.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_results.py
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/image_retrieval_by_text/tests/test_image_retrieval_by_text.py
Due: example

update python version
  examples/dataset/image_retrieval_by_text/pyproject.toml
Due: none

python supported version and typos
  examples/dataset/image_retrieval_by_text/README.md
  examples/dataset/image_retrieval_by_text/pyproject.toml
Due: none

added an option to allow users to run inference locally
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/image_retrieval_by_text/README.md
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/constants.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_dataset.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_results.py
  examples/dataset/image_retrieval_by_text/pyproject.toml
Due: all, example

minor improvement and fix tests
  .circleci/continue_config.yml
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/constants.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_results.py
Due: all, example
