Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Link numpy definitions in API docs
  kolena/workflow/test_run.py
  mkdocs.yml
Due: generic

nits
  examples/question_answering/question_answering/workflow.py
Due: example

nits
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/utils.py
Due: example

Add 'extra' dict to Curve
  kolena/workflow/plot.py
  tests/unit/workflow/test_plot.py
Due: generic

code comments
  examples/question_answering/question_answering/seed_test_suite.py
  examples/question_answering/question_answering/workflow.py
Due: example

Add docstring
  kolena/workflow/plot.py
Due: generic

Specify a few more invalid Curve cases
  tests/unit/workflow/test_plot.py
Due: none

Support additional series in Curve (#205)
  kolena/workflow/plot.py
  tests/unit/workflow/test_plot.py
Due: generic

Add extra threshold information to pre-built object detection curves
  kolena/_experimental/object_detection/utils.py
Due: none

updates to metrics and changed configuration
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: example

nits
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
Due: none

nits
  kolena/_experimental/object_detection/workflow.py
Due: none

Update quickstart.md
  docs/quickstart.md
Due: none

fix typo
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

fix typo (#209)
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

nit
  examples/object_detection_2d/pyproject.toml
Due: none

update plot tests
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/object_detection/test_plots.py
Due: none

nits
  tests/unit/_experimental/object_detection/test_plots.py
Due: none

Semantic Textual Similarity Example (#200)
  docs/assets/images/STS-benchmark.jpg
  docs/overrides/.icons/kolena/comparison-16.svg
  docs/overrides/.icons/kolena/comparison-20.svg
  docs/quickstart.md
  examples/README.md
  examples/semantic_textual_similarity/README.md
  examples/semantic_textual_similarity/pyproject.toml
  examples/semantic_textual_similarity/semantic_textual_similarity/__init__.py
  examples/semantic_textual_similarity/semantic_textual_similarity/evaluator.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/semantic_textual_similarity/semantic_textual_similarity/workflow.py
  examples/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: example

update prebuilt api in tests, remove label lists
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_configurations.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

add micro metrics to unit tests
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Add extra threshold information to pre-built object detection curves (#207)
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/object_detection/test_plots.py
Due: none

Link numpy definitions in API docs (#204)
  kolena/workflow/test_run.py
  mkdocs.yml
Due: generic

dummy change
  kolena/_api/v1/core.py
Due: all

update pyproject.xml to invalidate bad cache
  kolena/_api/v1/core.py
  pyproject.toml
Due: all

updates tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

try literal import
  kolena/_experimental/object_detection/workflow.py
Due: none

reflect re-orged aws docs
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

provide links to aws pages
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

lowercase role
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

Extra info to compute PR on demand
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Touch up wording
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

Standardize
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
  docs/advanced-usage/connecting-cloud-storage/google-cloud-storage.md
  docs/advanced-usage/connecting-cloud-storage/http-basic.md
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  pyproject.toml
Due: none

Touch up advanced usage index
  docs/advanced-usage/index.md
Due: none

chore: display poetry env info
  .circleci/continue_config.yml
Due: all

chore: more debug info
  .circleci/continue_config.yml
Due: all

more python versions
  examples/question_answering/pyproject.toml
Due: none

list instructions in numbered lists
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

remove two fields which will be removed from our web form
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
