Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Fix seed_test_suite scripts
  examples/workflow/age_estimation/age_estimation/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/classification/scripts/binary/seed_test_suite.py
  examples/workflow/classification/scripts/multiclass/seed_test_suite.py
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
Due: example

QS guides in READMEs (#451)
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/keypoint_detection/README.md
  examples/dataset/question_answering/README.md
  examples/dataset/text_summarization/README.md
Due: example

added additional models
  examples/dataset/object_detection_2d/README.md
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/objection_detection_2d/README.md
  examples/dataset/objection_detection_2d/object_detection_2d/__init__.py
  examples/dataset/objection_detection_2d/object_detection_2d/constants.py
  examples/dataset/objection_detection_2d/object_detection_2d/data_loader.py
  examples/dataset/objection_detection_2d/object_detection_2d/metrics.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/objection_detection_2d/pyproject.toml
Due: example

restructured data-loading and separated metadata into columns
  examples/dataset/objection_detection_2d/object_detection_2d/data_loader.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_results.py
Due: example

added tests and README.md
  examples/dataset/objection_detection_2d/README.md
  examples/dataset/objection_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_results.py
  examples/dataset/objection_detection_2d/tests/test_object_detection_2d.py
Due: example

[Examples] Use kebab case for command line arguments
  examples/workflow/age_estimation/age_estimation/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/README.md
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/classification/README.md
  examples/workflow/classification/scripts/binary/seed_test_run.py
  examples/workflow/classification/scripts/binary/seed_test_suite.py
  examples/workflow/classification/scripts/multiclass/seed_test_run.py
  examples/workflow/classification/scripts/multiclass/seed_test_suite.py
  examples/workflow/face_recognition_11/README.md
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/object_detection_2d/README.md
  examples/workflow/object_detection_3d/README.md
  examples/workflow/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/workflow/question_answering/README.md
  examples/workflow/question_answering/question_answering/seed_test_suite.py
  examples/workflow/semantic_segmentation/README.md
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_activation_map.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/README.md
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
Due: example

chore: format
  docs/dataset/core-concepts/dataset.md
Due: none

chore: add main blocks
  docs/dataset/core-concepts/dataset.md
Due: none

Revert "chore: add main blocks"
  docs/dataset/core-concepts/dataset.md
Due: none

Revert "chore: format"
  docs/dataset/core-concepts/dataset.md
Due: none

Update workflow examples to use consistent arg names (#452)
  examples/workflow/age_estimation/age_estimation/seed_test_suite.py
  examples/workflow/age_estimation/tests/test_age_estimation.py
  examples/workflow/automatic_speech_recognition/README.md
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
  examples/workflow/classification/README.md
  examples/workflow/classification/scripts/binary/seed_test_run.py
  examples/workflow/classification/scripts/binary/seed_test_suite.py
  examples/workflow/classification/scripts/multiclass/seed_test_run.py
  examples/workflow/classification/scripts/multiclass/seed_test_suite.py
  examples/workflow/classification/tests/test_binary_classification.py
  examples/workflow/classification/tests/test_multiclass_classification.py
  examples/workflow/face_recognition_11/README.md
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/face_recognition_11/tests/test_face_recognition_11.py
  examples/workflow/object_detection_2d/README.md
  examples/workflow/object_detection_3d/README.md
  examples/workflow/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/workflow/object_detection_3d/tests/test_object_detection_3d.py
  examples/workflow/question_answering/README.md
  examples/workflow/question_answering/question_answering/seed_test_suite.py
  examples/workflow/question_answering/tests/test_question_answering.py
  examples/workflow/semantic_segmentation/README.md
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_activation_map.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/README.md
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/speaker_diarization/tests/test_speaker_diarization.py
  examples/workflow/text_summarization/tests/test_text_summarization.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
Due: example

docs: core parts
  docs/dataset/core-concepts/dataset.md
Due: none

updated -added quality standards and used public-examples bucket:
  examples/dataset/objection_detection_2d/README.md
  examples/dataset/objection_detection_2d/object_detection_2d/constants.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_results.py
Due: example

removed unnecessary field
  examples/dataset/objection_detection_2d/object_detection_2d/upload_dataset.py
Due: example

small word change
  examples/dataset/objection_detection_2d/README.md
Due: none

changed function definitions/names for better readability/consistency
  examples/dataset/objection_detection_2d/object_detection_2d/model.py
  examples/dataset/objection_detection_2d/object_detection_2d/upload_results.py
Due: example

chore: address comments
  docs/dataset/core-concepts/dataset.md
Due: none

docs: how to shape a CSV file for ingestion (#453)
  docs/dataset/core-concepts/dataset.md
Due: none

docs: example snippet to concat dp and results (#450)
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: none

Update title of legacy definitions
  docs/reference/legacy/index.md
  mkdocs.yml
Due: none

Update branch use for the git-committers to avoid build issues. Update Github Action name to avoid confusion with the Github Action use to build the non-legacy docs.
  .github/workflows/legacy_docs.yml
Due: none

Update branch use for the git-committers to avoid build issues.
  mkdocs.insiders.yml
Due: none

Address PR comment.
  kolena/workflow/test_run.py
Due: generic

Address PR comments.
  tests/unit/workflow/test_test_run.py
Due: none

chore: handle empty results gracefully
  kolena/dataset/evaluation.py
Due: none

Update legacy docs (#454)
  .github/workflows/legacy_docs.yml
  docs/reference/legacy/index.md
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Thresholded metrics (#344)
  kolena/_api/v1/generic.py
  kolena/workflow/test_run.py
  tests/unit/workflow/test_test_run.py
Due: generic, all

Revert "Thresholded metrics (#344)"
  kolena/_api/v1/generic.py
  kolena/workflow/test_run.py
  tests/unit/workflow/test_test_run.py
Due: generic, all

Fix mypy types
  kolena/workflow/test_run.py
Due: generic

Fix license from a file
  tests/unit/workflow/test_test_run.py
Due: none

Fix mypy types (#457)
  kolena/workflow/test_run.py
  tests/unit/workflow/test_test_run.py
Due: generic

chore: add tests
  tests/integration/dataset/test_evaluation.py
Due: none

ci: simplify and fix the dataset integration tests double trigger
  .circleci/config.yml
  .circleci/continue_config.yml
Due: all

Polished LLM evaluation metrics docs
  docs/metrics/HHEM-score.md
  docs/metrics/consistency-score.md
  docs/metrics/index.md
  docs/metrics/llm-prompt-based-metric.md
  docs/metrics/prompt-based-hallucination-metric.md
  docs/metrics/selfcheck-consistency-score.md
  mkdocs.yml
Due: none

chore: conditional dataset integration tests
  .circleci/continue_config.yml
Due: all

Revert "chore: conditional dataset integration tests"
  .circleci/continue_config.yml
Due: all
