Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Update utils.py
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

FR cleanup - removed time import (#335)
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

Improvement to identification error in Speaker Diarization (#326)
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

Add experimental Instance Segmentation workflow
  kolena/_experimental/instance_segmentation/__init__.py
  kolena/_experimental/instance_segmentation/evaluator.py
  kolena/_experimental/instance_segmentation/evaluator_multiclass.py
  kolena/_experimental/instance_segmentation/evaluator_single_class.py
  kolena/_experimental/instance_segmentation/utils.py
  kolena/_experimental/instance_segmentation/workflow.py
  tests/integration/_experimental/instance_segmentation/__init__.py
  tests/integration/_experimental/instance_segmentation/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/instance_segmentation/test_workflow.py
Due: none

fix doc publish
  .github/workflows/release.yml
Due: none

fix doc publish (#336)
  .github/workflows/release.yml
Due: none

add client code to fetch embedding models
  kolena/_api/v1/generic.py
  kolena/_experimental/search/embeddings.py
Due: all

Add Instance Segmentation Multiclass-Fixed test
  tests/integration/_experimental/instance_segmentation/test_evaluator_multiclass_fixed.py
Due: none

Add Instance Segmentation single-class F1 test
  kolena/_experimental/instance_segmentation/evaluator_multiclass.py
  kolena/_experimental/instance_segmentation/evaluator_single_class.py
  kolena/_experimental/instance_segmentation/workflow.py
  tests/integration/_experimental/instance_segmentation/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/instance_segmentation/test_evaluator_single_class_f1_optimal.py
Due: none

Add Instance Segmentation multiclass F1 test
  tests/integration/_experimental/instance_segmentation/test_evaluator_multiclass_f1_optimal.py
Due: none

Fix formatting
  tests/integration/_experimental/instance_segmentation/test_evaluator_multiclass_f1_optimal.py
Due: none

Fix formatting v2
  tests/integration/_experimental/instance_segmentation/test_evaluator_multiclass_f1_optimal.py
Due: none

Remove Model class attributes that are shadowed
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic

Fix formatting
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic

Add NoOpAuth to ValidationRequest to stop `requests` prioritizing netrc
  kolena/_utils/state.py
Due: all

add smoke tests to audio workflows
  examples/automatic_speech_recognition/test/test_automatic_speech_recognition.py
  examples/speaker_diarization/tests/test_speaker_diarization.py
Due: example

Add NoOpAuth to ValidationRequest to stop `requests` prioritizing netrc (#340)
  kolena/_utils/state.py
Due: all

Disable instant mode
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Lowercase FPR
  docs/metrics/fpr.md
Due: none

Move 'ThresholdedMetrics' into 'Utilities' section of API Reference docs
  mkdocs.yml
Due: none

A few ThresholdedMetrics docs cleanups
  docs/reference/workflow/thresholded-metrics.md
  kolena/_experimental/workflow/thresholded.py
Due: none

Docs: disable instant nav (#342)
  docs/metrics/fpr.md
  docs/reference/workflow/thresholded-metrics.md
  kolena/_experimental/workflow/thresholded.py
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

RAG QA with dataset
  examples/question_answering/question_answering/seed_dataset.py
  examples/question_answering/question_answering/seed_results.py
  examples/rag_qa/pyproject.toml
  examples/rag_qa/rag_qa/seed_dataset.py
  examples/rag_qa/rag_qa/seed_results.py
  kolena/workflow/annotation.py
Due: generic, example

support test-suite/test-case
  examples/rag_qa/rag_qa/constants.py
  examples/rag_qa/rag_qa/data_loader.py
  examples/rag_qa/rag_qa/evaluation_prompts.py
  examples/rag_qa/rag_qa/seed_dataset.py
  examples/rag_qa/rag_qa/seed_results.py
  examples/rag_qa/rag_qa/seed_test_suite.py
  examples/rag_qa/rag_qa/workflow.py
Due: example

naive evaluation
  examples/rag_qa/rag_qa/__init__.py
  examples/rag_qa/rag_qa/data_loader.py
  examples/rag_qa/rag_qa/evaluator.py
  examples/rag_qa/rag_qa/seed_results.py
  examples/rag_qa/rag_qa/seed_test_run.py
  examples/rag_qa/rag_qa/seed_test_suite.py
  examples/rag_qa/rag_qa/utils.py
Due: example

fix typing
  examples/rag_qa/rag_qa/evaluator.py
Due: example

Update continue_config.yml
  .circleci/continue_config.yml
Due: all

Update wer-cer-mer.md
  docs/metrics/wer-cer-mer.md
Due: none

Add upload test sample metrics thresholded API endpoint
  kolena/_api/v1/generic.py
  kolena/workflow/test_run.py
Due: generic, all

Fix types
  kolena/workflow/test_run.py
Due: generic

update imports
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/speaker_diarization/speaker_diarization/evaluator.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

rename test -> tests
  examples/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
Due: example

all comments addressed except color coding
  docs/metrics/index.md
  docs/metrics/wer-cer-mer.md
  mkdocs.yml
Due: none

add option sample_count and annotation
  examples/rag_qa/rag_qa/data_loader.py
  examples/rag_qa/rag_qa/seed_dataset.py
  examples/rag_qa/rag_qa/seed_results.py
  examples/rag_qa/rag_qa/seed_test_run.py
  examples/rag_qa/rag_qa/seed_test_suite.py
Due: example

Add optional `threshold` field to TestSampleMetrics
  kolena/_experimental/instance_segmentation/evaluator_multiclass.py
  kolena/_experimental/instance_segmentation/evaluator_single_class.py
  kolena/_experimental/instance_segmentation/workflow.py
  tests/integration/_experimental/instance_segmentation/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/instance_segmentation/test_evaluator_single_class_fixed.py
Due: none

Add optional `threshold` field to prebuilt OD TestSampleMetrics
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Fix formatting v3
  kolena/_experimental/instance_segmentation/evaluator_single_class.py
  tests/integration/_experimental/instance_segmentation/test_evaluator_single_class_fixed.py
Due: none

Add smoke tests to audio workflows (#341)
  .circleci/continue_config.yml
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
  examples/speaker_diarization/speaker_diarization/evaluator.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
  examples/speaker_diarization/tests/test_speaker_diarization.py
Due: all, example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
