Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Add role definitions to FAQ
  docs/faq/index.md
Due: none

Don't require credentials to access public S3 bucket
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

Don't require credentials to access public S3 bucket in extended example
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
Due: example

Don't require credentials to access public S3 bucket (#345)
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

Add support for composite datasets
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
Due: none

Add unit tests for `add_datatype`
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Update unit test to cover single composite datapoint
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

remove debug log
  kolena/workflow/test_run.py
Due: generic

update url to be consistent with the class name
  kolena/_api/v1/generic.py
Due: all

Addressing the proposed changes and feedback as outlined in the review comments
  kolena/_api/v1/generic.py
  kolena/workflow/test_run.py
Due: generic, all

Revert update `bbox` to `object` to preserve backwards compatability
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Update test_workflow
  tests/integration/_experimental/object_detection/test_workflow.py
Due: none

Update missed unit tests
  tests/unit/_experimental/object_detection/test_configurations.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Update unit test name
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Update missed name updates in `test_polygons`
  tests/unit/_experimental/object_detection/test_polygons.py
Due: none

Fix integration test missing threshold
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

Update language to `bboxes` and pref `Optional` over `Union`
  kolena/_experimental/object_detection/workflow.py
Due: none

Change Prebuilt OD For Polygons (#225)
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/unit/_experimental/object_detection/test_polygons.py
Due: none

Added a question on ability to provide versioning
  docs/faq/index.md
Due: none

Remove support for Python3.7
  .circleci/continue_config.yml
  pyproject.toml
Due: all

Update docs
  docs/installing-kolena.md
Due: none

Adding information on file versioning to FAQ
  docs/faq/index.md
Due: none

Update test_sample.py
  kolena/workflow/test_sample.py
Due: generic

chore: add id_fields for register_dataset
  kolena/_api/v2/dataset.py
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/common.py
Due: all

Moved the question down the FAQ based on feedback
  docs/faq/index.md
Due: none

updating the documentation based on feedback
  kolena/workflow/test_sample.py
Due: generic

Added notes on Amazon S3 bucket configuration
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

Update copy
  kolena/workflow/test_sample.py
Due: generic

Update copy in S3 callout
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
Due: none

Update copy in FAQ
  docs/faq/index.md
Due: none

Update FAQ links
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
  docs/faq/index.md
Due: none

Update documentation for file versioning support (#348)
  kolena/workflow/test_sample.py
Due: generic

Adding information on file versioning to FAQ (#349)
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
  docs/faq/index.md
Due: none

Update composite dataset storage format
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/data.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Update `_format_composite` args
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/data.py
Due: none

Python 3.7 friendly
  kolena/_experimental/dataset/_dataset.py
Due: none

Python 3.8 friendly
  kolena/_experimental/dataset/_dataset.py
Due: none

added unit test for new fn _extract_thresholded_metrics
  kolena/workflow/test_run.py
  tests/unit/workflow/test_test_run.py
Due: generic

Make seperator a constant
  kolena/_experimental/dataset/_dataset.py
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
