Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Fixed file id error
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
Due: example

Update utils.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
Due: example

Speech recognition example integration (#286)
  docs/assets/images/librispeech-workflow-example.png
  docs/overrides/.icons/kolena/audio-workflow-16.svg
  docs/overrides/.icons/kolena/audio-workflow-20.svg
  docs/quickstart.md
  examples/README.md
  examples/automatic_speech_recognition/README.md
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
  examples/automatic_speech_recognition/pyproject.toml
Due: example

Deployed d78707d with MkDocs version: 1.5.3
  advanced-usage/packaging-for-automated-evaluation/index.html
  assets/images/librispeech-workflow-example.png
  building-a-workflow/index.html
  installing-kolena/index.html
  objects.inv
  quickstart/index.html
  reference/initialize/index.html
  reference/legacy/built-in/classification/index.html
  reference/legacy/built-in/detection/index.html
  reference/workflow/evaluator/index.html
  reference/workflow/test-sample/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

add float to mixpanel metadata
  kolena/_api/v1/event_tracking.py
  kolena/_utils/instrumentation.py
Due: all

Clean up broken references
  docs/core-concepts/index.md
  docs/faq/index.md
  docs/reference/index.md
  docs/reference/legacy/index.md
  docs/reference/workflow/io.md
  mkdocs.yml
Due: none

Rename 'ClassificationLabel' to just 'Label', with alias in place for backcompat
  kolena/workflow/annotation.py
Due: generic

Clean up some internal usage of ClassificationLabel
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
  kolena/workflow/annotation.py
Due: generic

Start debugging bad CI
  .circleci/continue_config.yml
Due: all

Skip pytest when there are no files in split
  .circleci/continue_config.yml
Due: all

Run classification integration tests with lower parallelism
  .circleci/continue_config.yml
Due: all

Update usage in tests
  kolena/_experimental/classification/utils.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/workflow/test_test_run.py
  tests/unit/_experimental/classification/test_utils.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Update usage in examples
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
  examples/classification/classification/workflow.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/question_answering/question_answering/workflow.py
Due: example

add all primitive dtypes to mixpanel metadata
  kolena/_api/v1/event_tracking.py
Due: all

Revert changes to examples, which are pinned to released versions
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
  examples/classification/classification/workflow.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/evaluator.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/question_answering/question_answering/workflow.py
Due: example

Update path
  docs/core-concepts/index.md
Due: none

Update mkdocs-material pin
  pyproject.toml
Due: none

Restrict docs dependencies to Python>=3.8 -- supporting EOL 3.7 is a real burden
  pyproject.toml
Due: none

rename event api functions
  kolena/_api/v1/event.py
  kolena/_utils/instrumentation.py
  kolena/initialize.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
Due: generic, all

renamed to rating prediction
  examples/rating_prediction/pyproject.toml
  examples/rating_prediction/rating_prediction/__init__.py
  examples/rating_prediction/rating_prediction/evaluator.py
  examples/rating_prediction/rating_prediction/seed_test_run.py
  examples/rating_prediction/rating_prediction/seed_test_suite.py
  examples/rating_prediction/rating_prediction/utils.py
  examples/rating_prediction/rating_prediction/workflow.py
Due: example

chore: alternative test interface
  kolena/_experimental/dataset/_evaluation.py
Due: none

Update pins
  pyproject.toml
Due: none

chore: add integration tests for the alt interface
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

Addresses Gordon's comments
  docs/metrics/perplexity.md
Due: none

Grammar & Spelling errors
  docs/metrics/perplexity.md
Due: none

Rename 'ClassificationLabel' to 'Label' (#288)
  docs/core-concepts/index.md
  docs/faq/index.md
  docs/reference/index.md
  docs/reference/legacy/index.md
  docs/reference/workflow/io.md
  kolena/_experimental/classification/utils.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
  kolena/workflow/annotation.py
  mkdocs.yml
  pyproject.toml
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/workflow/test_test_run.py
  tests/unit/_experimental/classification/test_utils.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: generic

Bump down parallelism
  .circleci/continue_config.yml
Due: all

Add TimeSegment annotation type
  kolena/workflow/annotation.py
Due: generic

Fix a few broken links
  kolena/workflow/annotation.py
Due: generic

Add additional TimeSegment types
  kolena/workflow/annotation.py
Due: generic

Initial performance improvements
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

Add moved IO doc
  docs/reference/workflow/io.md
Due: none

rename tracking to recording
  kolena/_utils/instrumentation.py
  kolena/initialize.py
Due: all

Remove optional
  docs/reference/workflow/io.md
  kolena/workflow/annotation.py
Due: generic

chore: typo.
  kolena/_experimental/dataset/_evaluation.py
Due: none

update path for event api
  kolena/_api/v1/event.py
Due: all

Add example with group
  kolena/workflow/annotation.py
Due: generic

Remove old pre-built multiclass classification workflow (#206)
  .circleci/continue_config.yml
  kolena/classification/multiclass/__init__.py
  kolena/classification/multiclass/_utils.py
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/test_run.py
  kolena/classification/multiclass/workflow.py
  tests/integration/classification/multiclass/__init__.py
  tests/integration/classification/multiclass/test_workflow.py
  tests/integration/workflow/test_test_suite.py
  tests/unit/classification/multiclass/__init__.py
  tests/unit/classification/multiclass/test_utils.py
Due: classification, all

ignore exceptions in event api
  kolena/_utils/instrumentation.py
Due: all

chore: expose on in test
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
