Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

respond to comments
  kolena/_experimental/dataset/_evaluation.py
Due: none

reuse validate_dataframe_ids
  kolena/_experimental/dataset/_evaluation.py
Due: none

remove on field when ingest result and pass in dataset id when doing upload_result, allow chunk processing
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: all

fixed tests
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: all

remove on field when ingest result and pass in dataset id when doing upload_result, allow chunk processing (#357)
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: all

lint
  docs/assets/images/selfcheck_qa_prompt.png
  docs/metrics/gpt4-prompt-eng.md
  docs/metrics/index.md
  docs/metrics/selfcheckgpt.md
  mkdocs.yml
Due: none

add nobr
  docs/metrics/contradiction-score.md
Due: none

nit
  docs/metrics/contradiction-score.md
Due: none

Updating the missing link
  CONTRIBUTING.md
Due: none

Docs: vectara + NLI hallucination metric (#360)
  docs/metrics/contradiction-score.md
  docs/metrics/fpr.md
  docs/metrics/index.md
  docs/metrics/specificity.md
  docs/metrics/vectara-HEM-score.md
  mkdocs.yml
Due: none

removing the anchor
  CONTRIBUTING.md
Due: none

update link, add workaround (#364)
  CONTRIBUTING.md
Due: none

add fetch_commits
  kolena/_api/v2/dataset.py
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/_dataset.py
Due: all

allow fetch dataset snapshot
  kolena/_api/v2/dataset.py
  kolena/_experimental/dataset/_dataset.py
Due: all

updated gpt4 doc with score+reason info
  docs/metrics/gpt4-prompt-eng.md
Due: none

test commit history
  tests/integration/_experimental/dataset/test_dataset.py
Due: none

style fixes
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
Due: none

test pagination on fetch_commits
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
Due: none

Added a script to register both QA datasets
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/constants.py
  examples/question_answering/question_answering/register_dataset.py
Due: example

remove dup
  examples/question_answering/question_answering/register_dataset.py
Due: example

fix: enforce id columns before checking uniqueness
  kolena/_experimental/dataset/common.py
  tests/unit/_experimental/dataset/test_common.py
Due: none

chore: keep it simple
  tests/unit/_experimental/dataset/test_common.py
Due: none

address comments
  kolena/_api/v2/dataset.py
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
Due: all

fix: keep the dict expectation
  kolena/_experimental/dataset/common.py
  tests/unit/_experimental/dataset/test_common.py
Due: none

Added a script to register both QA datasets (#367)
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/constants.py
  examples/question_answering/question_answering/register_dataset.py
Due: example

refactor: abstract _validate_dataframe_ids_uniqueness
  kolena/_experimental/dataset/common.py
Due: none

fix: robust uniqueness checking (#368)
  kolena/_experimental/dataset/common.py
  tests/unit/_experimental/dataset/test_common.py
Due: none

Moving V1 example scripts to example/datasets folder
  examples/datasets/question_answering/README.md
  examples/datasets/question_answering/pyproject.toml
  examples/datasets/question_answering/question_answering/__init__.py
  examples/datasets/question_answering/question_answering/constants.py
  examples/datasets/question_answering/question_answering/register_dataset.py
  examples/question_answering/pyproject.toml
Due: example

Separate mypy pre-commit check for examples/datasets folder
  .pre-commit-config.yaml
Due: none

Add script to register 300-W keypoint detection dataset
  examples/keypoint_detection/keypoint_detection/datasets/upload_dataset.py
  examples/keypoint_detection/keypoint_detection/datasets/upload_results.py
Due: example

Add logging when registering a dataset
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_utils/endpoints.py
Due: all

update message formatting
  kolena/_experimental/dataset/_dataset.py
Due: none

List dataset commit history and get snapshots (#366)
  kolena/_api/v2/dataset.py
  kolena/_experimental/dataset/__init__.py
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
Due: all

Moving V1 example scripts to example/datasets folder (#369)
  .pre-commit-config.yaml
  examples/datasets/question_answering/README.md
  examples/datasets/question_answering/pyproject.toml
  examples/datasets/question_answering/question_answering/__init__.py
  examples/datasets/question_answering/question_answering/constants.py
  examples/datasets/question_answering/question_answering/register_dataset.py
  examples/question_answering/pyproject.toml
Due: example

Apply formatting rules to all messages
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
Due: none

Start to clean up
  examples/keypoint_detection/keypoint_detection/datasets/metrics.py
  examples/keypoint_detection/keypoint_detection/datasets/upload_results.py
  examples/keypoint_detection/keypoint_detection/datasets/utils.py
  examples/keypoint_detection/pyproject.toml
Due: example

updated llm-prompt docs
  docs/metrics/gpt4-prompt-eng.md
  docs/metrics/index.md
  docs/metrics/llm-prompt-metric.md
  docs/metrics/selfcheckgpt.md
  mkdocs.yml
Due: none

Use existing id_fields if id_fields is not provided
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Add random detector for faster results
  examples/keypoint_detection/keypoint_detection/datasets/metrics.py
  examples/keypoint_detection/keypoint_detection/datasets/upload_dataset.py
  examples/keypoint_detection/keypoint_detection/datasets/upload_results.py
Due: example

Move models to model.py
  examples/keypoint_detection/keypoint_detection/datasets/model.py
  examples/keypoint_detection/keypoint_detection/datasets/upload_results.py
  examples/keypoint_detection/keypoint_detection/datasets/utils.py
Due: example
