Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

idError quickfix
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

Update rouge-n.md
  docs/metrics/rouge-n.md
Due: none

fix lines
  docs/metrics/rouge-n.md
Due: none

remove ci step that publishes docs to github pages and auto publish docs to s3 during release
  .github/workflows/docs.yml
Due: none

add DD_RUM variables for datadog monitoring
  .github/workflows/docs.yml
Due: none

invoke a lambda function to invalidate cdn cache when doing prod doc deploy
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

added 30k seeding modifications
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

use aws cli to create invalidation directly instead
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

uppercase variable name
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

invalidate doc cdn cache on deploy (#328)
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fixed typo on CI config
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

use secrets instead
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

grant/invalidate doc cdn cache on deploy (#330)
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

metrics for recommender sys
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

upload WER-CER-MER
  docs/metrics/index.md
  docs/metrics/wer-cer-mer.md
  mkdocs.yml
Due: none

OD example fix with graphics update
  docs/assets/images/metrics-ap-od-example-dark.svg
  docs/assets/images/metrics-ap-od-example-light.svg
  docs/assets/images/metrics-bbox-legend-gt-dark.svg
  docs/assets/images/metrics-bbox-legend-gt-light.svg
  docs/metrics/average-precision.md
Due: none

OD example fix with graphics update (#332)
  docs/assets/images/metrics-ap-od-example-dark.svg
  docs/assets/images/metrics-ap-od-example-light.svg
  docs/assets/images/metrics-bbox-legend-gt-dark.svg
  docs/assets/images/metrics-bbox-legend-gt-light.svg
  docs/metrics/average-precision.md
Due: none

Add 1-liner to ROUGE doc about the range and interpretation (#327)
  docs/metrics/rouge-n.md
Due: none

Remove optional `infer` arg from Model `load_all`
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic

updated plots + metrics
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_suite.py
Due: example

fixed smoke test
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Fix Python client repo name in NLS docs
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

Wording update
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

Import packages
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

Avoid shadowing class variable `workflow` with instance variable
  kolena/workflow/model.py
Due: generic

update
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Fix Python client repo name in NLS docs (#333)
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

Reduce scope of PR
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic

Fix formatting
  tests/integration/workflow/test_model.py
Due: none

Remove face-recognition integration test
  .circleci/continue_config.yml
Due: all

Add `load_all` method to Model (#315)
  .circleci/continue_config.yml
  kolena/_api/v1/core.py
  kolena/_api/v1/event.py
  kolena/_api/v1/generic.py
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic, all

updated circleci
  .circleci/continue_config.yml
Due: all

Fr improvements (#329)
  .circleci/continue_config.yml
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: all, example

removed time
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

Update utils.py
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
