Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Make BoundingBox derived fields more resilient
  kolena/annotation.py
  tests/unit/test_annotation.py
Due: all

Make BoundingBox derived fields more resilient (#584)
  kolena/annotation.py
  tests/unit/test_annotation.py
Due: all

Remove link to GitHub repo from docs
  mkdocs.yml
Due: none

Add support for 3d bounding box matching
  kolena/metrics/__init__.py
  kolena/metrics/_geometry.py
  tests/unit/metrics/test_geometry.py
Due: none

Remove commented out keys
  mkdocs.yml
Due: none

created new annotation for labeled text segments
  kolena/annotation.py
  tests/unit/test_annotation.py
Due: all

Unlink repo from docs.kolena.com (#587)
  mkdocs.yml
Due: none

reformatted the TextSegment class
  kolena/annotation.py
  tests/unit/test_annotation.py
Due: all

Update annotation.py
  kolena/annotation.py
Due: all

ci
  kolena/annotation.py
Due: all

move util function to utils.py
  kolena/annotation.py
  kolena/utils.py
  tests/unit/test_annotation.py
  tests/unit/test_utils.py
Due: all

ci
  kolena/utils.py
  tests/unit/test_utils.py
Due: all

fix ci
  tests/unit/test_utils.py
Due: none

removed utility function for generating text segments from keyword matching
  kolena/utils.py
  tests/unit/test_utils.py
Due: all

Add IoU property to bounding box matches
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
  kolena/_experimental/object_detection/utils.py
  kolena/metrics/_geometry.py
Due: none

Adjust docstrings
  kolena/metrics/_geometry.py
Due: none

Add 'create_object_detection_results'
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
Due: none

Fix multiclass IoU logic
  kolena/metrics/_geometry.py
  tests/unit/metrics/test_geometry.py
Due: none

Export 'create_object_detection_results'
  kolena/_experimental/object_detection/__init__.py
Due: none

Add IoU check for matches in tests
  kolena/metrics/_geometry.py
  tests/unit/metrics/test_geometry.py
Due: none

feat: Add quality-standard result download
  kolena/dataset/evaluation.py
Due: none

Add quality-standard api file
  kolena/_api/v2/quality_standard.py
Due: all

Update types for pydantic
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
Due: example

update README
  examples/dataset/crossing_pedestrian_detection/README.md
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
Due: example

Better typing
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/_geometry.py
  tests/unit/metrics/test_geometry.py
Due: none

Fix utils
  kolena/_experimental/object_detection/utils.py
Due: none

Fix bad subscript
  kolena/_experimental/object_detection/dataset.py
Due: none

cleanup types
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
Due: example

Simplify tests
  tests/unit/metrics/test_geometry.py
Due: none

Update docstrings
  kolena/_experimental/object_detection/dataset.py
Due: none

Fix docstring error
  kolena/_experimental/object_detection/dataset.py
Due: none

cleanup type ignores
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
Due: example

Fix docstrings again
  kolena/_experimental/object_detection/dataset.py
Due: none

Remove unnecessary changes
  kolena/metrics/_geometry.py
Due: none

Use typing annotations from `typing` package for python 3.8
  kolena/dataset/evaluation.py
Due: none

update frame_id type
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
Due: example

simplify matching logic
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
Due: example

update pyproject description and authors
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
