Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Remove old pre-built multiclass classification workflow
  kolena/classification/multiclass/__init__.py
  kolena/classification/multiclass/_utils.py
  kolena/classification/multiclass/evaluator.py
  kolena/classification/multiclass/test_run.py
  kolena/classification/multiclass/workflow.py
  tests/integration/classification/multiclass/__init__.py
  tests/integration/classification/multiclass/test_workflow.py
  tests/unit/classification/multiclass/__init__.py
  tests/unit/classification/multiclass/test_utils.py
Due: classification

Remove object detection test suite import
  tests/integration/workflow/test_test_suite.py
Due: none

chore: handle missing inf
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

chore: handle None eval config and missing metrics
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: add test__test__invalid_data
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

Starter codes for using dataset for object detection 2d
  examples/object_detection_2d/object_detection_2d/extended/seed_dataset.py
  examples/object_detection_2d/object_detection_2d/extended/seed_evaluation.py
Due: example

chore: add test__test__invalid_data__eval_before_inf
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: naming
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: more naming
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: add docstring
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
Due: none

fix: only infer type for dp
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

final commit
  examples/automatic_speech_recognition/README.md
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

chore: typo.
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

improvemd workflow and eval
  examples/recommender_system/pyproject.toml
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/utils.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

Run pre-commit
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

Add no_op_evaluator function (#282)
  kolena/workflow/__init__.py
  kolena/workflow/evaluator_function.py
  tests/integration/workflow/test_test_run.py
Due: generic

fix pre-commit style error
  kolena/_api/v1/event_tracking.py
Due: all

chore: prevent uploading metrics without inference
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: more tests
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: add ut for optional data type infer logic
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

rename event name for load all test suites
  kolena/_api/v1/event_tracking.py
  kolena/workflow/test_suite.py
Due: generic, all

unlinted code
  examples/automatic_speech_recognition/README.md
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

quickstart update
  docs/assets/images/librispeech-workflow-example.png
  docs/overrides/.icons/kolena/audio-workflow-16.svg
  docs/overrides/.icons/kolena/audio-workflow-20.svg
  docs/quickstart.md
Due: none

Update pyproject.toml
  examples/automatic_speech_recognition/pyproject.toml
Due: none

change speech recog. -> automatic speech recog.
  examples/automatic_speech_recognition/README.md
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

remove started/failed/succeeded event tracking
  kolena/_utils/instrumentation.py
Due: all

Added ASR example to README.md
  examples/README.md
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

remove unused import
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
Due: example

update icons
  docs/overrides/.icons/kolena/kolena-audio-workflow-16.svg
  docs/overrides/.icons/kolena/kolena-audio-workflow-20.svg
  docs/quickstart.md
Due: none

track api call duration
  kolena/_utils/instrumentation.py
Due: all

updated return type
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
Due: example

updated icon names
  docs/overrides/.icons/kolena/audio-workflow-16.svg
  docs/overrides/.icons/kolena/audio-workflow-20.svg
Due: none

Update librispeech-workflow-example.png
  docs/assets/images/librispeech-workflow-example.png
Due: none

chore: freeform eval config
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

updated metadata extraction
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

chore: abstract _process_metrics out of _upload_metrics
  kolena/_experimental/dataset/_evaluation.py
Due: none

Update seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
Due: example

pre-commit edits
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/utils.py
Due: example

feat: datasets evaluation public interfaces (#252)
  kolena/_api/v2/evaluation.py
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_experimental/dataset/common.py
  kolena/workflow/test_run.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
  tests/unit/workflow/test_io.py
Due: generic, all

use pydantic dataclass
  kolena/_api/v1/event_tracking.py
Due: all
