Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

added constants file, added prequist step for JAAD
  examples/dataset/video_embedding_extraction/README.md
  examples/dataset/video_embedding_extraction/video_embedding_extraction/constants.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/upload_embeddings_to_kolena.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/video_embedding_extractor.py
Due: example

new JAAD sample videos in public examples
  examples/dataset/video_embedding_extraction/README.md
Due: none

aligned constants
  examples/dataset/video_embedding_extraction/video_embedding_extraction/constants.py
Due: example

feat: create new example on using viclip to extract video (#757)
  examples/dataset/video_embedding_extraction/README.md
  examples/dataset/video_embedding_extraction/pyproject.toml
  examples/dataset/video_embedding_extraction/tests/test_video_embedding_extraction.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/constants.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/download_viclip.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/upload_embeddings_to_kolena.py
  examples/dataset/video_embedding_extraction/video_embedding_extraction/video_embedding_extractor.py
Due: example

relax upper bound for numpy dependency
  pyproject.toml
Due: none

test for numpy>=2
  examples/dataset/age_estimation/pyproject.toml
Due: none

relax upper bound for numpy dependency (#760)
  pyproject.toml
Due: none

fix to URL link 404 on viclip
  examples/dataset/video_embedding_extraction/README.md
Due: none

fix to URL link 404 on viclip (#761)
  examples/dataset/video_embedding_extraction/README.md
Due: none

draft
  docs/reference/dataset/index.md
  kolena/_api/v2/dataset.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
Due: all

add integ test
  tests/integration/dataset/test_dataset.py
Due: none

use backward compatible type
  kolena/_api/v2/dataset.py
Due: all

tidy up docs
  docs/reference/dataset/index.md
  kolena/_api/v2/dataset.py
Due: all

set numpy upper bound in semantic segmentation example due to issue with opencv
  examples/dataset/semantic_segmentation/pyproject.toml
Due: none

feat: ability to filter dataset when downloading (#762)
  docs/reference/dataset/index.md
  examples/dataset/semantic_segmentation/pyproject.toml
  kolena/_api/v2/dataset.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: all

pin hatchling
  pyproject.toml
Due: none

pin hatchling (#764)
  pyproject.toml
Due: none

bump packaging during build
  pyproject.toml
Due: none

use structured license
  pyproject.toml
Due: none

update key
  pyproject.toml
Due: none

chore: fix build (#766)
  pyproject.toml
Due: none

pin pandera
  pyproject.toml
Due: none

pin pandera (#767)
  pyproject.toml
Due: none

return dataset id when upload
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: none

return dataset entity instead
  kolena/_api/v2/dataset.py
  kolena/_experimental/quality_standard.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
  tests/unit/_experimental/trace/test_trace.py
  tests/unit/dataset/test_dataset.py
Due: all

fix test
  tests/integration/dataset/test_dataset.py
Due: none

add back missing diff
  docs/reference/dataset/index.md
Due: none

feat: return dataset entity when creating a dataset (#768)
  docs/reference/dataset/index.md
  kolena/_api/v2/dataset.py
  kolena/_experimental/quality_standard.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
  tests/unit/_experimental/trace/test_trace.py
  tests/unit/dataset/test_dataset.py
Due: all

bump opencv in example to resolve vulnerability
  examples/dataset/semantic_segmentation/pyproject.toml
Due: none

bump opencv in example to resolve vulnerability (#769)
  examples/dataset/semantic_segmentation/pyproject.toml
Due: none

pyproject
  examples/dataset/personal_data_detection/pyproject.toml
Due: none

util + test
  examples/dataset/personal_data_detection/personal_data_detection/__init__.py
  examples/dataset/personal_data_detection/personal_data_detection/utils.py
  examples/dataset/personal_data_detection/tests/test_utils.py
Due: example

allow certain pii types to reduce noise
  examples/dataset/personal_data_detection/personal_data_detection/utils.py
  examples/dataset/personal_data_detection/tests/test_utils.py
Due: example

draft
  examples/dataset/personal_data_detection/personal_data_detection/constants.py
  examples/dataset/personal_data_detection/personal_data_detection/upload_dataset.py
  examples/dataset/personal_data_detection/personal_data_detection/utils.py
  examples/dataset/personal_data_detection/tests/test_upload_dataset.py
Due: example

add s3fs + more unit test
  examples/dataset/personal_data_detection/pyproject.toml
  examples/dataset/personal_data_detection/tests/test_utils.py
Due: example

clean up + add unit test case
  examples/dataset/personal_data_detection/personal_data_detection/constants.py
  examples/dataset/personal_data_detection/personal_data_detection/upload_dataset.py
  examples/dataset/personal_data_detection/tests/test_utils.py
Due: example

unit test for check df
  examples/dataset/personal_data_detection/tests/test_utils.py
Due: example

readme
  examples/dataset/personal_data_detection/README.md
  examples/dataset/personal_data_detection/personal_data_detection/upload_dataset.py
  examples/dataset/personal_data_detection/tests/test_utils.py
Due: example

suppress warning
  examples/dataset/personal_data_detection/personal_data_detection/utils.py
Due: example

print message if skipped uploading
  examples/dataset/personal_data_detection/personal_data_detection/upload_dataset.py
  examples/dataset/personal_data_detection/tests/test_upload_dataset.py
Due: example
