Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

chore: example of pii data detection before upload_dataset (#770)
  examples/dataset/personal_data_detection/README.md
  examples/dataset/personal_data_detection/personal_data_detection/__init__.py
  examples/dataset/personal_data_detection/personal_data_detection/constants.py
  examples/dataset/personal_data_detection/personal_data_detection/upload_dataset.py
  examples/dataset/personal_data_detection/personal_data_detection/utils.py
  examples/dataset/personal_data_detection/pyproject.toml
  examples/dataset/personal_data_detection/tests/test_upload_dataset.py
  examples/dataset/personal_data_detection/tests/test_utils.py
Due: example

noindex,nofollow on docs
  docs/overrides/main.html
Due: none

noindex,nofollow on docs (#772)
  docs/overrides/main.html
Due: none

Add delete_dataset function to SDK
  kolena/_api/v1/event.py
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
Due: all

Add integration test
  tests/integration/dataset/test_dataset.py
Due: none

Fix test
  tests/integration/dataset/test_dataset.py
Due: none

Address PR comments on wording
  kolena/dataset/dataset.py
Due: none

Add delete_dataset function to SDK (#773)
  kolena/_api/v1/event.py
  kolena/_api/v2/dataset.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: all

fix: Export delete_dataset directly from kolena.dataset
  kolena/dataset/__init__.py
  tests/integration/dataset/test_dataset.py
Due: none

fix: Export delete_dataset directly from kolena.dataset (#774)
  kolena/dataset/__init__.py
  tests/integration/dataset/test_dataset.py
Due: none

add docs for split_part
  docs/dataset/advanced-usage/custom-queries.md
Due: none

feat: optionally include datapoint_id when downloading dataset
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: none

pin mkdocs-material seeing doc build errors
  pyproject.toml
Due: none

streamline logic
  kolena/dataset/dataset.py
Due: none

feat: optionally include datapoint_id when downloading dataset (#776)
  kolena/dataset/dataset.py
  pyproject.toml
  tests/integration/dataset/test_dataset.py
Due: none

draft - ability to get embedding keys + download embeddings
  kolena/_api/v1/event.py
  kolena/_api/v2/search.py
  kolena/dataset/__init__.py
  kolena/dataset/_common.py
  kolena/dataset/embeddings.py
Due: all

skip getting embedding key column, do not modify df when uploading
  kolena/dataset/embeddings.py
Due: none

basic integ tests
  tests/integration/dataset/test_embeddings.py
Due: none

raise not found error if embedding key does not exist + integ tests
  kolena/dataset/embeddings.py
  tests/integration/dataset/test_embeddings.py
Due: none

add api ref to docs
  docs/reference/dataset/index.md
  kolena/dataset/embeddings.py
Due: none

remove text_summarization workflow test
  .circleci/continue_config.yml
Due: all

feat: ability to download datapoint embeddings (#779)
  .circleci/continue_config.yml
  docs/dataset/advanced-usage/custom-queries.md
  docs/reference/dataset/index.md
  kolena/_api/v1/event.py
  kolena/_api/v2/search.py
  kolena/dataset/__init__.py
  kolena/dataset/_common.py
  kolena/dataset/embeddings.py
  tests/integration/dataset/test_embeddings.py
Due: all

example on constructing studio url with simple filter
  examples/dataset/construct_studio_url/README.md
  examples/dataset/construct_studio_url/construct_studio_url/__init__.py
  examples/dataset/construct_studio_url/construct_studio_url/encode_url.py
  examples/dataset/construct_studio_url/pyproject.toml
  examples/dataset/construct_studio_url/tests/test__construct_studio_url.py
Due: example

trim comments
  examples/dataset/construct_studio_url/construct_studio_url/encode_url.py
Due: example

trim dep
  examples/dataset/construct_studio_url/pyproject.toml
Due: none

add ci
  .circleci/continue_config.yml
Due: all

chore: example util function to construct studio url (#780)
  .circleci/continue_config.yml
  examples/dataset/construct_studio_url/README.md
  examples/dataset/construct_studio_url/construct_studio_url/__init__.py
  examples/dataset/construct_studio_url/construct_studio_url/encode_url.py
  examples/dataset/construct_studio_url/pyproject.toml
  examples/dataset/construct_studio_url/tests/test__construct_studio_url.py
Due: all, example

bump upper bound for pillow
  pyproject.toml
Due: none

bump upper bound for pillow (#781)
  pyproject.toml
Due: none

fix: Update client to properly infer that flac (along with other browser renderable audio types) are loaded as DatapointType.AUDIO
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

fix: Update client to properly infer that flac (along with other browser renderable audio types) are loaded as DatapointType.AUDIO (#783)
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

Remove polyfill dependency
  mkdocs.yml
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
