Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Last edits on the difficulty score page
  docs/metrics/difficulty-score.md
  docs/metrics/f1-score.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
Due: none

small updates to the doc
  docs/metrics/difficulty-score.md
Due: none

Difficulty Score Docs (#633)
  docs/metrics/difficulty-score.md
  docs/metrics/f1-score.md
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
  mkdocs.yml
Due: none

docs: fix links in the difficulty score page
  docs/metrics/difficulty-score.md
Due: none

docs: fix links in the difficulty score page (#636)
  docs/metrics/difficulty-score.md
Due: none

chore: add the boilerplate
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/thresholded-results.md
  mkdocs.yml
Due: none

fix: adding space between disable and markdown syntax
  docs/metrics/averaging-methods.md
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/diarization-error-rate.md
  docs/metrics/f1-score.md
  docs/metrics/meteor.md
  docs/metrics/rouge-n.md
  docs/metrics/wer-cer-mer.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
Due: none

fix: adding space between disable and markdown syntax (#638)
  docs/metrics/averaging-methods.md
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/diarization-error-rate.md
  docs/metrics/f1-score.md
  docs/metrics/meteor.md
  docs/metrics/rouge-n.md
  docs/metrics/wer-cer-mer.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
Due: none

Spelling fixes
  docs/automations/extract-text-metadata.md
  docs/automations/index.md
  docs/automations/set-up-natural-language-search.md
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
  docs/dataset/advanced-usage/quality-standard-results.md
  docs/dataset/advanced-usage/task-metrics.md
  docs/dataset/core-concepts/index.md
  docs/metrics/bertscore.md
  docs/metrics/diarization-error-rate.md
  docs/metrics/mean-squared-error.md
  docs/metrics/meteor.md
  docs/metrics/perplexity.md
  docs/metrics/pr-curve.md
Due: none

added missing link
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/quality-standard-results.md
Due: none

removed extra line to unlock CI
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
Due: none

Fixed spelling fix based on comment
  docs/metrics/perplexity.md
Due: none

chore: add the main doc
  docs/dataset/advanced-usage/thresholded-results.md
Due: none

chore: add screenshots
  docs/assets/images/thresholded-results/metric-button-dark.png
  docs/assets/images/thresholded-results/metric-button-light.png
  docs/assets/images/thresholded-results/metric-config-dark.png
  docs/assets/images/thresholded-results/metric-config-light.png
  docs/assets/images/thresholded-results/metric-qs-dark.png
  docs/assets/images/thresholded-results/metric-qs-light.png
  docs/assets/images/thresholded-results/plot-double-agg-dark.png
  docs/assets/images/thresholded-results/plot-double-agg-light.png
  docs/assets/images/thresholded-results/plot-f1-dark.png
  docs/assets/images/thresholded-results/plot-f1-light.png
  docs/assets/images/thresholded-results/plot-pr-dark.png
  docs/assets/images/thresholded-results/plot-pr-light.png
  docs/dataset/advanced-usage/thresholded-results.md
Due: none

chore: Minor fixes to merged FR1:1 implementation (#624)
  examples/dataset/face_recognition_11/README.md
  examples/dataset/face_recognition_11/face_recognition_11/metrics.py
Due: example

remove stray comment
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
Due: example

add comments
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
Due: example

make reads anonymous
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
Due: example

fix incorrect register_dataset reference
  docs/dataset/quickstart.md
Due: none

revert unrelated change
  docs/dataset/quickstart.md
Due: none

fix incorrect register_dataset reference (#640)
  docs/dataset/quickstart.md
Due: none

debug pydantic breakage
  pyproject.toml
Due: none

fix 1
  kolena/_utils/datatypes.py
Due: all

fix 2
  kolena/_utils/__init__.py
  kolena/_utils/geometry.py
  kolena/_utils/inference_validators.py
  kolena/workflow/define_workflow.py
  kolena/workflow/evaluator.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
Due: generic, all

remove pydantic dependency:
  pyproject.toml
Due: none

fix 3
  kolena/_api/v1/generic.py
Due: all

Add optional required_match_fields parameter to OD matching functions
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/_geometry.py
  tests/unit/metrics/test_geometry.py
Due: none

Refactor to reduce duplicated code
  kolena/metrics/_geometry.py
Due: none

Fix failing unit test
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

Simplify crossing pedestrian detection example to use upload_object_detection_results
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
Due: example

Remove now unused dataclasses
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
Due: example

Extend OD matching functions to accept an optional required_match_fields parameter (#643)
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/_geometry.py
  tests/unit/_experimental/object_detection/test_dataset.py
  tests/unit/metrics/test_geometry.py
Due: none

Mehrad docs update (#639)
  docs/automations/extract-text-metadata.md
  docs/automations/index.md
  docs/automations/set-up-natural-language-search.md
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/quality-standard-results.md
  docs/dataset/advanced-usage/task-metrics.md
  docs/dataset/core-concepts/index.md
  docs/metrics/bertscore.md
  docs/metrics/diarization-error-rate.md
  docs/metrics/mean-squared-error.md
  docs/metrics/meteor.md
  docs/metrics/pr-curve.md
Due: none

chore: remove build without 'insider'
  .circleci/continue_config.yml
Due: all

limit samples in smoke test
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/tests/test_crossing_pedestrian_detection.py
Due: example

Added new file
  docs/dataset/advanced-usage/image-metadata-extraction.md
Due: none

Docs on image property extraction
  docs/assets/images/edit-image-extraction-properties-dark.gif
  docs/assets/images/edit-image-extraction-properties-light.gif
  docs/assets/images/image-metadata-open-config-dark.gif
  docs/assets/images/image-metadata-open-config-light.gif
  docs/assets/images/image-metadata-run-dark.gif
  docs/assets/images/image-metadata-run-light.gif
  docs/dataset/advanced-usage/image-metadata-extraction.md
  docs/dataset/advanced-usage/index.md
  mkdocs.yml
Due: none

added images
  docs/assets/images/hydrated-image-example-dark.png
  docs/assets/images/hydrated-image-example-light.png
Due: none

example image
  docs/dataset/advanced-usage/image-metadata-extraction.md
Due: none

chore: replace removed ms simple icons
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/index.md
Due: none
