Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

allow additional metadata for bounding boxes when uploading dataset
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/pyproject.toml
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
Due: example

Update definition of umatched_ground_truths
  docs/dataset/formatting-your-datasets.md
Due: none

move utils
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
  kolena/_experimental/object_detection/utils.py
Due: none

feat: Support unlabeled bboxes/polygon via `upload_object_detection_results`
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/_geometry.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

Check `confused` exists in test before checking
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

Update imports
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/__init__.py
Due: none

preserve gt metadata when uploading OD results
  kolena/_experimental/object_detection/dataset.py
  kolena/annotation.py
Due: all

remove unnecessary stub
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
Due: example

remove unnecessary util
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
  kolena/_experimental/object_detection/utils.py
Due: none

first iteration after PR - rmeoved test anfd updated README
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/semantic_textual_similarity/README.md
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: all, example

Update definition of umatched_ground_truths (#520)
  docs/dataset/formatting-your-datasets.md
Due: none

update single class OD to preserve additional metadata
  kolena/_experimental/object_detection/dataset.py
Due: none

update tests
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

Add alias `upload_instance_segmentation_results`
  kolena/_experimental/instance_segmentation/__init__.py
  kolena/_experimental/instance_segmentation/dataset.py
  kolena/_experimental/object_detection/dataset.py
Due: none

Semantic Textual Similarity Example (#519)
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/semantic_textual_similarity/README.md
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/__init__.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/constants.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/metrics.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/upload_dataset.py
  examples/dataset/semantic_textual_similarity/semantic_textual_similarity/upload_results.py
  examples/dataset/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: all, example

chore: preserve None in the system (#472)
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  kolena/io.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/integration/helper.py
  tests/unit/dataset/test_dataset.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

expand formatting dataset guide
  docs/dataset/formatting-your-datasets.md
Due: none

revert example change - will update after release
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/pyproject.toml
Due: example

add docstring
  kolena/_experimental/object_detection/dataset.py
Due: none

minor readme improvement
  examples/dataset/question_answering/README.md
Due: none

skip hydrating gt metadata for confused bounding boxes
  kolena/_experimental/object_detection/dataset.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

update dot io ref
  examples/dataset/semantic_textual_similarity/README.md
Due: none

Fix typo
  kolena/_experimental/object_detection/dataset.py
Due: none

patch
  examples/dataset/question_answering/README.md
Due: none

Add assertions; Remove mypy ignores
  kolena/metrics/_geometry.py
Due: none

Persist additional metadata on BBoxes to results during evaluation (#522)
  kolena/_experimental/object_detection/dataset.py
  kolena/annotation.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: all

update dot io ref (#524)
  examples/dataset/semantic_textual_similarity/README.md
Due: none

minor readme improvement (#523)
  examples/dataset/question_answering/README.md
Due: none

Stash KITTI 3D OD work
  examples/dataset/object_detection_3d/generate_dataset_csv.py
  examples/dataset/object_detection_3d/ingest_results.py
  examples/dataset/object_detection_3d/pyproject.toml
  examples/dataset/object_detection_3d/utils.py
Due: example

update kolena version in OD example
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/pyproject.toml
Due: example

update kolena version in OD example (#526)
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/pyproject.toml
Due: example

rough JAAD example code
  examples/dataset/crossing_pedestrian_detection/README.md
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/__init__.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/tests/__init__.py
Due: example

Update dataset name / bucket and include README
  examples/dataset/person_detection/README.md
  examples/dataset/person_detection/person_detection/constants.py
Due: example

Remove logic for filtering by license type
  examples/dataset/person_detection/person_detection/constants.py
  examples/dataset/person_detection/person_detection/upload_dataset.py
Due: example

Pin kolena to 1.5.0 or higher
  examples/dataset/person_detection/pyproject.toml
Due: none

Initial Person Detection workflow
  examples/dataset/person_detection/person_detection/__init__.py
  examples/dataset/person_detection/person_detection/constants.py
  examples/dataset/person_detection/person_detection/upload_dataset.py
  examples/dataset/person_detection/person_detection/upload_results.py
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/person_detection/tests/test_person_detection.py
Due: example

Added a new example for FR 1:1 for Kolena Datasets
  examples/dataset/face_recognition_11/README.md
  examples/dataset/face_recognition_11/face_recognition_11/__init__.py
  examples/dataset/face_recognition_11/face_recognition_11/constants.py
  examples/dataset/face_recognition_11/face_recognition_11/image.py
  examples/dataset/face_recognition_11/face_recognition_11/metrics.py
  examples/dataset/face_recognition_11/face_recognition_11/upload_dataset.py
  examples/dataset/face_recognition_11/face_recognition_11/upload_results.py
  examples/dataset/face_recognition_11/pyproject.toml
  examples/dataset/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Use consistent dict spread syntax
  kolena/_experimental/object_detection/dataset.py
Due: none

Add type hints to test function params
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none
