Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

improve dependency
  examples/dataset/image_retrieval_by_text/pyproject.toml
Due: none

fix tests
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_results.py
  examples/dataset/image_retrieval_by_text/tests/test_image_retrieval_by_text.py
Due: example

change model name and s3 file storage path
  examples/dataset/image_retrieval_by_text/README.md
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/constants.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_dataset.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_results.py
Due: example

add boto3
  examples/dataset/image_retrieval_by_text/pyproject.toml
Due: none

Update README.md
  examples/dataset/image_retrieval_by_text/README.md
Due: none

Update continue_config.yml
  .circleci/continue_config.yml
Due: all

format path
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_dataset.py
Due: example

created examples for image retrieval by text (#527)
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/image_retrieval_by_text/README.md
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/__init__.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/constants.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_dataset.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_results.py
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/image_retrieval_by_text/tests/test_image_retrieval_by_text.py
Due: all, example

commit current code to save
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
Due: example

Add video retrieval by text example
  examples/dataset/video_retrieval_by_text/README.md
  examples/dataset/video_retrieval_by_text/pyproject.toml
  examples/dataset/video_retrieval_by_text/tests/__init__.py
  examples/dataset/video_retrieval_by_text/video_retrieval_by_text/__init__.py
  examples/dataset/video_retrieval_by_text/video_retrieval_by_text/constants.py
  examples/dataset/video_retrieval_by_text/video_retrieval_by_text/upload_dataset.py
Due: example

Add `upload_results.py`
  examples/dataset/video_retrieval_by_text/video_retrieval_by_text/constants.py
  examples/dataset/video_retrieval_by_text/video_retrieval_by_text/upload_results.py
Due: example

Add test; Bump kolena client and remove initialize calls
  .circleci/continue_config.yml
  examples/dataset/video_retrieval_by_text/pyproject.toml
  examples/dataset/video_retrieval_by_text/tests/test_video_retrieval_by_text.py
  examples/dataset/video_retrieval_by_text/video_retrieval_by_text/upload_dataset.py
  examples/dataset/video_retrieval_by_text/video_retrieval_by_text/upload_results.py
Due: all, example

Update README with new `upload_results.py` args
  examples/dataset/video_retrieval_by_text/README.md
Due: none

Add pre-commit to dev dependency
  examples/dataset/video_retrieval_by_text/pyproject.toml
Due: none

Update object detection 2d example s3 path
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
Due: example

Bump resource-class for test to address OOM
  .circleci/continue_config.yml
Due: all

Update const `WORKFLOW` to `TASK`
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
Due: example

Update object detection 2d example s3 path (#538)
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_results.py
Due: example

Test a random model name to stay within CI limit
  examples/dataset/video_retrieval_by_text/tests/test_video_retrieval_by_text.py
Due: example

Update `kolena.initialize` verbose default to True
  kolena/initialize.py
Due: all

Update installing docs
  docs/installing-kolena.md
Due: none

Update `proxies` docstring to be consistent
  kolena/initialize.py
Due: all

Fix integration test
  examples/dataset/video_retrieval_by_text/tests/test_video_retrieval_by_text.py
Due: example

Remove unused `_dataobject_type` method from dataset module
  kolena/dataset/dataset.py
Due: none

Remove unused `_dataobject_type` method from dataset module (#540)
  kolena/dataset/dataset.py
Due: none

Update `kolena.initialize` verbose default to True (#539)
  docs/installing-kolena.md
  kolena/initialize.py
Due: all

Remove support for dot seperated composite keys
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
  tests/unit/dataset/data.py
  tests/unit/dataset/test_dataset.py
Due: none

Fix putting string in list
  kolena/dataset/dataset.py
Due: none

Remove comment
  kolena/dataset/dataset.py
Due: none

Remove `DatapointType.COMPOSITE` enum value
  kolena/dataset/dataset.py
Due: none

Embed welcome video in README
  README.md
Due: none

updates to jaad example code
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_results.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/utils.py
Due: example

Revert change to `_infer_id_fields`
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

more doc updates
  docs/dataset/formatting-your-datasets.md
Due: none

more docs updates
  docs/dataset/formatting-your-datasets.md
Due: none

Fix type hint in test; update test name `_infer_id_fields`
  tests/unit/dataset/test_dataset.py
Due: none

Bump min kolena client version to 1.9.0
  examples/dataset/age_estimation/pyproject.toml
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/classification/pyproject.toml
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/search_embeddings/pyproject.toml
  examples/dataset/semantic_segmentation/pyproject.toml
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/pyproject.toml
Due: none

more cleanup
  docs/dataset/formatting-your-datasets.md
Due: none

Update recently added `image_retrieval_by_text` example
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_dataset.py
  examples/dataset/image_retrieval_by_text/image_retrieval_by_text/upload_results.py
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/image_retrieval_by_text/tests/test_image_retrieval_by_text.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_activation_map.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
