Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Add evaluator image debug tips (#185)
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

Remove unused return (#186)
  kolena/workflow/test_run.py
Due: generic

Experiment with dataset concept
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/_utils/consts.py
  kolena/_utils/endpoints.py
  kolena/_utils/validators.py
  kolena/workflow/__init__.py
  kolena/workflow/_datatypes.py
  kolena/workflow/_internal.py
  kolena/workflow/_validators.py
  kolena/workflow/dataset.py
  kolena/workflow/define_workflow.py
  kolena/workflow/model.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
  tests/integration/workflow/test_dataset.py
Due: generic, all

add unit test
  kolena/workflow/dataset.py
  tests/unit/workflow/test_dataset.py
Due: generic

add initial page for connecting cloud storage
  docs/advanced-usage/connecting-cloud-storage.md
  docs/advanced-usage/index.md
  mkdocs.yml
Due: none

add icon and a nested section for integration types
  docs/advanced-usage/ connecting-cloud-storage/index.md
  docs/advanced-usage/connecting-cloud-storage.md
  docs/advanced-usage/index.md
  docs/overrides/.icons/kolena/cloud-16.svg
  mkdocs.yml
Due: none

commit s3 compatible doc
  docs/advanced-usage/ connecting-cloud-storage/index.md
  docs/advanced-usage/ connecting-cloud-storage/s3-compatible.md
Due: none

fix leading char
  docs/advanced-usage/connecting-cloud-storage/index.md
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  mkdocs.yml
Due: none

fix links
  docs/advanced-usage/connecting-cloud-storage/index.md
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  docs/advanced-usage/index.md
Due: none

fill out first draft of integration content
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  mkdocs.yml
Due: none

tweak wording for self review
  docs/advanced-usage/connecting-cloud-storage/index.md
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  mkdocs.yml
Due: none

fix end of file linter error
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
Due: none

Add pre-commit setup in contribution guide
  CONTRIBUTING.md
Due: none

Add callout to avoid reset=True in automated evaluator
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

bigger heads; consistent minio casing
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
Due: none

Make statement more concise
  CONTRIBUTING.md
Due: none

remove hitachi for now; include links and list of verified systems
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
Due: none

add note re. bucket names
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
Due: none

revert format change; add 20 svg for completeness
  docs/overrides/.icons/kolena/cloud-20.svg
  mkdocs.yml
Due: none

"Minio" (S3 Compatible) Integration docs (#187)
  docs/advanced-usage/connecting-cloud-storage/index.md
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  docs/advanced-usage/index.md
  docs/overrides/.icons/kolena/cloud-16.svg
  docs/overrides/.icons/kolena/cloud-20.svg
  mkdocs.yml
Due: none

Add pre-commit setup in contribution guide (#188)
  CONTRIBUTING.md
Due: none

update
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/workflow/_datatypes.py
  kolena/workflow/_internal.py
  kolena/workflow/dataset.py
  kolena/workflow/test_case.py
  tests/integration/workflow/dummy.py
  tests/integration/workflow/test_dataset.py
Due: generic, all

fix test run
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/workflow/__init__.py
  kolena/workflow/_internal.py
  kolena/workflow/dataset.py
  kolena/workflow/model.py
  kolena/workflow/test_run.py
  tests/integration/workflow/test_dataset.py
Due: generic, all

move plot functions into utils
  examples/text_summarization/text_summarization/evaluator.py
  examples/text_summarization/text_summarization/utils.py
Due: example

changed remote evaluator for faster tsm compute
  examples/text_summarization/text_summarization/evaluator_fast.py
  examples/text_summarization/text_summarization/remote_evaluator.py
Due: example

add gcp page to docs
  docs/advanced-usage/connecting-cloud-storage/gcp.md
  mkdocs.yml
Due: none

add entry to index and fix typos
  docs/advanced-usage/connecting-cloud-storage/gcp.md
  docs/advanced-usage/connecting-cloud-storage/index.md
Due: none

change workflow to use precomputed metrics csvs
  examples/text_summarization/pyproject.toml
  examples/text_summarization/text_summarization/evaluator.py
  examples/text_summarization/text_summarization/evaluator_fast.py
  examples/text_summarization/text_summarization/seed_test_run.py
  examples/text_summarization/text_summarization/workflow.py
Due: example

Deployed 47dc72f with MkDocs version: 1.5.2
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "Add derived values to kolena.workflow.BoundingBox{,3D} (#172)"
  kolena/workflow/_datatypes.py
  kolena/workflow/annotation.py
  tests/unit/workflow/test_annotation.py
Due: generic

remove counting for inferences of the class in nImages
  kolena/_experimental/object_detection/evaluator_multiclass.py
Due: none

update tests
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

Fix Prebuilt OD Class Level Image Counts (#192)
  kolena/_experimental/object_detection/evaluator_multiclass.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: none

updated the return type of util function
  examples/classification/classification/evaluator_binary.py
  kolena/_experimental/classification/utils.py
Due: example

fix typo
  docs/advanced-usage/connecting-cloud-storage/gcp.md
Due: none

Adds threshold plots to binary classification example (#183)
  examples/classification/classification/evaluator_binary.py
  examples/classification/pyproject.toml
  kolena/_experimental/classification/utils.py
Due: example

remove path from origin
  docs/advanced-usage/connecting-cloud-storage/gcp.md
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
