Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Use existing id_fields if id_fields is not provided (#372)
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Script that computes hallucination metrics
  examples/datasets/question_answering/README.md
  examples/datasets/question_answering/pyproject.toml
  examples/datasets/question_answering/question_answering/closed_domain_metrics.py
  examples/datasets/question_answering/question_answering/constants.py
  examples/datasets/question_answering/question_answering/metrics.py
  examples/datasets/question_answering/question_answering/open_domain_metrics.py
  examples/datasets/question_answering/question_answering/prepare_results.py
Due: example

diarization error rate doc
  docs/assets/images/diarization1.png
  docs/assets/images/diarization2.png
  docs/metrics/diarization-error.md
Due: none

updated selfcheckgpt docs
  docs/metrics/index.md
  docs/metrics/selfcheckgpt.md
  libcairo.2.dylib
Due: none

Make kolena.workflow.io a python package
  kolena/workflow/io/__init__.py
  kolena/workflow/io/io.py
Due: generic

address pr comments
  kolena/_experimental/dataset/_evaluation.py
Due: none

Added example to test thresholded metrics
  examples/thresholded_metrics/README.md
  examples/thresholded_metrics/pyproject.toml
  examples/thresholded_metrics/thresholded_metrics/__init__.py
  examples/thresholded_metrics/thresholded_metrics/constants.py
  examples/thresholded_metrics/thresholded_metrics/seed_test_run.py
  examples/thresholded_metrics/thresholded_metrics/seed_test_suite.py
  kolena/_experimental/thresholded_metrics/__init__.py
  kolena/_experimental/thresholded_metrics/evaluator.py
  kolena/_experimental/thresholded_metrics/evaluator_multiclass.py
  kolena/_experimental/thresholded_metrics/evaluator_single_class.py
  kolena/_experimental/thresholded_metrics/utils.py
  kolena/_experimental/thresholded_metrics/workflow.py
Due: example

Add logging when registering a dataset (#370)
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_utils/endpoints.py
Due: all

updated selfcheck and llm docs
  docs/metrics/index.md
  docs/metrics/llm-prompt-based-metric.md
  docs/metrics/selfcheck-consistency-score.md
  libcairo.2.dylib
  mkdocs.yml
Due: none

Addresses all comments (still have to update the images)
  docs/assets/images/metrics-der-example1.png
  docs/assets/images/metrics-der-example2.png
  docs/metrics/diarization-error-rate.md
  docs/metrics/diarization-error.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

Update images
  docs/assets/images/metrics-der-example1.png
  docs/assets/images/metrics-der-example2.png
Due: none

Updated with the final set of metrics along with some updates on the README
  examples/datasets/question_answering/README.md
  examples/datasets/question_answering/question_answering/closed_domain_metrics.py
  examples/datasets/question_answering/question_answering/constants.py
  examples/datasets/question_answering/question_answering/metrics.py
  examples/datasets/question_answering/question_answering/open_domain_metrics.py
  examples/datasets/question_answering/question_answering/prepare_results.py
  examples/datasets/question_answering/question_answering/upload_results.py
Due: example

no need to convert bool flag to int
  examples/datasets/question_answering/question_answering/upload_results.py
Due: example

Diarization Error Rate metric doc (#374)
  docs/assets/images/metrics-der-example1.png
  docs/assets/images/metrics-der-example2.png
  docs/metrics/diarization-error-rate.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

updates
  docs/assets/images/selfcheck_qa_prompt.png
  docs/metrics/index.md
  docs/metrics/llm-prompt-based-metric.md
  docs/metrics/selfcheck-consistency-score.md
Due: none

Updated contradiction score docs according to the recent finding
  docs/metrics/contradiction-score.md
Due: none

updates
  docs/metrics/llm-prompt-based-metric.md
Due: none

Start stubbing out v1 docs pages
  docs/core-concepts/dataset.md
  docs/overrides/.icons/kolena/dataset-16.svg
  docs/overrides/.icons/kolena/dataset-20.svg
  mkdocs.yml
Due: none

Copy over annotation and assets
  docs/reference/dataset/annotation.md
  docs/reference/dataset/index.md
Due: none

Re-export client defs
  docs/reference/dataset/asset.md
  kolena/dataset/__init__.py
  mkdocs.yml
Due: none

added result
  examples/classification/scripts/binary/dataset/seed_dataset.py
  examples/classification/scripts/binary/dataset/upload_evaluation_result.py
Due: example

added example for binary classification using v1
  examples/classification/scripts/binary/dataset/upload_evaluation_result.py
Due: example

Fork out quickstart guides
  docs/faq/index.md
  docs/quickstart-dataset.md
  docs/quickstart-workflow.md
  docs/quickstart.md
  kolena/_utils/validators.py
  mkdocs.yml
Due: all

Updated circleci config to find the right example tests
  .circleci/continue_config.yml
  docs/quickstart.md
Due: all

Separate main Developer Guide sections for Datasets and Workflows
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
  docs/dataset/core-concepts/quality-standards.md
  docs/dataset/index.md
  docs/dataset/quickstart.md
  docs/overrides/.icons/kolena/quality-standard-16.svg
  docs/overrides/.icons/kolena/quality-standard-20.svg
  docs/quickstart.md
  docs/workflow/building-a-workflow.md
  docs/workflow/core-concepts/index.md
  docs/workflow/core-concepts/model.md
  docs/workflow/core-concepts/test-suite.md
  docs/workflow/core-concepts/workflow.md
  docs/workflow/index.md
  docs/workflow/quickstart.md
  mkdocs.yml
Due: none

Singularize QS
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/quality-standard.md
  mkdocs.yml
Due: none

manually fix single instance of 2023 in repo
  examples/object_detection_3d/object_detection_3d/utils.py
Due: example

Towards green build
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/dataset/quickstart.md
  docs/index.md
  docs/reference/workflow/index.md
  docs/workflow/building-a-workflow.md
  docs/workflow/core-concepts/index.md
  docs/workflow/core-concepts/workflow.md
  docs/workflow/quickstart.md
Due: none

Added note to tell users that core concept are not for dataset, they should refer to the new doc
  docs/core-concepts/index.md
  docs/core-concepts/model.md
  docs/core-concepts/test-suite.md
  docs/core-concepts/workflow.md
Due: none

add events to dataset activities
  kolena/_api/v1/event.py
  kolena/_experimental/dataset/_dataset.py
Due: all

Stub out docs pages for `kolena.dataset` (#379)
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
  docs/dataset/core-concepts/quality-standard.md
  docs/dataset/index.md
  docs/dataset/quickstart.md
  docs/faq/index.md
  docs/index.md
  docs/overrides/.icons/kolena/dataset-16.svg
  docs/overrides/.icons/kolena/dataset-20.svg
  docs/overrides/.icons/kolena/quality-standard-16.svg
  docs/overrides/.icons/kolena/quality-standard-20.svg
  docs/reference/dataset/annotation.md
  docs/reference/dataset/asset.md
  docs/reference/dataset/index.md
  docs/reference/workflow/index.md
  docs/workflow/building-a-workflow.md
  docs/workflow/core-concepts/index.md
  docs/workflow/core-concepts/model.md
  docs/workflow/core-concepts/test-suite.md
  docs/workflow/core-concepts/workflow.md
  docs/workflow/index.md
  docs/workflow/quickstart.md
  kolena/_utils/validators.py
  kolena/dataset/__init__.py
  mkdocs.yml
Due: all

binary classification
  examples/dataset/README.md
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/__init__.py
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/pyproject.toml
  examples/dataset/question_answering/README.md
Due: example

update header
  examples/classification/scripts/binary/dataset/seed_dataset.py
  examples/classification/scripts/binary/dataset/upload_evaluation_result.py
  examples/dataset/classification/classification/binary/__init__.py
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  kolena/dataset/__init__.py
Due: example

Added dataset core concept page
  docs/dataset/core-concepts/dataset.md
  docs/dataset/core-concepts/index.md
Due: none

KOL-4083 - Added note on automated evaludation page.
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none
