Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

All comments addressed
  docs/metrics/perplexity.md
Due: none

updated test suite names
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

Set lines to 120char max
  docs/metrics/perplexity.md
Due: none

Correct TestSuite `load_all` docstring (#314)
  kolena/workflow/test_suite.py
Due: generic

pre-commit fixes
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

allow kolena session to have additional headers
  kolena/_utils/state.py
  tests/unit/test_initialize.py
Due: all

fix style check
  kolena/_utils/state.py
Due: all

updates to docs and minor eval fix
  .circleci/continue_config.yml
  docs/assets/images/fr.png
  docs/quickstart.md
  examples/README.md
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: all, example

allow passing proxies to kolena session
  kolena/_utils/state.py
  tests/unit/test_initialize.py
Due: all

Pre-commit fixes
  docs/assets/images/fr.png
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

[KOL-3748] allow kolena session to have additional headers (#316)
  kolena/_utils/state.py
  tests/unit/test_initialize.py
Due: all

updated fn logic
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

changed pic
  docs/assets/images/fr.png
Due: none

fixed path
  docs/quickstart.md
Due: none

update fn logic
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

precommit changes
  docs/assets/images/fr.png
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

Bump min Kolena version in examples to 0.94.0
  examples/age_estimation/pyproject.toml
  examples/automatic_speech_recognition/pyproject.toml
  examples/classification/pyproject.toml
  examples/keypoint_detection/pyproject.toml
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_3d/pyproject.toml
  examples/question_answering/pyproject.toml
  examples/search_embeddings/pyproject.toml
  examples/semantic_segmentation/pyproject.toml
  examples/semantic_textual_similarity/pyproject.toml
  examples/text_summarization/pyproject.toml
Due: none

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/pyproject.toml
Due: example

Added truthful QA seeding scripts
  examples/question_answering/question_answering/truthful_qa/__init__.py
  examples/question_answering/question_answering/truthful_qa/evaluator.py
  examples/question_answering/question_answering/truthful_qa/seed_test_run.py
  examples/question_answering/question_answering/truthful_qa/seed_test_suite.py
  examples/question_answering/question_answering/truthful_qa/workflow.py
Due: example

Replace FR image
  docs/assets/images/fr.png
  docs/assets/images/fr11.jpg
  docs/quickstart.md
Due: none

fr11.jpg
  docs/quickstart.md
Due: none

Remove memray dev dependency
  examples/semantic_segmentation/pyproject.toml
Due: none

Fixing example CI test
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Fixed missing s
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

fix for bbox/keypoints
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
Due: example

config name fix
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

removed comment
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Fixed the long string
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Reduced the # of models / test suites for the integration test
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

KOL-3377 Add FR 1:1 example integration to kolenaIO/kolena (#229)
  .circleci/continue_config.yml
  docs/assets/images/fr11.jpg
  docs/quickstart.md
  examples/README.md
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/__init__.py
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/pyproject.toml
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: all, example

Deployed 7229ab2 with MkDocs version: 1.5.3
  CNAME
  assets/images/fr11.jpg
  quickstart/index.html
  reference/workflow/test-suite/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

FR icon fix
  docs/quickstart.md
Due: none

FR icon fix (#318)
  docs/quickstart.md
Due: none

Deployed f3331fe with MkDocs version: 1.5.3
  quickstart/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

change the click package version to make it compatible to customer environment
  pyproject.toml
Due: none

NLP -> NLP
  docs/metrics/index.md
  docs/metrics/perplexity.md
Due: none

change the click package version to make it compatible to customer environment (#319)
  pyproject.toml
Due: none

Deployed 0942845 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
