Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

fix indent
  docs/quickstart.md
Due: none

update link
  docs/quickstart.md
Due: none

Add thumbnail pic
  docs/assets/images/KITTI-pointcloud.jpg
Due: none

Update image
  docs/assets/images/KITTI-pointcloud.jpg
  docs/assets/images/KITTI-pointcloud.png
  docs/quickstart.md
Due: none

fix typo
  docs/quickstart.md
Due: none

Add 3d object detection example to docs (#140)
  docs/assets/images/KITTI-pointcloud.png
  docs/quickstart.md
Due: none

create test suite seed script
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/__init__.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_2d/tests/test_object_detection_2d.py
Due: example

nits
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
Due: example

create seed test run and collected constants
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  kolena/_experimental/object_detection/workflow.py
Due: example

update readme
  examples/object_detection_2d/README.md
Due: none

nits
  examples/object_detection_2d/README.md
Due: none

nits
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
Due: example

Renamed function to encode_png
  kolena/workflow/visualization/__init__.py
  kolena/workflow/visualization/_utils.py
  tests/unit/workflow/visualization/test_utils.py
Due: generic

AP limitations touch up (#136)
  docs/metrics/average-precision.md
Due: none

Added a util function to create a png in-memory image (#139)
  kolena/workflow/visualization/__init__.py
  kolena/workflow/visualization/_utils.py
  tests/unit/workflow/visualization/data/rgba.png
  tests/unit/workflow/visualization/test_utils.py
Due: generic

nits, address comments
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_2d/tests/test_object_detection_2d.py
  kolena/_experimental/object_detection/workflow.py
Due: example

Added an advanced guide on how to upload activation maps to Kolena
  docs/advanced-usage/index.md
  docs/advanced-usage/uploading-activation-maps.md
  docs/assets/images/activation-map.png
  docs/building-a-workflow.md
  docs/overrides/.icons/kolena/heatmap-16.svg
  docs/overrides/.icons/kolena/heatmap-20.svg
  docs/reference/workflow/visualization.md
  mkdocs.yml
Due: none

nits
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
Due: example

add to example readme
  examples/README.md
Due: none

Return computation result of TestRun.run() and add dry-run option
  kolena/workflow/test_run.py
Due: generic

changed create_png to encode_png
  docs/advanced-usage/uploading-activation-maps.md
Due: none

addressed PR nit comments
  docs/advanced-usage/uploading-activation-maps.md
Due: none

Add remote evaluator for text-summarization
  .circleci/continue_config.yml
  examples/text_summarization/docker/build.sh
  examples/text_summarization/docker/text-summarization.dockerfile
  examples/text_summarization/pyproject.toml
  examples/text_summarization/text_summarization/remote_evaluator.py
Due: all, example

build on trunk
  .circleci/continue_config.yml
Due: all

catch aws error, nits, faster loads
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  kolena/_experimental/object_detection/workflow.py
Due: example

keep all inferences
  kolena/_experimental/object_detection/evaluator_multiclass.py
Due: none

nits
  examples/object_detection_2d/pyproject.toml
Due: none

Create 2D object detection example (#141)
  examples/README.md
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/__init__.py
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_2d/pyproject.toml
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
Due: example

restrict pandera<0.16 as it requires pyspark to be installed
  pyproject.toml
Due: none

restrict pandera<0.16 as it requires pyspark to be installed (#145)
  pyproject.toml
Due: none

pin pandera<0.16 in examples
  examples/age_estimation/pyproject.toml
  examples/keypoint_detection/pyproject.toml
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_3d/pyproject.toml
  examples/text_summarization/pyproject.toml
Due: none

nits
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
Due: example

Added workflow.metrics.accuracy util function
  docs/metrics/accuracy.md
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_formula.py
Due: generic

update example docs
  docs/assets/images/COCO-transportation.jpeg
  docs/quickstart.md
Due: none

Added workflow.metrics.accuracy util function (#148)
  docs/metrics/accuracy.md
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_formula.py
Due: generic

pin pandera<0.16 in examples (#146)
  examples/age_estimation/pyproject.toml
  examples/keypoint_detection/pyproject.toml
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_3d/pyproject.toml
  examples/text_summarization/pyproject.toml
Due: none

pin pandera<0.16 in examples (#146)
  examples/age_estimation/pyproject.toml
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_3d/pyproject.toml
  examples/text_summarization/pyproject.toml
Due: none
