Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

proofread
  docs/dataset/advanced-usage/dataset-formatting/audio.md
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
  docs/dataset/advanced-usage/dataset-formatting/natural-language.md
Due: none

better multiclass validation
  kolena/_experimental/object_detection/dataset.py
Due: none

add configurable matching
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/__init__.py
  kolena/metrics/_geometry.py
Due: none

add code path for computing OD results from matches
  kolena/_experimental/object_detection/dataset.py
Due: none

remove matching function
  kolena/_experimental/object_detection/dataset.py
  kolena/metrics/__init__.py
  kolena/metrics/_geometry.py
Due: none

remove unnecessary dataclass
  kolena/_experimental/object_detection/dataset.py
Due: none

fix check multiclass
  kolena/_experimental/object_detection/dataset.py
Due: none

add _compute_metrics_from_matches
  kolena/_experimental/object_detection/dataset.py
Due: none

fix typing
  kolena/metrics/_geometry.py
Due: none

feat: Add support for parsing CSV files with missing values (#600)
  kolena/_utils/dataframes/transformers.py
  kolena/io.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

fix weird ci dependency issue
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

undo
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

fix numpy version
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

remove numpy dependency
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

fix metrics version
  examples/dataset/object_detection_2d/pyproject.toml
Due: none

add test
  kolena/_experimental/object_detection/dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

Update to kolena ^1.23.0
  examples/dataset/age_estimation/pyproject.toml
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/classification/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/face_recognition_11/pyproject.toml
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/object_detection_3d/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/search_embeddings/pyproject.toml
  examples/dataset/semantic_segmentation/pyproject.toml
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/pyproject.toml
Due: none

Update to kolena ^1.23.0 (#627)
  examples/dataset/age_estimation/pyproject.toml
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/classification/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/face_recognition_11/pyproject.toml
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/object_detection_3d/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/search_embeddings/pyproject.toml
  examples/dataset/semantic_segmentation/pyproject.toml
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/pyproject.toml
Due: none

Pin scipy for python 3.9
  pyproject.toml
Due: none

Allow 1.12/1.13
  pyproject.toml
Due: none

better version string
  pyproject.toml
Due: none

pin pandera
  pyproject.toml
Due: none

Pin scipy to < 1.14 for python 3.9, pandera to < 0.20.0 (#628)
  pyproject.toml
Due: none

chore: pin the transient dependency
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
Due: none

chore: dummy change to trigger the example ci
  kolena/_utils/dataframes/transformers.py
Due: all

add list_datasets function
  kolena/_api/v1/event.py
  kolena/_api/v2/dataset.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
Due: all

chore: pin the transient dependency (#629)
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
Due: none

relax pandera pin
  pyproject.toml
Due: none

Replace SchemaModel with DataFrameModel
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_utils/dataframes/validators.py
  kolena/_utils/datatypes.py
  kolena/workflow/_datatypes.py
Due: generic, all

Replace SchemaModel with DataFrameModel (#631)
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_utils/dataframes/validators.py
  kolena/_utils/datatypes.py
  kolena/workflow/_datatypes.py
  pyproject.toml
Due: generic, all

unpin pandera depencency in examples
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/image_retrieval_by_text/.python-version
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
Due: none

difficulty score docs without images
  docs/metrics/difficulty-score.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

Remove AIQcon banner now that event has passed
  docs/overrides/main.html
Due: none

Remove AIQcon banner now that event has passed (#634)
  docs/overrides/main.html
Due: none

Add list_datasets function to the datasets api
  kolena/_api/v1/event.py
  kolena/_api/v2/dataset.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: all

Add list_datasets function to the datasets api (#635)
  kolena/_api/v1/event.py
  kolena/_api/v2/dataset.py
  kolena/dataset/__init__.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: all

match _try_parse("NaN") behaviour with json.parse("NaN")
  kolena/_utils/dataframes/transformers.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

fix: match _try_parse("NaN") behaviour with json.parse("NaN") (#626)
  kolena/_utils/dataframes/transformers.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

use terminology seen in studio and added formulas
  docs/metrics/difficulty-score.md
  docs/metrics/index.md
Due: none

nit
  docs/metrics/difficulty-score.md
Due: none
