Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

slight edits
  docs/dataset/advanced-usage/extract-metadata-text.md
Due: none

missing quotation marks
  docs/dataset/advanced-usage/extract-metadata-text.md
Due: none

test run to chunk dataframe based on exported file size
  kolena/_utils/batched_load.py
  kolena/_utils/consts.py
  kolena/workflow/test_run.py
Due: generic, all

update typo
  kolena/_utils/batched_load.py
Due: all

changed icon
  docs/dataset/advanced-usage/extract-metadata-text.md
  docs/dataset/advanced-usage/index.md
  docs/overrides/.icons/kolena/citation-16.svg
  docs/overrides/.icons/kolena/citation-20.svg
  docs/overrides/.icons/kolena/properties-16.svg
  docs/overrides/.icons/kolena/properties-20.svg
Due: none

feat: Add parquet IO helpers (#562)
  kolena/io.py
  tests/unit/test_io.py
Due: all

changed callout to normal text
  docs/dataset/advanced-usage/extract-metadata-text.md
Due: none

Documentation for Text Metadata Hydration (#564)
  docs/assets/images/edit-text-extraction-properties.gif
  docs/assets/images/hydrated-text-example.png
  docs/assets/images/navigate-to-text-extraction-config.gif
  docs/assets/images/select-text-extraction-properties.gif
  docs/dataset/advanced-usage/extract-metadata-text.md
  docs/dataset/advanced-usage/index.md
  docs/overrides/.icons/kolena/properties-16.svg
  docs/overrides/.icons/kolena/properties-20.svg
  mkdocs.yml
Due: none

quick fixes
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
Due: none

added mean squared error doc
  docs/metrics/mean-squared-error.md
Due: none

added more MSE docs
  docs/metrics/index.md
  docs/metrics/mean-squared-error.md
  mkdocs.yml
Due: none

removed from Regression, placed in Common
  docs/metrics/index.md
Due: none

edit mkdocs.yml to move regression to original
  mkdocs.yml
Due: none

Mean Squared Error (MSE) Metric Document (#550)
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
  mkdocs.yml
Due: none

naming change
  docs/dataset/advanced-usage/extract-text-metadata.md
  mkdocs.yml
Due: none

fixed links and renamed titles, also added question_flag
  docs/dataset/advanced-usage/extract-text-metadata.md
  docs/dataset/advanced-usage/index.md
  mkdocs.yml
Due: none

re-arranged and also added lightmode screenshot
  docs/assets/images/hydrated-text-example-dark.png
  docs/assets/images/hydrated-text-example-light.png
  docs/dataset/advanced-usage/extract-text-metadata.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

re-named some fields
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
Due: none

added support for light/dark-modes
  docs/assets/images/edit-text-extraction-properties-dark.gif
  docs/assets/images/edit-text-extraction-properties-light.gif
  docs/assets/images/edit-text-extraction-properties.gif
  docs/assets/images/navigate-to-text-extraction-config-dark.gif
  docs/assets/images/navigate-to-text-extraction-config-light.gif
  docs/assets/images/select-text-extraction-properties-dark.gif
  docs/assets/images/select-text-extraction-properties-light.gif
  docs/dataset/advanced-usage/extract-text-metadata.md
Due: none

changed to alphabetical order
  docs/dataset/advanced-usage/extract-text-metadata.md
Due: none

changed ordering to be alphabetical
  docs/dataset/advanced-usage/index.md
  mkdocs.yml
Due: none

made examples in light and dark consistent
  docs/assets/images/hydrated-text-example-dark.png
  docs/assets/images/hydrated-text-example-light.png
Due: none

Change and Re-Order Text Metadata Extraction and Regression Metric Names (#566)
  docs/assets/images/edit-text-extraction-properties-dark.gif
  docs/assets/images/edit-text-extraction-properties-light.gif
  docs/assets/images/edit-text-extraction-properties.gif
  docs/assets/images/hydrated-text-example-dark.png
  docs/assets/images/hydrated-text-example-light.png
  docs/assets/images/hydrated-text-example.png
  docs/assets/images/navigate-to-text-extraction-config-dark.gif
  docs/assets/images/navigate-to-text-extraction-config-light.gif
  docs/assets/images/select-text-extraction-properties-dark.gif
  docs/assets/images/select-text-extraction-properties-light.gif
  docs/dataset/advanced-usage/extract-metadata-text.md
  docs/dataset/advanced-usage/extract-text-metadata.md
  docs/dataset/advanced-usage/index.md
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
  mkdocs.yml
Due: none

added doc for RMSE
  docs/metrics/index.md
  docs/metrics/root-mean-squared-error.md
  mkdocs.yml
Due: none

attempt to change table width
  docs/metrics/root-mean-squared-error.md
Due: none

changed table width
  docs/metrics/root-mean-squared-error.md
Due: none

move logic to calculate chunking to a function
  kolena/_utils/batched_load.py
  kolena/_utils/consts.py
  kolena/workflow/test_run.py
Due: generic, all

simplify calculation
  kolena/_utils/batched_load.py
Due: all

update constant name
  kolena/_utils/batched_load.py
Due: all

Root Mean Squared Error (RMSE) Metric Document (#567)
  docs/metrics/index.md
  docs/metrics/root-mean-squared-error.md
  mkdocs.yml
Due: none

initial draft
  docs/metrics/coefficient-of-determination.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

Update pandera upper bound to 1.0
  pyproject.toml
Due: none

Widen more pins
  pyproject.toml
Due: none

Update cache setup?
  .circleci/continue_config.yml
Due: all

added in examples
  docs/metrics/coefficient-of-determination.md
Due: none

Raise lower bound for Pillow
  pyproject.toml
Due: none

Update dependency upper bounds to next major version (#568)
  .circleci/continue_config.yml
  pyproject.toml
Due: all

add short circut logic
  kolena/_utils/batched_load.py
  kolena/workflow/test_run.py
Due: generic, all

Update logic
  kolena/_utils/batched_load.py
Due: all

reorder table of contents
  mkdocs.yml
Due: none
