Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Update link
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

Fix license years
  kolena/dataset/__init__.py
Due: none

Fix end-of-file
  docs/dataset/core-concepts/index.md
Due: none

properly raise exception in listing dataset history call
  kolena/_experimental/dataset/_dataset.py
Due: none

move dataset out of experimental
  examples/dataset/question_answering/question_answering/register_dataset.py
  kolena/_experimental/dataset/__init__.py
  kolena/dataset/__init__.py
  kolena/dataset/common.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_common.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: example

change split type for experimental tests
  .circleci/continue_config.yml
Due: all

new cache key
  .circleci/continue_config.yml
Due: all

only run experimental once
  .circleci/continue_config.yml
  kolena/dataset/__init__.py
Due: all

moving test out
  tests/integration/dataset/__init__.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/dataset/__init__.py
  tests/unit/dataset/data.py
  tests/unit/dataset/test_common.py
  tests/unit/dataset/test_dataset.py
Due: none

Link to Datasets Quickstart from Workflow building doc
  docs/workflow/building-a-workflow.md
  kolena/dataset/__init__.py
Due: none

test fix
  .circleci/continue_config.yml
Due: all

remove extra license
  kolena/dataset/__init__.py
Due: none

remove unused function
  .circleci/continue_config.yml
  kolena/dataset/evaluation.py
Due: all

Link to Datasets Quickstart from Workflow building doc (#386)
  docs/workflow/building-a-workflow.md
  kolena/dataset/__init__.py
Due: none

Move to dataset/keypoint_detection
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
Due: example

Dedupe license header
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
Due: example

record events on dataset testing
  kolena/_api/v1/event.py
  kolena/_experimental/dataset/_evaluation.py
Due: all

Revert bad diff
  examples/README.md
  examples/dataset/keypoint_detection/pyproject.toml
  examples/workflow/keypoint_detection/pyproject.toml
Due: none

chore: add import unit tests
  tests/unit/dataset/test_annotation.py
  tests/unit/dataset/test_asset.py
Due: none

chore: create required modules
  kolena/dataset/annotation.py
  kolena/dataset/asset.py
Due: none

chore: dummy init
  tests/unit/dataset/__init__.py
Due: none

chore: fix tests
  tests/unit/dataset/test_annotation.py
  tests/unit/dataset/test_asset.py
Due: none

added dataset pytest group
  .circleci/config.yml
  .circleci/continue_config.yml
Due: all

Continue reorganizing
  examples/dataset/keypoint_detection/keypoint_detection/__init__.py
  examples/dataset/keypoint_detection/keypoint_detection/benchmark_model.py
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/pyproject.toml
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_utils/endpoints.py
Due: all, example

fix test
  examples/workflow/text_summarization/tests/test_text_summarization.py
Due: example

Run through README
  examples/dataset/keypoint_detection/README.md
  examples/workflow/keypoint_detection/README.md
Due: none

Add entry to examples/dataset/README for keypoint_detection
  examples/dataset/README.md
Due: none

Cleanup in preparation for review
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/pyproject.toml
Due: example

Enforce id_fields to be primitives
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/common.py
  tests/unit/_experimental/dataset/test_common.py
Due: none

stand alone dataset test
  .circleci/config.yml
  .circleci/continue_config.yml
  examples/workflow/text_summarization/tests/test_text_summarization.py
Due: all, example

move dataset out of experimental (#384)
  .circleci/config.yml
  .circleci/continue_config.yml
  examples/dataset/question_answering/question_answering/register_dataset.py
  kolena/_experimental/dataset/__init__.py
  kolena/dataset/__init__.py
  kolena/dataset/common.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/__init__.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/dataset/__init__.py
  tests/unit/dataset/data.py
  tests/unit/dataset/test_common.py
  tests/unit/dataset/test_dataset.py
Due: all, example

rename test function for datasets
  kolena/dataset/__init__.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

update doc string and log message
  kolena/dataset/evaluation.py
Due: none

Capture dataset-related events (#385)
  kolena/_api/v1/event.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: all

migrate metrics
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

remove _experimental from scripts
  examples/dataset/classification/classification/binary/register_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

Simplify benchmark script
  examples/dataset/keypoint_detection/keypoint_detection/benchmark_model.py
Due: example

nit
  examples/dataset/classification/classification/binary/upload_results.py
Due: example

update dataset upload results events
  kolena/_api/v1/event.py
  kolena/dataset/evaluation.py
Due: all

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
