Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Use correct url for building a workflow example
  examples/keypoint_detection/README.md
Due: none

Added medium size stratification
  examples/classification/scripts/binary/seed_test_suite.py
Due: example

Fixed the csv dir on test
  examples/classification/tests/test_binary_classification.py
Due: example

Remove superfluous '_labels' from prebuilt OD test sample metrics
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Set multiclass argument in the test
  examples/classification/tests/test_binary_classification.py
Due: example

Updated the test suite name in the test
  examples/classification/tests/test_binary_classification.py
Due: example

Considered a single class test case where negative label cannot be determined
  examples/classification/classification/evaluator.py
  examples/classification/classification/evaluator_base.py
  examples/classification/classification/evaluator_binary.py
  examples/classification/classification/evaluator_multiclass.py
  examples/classification/classification/workflow.py
Due: example

Added CIFAR-10 / Dogs vs. Cats examples to quickstart
  docs/assets/images/CIFAR-10.jpg
  docs/quickstart.md
Due: none

Added API doc link for kolena._experimental.classification.utils
  docs/quickstart.md
  docs/reference/pre-built/classification.md
  kolena/_experimental/classification/utils.py
  mkdocs.yml
Due: none

Use correct url for building a workflow example (#175)
  examples/keypoint_detection/README.md
Due: none

Seeding scripts for binary classification example (#173)
  examples/README.md
  examples/classification/README.md
  examples/classification/classification/evaluator.py
  examples/classification/classification/evaluator_base.py
  examples/classification/classification/evaluator_binary.py
  examples/classification/classification/evaluator_multiclass.py
  examples/classification/classification/workflow.py
  examples/classification/scripts/binary/__init__.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/tests/test_binary_classification.py
  examples/classification/tests/test_multiclass_classification.py
Due: example

threshold curves for binary classification
  examples/classification/classification/evaluator_binary.py
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: example

Added docstring to the util function
  kolena/_experimental/classification/utils.py
Due: none

nit addressed
  docs/reference/pre-built/classification.md
Due: none

reverted threshold curves addition in binary classification example
  examples/classification/classification/evaluator_binary.py
Due: example

Threshold curves for binary classification example (#178)
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Addressing comments from https://github.com/kolenaIO/kolena/pull/178
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Addressing comments from https://github.com/kolenaIO/kolena/pull/178 (#179)
  kolena/_experimental/classification/utils.py
  tests/unit/_experimental/classification/test_utils.py
Due: none

Classification examples to docs.kolena.io (#177)
  docs/assets/images/CIFAR-10.jpg
  docs/quickstart.md
  docs/reference/pre-built/classification.md
  kolena/_experimental/classification/utils.py
  mkdocs.yml
Due: none

Fix links to precision, recall, and F1-score
  kolena/_experimental/classification/utils.py
Due: none

Fix links to precision, recall, and F1-score (#181)
  kolena/_experimental/classification/utils.py
Due: none

Update ear -> eye in workflow as well
  examples/keypoint_detection/keypoint_detection/evaluator.py
  examples/keypoint_detection/keypoint_detection/workflow.py
Due: example

Rename ear -> eye
  examples/keypoint_detection/keypoint_detection/evaluator.py
Due: example

Update seed_test_run to use thresholds that better approximate variance in example data
  examples/keypoint_detection/keypoint_detection/seed_test_run.py
Due: example

Workflow fixes for keypoint example
  examples/keypoint_detection/keypoint_detection/evaluator.py
  examples/keypoint_detection/keypoint_detection/utils.py
Due: example

Keypoints workflow improvements (#180)
  examples/keypoint_detection/keypoint_detection/evaluator.py
  examples/keypoint_detection/keypoint_detection/seed_test_run.py
  examples/keypoint_detection/keypoint_detection/utils.py
  examples/keypoint_detection/keypoint_detection/workflow.py
Due: example

Fix quickstart classification icons
  docs/quickstart.md
Due: none

Fix quickstart classification icons (#182)
  docs/quickstart.md
Due: none

Adds threshold plots to binary classification example
  examples/classification/classification/evaluator_binary.py
  examples/classification/pyproject.toml
Due: example

Deployed d30936a with MkDocs version: 1.5.2
  quickstart/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Revert unintentional codes
  kolena/workflow/test_run.py
Due: generic

Revert unintentional codes (#184)
  kolena/workflow/test_run.py
Due: generic

Add evaluator image debug tips
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

wording updates
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

Add test invocation note
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

rewording
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

add resource limits information
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none

Remove unused return
  kolena/workflow/test_run.py
Due: generic

Refine wording
  docs/advanced-usage/packaging-for-automated-evaluation.md
Due: none
