Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

add tests for age estimation
  examples/dataset/age_estimation/tests/test_age_estimation.py
Due: example

fix style
  examples/dataset/age_estimation/age_estimation/upload_results.py
  examples/dataset/age_estimation/tests/test_age_estimation.py
Due: example

chore: poke
  .circleci/continue_config.yml
Due: all

clean up
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

remove detection
  kolena/detection/__init__.py
  kolena/detection/_datatypes.py
  kolena/detection/ground_truth.py
  kolena/detection/inference.py
  kolena/detection/metadata.py
  kolena/detection/model.py
  kolena/detection/test_case.py
  kolena/detection/test_config.py
  kolena/detection/test_image.py
  kolena/detection/test_run.py
  kolena/detection/test_suite.py
Due: detection

chore: dummy tests
  .circleci/continue_config.yml
  tests/integration/dataset/test_dummy.py
Due: all

rename ssrnet
  examples/dataset/age_estimation/age_estimation/upload_results.py
  examples/dataset/age_estimation/tests/test_age_estimation.py
Due: example

populate readme for age estimation
  examples/dataset/README.md
  examples/dataset/age_estimation/README.md
Due: none

fix typo
  examples/dataset/age_estimation/README.md
Due: none

remove detection.internal
  kolena/detection/_internal/__init__.py
  kolena/detection/_internal/datatypes.py
  kolena/detection/_internal/ground_truth.py
  kolena/detection/_internal/inference.py
  kolena/detection/_internal/metadata.py
  kolena/detection/_internal/model.py
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_config.py
  kolena/detection/_internal/test_image.py
  kolena/detection/_internal/test_run.py
  kolena/detection/_internal/test_suite.py
Due: detection

chore: clean up
  .circleci/continue_config.yml
  tests/integration/dataset/test_dummy.py
Due: all

remove detection from init
  kolena/__init__.py
Due: all

clean up
  examples/dataset/age_estimation/age_estimation/constants.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

remove fr tests
  .circleci/config.yml
  .circleci/continue_config.yml
  tests/integration/fr/__init__.py
  tests/integration/fr/conftest.py
  tests/integration/fr/helper.py
  tests/integration/fr/test_model.py
  tests/integration/fr/test_test_case.py
  tests/integration/fr/test_test_images.py
  tests/integration/fr/test_test_run.py
  tests/integration/fr/test_test_suite.py
  tests/unit/fr/__init__.py
  tests/unit/fr/test_datatypes.py
  tests/unit/fr/test_definitions.py
  tests/unit/fr/test_model.py
  tests/unit/fr/test_test_case.py
  tests/unit/fr/test_test_suite.py
Due: fr, all

Update CI token count to 8
  .circleci/continue_config.yml
Due: all

remove fr
  kolena/__init__.py
  kolena/fr/__init__.py
  kolena/fr/_utils.py
  kolena/fr/datatypes.py
  kolena/fr/model.py
  kolena/fr/test_case.py
  kolena/fr/test_images.py
  kolena/fr/test_run.py
  kolena/fr/test_suite.py
Due: fr, all

remove missed fr test
  tests/unit/test_initialize.py
Due: none

Use pre-computed RetinaFace inferences for keypoint detection example
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
Due: example

add dataset example tests to ci
  .circleci/continue_config.yml
Due: all

Remove reference to RetinaFace dependency in README
  examples/dataset/keypoint_detection/README.md
Due: none

multiclass example
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/multiclass/__init__.py
  examples/dataset/classification/classification/multiclass/constants.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/classification/tests/test_multiclass_classification.py
Due: example

Add gifs to quickstart
  docs/assets/images/quickstart-compare-models.gif
  docs/assets/images/quickstart-create-test-cases.gif
  docs/assets/images/quickstart-distribution.jpg
  docs/assets/images/quickstart-otf-plotting.gif
  docs/assets/images/quickstart-upload-dataset-workflow.gif
  docs/assets/images/quickstart-upload-results-workflow.gif
  docs/dataset/quickstart.md
Due: none

remove mypy for examples/workflow
  .pre-commit-config.yaml
Due: none

Update CI token count to 8 (#428)
  .circleci/continue_config.yml
Due: all

mypy fixes part 1
  .pre-commit-config.yaml
  kolena/_utils/instrumentation.py
  kolena/_utils/state.py
  kolena/_utils/validators.py
  kolena/workflow/visualization/_activation_map.py
Due: generic, all

mypy krequests
  kolena/_utils/endpoints.py
  kolena/_utils/krequests.py
Due: all

fix binary classification example
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/__init__.py
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/tests/test_binary_classification.py
Due: example

mypy utils/cli
  kolena/_utils/cli.py
Due: all

update age estimation example to avoid ci test collision
  examples/dataset/age_estimation/README.md
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
  examples/dataset/age_estimation/tests/test_age_estimation.py
Due: example

revert unintended reordering
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/tests/test_binary_classification.py
Due: example

mypy part 3
  kolena/_utils/datatypes.py
  kolena/_utils/endpoints.py
  kolena/annotation.py
  kolena/asset.py
  kolena/io.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
Due: generic, all

mypy pt4
  kolena/_utils/datatypes.py
  kolena/_utils/krequests.py
  kolena/_utils/state.py
  kolena/workflow/test_sample.py
Due: generic, all

update dataset examples
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/question_answering/question_answering/upload_results.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
Due: example

update docs for datasets.test
  docs/reference/dataset/test.md
  docs/reference/dataset/upload-results.md
Due: none

fix docs
  kolena/dataset/evaluation.py
  mkdocs.yml
Due: none

fix errors
  kolena/dataset/__init__.py
  mkdocs.yml
Due: none

remove uneeded return
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
Due: example

Added Github Action to build legacy docs.
  .github/workflows/legacy_docs.yml
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

Added snippet for legacy warning
  docs/legacy_warning.md
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
