Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Handle different behavior in 3.8 with typing_extensions.Annotated
  kolena/workflow/_validators.py
Due: generic

Updated script to use the right dataset name
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/upload_results.py
Due: example

Added to dataset README.md
  examples/dataset/README.md
Due: none

Updated task name in README.md file
  examples/dataset/automatic_speech_recognition/README.md
Due: none

Updated metrics names on README.md
  examples/dataset/automatic_speech_recognition/README.md
Due: none

Updated default model name in test
  examples/dataset/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
Due: example

Added automatic_speech_recognition example (#490)
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/automatic_speech_recognition/README.md
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/__init__.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/constants.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/upload_dataset.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/upload_results.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_results.py
Due: all, example

fix doc publish step in release
  .github/workflows/release.yml
Due: none

update workflow doc ref
  examples/workflow/search_embeddings/README.md
Due: none

fix doc publish step in release (#491)
  .github/workflows/release.yml
Due: none

Added a page for statistical significance
  docs/metrics/index.md
  docs/metrics/statistical-significance.md
  mkdocs.yml
Due: none

initial draft
  examples/dataset/search_embeddings/README.md
  examples/dataset/search_embeddings/pyproject.toml
  examples/dataset/search_embeddings/search_embeddings/__init__.py
  examples/dataset/search_embeddings/search_embeddings/extract_embeddings.py
Due: example

chore: add dry_run for results uploading
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
Due: all

refactor
  examples/dataset/search_embeddings/search_embeddings/extract_embeddings.py
Due: example

readme clean up
  examples/dataset/search_embeddings/README.md
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

initial doc commit
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

helper functions to facilitate using dataset for 2d object detection
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
Due: none

add docs on natural language search
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/set-up-natural-language-search.md
  mkdocs.yml
Due: none

clean up
  examples/dataset/search_embeddings/README.md
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

update dependencies
  examples/dataset/search_embeddings/pyproject.toml
Due: none

fix image reference
  docs/dataset/advanced-usage/set-up-natural-language-search.md
Due: none

refactor for better tqdm rendering
  examples/dataset/search_embeddings/search_embeddings/upload_embeddings.py
Due: example

chore: fix tests
  tests/unit/dataset/test_dataset.py
Due: none

refactor: abstract replace_nan
  kolena/_utils/batched_load.py
  kolena/_utils/dataframes/__init__.py
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  kolena/io.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

chore: no nan in download as well
  kolena/dataset/dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/dataset/test_dataset.py
  tests/unit/utils/test_dataframes.py
Due: none

chore: add integration tests
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/utils/dataframes/test_transformers.py
Due: none

chore: type hints
  tests/unit/utils/test_dataframes.py
Due: none

chore: create df_apply wrapper
  kolena/_utils/dataframes/_pandas.py
  kolena/dataset/dataset.py
  kolena/io.py
  tests/unit/utils/test_dataframes.py
Due: all

chore: replace NaN with None before uploading
  kolena/_utils/batched_load.py
  kolena/dataset/dataset.py
Due: all

chore: add tests for replace_nan
  kolena/_utils/batched_load.py
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

chore: fix integration tests
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
Due: none

update interfaces
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/dataset.py
Due: none

add missing fields
  kolena/_experimental/object_detection/dataset.py
Due: none

fix linter
  kolena/_experimental/object_detection/dataset.py
Due: none

add tests
  kolena/_experimental/object_detection/dataset.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

chore: hand roll json_normalize to use None as missing value
  kolena/_utils/dataframes/transformers.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
  tests/integration/dataset/test_evaluation.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

Upgrade to Pydantic V2 (#486)
  .pre-commit-config.yaml
  docs/installing-kolena.md
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/_utils/datatypes.py
  kolena/_utils/geometry.py
  kolena/_utils/inference_validators.py
  kolena/_utils/validators.py
  kolena/workflow/_validators.py
  kolena/workflow/define_workflow.py
  kolena/workflow/evaluator.py
  kolena/workflow/model.py
  kolena/workflow/plot.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
  pyproject.toml
  tests/unit/_experimental/classification/test_utils.py
  tests/unit/workflow/test_data_object.py
Due: generic, all

chore: add more tests
  kolena/_utils/dataframes/transformers.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

Revert "chore: add more tests"
  kolena/_utils/dataframes/transformers.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all
