Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Ignore 3.12 for pre-commit too
  .circleci/continue_config.yml
Due: all

Conditionally pin scipy to the first release (1.12) with 3.12support on Python3.12
  pyproject.toml
Due: none

Also conditionally pin scipy for 3.8
  pyproject.toml
Due: none

chore: update sources type
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: all

chore: expose sources in private functions
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/dataset/_common.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: all

Set upper bound for Pandas
  pyproject.toml
Due: none

Support Python 3.12 (#480)
  .circleci/continue_config.yml
  docs/installing-kolena.md
  pyproject.toml
Due: all

chore: expose sources for uploading (#481)
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/dataset/_common.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: all

remove deprecated docs
  .github/workflows/docs.yml
Due: none

remove deprecated docs (#482)
  .github/workflows/docs.yml
Due: none

Remove unused API definitions
  kolena/_api/v1/detection.py
  kolena/_api/v1/fr.py
Due: all

update quickstart to dataset
  README.md
Due: none

Remove unused API definitions (#483)
  kolena/_api/v1/detection.py
  kolena/_api/v1/fr.py
Due: all

update build-a-workflow and connecting-cloud-storage links
  docs/workflow/advanced-usage/uploading-activation-maps.md
  examples/dataset/semantic_segmentation/README.md
  examples/workflow/README.md
  examples/workflow/semantic_segmentation/README.md
Due: none

Simplify __init__ to not dance around lack of importlib.metadata in 3.7
  kolena/__init__.py
Due: all

Remove robot ignores in __init__
  kolena/__init__.py
Due: all

Clean up __init__
  kolena/__init__.py
Due: all

Remove unused Uninstantiable definition
  kolena/_utils/uninstantiable.py
Due: all

Remove unused Serializable definition
  kolena/_utils/serializable.py
Due: all

Remove unused AssetPathMapper
  kolena/_utils/asset_path_mapper.py
Due: all

use relative links
  docs/workflow/advanced-usage/set-up-natural-language-search.md
  docs/workflow/advanced-usage/uploading-activation-maps.md
Due: none

Remove additional unused definitions (#485)
  kolena/__init__.py
  kolena/_utils/asset_path_mapper.py
  kolena/_utils/serializable.py
  kolena/_utils/uninstantiable.py
Due: all

Update Pydantic pin to support v2
  pyproject.toml
Due: none

[WIP] Migrate to Pydantic V2, lots of breakage to deal with
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/_utils/geometry.py
  kolena/_utils/inference_validators.py
  kolena/_utils/validators.py
  kolena/workflow/define_workflow.py
  kolena/workflow/evaluator.py
  kolena/workflow/model.py
  kolena/workflow/plot.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
  tests/unit/_experimental/classification/test_utils.py
Due: generic, all

Update pre-commit config
  .pre-commit-config.yaml
  kolena/_utils/validators.py
Due: all

Bump pyproject
  pyproject.toml
Due: none

[WIP] Fix union type validation
  kolena/workflow/_validators.py
  pyproject.toml
Due: generic

Update quickstart url to dataset (#484)
  README.md
  docs/workflow/advanced-usage/set-up-natural-language-search.md
  docs/workflow/advanced-usage/uploading-activation-maps.md
  examples/dataset/semantic_segmentation/README.md
  examples/workflow/README.md
  examples/workflow/semantic_segmentation/README.md
Due: none

build: conditional shapely version
  pyproject.toml
Due: none

build: conditional shapely version (#487)
  pyproject.toml
Due: none

chore: stick with the existing kolena client dependencies for python < 3.12
  pyproject.toml
Due: none

chore: shapely wo condition
  pyproject.toml
Due: none

Move dynamic_evaluator to init
  kolena/_experimental/object_detection/evaluator.py
Due: none

Fix state handling in experimental object detection evaluator (#479)
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
Due: none

chore: pin shapely version wo condition (#489)
  pyproject.toml
Due: none

Update _allow_extra implementation
  docs/installing-kolena.md
  kolena/_utils/datatypes.py
Due: all

Added automatic_speech_recognition example
  .circleci/continue_config.yml
  examples/dataset/automatic_speech_recognition/README.md
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/__init__.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/constants.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/upload_dataset.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/upload_results.py
  examples/dataset/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/automatic_speech_recognition/tests/test_automatic_speech_recognition.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_results.py
Due: all, example

Updated README.md
  examples/dataset/automatic_speech_recognition/README.md
Due: none

Update _allow_extra implementation
  kolena/_utils/datatypes.py
  tests/unit/workflow/test_data_object.py
Due: all

Fall back to importing Annotated from typing_extensions
  kolena/workflow/_validators.py
Due: generic

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
