Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

update
  examples/face_recognition_11/README.md
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/pyproject.toml
  examples/face_recognition_11/scripts/__init__.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

Addressing PR comments
  docs/metrics/geometry-matching.md
Due: none

Enabled average precision and pr curve pages (#236)
  docs/metrics/average-precision.md
  docs/metrics/index.md
  docs/metrics/pr-curve.md
  mkdocs.yml
Due: none

metrics glossary: added confused matches usage in geometry-matching doc (#235)
  docs/metrics/geometry-matching.md
Due: none

update
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/pyproject.toml
Due: example

Update bertscore.md
  docs/metrics/bertscore.md
Due: none

BLEU metric doc
  docs/assets/images/bleu-judgement.png
  docs/metrics/bleu.md
Due: none

BERT metrics doc
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/metrics/bertscore.md
Due: none

implemented test suite creation successfully
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Generic workflow grabbag datatype with pydantic (#230)
  examples/object_detection_3d/pyproject.toml
  kolena/workflow/_datatypes.py
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/test_sample.py
  pyproject.toml
  tests/integration/workflow/dummy.py
  tests/integration/workflow/test_test_run.py
  tests/unit/workflow/test_data_object.py
Due: generic

add helper functions to export kolena data
  kolena/workflow/__init__.py
  kolena/workflow/_datatypes.py
  tests/unit/workflow/test_data_object.py
Due: generic

add docstrings
  kolena/workflow/_datatypes.py
Due: generic

restructure and update docs
  docs/reference/workflow/io-tools.md
  kolena/workflow/__init__.py
  kolena/workflow/_datatypes.py
  kolena/workflow/io.py
  mkdocs.yml
Due: generic

fix restructure error
  tests/unit/workflow/test_data_object.py
  tests/unit/workflow/test_io.py
Due: none

Workflow schema
  examples/semantic_segmentation/pyproject.toml
  examples/semantic_segmentation/semantic_segmentation/__init__.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Seeding scripts
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
Due: example

fix bug
  kolena/workflow/io.py
  tests/unit/workflow/test_io.py
Due: generic

add link for dataframe json serialization
  kolena/workflow/_datatypes.py
Due: generic

more fussing
  tests/unit/workflow/test_io.py
Due: none

Fix mismatch person label
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

Add evaluator for semantic_segmentation example
  examples/semantic_segmentation/pyproject.toml
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

updated workflow schema to include .npy file
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

add code to upload TN/FN/FP masks
  examples/semantic_segmentation/pyproject.toml
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

Add model name to configuration
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Add constants
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

Remove 'any and all' redundant wording
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_suite.py
  kolena/fr/test_case.py
  kolena/workflow/test_case.py
  kolena/workflow/test_suite.py
Due: detection, fr, generic

cleanup evaluator code
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
Due: example

add skeleton for prob transformations
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

Add missed constant file
  examples/semantic_segmentation/semantic_segmentation/constants.py
Due: example

Remove 'any and all' redundant wording (#240)
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_suite.py
  kolena/fr/test_case.py
  kolena/workflow/test_case.py
  kolena/workflow/test_suite.py
Due: detection, fr, generic

Initial doc string comments
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Add initial README
  examples/semantic_segmentation/README.md
Due: none

Added threshold configuration
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Added plots + ap calculation
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

code cleanup
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
Due: example

Added to QuickStart doc
  docs/assets/images/coco-stuff-10k.jpg
  docs/overrides/.icons/kolena/polygon-16.svg
  docs/overrides/.icons/kolena/polygon-20.svg
  docs/quickstart.md
  examples/README.md
Due: none

code cleanup
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
