Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Remove blank line from pyproject.toml
  pyproject.toml
Due: none

Remove dangling hyphen
  .circleci/continue_config.yml
Due: all

Remove metrics extra renaming -- no need to bundle with this PR
  .circleci/continue_config.yml
Due: all

Remove 'experimental.new-installer' from CI (#62)
  .circleci/continue_config.yml
  pyproject.toml
Due: all

Add kolena.workflow.metrics reference docs
  docs/reference/workflow/metrics.md
  kolena/workflow/metrics/__init__.py
  kolena/workflow/metrics/_geometry.py
  mkdocs.yml
Due: generic

Properly report number of inferences uploaded
  kolena/detection/_internal/test_run.py
Due: detection

Properly report number of inferences uploaded (#63)
  kolena/detection/_internal/test_run.py
Due: detection

remove per class eval
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/workflow.py
  pyproject.toml
Due: none

nits
  kolena/_experimental/object_detection/utils.py
Due: none

Clean up unused data structures
  kolena/_api/v1/core.py
Due: all

Tune up kolena.detection docstrings
  docs/reference/built-in/detection.md
  kolena/classification/test_run.py
  kolena/detection/__init__.py
  kolena/detection/_internal/test_case.py
  kolena/detection/ground_truth.py
  kolena/detection/inference.py
  kolena/detection/metadata.py
  kolena/detection/model.py
  kolena/detection/test_case.py
  kolena/detection/test_config.py
  kolena/detection/test_image.py
  kolena/detection/test_run.py
  kolena/detection/test_suite.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
  mkdocs.yml
Due: classification, detection, generic

Clean up unused data structures (#64)
  kolena/_api/v1/core.py
Due: all

Make job name looks better
  .circleci/continue_config.yml
Due: all

Touch up kolena.detection._internal docs -- still not committed to a pattern for inherited members
  kolena/classification/model.py
  kolena/classification/test_config.py
  kolena/detection/_internal/inference.py
  kolena/detection/_internal/model.py
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_config.py
  kolena/detection/_internal/test_image.py
  kolena/detection/_internal/test_run.py
  kolena/detection/_internal/test_suite.py
  kolena/detection/model.py
  kolena/detection/test_case.py
  kolena/detection/test_config.py
  kolena/detection/test_image.py
Due: classification, detection

Reference base classes directly; flip strict mode back on
  docs/reference/built-in/base.md
  kolena/classification/test_suite.py
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_suite.py
  kolena/detection/test_case.py
  kolena/detection/test_config.py
  kolena/detection/test_image.py
  kolena/detection/test_suite.py
  mkdocs.yml
Due: classification, detection

Include base class documentation and reference where applicable
  kolena/classification/model.py
  kolena/classification/test_case.py
  kolena/classification/test_suite.py
  kolena/detection/_internal/test_suite.py
  kolena/detection/model.py
  kolena/detection/test_case.py
  kolena/detection/test_suite.py
  mkdocs.yml
Due: classification, detection

Create object detection confusion matrix plot (#58)
  kolena/_experimental/__init__.py
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/utils.py
  kolena/workflow/metrics/_geometry.py
  tests/unit/_experimental/__init__.py
  tests/unit/_experimental/test_plots.py
Due: generic

Start cleaning up in preparation for review
  docs/index.md
  mkdocs.yml
Due: none

Add CI step to build docs on Python 3.9 only
  .circleci/continue_config.yml
  pyproject.toml
Due: all

redo changes
  kolena/_experimental/object_detection/utils.py
  kolena/_extras/metrics/sklearn.py
  pyproject.toml
  tests/unit/_experimental/test_plots.py
Due: none

Update docs build and publish to use GH Pages instead of S3
  .circleci/continue_config.yml
  .github/workflows/release.yml
Due: all

Remove working directory from docs build step
  .github/workflows/release.yml
Due: none

Stub out pages; use icon instead of wordmark
  .circleci/continue_config.yml
  docs/advanced-usage.md
  docs/assets/images/logo-white.svg
  docs/assets/images/wordmark-white.svg
  docs/faq.md
  docs/metrics-guide.md
  docs/overrides/announce.html
  docs/overrides/main.html
  mkdocs.yml
Due: all

Cleanup in preparation for review
  kolena/initialize.py
  kolena/workflow/define_workflow.py
  kolena/workflow/test_run.py
  mkdocs.yml
Due: generic, all

Add basic usage snippets to the top of various files
  kolena/detection/_internal/model.py
  kolena/detection/_internal/test_run.py
  kolena/workflow/annotation.py
  kolena/workflow/asset.py
  kolena/workflow/ground_truth.py
  kolena/workflow/inference.py
Due: detection, generic

requested changes and nits
  kolena/_experimental/object_detection/utils.py
  kolena/_extras/metrics/sklearn.py
  tests/unit/_experimental/test_plots.py
Due: none

mark conf mat tests as metrics
  tests/unit/_experimental/test_plots.py
Due: none

added more tests for single matching and logic fixes
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_plots.py
Due: none

nits
  tests/unit/_experimental/test_plots.py
Due: none

add f1 optimal tests
  kolena/_experimental/object_detection/utils.py
  tests/unit/_experimental/test_utils.py
Due: none

Expand on various kolena.workflow docstrings
  kolena/initialize.py
  kolena/workflow/inference.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_sample.py
  kolena/workflow/test_suite.py
  mkdocs.yml
Due: generic, all

Expand on kolena.{errors,initialize} docstrings and add PyPI footer link
  kolena/errors.py
  kolena/initialize.py
  mkdocs.yml
Due: all

Address PR comments
  kolena/classification/model.py
  kolena/classification/test_case.py
Due: classification

Catch a number of lagging Sphinx-style references
  kolena/_experimental/object_detection/utils.py
  kolena/classification/multiclass/test_run.py
  kolena/classification/multiclass/workflow.py
  kolena/classification/test_config.py
  kolena/detection/_internal/test_run.py
  kolena/detection/_internal/test_suite.py
  kolena/detection/test_config.py
  kolena/detection/test_image.py
  kolena/fr/test_case.py
  kolena/fr/test_images.py
  kolena/fr/test_run.py
  kolena/fr/test_suite.py
  kolena/workflow/__init__.py
  kolena/workflow/evaluator.py
  kolena/workflow/test_run.py
  kolena/workflow/workflow.py
Due: classification, detection, fr, generic

Document fields of test sample types
  kolena/workflow/test_sample.py
Due: generic

Order legacy built-in workflow members alphabetically
  docs/reference/built-in/classification.md
  docs/reference/built-in/detection.md
  docs/reference/built-in/fr.md
  kolena/fr/datatypes.py
Due: fr

Add missing to kolena.workflow.Video docs
  kolena/workflow/test_sample.py
Due: generic

Add a few missing docstrings; disable source code embedding
  kolena/workflow/test_case.py
  kolena/workflow/test_suite.py
  mkdocs.yml
Due: generic

Document missing methods on Evaluator and attributes in other places
  kolena/workflow/asset.py
  kolena/workflow/evaluator.py
Due: generic
