Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

fix extras missing from field_order
  kolena/workflow/_datatypes.py
  tests/unit/workflow/test_data_object.py
Due: generic

fix merge error
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Fixed the threshold mismatch bug
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

update for remodelling changes
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

chore: get back the updates
  kolena/_experimental/dataset/_dataset.py
Due: none

Rename to no_op_evaluator
  kolena/workflow/__init__.py
  kolena/workflow/evaluator_function.py
  tests/integration/workflow/test_test_run.py
Due: generic

chore: fix tests
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

skeleton commit
  examples/recommender_system/README.md
  examples/recommender_system/pyproject.toml
  examples/recommender_system/recommender_system/__init__.py
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

fix nested typed dataobject deserialization bug
  kolena/workflow/_datatypes.py
  tests/unit/workflow/test_data_object.py
Due: generic

fix another deserialization bug
  kolena/workflow/_datatypes.py
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_data_object.py
  tests/unit/workflow/test_test_sample.py
Due: generic

Fix unit test
  kolena/workflow/_thresholded.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

Fix unit test
  tests/unit/workflow/test_validators.py
Due: none

Update `api_token` from positional to keyword argument (#272)
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/building-a-workflow.md
  docs/installing-kolena.md
  examples/age_estimation/age_estimation/seed_test_run.py
  examples/age_estimation/age_estimation/seed_test_suite.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/keypoint_detection/keypoint_detection/seed_test_run.py
  examples/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/text_summarization/text_summarization/remote_evaluator.py
  examples/text_summarization/text_summarization/seed_test_run.py
  examples/text_summarization/text_summarization/seed_test_suite.py
  kolena/_utils/cli.py
  kolena/initialize.py
  tests/integration/test_initialize.py
  tests/unit/test_initialize.py
  tests/unit/utils/test_cli.py
Due: all, example

update based on pr comments
  kolena/_experimental/dataset/_dataset.py
  kolena/workflow/__init__.py
Due: generic

fix dataset test
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

add initial support for audio type (#263)
  kolena/_experimental/dataset/_dataset.py
  kolena/workflow/__init__.py
  kolena/workflow/asset.py
  kolena/workflow/test_sample.py
  tests/unit/_experimental/dataset/test_dataset.py
  tests/unit/workflow/test_test_sample.py
Due: generic

Remove redundant passing of `KOLENA_TOKEN` env var to initialize
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/building-a-workflow.md
  docs/installing-kolena.md
  examples/age_estimation/age_estimation/seed_test_run.py
  examples/age_estimation/age_estimation/seed_test_suite.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/keypoint_detection/keypoint_detection/seed_test_run.py
  examples/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/text_summarization/text_summarization/remote_evaluator.py
  examples/text_summarization/text_summarization/seed_test_run.py
  examples/text_summarization/text_summarization/seed_test_suite.py
  kolena/initialize.py
Due: all, example

Remove redundant passing of `KOLENA_TOKEN` env var to initialize (#284)
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/building-a-workflow.md
  docs/installing-kolena.md
  examples/age_estimation/age_estimation/seed_test_run.py
  examples/age_estimation/age_estimation/seed_test_suite.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/keypoint_detection/keypoint_detection/seed_test_run.py
  examples/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/text_summarization/text_summarization/remote_evaluator.py
  examples/text_summarization/text_summarization/seed_test_run.py
  examples/text_summarization/text_summarization/seed_test_suite.py
  kolena/initialize.py
Due: all, example

initial demo seeding
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

fixed stratification slowdown
  examples/recommender_system/recommender_system/seed_test_suite.py
Due: example

initial commit for test run
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

chore: init test_evaluation
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

chore: pandas._testing => pandas.testing
  tests/integration/_experimental/dataset/test_dataset.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
  tests/unit/workflow/test_io.py
Due: none

reduce ActivationMapUploader workers to 1
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
Due: example

remove threadpool uploader for activation maps
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

chore: test__test
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

Speech recognition workflow files
  examples/automatic_speech_recognition/README.md
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

chore: explicit naming to avoid confusion
  tests/integration/_experimental/dataset/test_evaluation.py
Due: none

Numwords + translation
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
Due: example

Fixed histogram bucket size bug
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/pyproject.toml
Due: example

Added tempo vs. WER and CER plots
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
Due: example

fp/fn labels + sub/ins/del counts
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

Disallow empty configurations when using configured evaluator function (#276)
  kolena/workflow/test_run.py
  tests/integration/workflow/test_test_run.py
Due: generic

Addresses comments from Gordan and Yoohee
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

reformat code
  examples/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/automatic_speech_recognition/automatic_speech_recognition/workflow.py
Due: example

basic studio results
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

Remove multiclass test suite usage
  tests/integration/workflow/test_test_suite.py
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
