Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Added warning note to legacy docs
  docs/building-a-workflow.md
  docs/core-concepts/index.md
  docs/core-concepts/model.md
  docs/core-concepts/test-suite.md
  docs/core-concepts/workflow.md
  docs/faq/index.md
  docs/index.md
  docs/installing-kolena.md
  docs/legacy_warning.md
  docs/quickstart.md
  docs/reference/errors.md
  docs/reference/index.md
  docs/reference/initialize.md
  docs/reference/legacy/index.md
  docs/reference/pre-built/classification.md
  docs/reference/pre-built/index.md
  docs/reference/pre-built/object-detection-2d.md
  docs/reference/workflow/annotation.md
  docs/reference/workflow/asset.md
  docs/reference/workflow/define-workflow.md
  docs/reference/workflow/evaluator.md
  docs/reference/workflow/ground-truth.md
  docs/reference/workflow/index.md
  docs/reference/workflow/inference.md
  docs/reference/workflow/io.md
  docs/reference/workflow/metrics.md
  docs/reference/workflow/model.md
  docs/reference/workflow/plot.md
  docs/reference/workflow/test-case.md
  docs/reference/workflow/test-run.md
  docs/reference/workflow/test-sample.md
  docs/reference/workflow/test-suite.md
  docs/reference/workflow/thresholded-metrics.md
  docs/reference/workflow/visualization.md
  mkdocs.yml
Due: none

Update branch to trigger Github Action to build the documentation
  .github/workflows/legacy_docs.yml
Due: none

Update example url to hotfix/0.100.x
  docs/advanced-usage/set-up-natural-language-search.md
  docs/core-concepts/workflow.md
  docs/quickstart.md
  docs/reference/pre-built/classification.md
  docs/reference/pre-built/object-detection-2d.md
  docs/reference/workflow/index.md
  examples/README.md
  mkdocs.yml
Due: none

fix import
  examples/dataset/classification/tests/test_binary_classification.py
Due: example

fixing mypy
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/batched_load.py
  kolena/_utils/datatypes.py
  kolena/_utils/endpoints.py
  kolena/_utils/instrumentation.py
  kolena/_utils/krequests.py
  kolena/_utils/log.py
  kolena/_utils/state.py
  kolena/dataset/dataset.py
  kolena/initialize.py
  kolena/workflow/_validators.py
  kolena/workflow/test_run.py
  kolena/workflow/visualization/_activation_map.py
Due: generic, all

text summarization public example
  examples/dataset/README.md
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/pyproject.toml
  examples/dataset/text_summarization/tests/test_text_summarization.py
  examples/dataset/text_summarization/text_summarization/__init__.py
  examples/dataset/text_summarization/text_summarization/constants.py
  examples/dataset/text_summarization/text_summarization/metrics.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

Added text sum to CI test
  .circleci/continue_config.yml
Due: all

Added prefix to dataset name for smoke test
  examples/dataset/text_summarization/tests/test_text_summarization.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

CI test fixes
  examples/dataset/text_summarization/pyproject.toml
  examples/workflow/question_answering/tests/test_question_answering.py
Due: example

CI test for QA using the right test suite name
  examples/workflow/question_answering/tests/test_question_answering.py
Due: example

Using local kolena in pyproject
  examples/dataset/text_summarization/pyproject.toml
Due: none

CI test on text summarization example
  examples/dataset/text_summarization/tests/test_text_summarization.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
Due: example

Use bigger resource for text sum test
  .circleci/continue_config.yml
Due: all

fix more mypy
  kolena/_utils/batched_load.py
  kolena/_utils/instrumentation.py
  kolena/_utils/krequests.py
  kolena/_utils/log.py
  kolena/dataset/dataset.py
  kolena/initialize.py
  kolena/workflow/metrics/_geometry.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
Due: generic, all

add back black and flake8 hooks
  .pre-commit-config.yaml
  kolena/_utils/instrumentation.py
  kolena/_utils/krequests.py
  kolena/_utils/log.py
  kolena/workflow/test_run.py
  kolena/workflow/visualization/_activation_map.py
  tests/unit/test_initialize.py
Due: generic, all

Update FAQ wording to specify that data files are not uploaded to Kolena
  docs/faq/index.md
Due: none

Clean up cards on index.md pages to surface datasets and not workflows
  docs/index.md
  docs/reference/index.md
Due: none

Add FAQ entry for working around pandas.DataFrame.to_csv issue
  docs/faq/index.md
Due: none

Add page overview docs for annotation, asset, and io packages
  kolena/annotation.py
  kolena/asset.py
  kolena/io.py
Due: all

Move Connecting Cloud Storage out of Advanced Usage
  docs/connecting-cloud-storage/amazon-s3.md
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/google-cloud-storage.md
  docs/connecting-cloud-storage/http-basic.md
  docs/connecting-cloud-storage/index.md
  docs/connecting-cloud-storage/s3-compatible.md
  docs/index.md
  docs/workflow/advanced-usage/index.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
  docs/workflow/advanced-usage/packaging-for-automated-evaluation.md
  docs/workflow/advanced-usage/set-up-natural-language-search.md
  docs/workflow/advanced-usage/uploading-activation-maps.md
Due: none

Update mkdocs directory tree to reference new directory structure
  mkdocs.yml
Due: none

Connect other mismatched doc links
  docs/workflow/advanced-usage/index.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
  docs/workflow/advanced-usage/uploading-activation-maps.md
  kolena/workflow/evaluator.py
Due: generic

Apply suggested typo fixes from code review
  docs/dataset/quickstart.md
Due: none

Fix keypoint_detection typo
  docs/dataset/quickstart.md
Due: none

multiclass example (#430)
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/multiclass/__init__.py
  examples/dataset/classification/classification/multiclass/constants.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/classification/tests/test_multiclass_classification.py
Due: example

Re-record GIFs
  docs/assets/images/quickstart-compare-models.gif
  docs/assets/images/quickstart-define-metrics.gif
  docs/dataset/quickstart.md
Due: none

Load RetinaFace results conditionally
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
Due: example

Import from kolena.annotation
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
Due: example

Address some PR comments
  .circleci/continue_config.yml
  kolena/__init__.py
  kolena/_api/v1/core.py
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/datatypes.py
Due: all

Fix some typing errors around krequests_v2
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/batched_load.py
  kolena/_utils/datatypes.py
  kolena/_utils/instrumentation.py
  kolena/_utils/krequests.py
  kolena/dataset/dataset.py
  kolena/workflow/model.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
Due: generic, all

Add mypy-examples-dataset back
  .pre-commit-config.yaml
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/keypoint_detection/keypoint_detection/metrics.py
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  kolena/_experimental/classification/utils.py
  tests/unit/utils/test_df_serde.py
  tests/unit/utils/test_validators.py
Due: example

Clean up LoadableDataFrame
  kolena/_utils/cli.py
  kolena/_utils/datatypes.py
  kolena/workflow/_datatypes.py
Due: generic, all

Mostly green non-metrics unit tests locally
  kolena/_utils/datatypes.py
  kolena/_utils/endpoints.py
Due: all

Added Quality Standards guide on README.md
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/rain_forecast/metrics.py
Due: example

Text Summarization Example (#409)
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/text_summarization/README.md
  examples/dataset/text_summarization/pyproject.toml
  examples/dataset/text_summarization/tests/test_text_summarization.py
  examples/dataset/text_summarization/text_summarization/__init__.py
  examples/dataset/text_summarization/text_summarization/constants.py
  examples/dataset/text_summarization/text_summarization/metrics.py
  examples/dataset/text_summarization/text_summarization/upload_dataset.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: all, example

Fix question-answer example smoke tests
  examples/workflow/question_answering/question_answering/seed_test_run.py
  examples/workflow/question_answering/question_answering/seed_test_suite.py
Due: example

missed args update
  examples/workflow/question_answering/question_answering/seed_test_suite.py
Due: example

Green activation map tests with type ignores -- TODO for the future
  kolena/workflow/visualization/_activation_map.py
Due: generic

Specify Kolena Workflows in advanced usage index.md
  docs/workflow/advanced-usage/index.md
Due: none

Update wording on FAQ question to specific asset types
  docs/faq/index.md
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
