Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

fix spacing
  docs/quickstart.md
Due: none

Update Quickstart guide to reference Object Detection 2D example (#298)
  docs/core-concepts/workflow.md
  docs/quickstart.md
  examples/object_detection_2d/README.md
  examples/object_detection_2d/object_detection_2d/constants.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
Due: example

[KOL-3748] allow additional headers in client state (#302)
  kolena/_utils/krequests.py
  kolena/_utils/state.py
  tests/unit/test_initialize.py
  tests/unit/test_krequests.py
Due: all

Catch potential bad merge key
  kolena/_experimental/dataset/_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

use kolena exception
  kolena/_experimental/dataset/_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Update docs to include thresholded
  docs/reference/workflow/evaluator.md
Due: none

Update docstring for ThresholdedMetrics to use sphinx formatted raises clause
  kolena/workflow/thresholded.py
Due: generic

Upgrade pillow for security
  pyproject.toml
Due: none

Attach docs for ThresholdedMetrics (#306)
  docs/reference/workflow/evaluator.md
  kolena/workflow/thresholded.py
Due: generic

changes with score label
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Catch potential bad merge key (#304)
  kolena/_experimental/dataset/_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

diarization code w/o exact error calculation logic
  examples/speaker_diarization/speaker_diarization/evaluator.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
  examples/speaker_diarization/speaker_diarization/workflow.py
Due: example

remove unnecessary comment
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
Due: example

move event api for test run execution
  kolena/classification/test_run.py
  kolena/detection/_internal/test_run.py
  kolena/detection/test_run.py
  kolena/fr/test_run.py
  kolena/workflow/test_run.py
Due: classification, detection, fr, generic

pre-commit fixes
  examples/speaker_diarization/speaker_diarization/evaluator.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
  examples/speaker_diarization/speaker_diarization/workflow.py
Due: example

leave event tracking for workflow.testrun at run() method
  kolena/workflow/test_run.py
Due: generic

stash
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Add tags field to Model
  kolena/_api/v1/core.py
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic, all

stash
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Format test_model file
  tests/integration/workflow/test_model.py
Due: none

Fix event API conditions, add event action to pre-built workflows (#299)
  kolena/_utils/instrumentation.py
  kolena/classification/test_run.py
  kolena/detection/_internal/model.py
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_suite.py
  kolena/detection/test_run.py
  kolena/fr/model.py
  kolena/fr/test_case.py
  kolena/fr/test_run.py
  kolena/fr/test_suite.py
  kolena/initialize.py
Due: classification, detection, fr, all

Revert "Attach docs for ThresholdedMetrics (#306)"
  docs/reference/workflow/evaluator.md
  kolena/workflow/thresholded.py
Due: generic

Revert "KOL-3467 - Thresholded (#249)"
  kolena/workflow/__init__.py
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  kolena/workflow/thresholded.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

Revert ThresholdedMetrics (#309)
  docs/reference/workflow/evaluator.md
  kolena/workflow/__init__.py
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  kolena/workflow/thresholded.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

Semi-functional workflow
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/pyproject.toml
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  kolena/workflow/__init__.py
  kolena/workflow/evaluator.py
  kolena/workflow/thresholded.py
Due: generic, example

Deployed f01f93f with MkDocs version: 1.5.3
  core-concepts/workflow/index.html
  quickstart/index.html
  reference/workflow/evaluator/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Addressed all comments thus far
  examples/speaker_diarization/speaker_diarization/evaluator.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

Add num_speakers
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
Due: example

Fixes pre-commit
  examples/speaker_diarization/speaker_diarization/evaluator.py
  examples/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/speaker_diarization/speaker_diarization/utils.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

Remove join columns from dataset result
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Upgrade pillow for security (#305)
  pyproject.toml
Due: none

Add optional `tags` field to Model (#308)
  kolena/_api/v1/core.py
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic, all

minor changes for studio & workflow
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Remove join columns from dataset result (#311)
  kolena/_experimental/dataset/_evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

add back numpy restriction
  pyproject.toml
Due: none

Relax dependency restrictions
  pyproject.toml
Due: none

reduce max-workers
  .circleci/continue_config.yml
Due: all

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example
