Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

nits and cleanup
  .circleci/continue_config.yml
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/integration/_experimental/search/test_embeddings.py
  tests/unit/_experimental/object_detection/test_configurations.py
Due: all

confusion matrix doc
  docs/assets/images/metrics-confusion-matrix-dark.png
  docs/assets/images/metrics-confusion-matrix-light.png
  docs/assets/images/metrics-confusion-matrix-normalized-dark.png
  docs/assets/images/metrics-confusion-matrix-normalized-light.png
  docs/metrics/confusion-matrix.md
Due: none

Enabled the confusion matrix doc
  docs/metrics/confusion-matrix.md
  docs/metrics/index.md
  mkdocs.yml
Due: none

edit tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

allow use of system preference for dark mode (#216)
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Change Prebuilt OD Configuration and Test Case Metrics (#208)
  .circleci/config.yml
  .circleci/continue_config.yml
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/pyproject.toml
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_configurations.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: all, example

Revert "Change Prebuilt OD Configuration and Test Case Metrics (#208)"
  .circleci/config.yml
  .circleci/continue_config.yml
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/pyproject.toml
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_configurations.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: all, example

patch integration tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
Due: none

Revert "Change Prebuilt OD Configuration and Test Case Metrics (#208)" (#218)
  .circleci/config.yml
  .circleci/continue_config.yml
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/pyproject.toml
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_configurations.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: all, example

Create CoQA Evaluator
  examples/question_answering/question_answering/evaluator.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/question_answering/question_answering/utils.py
  examples/question_answering/tests/test_question_answering.py
Due: example

add to CI
  .circleci/continue_config.yml
Due: all

Revert "add to CI"
  .circleci/continue_config.yml
Due: all

question_answering test
  .circleci/continue_config.yml
Due: all

add NLP dependencies
  examples/question_answering/pyproject.toml
Due: none

nits
  examples/object_detection_2d/pyproject.toml
Due: none

fix CoQA test
  examples/question_answering/tests/test_question_answering.py
Due: example

Updated PR curve doc's diagrams
  docs/assets/images/metrics-prcurve-dark.png
  docs/assets/images/metrics-prcurve-example-dark.png
  docs/assets/images/metrics-prcurve-example-light.png
  docs/assets/images/metrics-prcurve-example-multiclass-dark.png
  docs/assets/images/metrics-prcurve-example-multiclass-light.png
  docs/assets/images/metrics-prcurve-example-multiclass.png
  docs/assets/images/metrics-prcurve-example.png
  docs/assets/images/metrics-prcurve-light.png
  docs/assets/images/metrics-prcurve.png
  docs/metrics/pr-curve.md
Due: none

clean plot tests
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
Due: none

add torch as a dependancy
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/evaluator.py
  examples/question_answering/question_answering/seed_test_run.py
Due: example

Added more acronyms for AUPRC
  docs/metrics/pr-curve.md
Due: none

Updated PR curve doc's diagrams (#222)
  docs/assets/images/metrics-prcurve-dark.png
  docs/assets/images/metrics-prcurve-example-dark.png
  docs/assets/images/metrics-prcurve-example-light.png
  docs/assets/images/metrics-prcurve-example-multiclass-dark.png
  docs/assets/images/metrics-prcurve-example-multiclass-light.png
  docs/assets/images/metrics-prcurve-example-multiclass.png
  docs/assets/images/metrics-prcurve-example.png
  docs/assets/images/metrics-prcurve-light.png
  docs/assets/images/metrics-prcurve.png
  docs/metrics/pr-curve.md
Due: none

coqa test without torch
  examples/question_answering/pyproject.toml
Due: none

Fixed prebuilt OD tests with new config and metrics (#221)
  .circleci/config.yml
  .circleci/continue_config.yml
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/pyproject.toml
  kolena/_experimental/object_detection/__init__.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_multiclass_fixed.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_f1_optimal.py
  tests/integration/_experimental/object_detection/test_evaluator_single_class_fixed.py
  tests/integration/_experimental/object_detection/test_workflow.py
  tests/unit/_experimental/object_detection/test_configurations.py
  tests/unit/_experimental/object_detection/test_evaluators.py
Due: all, example

add torch back as a dependancy
  examples/question_answering/pyproject.toml
Due: none

Updated diagrams
  docs/assets/images/metrics-ap-ir-example-dark.svg
  docs/assets/images/metrics-ap-ir-example-light.svg
  docs/assets/images/metrics-ap-ir-example.png
  docs/assets/images/metrics-ap-limitation2-dark.svg
  docs/assets/images/metrics-ap-limitation2-light.svg
  docs/assets/images/metrics-ap-limitation2.png
  docs/assets/images/metrics-ap-limitation5-dark.svg
  docs/assets/images/metrics-ap-limitation5-light.svg
  docs/assets/images/metrics-ap-limitation5.png
  docs/assets/images/metrics-ap-od-example-dark.svg
  docs/assets/images/metrics-ap-od-example-light.svg
  docs/assets/images/metrics-ap-od-example.png
  docs/assets/images/metrics-ap-od-pr-11-dark.svg
  docs/assets/images/metrics-ap-od-pr-11-light.svg
  docs/assets/images/metrics-ap-od-pr-11.png
  docs/assets/images/metrics-ap-od-pr-dark.svg
  docs/assets/images/metrics-ap-od-pr-interpolation-dark.svg
  docs/assets/images/metrics-ap-od-pr-interpolation-light.svg
  docs/assets/images/metrics-ap-od-pr-interpolation.png
  docs/assets/images/metrics-ap-od-pr-light.svg
  docs/assets/images/metrics-ap-od-pr.png
  docs/metrics/average-precision.md
Due: none

chore: lint
  kolena/_experimental/data_ingestion/_data_format/coco.py
  kolena/_experimental/data_ingestion/_types.py
  kolena/_experimental/data_ingestion/_utils/io.py
  kolena/_experimental/data_ingestion/ingest_data.py
Due: none

chore: implement coco ingestion
  kolena/_experimental/data_ingestion/__init__.py
  kolena/_experimental/data_ingestion/_data_format/base.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
  kolena/_experimental/data_ingestion/_types.py
  kolena/_experimental/data_ingestion/_utils/io.py
  kolena/_experimental/data_ingestion/ingest_data.py
Due: none

poetry run pre-commit run -a
  kolena/_experimental/data_ingestion/__init__.py
  kolena/_experimental/data_ingestion/_data_format/base.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
  kolena/_experimental/data_ingestion/_utils/io.py
Due: none

chore: add abstract base data format
  kolena/_experimental/data_ingestion/__init__.py
  kolena/_experimental/data_ingestion/_data_format/base.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
  kolena/_experimental/data_ingestion/_utils/io.py
Due: none

refactor: flexible metadata fields
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

chore: add list_workflow method
  kolena/_experimental/data_ingestion/_data_format/base.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

fix: get the image id from locator
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

refactor: one entrypoint for ingest_data
  kolena/_experimental/data_ingestion/_data_format/base.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
  kolena/_experimental/data_ingestion/_types.py
  kolena/_experimental/data_ingestion/ingest_data.py
Due: none

refactor: streamline BaseDataFormat public interface
  kolena/_experimental/data_ingestion/_data_format/base.py
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

chore: poetry run pre-commit run -a
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

chore: add prefix for random name
  kolena/_experimental/data_ingestion/_types.py
Due: none

chore: ingest coco inference
  kolena/_experimental/data_ingestion/_data_format/coco.py
Due: none

chore: fix mypy internal error by adding __init__.py
  kolena/_experimental/data_ingestion/_data_format/__init__.py
  kolena/_experimental/data_ingestion/_utils/__init__.py
  kolena/_experimental/data_ingestion/_utils/io.py
Due: none
