Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

update datapath for detection example
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
Due: example

fix link in docstring
  kolena/workflow/evaluator.py
Due: generic

Update "Face Recognition" test to use a random suite name
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/face_recognition_11/tests/test_face_recognition_11.py
Due: example

chore: limit parallelism for dataset integration tests
  .circleci/continue_config.yml
Due: all

Remove shadowed constants
  examples/workflow/face_recognition_11/tests/test_face_recognition_11.py
Due: example

randomize test suite name for speaker diarization
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/speaker_diarization/tests/test_speaker_diarization.py
Due: example

bug fix
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_run.py
Due: example

changed how we check if suite_name is in args
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_run.py
Due: example

Update "Classification" test to use a random suite name (#411)
  examples/workflow/classification/scripts/binary/seed_test_suite.py
  examples/workflow/classification/scripts/multiclass/seed_test_suite.py
  examples/workflow/classification/tests/conftest.py
  examples/workflow/classification/tests/test_binary_classification.py
  examples/workflow/classification/tests/test_multiclass_classification.py
Due: example

Update "Question Answering" test to use a random suite name
  examples/workflow/question_answering/question_answering/seed_test_suite.py
  examples/workflow/question_answering/tests/test_question_answering.py
Due: example

randomize test suite names for semantic textual similarity test
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: example

randomize test suite name for speaker diarization (#417)
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_run.py
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_suite.py
  examples/workflow/speaker_diarization/tests/test_speaker_diarization.py
Due: example

Polish and incorporating feedback
  docs/assets/images/quickstart-upload-dataset-workflow.gif
  docs/dataset/quickstart.md
Due: none

docs: expose public functions of dataset (#414)
  .circleci/continue_config.yml
  docs/reference/dataset/fetch-dataset-history.md
  docs/reference/dataset/fetch-dataset.md
  docs/reference/dataset/fetch-results.md
  docs/reference/dataset/register-dataset.md
  docs/reference/dataset/test.md
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  mkdocs.yml
Due: all

randomize test suite names for semantic textual similarity test (#421)
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/workflow/semantic_textual_similarity/tests/test_semantic_textual_similarity.py
Due: example

Update "Question Answering" test to use a random suite name (#420)
  examples/workflow/question_answering/question_answering/seed_test_suite.py
  examples/workflow/question_answering/tests/test_question_answering.py
Due: example

chore: fix typo.
  kolena/dataset/evaluation.py
Due: none

chore: add validate_dataframe_have_other_columns_besides_ids for results
  kolena/dataset/common.py
  kolena/dataset/evaluation.py
  tests/unit/dataset/test_common.py
Due: none

Update "Face Recognition" test to use a random suite name (#419)
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/face_recognition_11/tests/test_face_recognition_11.py
Due: example

chore: poke for ci
  kolena/dataset/common.py
Due: none

remove legacy classification
  kolena/classification/__init__.py
  kolena/classification/metadata.py
  kolena/classification/model.py
  kolena/classification/test_case.py
  kolena/classification/test_config.py
  kolena/classification/test_image.py
  kolena/classification/test_run.py
  kolena/classification/test_suite.py
  tests/integration/classification/__init__.py
  tests/integration/classification/test_test_case.py
  tests/integration/classification/test_test_run.py
  tests/integration/classification/test_test_suite.py
  tests/unit/classification/__init__.py
  tests/unit/classification/test_test_image.py
Due: classification

chore: add dummy dataset tests
  tests/unit/dataset/test_dummy.py
Due: none

update datapath for detection example (#418)
  examples/dataset/keypoint_detection/keypoint_detection/upload_dataset.py
Due: example

remove classification from init
  kolena/__init__.py
Due: all

remove missing import
  kolena/__init__.py
Due: all

poke
  .circleci/continue_config.yml
Due: all

fix
  .circleci/continue_config.yml
Due: all

p 2
  .circleci/continue_config.yml
Due: all

p 3
  .circleci/continue_config.yml
Due: all

fix tests
  docs/reference/legacy/built-in/classification.md
  mkdocs.yml
  tests/integration/detection/test_test_suite.py
Due: detection

update circleci config
  .circleci/config.yml
Due: all

additonal circle ci updates
  .circleci/continue_config.yml
Due: all

chore: cleanup
  .circleci/continue_config.yml
  tests/unit/dataset/test_dummy.py
Due: all

remove detection tests
  .circleci/config.yml
  .circleci/continue_config.yml
  tests/integration/detection/__init__.py
  tests/integration/detection/conftest.py
  tests/integration/detection/helper.py
  tests/integration/detection/test_model.py
  tests/integration/detection/test_test_case.py
  tests/integration/detection/test_test_image.py
  tests/integration/detection/test_test_run.py
  tests/unit/detection/__init__.py
  tests/unit/detection/test_ground_truth.py
  tests/unit/detection/test_inference.py
  tests/unit/detection/test_model.py
  tests/unit/detection/test_test_case.py
  tests/unit/detection/test_test_image.py
  tests/unit/detection/test_test_suite.py
Due: detection, all

remove legacy docs
  docs/reference/legacy/built-in/base.md
  docs/reference/legacy/built-in/detection.md
  docs/reference/legacy/built-in/fr.md
  docs/reference/legacy/index.md
  mkdocs.yml
Due: none

more docs updates
  docs/reference/index.md
  mkdocs.yml
Due: none

migrate age estimation example to dataset
  examples/dataset/age_estimation/age_estimation/__init__.py
  examples/dataset/age_estimation/age_estimation/constants.py
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
  examples/dataset/age_estimation/pyproject.toml
Due: example

remove detection from workflow tests
  tests/integration/workflow/test_model.py
  tests/integration/workflow/test_test_case.py
  tests/integration/workflow/test_test_suite.py
Due: none

chore: poke
  kolena/dataset/common.py
Due: none

fix style
  examples/dataset/age_estimation/age_estimation/__init__.py
  examples/dataset/age_estimation/age_estimation/upload_dataset.py
  examples/dataset/age_estimation/age_estimation/upload_results.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
