Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

README update
  examples/face_recognition_11/README.md
Due: none

updates
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/pyproject.toml
Due: example

Revert "Metrics Glossary: updated diagrams and enabled metrics docs (#254)"
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/assets/images/bleu-judgement.png
  docs/assets/images/metrics-bert-computation-dark.svg
  docs/assets/images/metrics-bert-computation-light.svg
  docs/assets/images/metrics-bert-vector-space-dark.svg
  docs/assets/images/metrics-bert-vector-space-light.svg
  docs/assets/images/metrics-fpr-dark.svg
  docs/assets/images/metrics-fpr-light.svg
  docs/assets/images/metrics-precision-dark.svg
  docs/assets/images/metrics-precision-light.svg
  docs/assets/images/metrics-recall-dark.svg
  docs/assets/images/metrics-recall-light.svg
  docs/assets/images/metrics-specificity-dark.svg
  docs/assets/images/metrics-specificity-light.svg
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/fpr.md
  docs/metrics/index.md
  docs/metrics/meteor.md
  docs/metrics/roc-curve.md
  docs/metrics/rouge-n.md
  docs/metrics/rouge.md
  docs/metrics/specificity.md
  mkdocs.yml
Due: none

Fixed typo on diagrams
  docs/assets/images/metrics-fpr-dark.svg
  docs/assets/images/metrics-fpr-light.svg
  docs/assets/images/metrics-precision-dark.svg
  docs/assets/images/metrics-precision-light.svg
  docs/assets/images/metrics-recall-dark.svg
  docs/assets/images/metrics-recall-light.svg
  docs/assets/images/metrics-specificity-dark.svg
  docs/assets/images/metrics-specificity-light.svg
Due: none

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
Due: example

remove audio asset
  kolena/workflow/asset.py
  tests/unit/workflow/test_asset.py
Due: generic

Fixed typo on diagrams (#267)
  docs/assets/images/metrics-fpr-dark.svg
  docs/assets/images/metrics-fpr-light.svg
  docs/assets/images/metrics-precision-dark.svg
  docs/assets/images/metrics-precision-light.svg
  docs/assets/images/metrics-recall-dark.svg
  docs/assets/images/metrics-recall-light.svg
  docs/assets/images/metrics-specificity-dark.svg
  docs/assets/images/metrics-specificity-light.svg
Due: none

Deployed 7e70ef9 with MkDocs version: 1.5.3
  assets/images/metrics-fpr-dark.svg
  assets/images/metrics-fpr-light.svg
  assets/images/metrics-precision-dark.svg
  assets/images/metrics-precision-light.svg
  assets/images/metrics-recall-dark.svg
  assets/images/metrics-recall-light.svg
  assets/images/metrics-specificity-dark.svg
  assets/images/metrics-specificity-light.svg
  sitemap.xml
  sitemap.xml.gz
Due: none

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

update
  examples/face_recognition_11/pyproject.toml
Due: none

Restructured the docs for a cleaner look
  docs/metrics/classification/index.md
  docs/metrics/cv/index.md
  docs/metrics/index.md
  docs/metrics/nlp/index.md
  docs/overrides/.icons/kolena/metrics-classification-icon-16.svg
  docs/overrides/.icons/kolena/metrics-cv-icon-16.svg
  docs/overrides/.icons/kolena/metrics-nlp-icon-16.svg
  mkdocs.yml
Due: none

Update to the card formatting
  docs/metrics/index.md
Due: none

Add additional icons (20)
  docs/metrics/index.md
  docs/overrides/.icons/kolena/metrics-classification-icon-20.svg
  docs/overrides/.icons/kolena/metrics-cv-icon-20.svg
  docs/overrides/.icons/kolena/metrics-nlp-icon-20.svg
Due: none

verified metrics with legacy fr
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Add instructions for enabling natural language search
  docs/advanced-usage/enabling-natural-language-search.md
  docs/advanced-usage/index.md
Due: none

Add to sidebar
  docs/advanced-usage/enabling-natural-language-search.md
  mkdocs.yml
Due: none

Add missing import in example code
  docs/advanced-usage/enabling-natural-language-search.md
Due: none

Fix incorrect max-level for dataframe json-normalize (#259)
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Expand titles, remove redirects, remove classification metrics category
  docs/metrics/classification/index.md
  docs/metrics/cv/index.md
  docs/metrics/index.md
  docs/metrics/nlp/index.md
  mkdocs.yml
Due: none

Remove "metrics"
  docs/metrics/index.md
  mkdocs.yml
Due: none

addresses the remaining comments
  docs/metrics/index.md
  docs/overrides/.icons/kolena/metrics-classification-icon-16.svg
  docs/overrides/.icons/kolena/metrics-classification-icon-20.svg
  docs/overrides/.icons/kolena/metrics-cv-icon-16.svg
  docs/overrides/.icons/kolena/metrics-cv-icon-20.svg
  docs/overrides/.icons/kolena/metrics-nlp-icon-16.svg
  docs/overrides/.icons/kolena/metrics-nlp-icon-20.svg
  mkdocs.yml
Due: none

Restructured the docs for a cleaner look (#268)
  docs/metrics/index.md
  mkdocs.yml
Due: none

Cast DataPoint column labels to str before serializing
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

add event tracking to client initialization
  kolena/_api/v1/event_tracking.py
  kolena/_utils/instrumentation.py
  kolena/initialize.py
Due: all

Improve MissingTokenError messages
  kolena/errors.py
  kolena/initialize.py
Due: all

Add fallback logic to retrieve client token during initialization (#256)
  kolena/_utils/cli.py
  kolena/_utils/consts.py
  kolena/errors.py
  kolena/initialize.py
  mkdocs.yml
  tests/unit/test_initialize.py
Due: all

rename token generation event name
  kolena/_api/v1/event_tracking.py
  kolena/initialize.py
Due: all

create event tracking decorator
  kolena/_utils/instrumentation.py
Due: all

add event tracking to test cases
  kolena/_api/v1/event_tracking.py
  kolena/workflow/test_case.py
Due: generic, all

add event tracking to test suites
  kolena/_api/v1/event_tracking.py
  kolena/workflow/test_suite.py
Due: generic, all

Change kclip to kembeddings
  docs/advanced-usage/enabling-natural-language-search.md
  examples/search_embeddings/search/extract_embeddings.py
Due: example

Change language from 'enabling' to 'setting up' for NLS
  docs/advanced-usage/index.md
  docs/advanced-usage/set-up-natural-language-search.md
  mkdocs.yml
Due: none

Add additional FAQ question and answer
  docs/advanced-usage/set-up-natural-language-search.md
Due: none

added in pair failures/FTE counts
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

add event tracking to model and test run
  kolena/_api/v1/event_tracking.py
  kolena/workflow/model.py
  kolena/workflow/test_run.py
Due: generic, all

Move initialize `api_token` from positional to keyword argument
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/building-a-workflow.md
  docs/installing-kolena.md
  examples/age_estimation/age_estimation/seed_test_run.py
  examples/age_estimation/age_estimation/seed_test_suite.py
  examples/classification/scripts/binary/seed_test_run.py
  examples/classification/scripts/binary/seed_test_suite.py
  examples/classification/scripts/multiclass/seed_test_run.py
  examples/classification/scripts/multiclass/seed_test_suite.py
  examples/keypoint_detection/keypoint_detection/seed_test_run.py
  examples/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/extended/seed_test_suite.py
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  examples/object_detection_2d/object_detection_2d/seed_test_suite.py
  examples/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/question_answering/question_answering/seed_test_run.py
  examples/question_answering/question_answering/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
  examples/text_summarization/text_summarization/remote_evaluator.py
  examples/text_summarization/text_summarization/seed_test_run.py
  examples/text_summarization/text_summarization/seed_test_suite.py
  kolena/_utils/cli.py
  kolena/initialize.py
  tests/integration/test_initialize.py
  tests/unit/test_initialize.py
  tests/unit/utils/test_cli.py
Due: all, example

changes for pr comments
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/utils.py
  examples/face_recognition_11/face_recognition_11/workflow.py
  examples/face_recognition_11/pyproject.toml
Due: example

Preserve dataframe column order for relevant client operations
  kolena/_experimental/dataset/_dataset.py
  kolena/workflow/io.py
  tests/unit/_experimental/dataset/test_dataset.py
  tests/unit/workflow/test_io.py
Due: generic
