Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Fix question-answer example smoke tests (#435)
  examples/workflow/question_answering/question_answering/seed_test_run.py
  examples/workflow/question_answering/question_answering/seed_test_suite.py
Due: example

Touching up
  kolena/_utils/krequests.py
  kolena/_utils/log.py
Due: all

Update to latest mypy release
  .pre-commit-config.yaml
  kolena/_utils/datatypes.py
  kolena/dataset/common.py
  kolena/dataset/dataset.py
  kolena/workflow/metrics/_geometry.py
  kolena/workflow/model.py
  kolena/workflow/test_run.py
Due: generic, all

missed test update
  examples/workflow/question_answering/tests/test_question_answering.py
Due: example

Continue cleaning up
  .pre-commit-config.yaml
  kolena/workflow/_validators.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/visualization/_activation_map.py
  tests/integration/workflow/test_model.py
  tests/integration/workflow/test_test_case.py
  tests/integration/workflow/test_test_suite.py
  tests/unit/test_initialize.py
Due: generic

Remove a few type ignores
  kolena/_utils/state.py
  kolena/initialize.py
Due: all

Remove unused 'deprecation' dependency
  pyproject.toml
Due: none

revert incorrect changes
  examples/workflow/question_answering/tests/test_question_answering.py
Due: example

Liuyuan/fix question answer smoke test part2 (#436)
  examples/workflow/question_answering/tests/test_question_answering.py
Due: example

Update style
  examples/dataset/rain_forecast/README.md
Due: none

update additonal examples that were added
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
Due: example

fix styling
  examples/dataset/rain_forecast/README.md
Due: none

A few example fixes
  .pre-commit-config.yaml
  examples/workflow/classification/scripts/__init__.py
  examples/workflow/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/workflow/object_detection_3d/object_detection_3d/vendored/rotate_iou.py
Due: example

rename test function for datasets (#390)
  docs/reference/dataset/test.md
  docs/reference/dataset/upload-results.md
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/question_answering/question_answering/upload_results.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
  examples/dataset/text_summarization/text_summarization/upload_results.py
  kolena/_api/v1/event.py
  kolena/dataset/__init__.py
  kolena/dataset/evaluation.py
  mkdocs.yml
  tests/integration/dataset/test_evaluation.py
Due: all, example

Speaker diarization example for dataset
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/speaker_diarization/README.md
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/speaker_diarization/speaker_diarization/__init__.py
  examples/dataset/speaker_diarization/speaker_diarization/data_loader.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_dataset.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/speaker_diarization/utils.py
  examples/dataset/speaker_diarization/tests/test_speaker_diarization.py
Due: all, example

update method and linter fixes
  examples/dataset/speaker_diarization/speaker_diarization/data_loader.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/speaker_diarization/utils.py
Due: example

Liuyuan/kol 4391 speaker diarization for dataset (#433)
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/speaker_diarization/README.md
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/speaker_diarization/speaker_diarization/__init__.py
  examples/dataset/speaker_diarization/speaker_diarization/data_loader.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_dataset.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/speaker_diarization/utils.py
  examples/dataset/speaker_diarization/tests/test_speaker_diarization.py
  examples/workflow/speaker_diarization/speaker_diarization/utils.py
Due: all, example

Move Connecting Cloud Storage out of Advanced Usage (#431)
  docs/advanced-usage/index.md
  docs/connecting-cloud-storage/amazon-s3.md
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/connecting-cloud-storage/google-cloud-storage.md
  docs/connecting-cloud-storage/http-basic.md
  docs/connecting-cloud-storage/index.md
  docs/connecting-cloud-storage/s3-compatible.md
  docs/index.md
  docs/workflow/advanced-usage/index.md
  docs/workflow/advanced-usage/nesting-test-case-metrics.md
  docs/workflow/advanced-usage/packaging-for-automated-evaluation.md
  docs/workflow/advanced-usage/set-up-natural-language-search.md
  docs/workflow/advanced-usage/uploading-activation-maps.md
  kolena/workflow/evaluator.py
  mkdocs.yml
Due: generic

Enforce id fields to be hashable
  kolena/dataset/common.py
  kolena/dataset/dataset.py
  tests/unit/dataset/test_common.py
Due: none

fix: bypass dataset integration parallelism issue (#426)
  .circleci/continue_config.yml
  kolena/dataset/common.py
  tests/integration/dataset/test_dummy.py
Due: all

Remove double f-string
  kolena/dataset/common.py
Due: none

fix: bypass dataset integration parallelism issue (#426)
  .circleci/continue_config.yml
  tests/integration/dataset/test_dummy.py
Due: all

Revert "fix: bypass dataset integration parallelism issue (#426)"
  .circleci/continue_config.yml
  tests/integration/dataset/test_dummy.py
Due: all

Revert "Move Connecting Cloud Storage out of Advanced Usage (#431)"
  docs/advanced-usage/connecting-cloud-storage/amazon-s3.md
  docs/advanced-usage/connecting-cloud-storage/azure-blob-storage.md
  docs/advanced-usage/connecting-cloud-storage/google-cloud-storage.md
  docs/advanced-usage/connecting-cloud-storage/http-basic.md
  docs/advanced-usage/connecting-cloud-storage/index.md
  docs/advanced-usage/connecting-cloud-storage/s3-compatible.md
  docs/advanced-usage/index.md
  docs/advanced-usage/nesting-test-case-metrics.md
  docs/advanced-usage/packaging-for-automated-evaluation.md
  docs/advanced-usage/set-up-natural-language-search.md
  docs/advanced-usage/uploading-activation-maps.md
  docs/index.md
  docs/workflow/advanced-usage/index.md
  kolena/workflow/evaluator.py
  mkdocs.yml
Due: generic

Revert "Liuyuan/kol 4391 speaker diarization for dataset (#433)"
  .circleci/continue_config.yml
  examples/dataset/README.md
  examples/dataset/speaker_diarization/README.md
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/speaker_diarization/speaker_diarization/__init__.py
  examples/dataset/speaker_diarization/speaker_diarization/data_loader.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_dataset.py
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/speaker_diarization/utils.py
  examples/dataset/speaker_diarization/tests/test_speaker_diarization.py
  examples/workflow/speaker_diarization/speaker_diarization/utils.py
Due: all, example

chore: add validate_dataframe_have_other_columns_besides_ids for results
  kolena/dataset/common.py
  kolena/dataset/evaluation.py
  tests/unit/dataset/test_common.py
Due: none

General docs pass (#432)
  docs/faq/index.md
  docs/index.md
  docs/reference/index.md
  kolena/annotation.py
  kolena/asset.py
  kolena/io.py
Due: all

Revert "chore: circleci tests glob replace find"
  .circleci/continue_config.yml
Due: all

chore: fix typo.
  kolena/dataset/evaluation.py
Due: none

chore: circleci tests glob replace find
  .circleci/continue_config.yml
Due: all

Enforce id fields to be hashable (#437)
  kolena/dataset/common.py
  kolena/dataset/dataset.py
  tests/unit/dataset/test_common.py
Due: none

chore: add validate_dataframe_have_other_columns_besides_ids for results (#388)
  kolena/dataset/common.py
  kolena/dataset/evaluation.py
  tests/unit/dataset/test_common.py
Due: none

Add quickstart docs for dataset workflow (#403)
  docs/assets/images/quickstart-compare-models.gif
  docs/assets/images/quickstart-create-test-cases.gif
  docs/assets/images/quickstart-define-metrics.gif
  docs/assets/images/quickstart-distribution.jpg
  docs/assets/images/quickstart-otf-plotting.gif
  docs/assets/images/quickstart-upload-dataset-workflow.gif
  docs/assets/images/quickstart-upload-results-workflow.gif
  docs/dataset/quickstart.md
Due: none

Use pre-computed RetinaFace inferences for keypoint detection example (#429)
  examples/dataset/keypoint_detection/README.md
  examples/dataset/keypoint_detection/keypoint_detection/model.py
  examples/dataset/keypoint_detection/keypoint_detection/upload_results.py
  examples/dataset/keypoint_detection/pyproject.toml
Due: example

Fix incorrect results from ordering difference
  examples/dataset/speaker_diarization/speaker_diarization/upload_results.py
  examples/dataset/speaker_diarization/speaker_diarization/utils.py
Due: example

clean up classification examples
  examples/dataset/classification/README.md
  examples/dataset/classification/classification/binary/constants.py
  examples/dataset/classification/classification/binary/upload_dataset.py
  examples/dataset/classification/classification/binary/upload_results.py
  examples/dataset/classification/classification/multiclass/upload_dataset.py
  examples/dataset/classification/classification/multiclass/upload_results.py
  examples/dataset/classification/tests/test_binary_classification.py
  examples/dataset/classification/tests/test_multiclass_classification.py
  examples/dataset/question_answering/question_answering/constants.py
  examples/dataset/rain_forecast/rain_forecast/constants.py
  examples/dataset/rain_forecast/rain_forecast/metrics.py
Due: example
