Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

give the user an option to choose whether to use the interection or union of datapoint when calculating metrics with quality stantard
  kolena/_experimental/quality_standard.py
  tests/integration/_experimental/test_quality_standard.py
Due: none

Adding documentation for Video datasets
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
Due: none

Miscellaneous documentation improvements (#661)
  docs/assets/images/metric-groups-leaderboard-dark.gif
  docs/assets/images/metric-groups-leaderboard-light.gif
  docs/dataset/advanced-usage/dataset-formatting/computer-vision.md
  docs/dataset/core-concepts/index.md
  kolena/dataset/dataset.py
Due: none

LLM Documentation (#660)
  docs/assets/images/prompt-extraction-access-dark.gif
  docs/assets/images/prompt-extraction-access-light.gif
  docs/dataset/advanced-usage/index.md
  docs/dataset/advanced-usage/llm-prompt-extraction.md
  mkdocs.yml
Due: none

improve tests
  tests/integration/_experimental/test_quality_standard.py
Due: none

style
  tests/integration/_experimental/test_quality_standard.py
Due: none

docs: add custom queries
  docs/dataset/advanced-usage/custom-queries.md
  docs/dataset/advanced-usage/index.md
  mkdocs.yml
Due: none

chore: add the syntax
  docs/dataset/advanced-usage/custom-queries.md
Due: none

docs: add custom queries (#663)
  docs/dataset/advanced-usage/custom-queries.md
  docs/dataset/advanced-usage/index.md
  mkdocs.yml
Due: none

give the user an option to choose whether to use the intersection or union of datapoint when calculating metrics with quality standard (#662)
  kolena/_experimental/quality_standard.py
  tests/integration/_experimental/test_quality_standard.py
Due: none

Added some details to the query docs
  docs/assets/images/custom-queries-dark.gif
  docs/assets/images/custom-queries-light.gif
  docs/dataset/advanced-usage/custom-queries.md
Due: none

Added some details to the query docs (#664)
  docs/assets/images/custom-queries-dark.gif
  docs/assets/images/custom-queries-light.gif
  docs/dataset/advanced-usage/custom-queries.md
Due: none

validate dataset is non-empty when uploading
  kolena/dataset/_common.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: none

validate dataset name is non-empty
  kolena/dataset/_common.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: none

use strip() instead
  kolena/dataset/_common.py
Due: none

fix: validate dataset is non-empty when uploading (#665)
  kolena/dataset/_common.py
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
Due: none

pin griffe <1
  pyproject.toml
Due: none

specify frame rate in video
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
Due: example

add mesh3d asset + add frame rate to video asset
  kolena/asset.py
  tests/unit/test_asset.py
Due: all

fix: avoid parsing scientific notation with e
  kolena/_utils/dataframes/transformers.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

chore: update tests
  tests/unit/utils/dataframes/test_transformers.py
Due: none

fix: avoid parsing scientific notation with e (#668)
  kolena/_utils/dataframes/transformers.py
  tests/unit/utils/dataframes/test_transformers.py
Due: all

rename MESH_3D back to MESH
  kolena/asset.py
Due: all

feat: add support for 3d mesh assets + add optional `frame_rate` to video assets (#667)
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/constants.py
  examples/dataset/crossing_pedestrian_detection/crossing_pedestrian_detection/upload_dataset.py
  kolena/asset.py
  tests/unit/test_asset.py
Due: all, example

fix workflow prebuild OD ref
  docs/reference/pre-built/object-detection-2d.md
Due: none

fix workflow prebuild OD ref (#669)
  docs/reference/pre-built/object-detection-2d.md
Due: none

Document skeleton parameter purely via class doc
  kolena/annotation.py
Due: all

docs: add new functions for custom query
  docs/dataset/advanced-usage/custom-queries.md
Due: none

chore: sort func names
  docs/dataset/advanced-usage/custom-queries.md
Due: none

docs: add new functions for custom query (#670)
  docs/dataset/advanced-usage/custom-queries.md
Due: none

fixed math
  docs/metrics/averaging-methods.md
Due: none

fixed space
  docs/metrics/averaging-methods.md
Due: none

fixed the +
  docs/metrics/averaging-methods.md
Due: none

expose the dataset commit tag functionality and add doc
  kolena/dataset/dataset.py
Due: none

fixed math on weighted average (#671)
  docs/metrics/averaging-methods.md
Due: none

expose the dataset commit tag functionality and add doc (#672)
  kolena/dataset/dataset.py
Due: none

chore: mitigate the ci flakiness due to resource
  .circleci/continue_config.yml
Due: all

Revert "chore: mitigate the ci flakiness due to resource"
  .circleci/continue_config.yml
Due: all

chore: unpin pandera depencency in examples
  examples/dataset/age_estimation/pyproject.toml
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/classification/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/face_recognition_11/pyproject.toml
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/semantic_segmentation/pyproject.toml
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/pyproject.toml
  examples/workflow/age_estimation/pyproject.toml
  examples/workflow/classification/pyproject.toml
  examples/workflow/face_recognition_11/pyproject.toml
  examples/workflow/keypoint_detection/pyproject.toml
  examples/workflow/object_detection_3d/pyproject.toml
  examples/workflow/semantic_segmentation/pyproject.toml
  examples/workflow/semantic_textual_similarity/pyproject.toml
  examples/workflow/text_summarization/pyproject.toml
Due: none

Revert "chore: unpin pandera depencency in examples"
  examples/dataset/age_estimation/pyproject.toml
  examples/dataset/automatic_speech_recognition/pyproject.toml
  examples/dataset/classification/pyproject.toml
  examples/dataset/crossing_pedestrian_detection/pyproject.toml
  examples/dataset/face_recognition_11/pyproject.toml
  examples/dataset/image_retrieval_by_text/pyproject.toml
  examples/dataset/keypoint_detection/pyproject.toml
  examples/dataset/object_detection_2d/pyproject.toml
  examples/dataset/person_detection/pyproject.toml
  examples/dataset/question_answering/pyproject.toml
  examples/dataset/rain_forecast/pyproject.toml
  examples/dataset/semantic_segmentation/pyproject.toml
  examples/dataset/semantic_textual_similarity/pyproject.toml
  examples/dataset/speaker_diarization/pyproject.toml
  examples/dataset/text_summarization/pyproject.toml
  examples/workflow/age_estimation/pyproject.toml
  examples/workflow/classification/pyproject.toml
  examples/workflow/face_recognition_11/pyproject.toml
  examples/workflow/keypoint_detection/pyproject.toml
  examples/workflow/object_detection_3d/pyproject.toml
  examples/workflow/semantic_segmentation/pyproject.toml
  examples/workflow/semantic_textual_similarity/pyproject.toml
  examples/workflow/text_summarization/pyproject.toml
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
