Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

updated thresholded objects doc
  docs/dataset/advanced-usage/thresholded-results.md
Due: none

minor fix on wording
  kolena/_experimental/search/embeddings.py
Due: none

add color to bounding box example
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
Due: example

add custom annotation class (#698)
  kolena/annotation.py
Due: all

chore: better support for uploading custom embeddings (#699)
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/test_embeddings.py
Due: none

add color to bounding box example (#702)
  examples/dataset/object_detection_2d/object_detection_2d/constants.py
  examples/dataset/object_detection_2d/object_detection_2d/upload_dataset.py
Due: example

doc update for dataset upsert
  kolena/dataset/dataset.py
Due: none

add tests for dataset upsert
  tests/integration/dataset/test_dataset.py
Due: none

doc update for dataset upsert (#703)
  kolena/dataset/dataset.py
Due: none

docs for array functions and fields (#700)
  docs/assets/images/custom-fields-dark.gif
  docs/assets/images/custom-fields-light.gif
  docs/dataset/advanced-usage/custom-queries.md
  mkdocs.yml
Due: none

fixed based on comment
  docs/dataset/advanced-usage/thresholded-results.md
Due: none

updated thresholded objects doc (#701)
  docs/dataset/advanced-usage/thresholded-results.md
Due: none

adding some details to the properties
  docs/assets/images/boundingbox-extraction-configuration-dark.gif
  docs/assets/images/boundingbox-extraction-configuration-light.gif
  docs/automations/extract-bounding-box-metadata.md
  mkdocs.yml
Due: none

more information added
  docs/automations/extract-bounding-box-metadata.md
Due: none

updated description of entropy
  docs/automations/extract-bounding-box-metadata.md
Due: none

update llm integration
  docs/connecting-external-llm-endpoint/azure-openai.md
Due: none

get models by dataset
  kolena/_api/v1/event.py
  kolena/_api/v2/model.py
  kolena/dataset/__init__.py
  kolena/dataset/evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

rename
  kolena/_api/v1/event.py
  kolena/dataset/evaluation.py
Due: all

feat: list models by dataset (#707)
  kolena/_api/v1/event.py
  kolena/_api/v2/model.py
  kolena/dataset/__init__.py
  kolena/dataset/evaluation.py
  tests/integration/_experimental/dataset/test_evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

add functionality to display performance delta when using download_quality_standard_result
  kolena/_api/v2/_api.py
  kolena/_api/v2/_derived_field.py
  kolena/_api/v2/_dsl.py
  kolena/_api/v2/_filter.py
  kolena/_api/v2/_metric.py
  kolena/_api/v2/_scope.py
  kolena/_api/v2/_stats.py
  kolena/_api/v2/_stratification.py
  kolena/_api/v2/_testing.py
  kolena/_api/v2/model.py
  kolena/_api/v2/quality_standard.py
  kolena/_experimental/quality_standard.py
  kolena/_experimental/utils.py
  kolena/dataset/evaluation.py
Due: all

Update kolena/_experimental/quality_standard.py
  kolena/_experimental/quality_standard.py
Due: none

added test
  tests/integration/_experimental/test_quality_standard.py
Due: none

really fix ci
  kolena/_api/v2/_filter.py
  kolena/_api/v2/_stats.py
  kolena/_api/v2/_stratification.py
  kolena/_api/v2/_testing.py
  kolena/_api/v2/model.py
  kolena/_api/v2/quality_standard.py
Due: all

Update tests/integration/_experimental/test_quality_standard.py
  tests/integration/_experimental/test_quality_standard.py
Due: none

fix ci
  kolena/_api/v2/_dsl.py
Due: all

fix ci
  kolena/_api/v2/_metric.py
Due: all

respond to comments
  kolena/_experimental/quality_standard.py
  tests/integration/_experimental/test_quality_standard.py
Due: none

fix ci
  kolena/_api/v2/_metric.py
  kolena/_api/v2/_stratification.py
Due: all

fix delta percentage calculation
  kolena/_experimental/quality_standard.py
  kolena/_experimental/utils.py
  tests/integration/_experimental/test_quality_standard.py
Due: none

fix ci
  kolena/_experimental/quality_standard.py
  kolena/_experimental/utils.py
Due: none

fix ci
  kolena/dataset/evaluation.py
Due: none

Updated contributing md docs to fix locally running error on setup
  CONTRIBUTING.md
Due: none

Updated contributing md docs to fix locally running error on setup (#708)
  CONTRIBUTING.md
Due: none

grant/kol 7429 programmatic retrieval of significance (#705)
  kolena/_api/v2/_api.py
  kolena/_api/v2/_derived_field.py
  kolena/_api/v2/_dsl.py
  kolena/_api/v2/_filter.py
  kolena/_api/v2/_metric.py
  kolena/_api/v2/_scope.py
  kolena/_api/v2/_stats.py
  kolena/_api/v2/_stratification.py
  kolena/_api/v2/_testing.py
  kolena/_api/v2/model.py
  kolena/_api/v2/quality_standard.py
  kolena/_experimental/quality_standard.py
  kolena/_experimental/utils.py
  kolena/dataset/evaluation.py
  tests/integration/_experimental/test_quality_standard.py
Due: all

Simplify content and mention util functions
  docs/dataset/object-detection.md
Due: none

Fix links and special char
  docs/assets/images/quality_standard_diagram_dark.jpeg
  docs/assets/images/quality_standard_diagram_light.jpeg
  docs/dataset/advanced-usage/quality-standard-results.md
  docs/metrics/difficulty-score.md
Due: none

Update docs/automations/extract-bounding-box-metadata.md
  docs/automations/extract-bounding-box-metadata.md
Due: none
