Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

add unit tests
  kolena/_experimental/dataset/dataset.py
Due: none

Restructure exports
  kolena/_experimental/dataset/dataset.py
Due: none

fix import
  tests/unit/workflow/test_data_object.py
Due: none

revert outdated changes
  tests/unit/workflow/test_data_object.py
Due: none

Inference and evaluation for dataset
  kolena/_api/v2/evaluation.py
  kolena/_api/v2/model.py
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  kolena/_experimental/dataset/common.py
  kolena/workflow/test_run.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: generic, all

export helper functions
  kolena/_experimental/dataset/__init__.py
Due: none

remove test sample verbiage from datasets
  kolena/_experimental/dataset/_dataset.py
Due: none

Include activation map upload as part of workflow (#253)
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

update unit tests
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

fix deserialize dataframe bug
  kolena/_experimental/dataset/_dataset.py
  kolena/_experimental/dataset/_evaluation.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Updated BLEU formala
  docs/metrics/bleu.md
Due: none

Metrics Glossary: updated diagrams and enabled metrics docs (#254)
  docs/assets/images/bert_computation.png
  docs/assets/images/bert_vector_space.png
  docs/assets/images/bleu-judgement.png
  docs/assets/images/metrics-bert-computation-dark.svg
  docs/assets/images/metrics-bert-computation-light.svg
  docs/assets/images/metrics-bert-vector-space-dark.svg
  docs/assets/images/metrics-bert-vector-space-light.svg
  docs/assets/images/metrics-fpr-dark.svg
  docs/assets/images/metrics-fpr-light.svg
  docs/assets/images/metrics-precision-dark.svg
  docs/assets/images/metrics-precision-light.svg
  docs/assets/images/metrics-recall-dark.svg
  docs/assets/images/metrics-recall-light.svg
  docs/assets/images/metrics-specificity-dark.svg
  docs/assets/images/metrics-specificity-light.svg
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/fpr.md
  docs/metrics/index.md
  docs/metrics/meteor.md
  docs/metrics/roc-curve.md
  docs/metrics/rouge-n.md
  docs/metrics/rouge.md
  docs/metrics/specificity.md
  mkdocs.yml
Due: none

Fix incorrect max-level for dataframe json-normalize
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

update format
  kolena/_experimental/dataset/_dataset.py
Due: none

Rename DataPointType to DatapointType
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Add option to store api token in .netrc file
  kolena/initialize.py
  mkdocs.yml
  tests/unit/test_initialize.py
Due: all

updated evaluator
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/tests/test_face_recognition_11.py
Due: example

add telemetry flag to request headers (#250)
  kolena/_utils/krequests.py
  tests/unit/test_initialize.py
Due: all

Fix netrc token unit tests
  kolena/initialize.py
  tests/unit/test_initialize.py
Due: all

remove unused env var from ci tests
  .circleci/continue_config.yml
Due: all

add hist and suite metrics
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

Run black hook before flake8 hook in precommit
  .pre-commit-config.yaml
Due: none

add initial support for audio type
  kolena/workflow/asset.py
Due: generic

Import workflow objects via dataset
  kolena/_experimental/dataset/__init__.py
Due: none

Add base test for audio asset
  kolena/workflow/asset.py
  tests/unit/workflow/test_asset.py
Due: generic

remove unused env var from ci tests (#260)
  .circleci/continue_config.yml
Due: all

Fix python micro version to avoid unexpected update
  .circleci/continue_config.yml
Due: all

debug regex
  .circleci/continue_config.yml
Due: all

update pattern
  .circleci/continue_config.yml
Due: all

revert debug
  .circleci/continue_config.yml
Due: all

Fix python micro version to avoid unexpected update (#264)
  .circleci/continue_config.yml
Due: all

Remove redundant `poetry install` following `poetry update`
  docs/quickstart.md
  examples/age_estimation/README.md
  examples/classification/README.md
  examples/keypoint_detection/README.md
  examples/object_detection_2d/README.md
  examples/object_detection_3d/README.md
  examples/question_answering/README.md
  examples/search_embeddings/README.md
  examples/semantic_segmentation/README.md
  examples/semantic_textual_similarity/README.md
  examples/text_summarization/README.md
Due: none

remove import updates
  kolena/_experimental/dataset/__init__.py
Due: none

Run black before flake8 in precommit hook (#262)
  .pre-commit-config.yaml
Due: none

remove extra whitespace
  kolena/_experimental/dataset/__init__.py
Due: none

Switch float for str
  docs/advanced-usage/nesting-test-case-metrics.md
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

add audio test sample type
  kolena/workflow/__init__.py
  kolena/workflow/test_sample.py
  tests/unit/workflow/test_test_sample.py
Due: generic

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
