Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Addressing some of Gordon's comments from KOL-2591
  docs/metrics/accuracy.md
  docs/metrics/averaging-methods.md
  docs/metrics/geometry-matching.md
  docs/metrics/index.md
  docs/metrics/iou.md
Due: none

Using the new svg images
  docs/metrics/geometry-matching.md
Due: none

Removed the names
  docs/metrics/geometry-matching.md
Due: none

New images — svg with dark mode support
  docs/assets/images/metrics-matcher-example1-dark.svg
  docs/assets/images/metrics-matcher-example1-light.svg
  docs/assets/images/metrics-matcher-example1.png
  docs/assets/images/metrics-matcher-example2-dark.svg
  docs/assets/images/metrics-matcher-example2-light.svg
  docs/assets/images/metrics-matcher-example2.png
  docs/assets/images/metrics-matcher-example3-dark.svg
  docs/assets/images/metrics-matcher-example3-light.svg
  docs/assets/images/metrics-matcher-example3.png
  docs/assets/images/metrics-matcher-example4-dark.svg
  docs/assets/images/metrics-matcher-example4-light.svg
  docs/assets/images/metrics-matcher-example4.png
  docs/assets/images/metrics-matcher-greedy-matching-dark.svg
  docs/assets/images/metrics-matcher-greedy-matching-light.svg
  docs/assets/images/metrics-matcher-greedy-matching.png
  docs/assets/images/metrics-matcher-gt-order-dark.svg
  docs/assets/images/metrics-matcher-gt-order-light.svg
  docs/assets/images/metrics-matcher-gt-order.png
Due: none

Updated images on tp-fp-fn-tn page
  docs/metrics/tp-fp-fn-tn.md
Due: none

Removed class annotations
  docs/assets/images/metrics-matcher-example2-dark.svg
  docs/assets/images/metrics-matcher-example2-light.svg
Due: none

Metrics Glossary: using the official names for object detection benchmarks (#109)
  docs/metrics/geometry-matching.md
Due: none

Wording touch-ups
  docs/metrics/iou.md
Due: none

Touch up wording
  docs/metrics/tp-fp-fn-tn.md
Due: none

Metrics Glossary: added the origin information on IoU bbox section (#110)
  docs/metrics/iou.md
Due: none

Wording
  docs/metrics/accuracy.md
  docs/metrics/geometry-matching.md
  docs/metrics/iou.md
Due: none

Metrics Glossary: added a callout to talk about the inclusiveness of threshold (#111)
  docs/metrics/tp-fp-fn-tn.md
Due: none

Bbboxes overlay order changed
  docs/assets/images/metrics-matcher-example1-dark.svg
  docs/assets/images/metrics-matcher-example1-light.svg
  docs/assets/images/metrics-matcher-greedy-matching-dark.svg
  docs/assets/images/metrics-matcher-greedy-matching-light.svg
  docs/assets/images/metrics-matcher-gt-order-dark.svg
  docs/assets/images/metrics-matcher-gt-order-light.svg
Due: none

Metrics Glossary: grammar / wording cleanups (#112)
  docs/metrics/averaging-methods.md
  docs/metrics/geometry-matching.md
  docs/metrics/index.md
  docs/metrics/iou.md
Due: none

Batch interface
  .circleci/continue_config.yml
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/_utils/krequests.py
  kolena/workflow/_datatypes.py
  kolena/workflow/test_case.py
  tests/integration/workflow/conftest.py
  tests/integration/workflow/test_test_case.py
  tests/integration/workflow/test_test_case_bulk.py
  tests/unit/workflow/test_test_case_bulk.py
Due: generic, all

better format of process messages
  kolena/workflow/test_case.py
Due: generic

clean up
  kolena/workflow/test_case.py
Due: generic

bulk testcase processing (#73)
  .circleci/continue_config.yml
  kolena/_api/v1/core.py
  kolena/_api/v1/generic.py
  kolena/_utils/krequests.py
  kolena/workflow/_datatypes.py
  kolena/workflow/test_case.py
  tests/integration/workflow/conftest.py
  tests/integration/workflow/test_test_case.py
  tests/integration/workflow/test_test_case_bulk.py
  tests/unit/workflow/test_test_case_bulk.py
Due: generic, all

Add TestCase.init_many usage to test-suite doc page
  docs/core-concepts/test-suite.md
Due: none

GT order image to have matching pairs instead
  docs/assets/images/metrics-matcher-gt-order-dark.svg
  docs/assets/images/metrics-matcher-gt-order-light.svg
  docs/metrics/geometry-matching.md
  docs/metrics/tp-fp-fn-tn.md
Due: none

update wording
  docs/core-concepts/test-suite.md
Due: none

Hide Y overflow in math blocks; disable MathJax context menu
  docs/assets/css/theme.css
  docs/assets/javascript/mathjax.js
Due: none

Add TestCase.init_many usage to test-suite doc page (#114)
  docs/core-concepts/test-suite.md
Due: none

Sticky header
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Add basic README to examples directory and link from kolena.workflow index
  docs/reference/workflow/index.md
  examples/README.md
Due: none

Typo
  docs/building-a-workflow.md
Due: none

Add search boosting to core concepts pages
  docs/building-a-workflow.md
  docs/core-concepts/model.md
  docs/core-concepts/test-suite.md
  docs/core-concepts/workflow.md
Due: none

Figure/figcaption instead of inline styles
  docs/metrics/geometry-matching.md
Due: none

Update wording
  docs/metrics/geometry-matching.md
Due: none

CircleCI test-splitting needs legacy format
  .circleci/continue_config.yml
Due: all

Updated COCO section text
  docs/metrics/geometry-matching.md
Due: none

CircleCI test-splitting needs legacy format (#116)
  .circleci/continue_config.yml
Due: all

Docs cleanups prior to release (#115)
  docs/assets/css/theme.css
  docs/assets/javascript/mathjax.js
  docs/building-a-workflow.md
  docs/core-concepts/model.md
  docs/core-concepts/test-suite.md
  docs/core-concepts/workflow.md
  docs/metrics/geometry-matching.md
  docs/reference/workflow/index.md
  examples/README.md
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Updated COCO section text (#117)
  docs/metrics/geometry-matching.md
Due: none

Create CNAME
  CNAME
Due: none

enforce name is non empty string
  kolena/detection/_internal/model.py
  kolena/detection/_internal/test_case.py
  kolena/detection/_internal/test_suite.py
  kolena/fr/model.py
  kolena/fr/test_case.py
  kolena/fr/test_suite.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_suite.py
  tests/integration/detection/test_model.py
  tests/integration/detection/test_test_case.py
  tests/integration/detection/test_test_suite.py
  tests/integration/workflow/test_model.py
  tests/integration/workflow/test_test_case.py
  tests/integration/workflow/test_test_suite.py
  tests/unit/utils/test_validators.py
Due: detection, fr, generic

add additonal tests
  tests/integration/fr/test_model.py
  tests/integration/fr/test_test_case.py
  tests/integration/fr/test_test_suite.py
Due: fr

Another pass on the images
  docs/assets/images/metrics-bbox-legend-dark.svg
  docs/assets/images/metrics-bbox-legend-light.svg
  docs/assets/images/metrics-bbox-legend-unmatched-dark.svg
  docs/assets/images/metrics-bbox-legend-unmatched-light.svg
  docs/assets/images/metrics-matcher-example1-dark.svg
  docs/assets/images/metrics-matcher-example1-light.svg
  docs/assets/images/metrics-matcher-example2-dark.svg
  docs/assets/images/metrics-matcher-example2-light.svg
  docs/assets/images/metrics-matcher-example3-dark.svg
  docs/assets/images/metrics-matcher-example3-light.svg
  docs/assets/images/metrics-matcher-example4-dark.svg
  docs/assets/images/metrics-matcher-example4-light.svg
  docs/assets/images/metrics-matcher-greedy-matching-dark.svg
  docs/assets/images/metrics-matcher-greedy-matching-light.svg
  docs/assets/images/metrics-matcher-gt-order-dark.svg
  docs/assets/images/metrics-matcher-gt-order-light.svg
  docs/assets/images/metrics-matcher-legends.png
  docs/assets/images/metrics-tpfpfntn-legends.png
  docs/assets/images/metrics-tpfpfntn-multi-class.png
  docs/assets/images/metrics-tpfpfntn-single-class.png
  docs/metrics/geometry-matching.md
  docs/metrics/tp-fp-fn-tn.md
Due: none
