Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

chore: remove unnecessary disable
  docs/metrics/wer-cer-mer.md
Due: none

disable documentation publish for hotfix
  .github/workflows/release.yml
Due: none

add inline commit
  .github/workflows/release.yml
Due: none

chore: mk lint
  examples/dataset/semantic_segmentation/README.md
Due: none

chore: remove unnecessary disable
  README.md
  docs/connecting-cloud-storage/azure-blob-storage.md
  docs/index.md
  docs/workflow/core-concepts/workflow.md
Due: none

Disable docs publish as part of the hotfix (#474)
  .github/workflows/release.yml
Due: none

chore: enable code and heading length
  .markdownlint.yaml
  docs/dataset/index.md
  docs/dataset/quickstart.md
  docs/faq/index.md
  docs/metrics/average-precision.md
  docs/metrics/bertscore.md
  docs/metrics/bleu.md
  docs/metrics/diarization-error-rate.md
  docs/metrics/meteor.md
  docs/metrics/rouge-n.md
  docs/metrics/wer-cer-mer.md
Due: none

revamp experimental embeddings tests
  .circleci/continue_config.yml
  tests/integration/_experimental/search/test_embeddings.py
Due: all

chore: adjust mk table syntax
  docs/connecting-cloud-storage/s3-compatible.md
  docs/metrics/wer-cer-mer.md
Due: none

chore: code line length
  docs/metrics/consistency-score.md
Due: none

move embeddings integ test dependency
  .circleci/continue_config.yml
Due: all

chore: code line length
  docs/metrics/perplexity.md
Due: none

update ci base installation logic
  .circleci/continue_config.yml
Due: all

use hard-coded pytest group for embeddings
  .circleci/continue_config.yml
  tests/integration/_experimental/search/test_embeddings.py
Due: all

fix bucket name typo in dataset quickstart
  docs/dataset/quickstart.md
Due: none

fix pandera check import
  kolena/_experimental/search/_internal/datatypes.py
Due: none

fix bucket name typo in dataset quickstart (#476)
  docs/dataset/quickstart.md
Due: none

client code for uploading dataset embeddings
  kolena/_api/v2/search.py
  kolena/_experimental/search/__init__.py
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
Due: all

embedding validadtion + style fix
  kolena/_api/v2/search.py
  kolena/_experimental/search/embeddings.py
Due: all

add tests
  kolena/_api/v2/search.py
  tests/integration/_experimental/search/test_embeddings.py
Due: all

skip dataset embedding tests for now
  tests/integration/_experimental/search/test_embeddings.py
Due: none

fix: infer the datatype
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

fix: infer the datatype (#477)
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

fix speaker diarization ci test
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_run.py
Due: example

Fix speaker diarization workflow ci test (#478)
  examples/workflow/speaker_diarization/speaker_diarization/seed_test_run.py
Due: example

v1 porting code
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_run.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_suite.py
Due: example

unskip test
  tests/integration/_experimental/search/test_embeddings.py
Due: none

validate input embeddings are the same size
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/test_embeddings.py
Due: none

add integ tests on partial embedding upload
  tests/integration/_experimental/search/test_embeddings.py
Due: none

refactor test sample creation logic
  tests/integration/_experimental/search/test_embeddings.py
Due: none

Experimental code to upload dataset embeddings (#475)
  .circleci/continue_config.yml
  kolena/_api/v2/search.py
  kolena/_experimental/search/_internal/datatypes.py
  kolena/_experimental/search/embeddings.py
  tests/integration/_experimental/search/test_embeddings.py
Due: all

Fix state bug in ObjectDetectionEvaluator
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
Due: none

Remove comment
  kolena/_experimental/object_detection/evaluator_multiclass.py
Due: none

Do it again
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
Due: none

Update pyproject.toml to include 3.12 support
  .circleci/continue_config.yml
  pyproject.toml
Due: all

chore: expose sources for uploading
  kolena/_api/v2/dataset.py
  kolena/_api/v2/model.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
Due: all

Bump Pandas pin for 3.12
  docs/installing-kolena.md
  pyproject.toml
Due: none

Bump Shapely dependency
  pyproject.toml
Due: none
