Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

Added ThresholdedMetrics on the experimental package
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  kolena/_experimental/workflow/__init__.py
  kolena/_experimental/workflow/thresholded.py
  kolena/workflow/__init__.py
  kolena/workflow/_validators.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic, example

Added ThresholdedMetrics on the experimental package
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
  kolena/_experimental/workflow/__init__.py
  kolena/workflow/_validators.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic, example

Rotate KOLENA_TOKEN used by CI job
  .circleci/continue_config.yml
Due: all

Put token_count in a parameter
  .circleci/continue_config.yml
Due: all

Reintroduce parallelism to integration tests
  .circleci/continue_config.yml
Due: all

change the click package version to make it compatible to customer environment (#319)
  pyproject.toml
Due: none

change the click package version to make it compatible to customer environment (#319) (#322)
  pyproject.toml
Due: none

Deployed 91bf7c9 with MkDocs version: 1.5.3
  assets/images/fr11.jpg
  assets/images/speaker-diarization-example.png
  objects.inv
  quickstart/index.html
  reference/workflow/model/index.html
  reference/workflow/test-suite/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

added in metrics for recsys + improved workflow modeling of GT/INF
  examples/recommender_system/pyproject.toml
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

fixed metrics
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

update metrics
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
Due: example

update
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

Added calculation for mean_AP
  kolena/_experimental/object_detection/evaluator_multiclass.py
Due: none

Added NLP metrics
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/truthful_qa/bart_score.py
  examples/question_answering/question_answering/truthful_qa/evaluator.py
  examples/question_answering/question_answering/truthful_qa/seed_test_run.py
  examples/question_answering/question_answering/truthful_qa/workflow.py
Due: example

Rotate KOLENA_TOKEN used by CI job (#321)
  .circleci/continue_config.yml
Due: all

Lower max python version to 3.10 to satisfy open3d requirements
  examples/object_detection_3d/pyproject.toml
Due: none

Bump min Kolena version in examples to 0.94.0 (#317)
  examples/age_estimation/pyproject.toml
  examples/automatic_speech_recognition/pyproject.toml
  examples/classification/pyproject.toml
  examples/keypoint_detection/pyproject.toml
  examples/object_detection_2d/pyproject.toml
  examples/object_detection_3d/pyproject.toml
  examples/question_answering/pyproject.toml
  examples/search_embeddings/pyproject.toml
  examples/semantic_segmentation/pyproject.toml
  examples/semantic_textual_similarity/pyproject.toml
  examples/text_summarization/pyproject.toml
Due: none

Undo change on example
  examples/object_detection_2d/object_detection_2d/seed_test_run.py
Due: example

Added test
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: none

Added experimental documentation for ThresholdedMetrics class
  docs/reference/pre-built/thresholded-metrics.md
  mkdocs.yml
Due: none

Update doc
  docs/advanced-usage/thresholded-metrics.md
  mkdocs.yml
Due: none

Restore experimental examples
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/_experimental/object_detection/workflow.py
Due: none

Update doc
  docs/advanced-usage/thresholded-metrics.md
Due: none

Update doc
  docs/reference/workflow/thresholded-metrics.md
  mkdocs.yml
Due: none

Update doc
  docs/reference/workflow/thresholded-metrics.md
  kolena/_experimental/workflow/thresholded.py
Due: none

Update doc
  kolena/_experimental/workflow/thresholded.py
Due: none

stash update
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/utils.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

Update doc style
  docs/reference/workflow/thresholded-metrics.md
Due: none

Added ThresholdedMetrics on the experimental package (#320)
  docs/reference/workflow/thresholded-metrics.md
  kolena/_experimental/workflow/__init__.py
  kolena/_experimental/workflow/thresholded.py
  kolena/workflow/_validators.py
  mkdocs.yml
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

truthfulqa workflow with basic metrics
  examples/question_answering/pyproject.toml
  examples/question_answering/question_answering/truthful_qa/evaluator.py
  examples/question_answering/question_answering/truthful_qa/vendored/__init__.py
  examples/question_answering/question_answering/truthful_qa/vendored/bart_score.py
  examples/question_answering/question_answering/truthful_qa/workflow.py
Due: example

Delete CNAME
  CNAME
Due: none

added doc for setting up cloudfront integration
  docs/advanced-usage/connecting-cloud-storage/amazon-cloudfront.md
Due: none

remove ci step that publishes docs to github pages and auto publish docs to s3 during release
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

add DD_RUM variables for datadog monitoring
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Perplexity Metrics Doc (#279)
  docs/metrics/index.md
  docs/metrics/perplexity.md
  mkdocs.yml
Due: none

Update integration test
  kolena/workflow/model.py
  tests/integration/workflow/test_model.py
Due: generic

Incorrect inference assigned as TP
  docs/metrics/average-precision.md
Due: none

Incorrect inference assigned as TP (#325)
  docs/metrics/average-precision.md
Due: none

remove ci step that publishes docs to github pages and auto publish docs to s3 during release (#324)
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
