Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

update tests
  tests/integration/_experimental/object_detection/test_dataset.py
Due: none

fix errors
  kolena/_experimental/object_detection/dataset.py
Due: none

Integrate thresholded metrics
  kolena/_experimental/object_detection/dataset.py
  kolena/dataset/_common.py
  kolena/dataset/evaluation.py
Due: none

implement iteration
  kolena/_experimental/object_detection/dataset.py
Due: none

revert delta-only change
  kolena/_experimental/object_detection/dataset.py
Due: none

update od-3d example
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
  kolena/dataset/evaluation.py
Due: example

Support thresholded metrics
  kolena/dataset/_common.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

update test
  tests/integration/dataset/test_evaluation.py
Due: none

Add docstring to new argument
  kolena/dataset/evaluation.py
Due: none

Added jsonl helper fn to kolena.io
  kolena/io.py
  tests/unit/test_io.py
Due: all

update logic after additional testing
  kolena/_utils/batched_load.py
Due: all

Update documentation
  docs/dataset/formatting-your-datasets.md
  kolena/io.py
Due: all

fix spelling of workflow
  docs/reference/workflow/model.md
Due: none

fix spelling of workflow (#578)
  docs/reference/workflow/model.md
Due: none

Do not attach bounding boxes to images in array
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
Due: example

update unit test
  tests/unit/utils/test_batch_loading.py
Due: none

Update upload result link
  kolena/dataset/evaluation.py
Due: none

Do not attach bounding boxes to images in array (#579)
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
Due: example

Support thresholded metrics (#577)
  kolena/dataset/_common.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

fix fn dataframe_from_jsonl
  kolena/io.py
Due: all

Update object-detection to thresholded metrics
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
  kolena/_experimental/object_detection/dataset.py
  tests/integration/_experimental/object_detection/test_dataset.py
Due: example

fix wrong change
  kolena/_experimental/object_detection/dataset.py
Due: none

fix unit test
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

fix typing
  kolena/_experimental/object_detection/dataset.py
Due: none

revert changes
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
Due: example

test run to chunk dataframe based on exported file size (#565)
  kolena/_experimental/search/embeddings.py
  kolena/_utils/batched_load.py
  kolena/_utils/consts.py
  kolena/dataset/dataset.py
  kolena/dataset/evaluation.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  tests/unit/utils/test_batch_loading.py
Due: generic, all

Update object-detection to thresholded metrics (#581)
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
  kolena/_experimental/object_detection/dataset.py
  tests/integration/_experimental/object_detection/test_dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: example

Remove unecesary helper fns
  kolena/io.py
  tests/unit/test_io.py
Due: all

Added support for upload JSONL and update documentation (#580)
  docs/dataset/formatting-your-datasets.md
  tests/unit/test_io.py
Due: none

populate _DATA_TYPE_MAP if it is not populated
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  kolena/asset.py
  kolena/io.py
  kolena/workflow/plot.py
  kolena/workflow/test_sample.py
Due: generic, all

logging
  kolena/_utils/datatypes.py
Due: all

create new OD task doc
  docs/assets/images/task-od-debugger-dark.png
  docs/assets/images/task-od-debugger-light.png
  docs/assets/images/task-od-evaluation-config-dark.gif
  docs/assets/images/task-od-evaluation-config-light.gif
  docs/assets/images/task-od-make-dataset-dark.gif
  docs/assets/images/task-od-make-dataset-light.gif
  docs/assets/images/task-od-model-config-dark.png
  docs/assets/images/task-od-model-config-light.png
  docs/assets/images/task-od-multiclass.png
  docs/assets/images/task-od-prcurve-dark.png
  docs/assets/images/task-od-prcurve-light.png
  docs/assets/images/task-od-qs-dark.gif
  docs/assets/images/task-od-qs-dark.png
  docs/assets/images/task-od-qs-light.gif
  docs/assets/images/task-od-qs-light.png
  docs/assets/images/task-od-upload-results-dark.gif
  docs/assets/images/task-od-upload-results-light.gif
  docs/dataset/object-detection.md
  mkdocs.yml
Due: none

Link to newly uploaded dataset or results (#574)
  kolena/_api/v2/model.py
  kolena/_utils/endpoints.py
  kolena/dataset/evaluation.py
  pyproject.toml
  tests/integration/dataset/test_evaluation.py
Due: all

added tests
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  kolena/asset.py
  kolena/dataset/dataset.py
  kolena/workflow/plot.py
  kolena/workflow/test_sample.py
  tests/unit/test_annotation.py
  tests/unit/test_asset.py
  tests/unit/test_deserialize_dataobject.py
  tests/unit/workflow/test_plot.py
  tests/unit/workflow/test_test_sample.py
Due: generic, all

keep using sequence in NumberSeries
  kolena/_utils/datatypes.py
  kolena/workflow/plot.py
Due: generic, all

fixed tests
  kolena/_utils/datatypes.py
Due: all

missed a spot
  kolena/workflow/plot.py
Due: generic

grant/cs/prepopulate datatype map (#582)
  kolena/_experimental/workflow/thresholded.py
  kolena/_utils/datatypes.py
  kolena/annotation.py
  kolena/asset.py
  kolena/dataset/dataset.py
  kolena/io.py
  kolena/workflow/plot.py
  kolena/workflow/test_sample.py
  tests/unit/test_annotation.py
  tests/unit/test_asset.py
  tests/unit/test_deserialize_dataobject.py
  tests/unit/workflow/test_plot.py
  tests/unit/workflow/test_test_sample.py
Due: generic, all

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
