Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

[Hotfix] Accommodate Pandas <3 for Python<3.12 (#548) (#552)
  pyproject.toml
Due: none

quick fixes
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
Due: none

Make infer datatype more robust
  kolena/dataset/dataset.py
  tests/unit/dataset/test_common.py
  tests/unit/dataset/test_dataset.py
Due: none

Add --sample-count param with default to person detection (#551)
  examples/dataset/person_detection/person_detection/upload_dataset.py
  examples/dataset/person_detection/person_detection/upload_results.py
Due: example

Make _check_multiclass robust to null/NaN values in the series being checked
  kolena/_experimental/object_detection/dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

update type-hint
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

fix: `dataframe_to_csv` only serialize list/dict to JSON
  kolena/io.py
Due: all

Make infer datatype more robust (#553)
  kolena/dataset/dataset.py
  tests/unit/dataset/test_common.py
  tests/unit/dataset/test_dataset.py
Due: none

Add unit test to catch regression
  kolena/io.py
  tests/unit/test_io.py
Due: all

Pass multiple types in single `isinstance` call
  kolena/io.py
Due: all

fix: `dataframe_to_csv` only serialize list/dict to JSON (#555)
  kolena/io.py
  tests/unit/test_io.py
Due: all

fix: `dataframe_to_csv` only serialize list/dict to JSON (#555) (#556)
  kolena/io.py
  tests/unit/test_io.py
Due: all

Add additional info to duplicated-id exception
  kolena/dataset/_common.py
  kolena/errors.py
  tests/unit/dataset/test_common.py
Due: all

Rename class
  kolena/dataset/_common.py
  kolena/errors.py
  tests/unit/dataset/test_common.py
Due: all

Fix initialize
  kolena/errors.py
Due: all

fix: Update `data_type` retrieval to not modify underlying dict
  kolena/io.py
  tests/unit/test_io.py
Due: all

Add additional info to duplicated-id exception (#557)
  kolena/dataset/_common.py
  kolena/errors.py
  tests/unit/dataset/test_common.py
Due: all

Add ID field section to docs
  docs/dataset/core-concepts/dataset.md
  docs/dataset/formatting-your-datasets.md
Due: none

Tweak wording
  docs/dataset/core-concepts/dataset.md
Due: none

Remove stray dash
  docs/dataset/formatting-your-datasets.md
Due: none

Add ID field section to docs (#559)
  docs/dataset/core-concepts/dataset.md
  docs/dataset/formatting-your-datasets.md
Due: none

chunk uploads more aggressively
  kolena/_utils/consts.py
Due: all

create common task section and OD task doc
  docs/assets/images/metrics-tasks-od-COCO_val2014_000000023294_annotated.png
  docs/assets/images/metrics-tasks-od-prcurve-dark.png
  docs/assets/images/metrics-tasks-od-prcurve-light.png
  docs/metrics/index.md
  docs/metrics/object-detection.md
  mkdocs.yml
Due: none

grammar and nits
  docs/metrics/object-detection.md
Due: none

Make _check_multiclass robust to null/NaN values in the series being checked (#554)
  kolena/_experimental/object_detection/dataset.py
  tests/unit/_experimental/object_detection/test_dataset.py
Due: none

feat: Add parquet IO helpers
  kolena/io.py
  tests/unit/test_io.py
Due: all

Invalidate python CircleCI cache to pull in mkdocs fix
  .circleci/continue_config.yml
Due: all

Update cache for docs step
  .circleci/continue_config.yml
Due: all

Fix semantic segmentation dataset example breakage
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_dataset.py
Due: example

Invalidate python CircleCI cache to pull in mkdocs fix (#563)
  .circleci/continue_config.yml
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_dataset.py
Due: all, example

more elaboration
  docs/dataset/advanced-usage/extract-metadata-text.md
Due: none

initial rough draft
  docs/dataset/advanced-usage/extract-metadata-text.md
  mkdocs.yml
Due: none

iterated on requested changes
  docs/dataset/advanced-usage/extract-metadata-text.md
Due: none

small change
  docs/metrics/extract-metadata-text.md
Due: none

edited explanations
  docs/dataset/advanced-usage/extract-metadata-text.md
Due: none

adding sentence on example and adding metadata to index
  docs/dataset/advanced-usage/extract-metadata-text.md
  docs/dataset/advanced-usage/index.md
Due: none

shuffled paths
  docs/dataset/advanced-usage/extract-metadata-text.md
  mkdocs.yml
Due: none

second iteration of rough draft - included examples
  docs/assets/images/edit-text-extraction-properties.gif
  docs/assets/images/hydrated-text-example.png
  docs/assets/images/navigate-to-text-extraction-config.gif
  docs/assets/images/select-text-extraction-properties.gif
  docs/dataset/advanced-usage/extract-metadata-text.md
  docs/metrics/extract-metadata-text.md
  mkdocs.yml
Due: none

added icon
  docs/dataset/advanced-usage/extract-metadata-text.md
  docs/dataset/advanced-usage/index.md
  docs/overrides/.icons/kolena/citation-16.svg
  docs/overrides/.icons/kolena/citation-20.svg
Due: none

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
