Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Add support for serializing deeply nested DataObjects
  kolena/io.py
  tests/unit/test_io.py
Due: all

Deserialize deeply nested DataObjects; Add unit test
  kolena/io.py
  tests/unit/test_io.py
Due: all

Update test by wrapping nested annotation in a list
  tests/unit/test_io.py
Due: none

update locator
  docs/dataset/formatting-your-datasets.md
Due: none

Add DataObjectJSONDecoder
  kolena/io.py
Due: all

Flesh out dataset formatting documentation (#542)
  docs/dataset/formatting-your-datasets.md
Due: none

Use `_deserialize_dataobject` over DataObjectJSONDecoder for perf
  kolena/io.py
Due: all

add additional matching info
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

output something
  .circleci/continue_config.yml
Due: all

revert circleci change
  .circleci/continue_config.yml
Due: all

debug
  .circleci/continue_config.yml
Due: all

reduce verbosity
  .circleci/continue_config.yml
Due: all

kitti 3d object detection example for dataset
  .circleci/continue_config.yml
  examples/dataset/object_detection_3d/README.md
  examples/dataset/object_detection_3d/object_detection_3d/__init__.py
  examples/dataset/object_detection_3d/object_detection_3d/constants.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
  examples/dataset/object_detection_3d/object_detection_3d/vendored/__init__.py
  examples/dataset/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/dataset/object_detection_3d/object_detection_3d/vendored/rotate_iou.py
  examples/dataset/object_detection_3d/pyproject.toml
  examples/dataset/object_detection_3d/tests/test_object_detection_3d.py
  examples/workflow/object_detection_3d/object_detection_3d/evaluator.py
Due: all, example

update image_id and metadata
  examples/dataset/object_detection_3d/README.md
  examples/dataset/object_detection_3d/object_detection_3d/constants.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

switch resource class
  .circleci/continue_config.yml
Due: all

fix incorrect FN_3D construction
  examples/dataset/object_detection_3d/object_detection_3d/constants.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

fix missing compute_fp flag
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

update kolena version
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/pyproject.toml
Due: example

style improvements
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
Due: example

kitti 3d object detection example for dataset (#535)
  examples/dataset/object_detection_3d/README.md
  examples/dataset/object_detection_3d/object_detection_3d/__init__.py
  examples/dataset/object_detection_3d/object_detection_3d/constants.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
  examples/dataset/object_detection_3d/object_detection_3d/upload_results.py
  examples/dataset/object_detection_3d/object_detection_3d/utils.py
  examples/dataset/object_detection_3d/object_detection_3d/vendored/__init__.py
  examples/dataset/object_detection_3d/object_detection_3d/vendored/kitti_eval.py
  examples/dataset/object_detection_3d/object_detection_3d/vendored/rotate_iou.py
  examples/dataset/object_detection_3d/pyproject.toml
  examples/dataset/object_detection_3d/tests/test_object_detection_3d.py
  examples/workflow/object_detection_3d/object_detection_3d/evaluator.py
Due: example

Provide example of viewing a list of images for different camera angles
  examples/dataset/object_detection_3d/object_detection_3d/upload_dataset.py
Due: example

Add support for serializing/deserializing deeply nested DataObjects (#543)
  kolena/io.py
  tests/unit/test_io.py
Due: all

Remove support for dot seperated composite keys (#541)
  kolena/dataset/dataset.py
  tests/integration/dataset/test_dataset.py
  tests/unit/dataset/data.py
  tests/unit/dataset/test_dataset.py
Due: none

Add direnv related files to .gitignore
  .gitignore
Due: none

Add direnv related files to .gitignore (#545)
  .gitignore
Due: none

Prioritize columns that begin with 'id_' or end with '_id' over locator and text
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

Fix test broken by changed behavior
  tests/unit/dataset/test_dataset.py
Due: none

chore: Prioritize columns that begin with 'id_' or end with '_id' over others (#546)
  kolena/dataset/dataset.py
  tests/unit/dataset/test_dataset.py
Due: none

tried committing a change
  docs/metrics/index.md
  docs/metrics/mean_absolute_error.md
Due: none

more line changes
  docs/metrics/coefficient-of-determination.md
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  docs/metrics/mean-squared-error.md
  docs/metrics/mean_absolute_error.md
  docs/metrics/root-mean-squared-error.md
  mkdocs.yml
Due: none

Accommodate Pandas <3 for Python<3.12
  pyproject.toml
Due: none

eof ammendment
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  mkdocs.yml
Due: none

value fix
  docs/metrics/mean-absolute-error.md
Due: none

Mean Absolute Error (MAE) Metric Document (#549)
  docs/metrics/index.md
  docs/metrics/mean-absolute-error.md
  mkdocs.yml
Due: none

added mean squared error doc
  docs/metrics/mean-squared-error.md
Due: none

Add --sample-count param with default to person detection
  examples/dataset/person_detection/person_detection/upload_dataset.py
  examples/dataset/person_detection/person_detection/upload_results.py
Due: example

added more MSE docs
  docs/metrics/index.md
  docs/metrics/mean-squared-error.md
  mkdocs.yml
Due: none

Accommodate Pandas <3 for Python<3.12 (#548)
  pyproject.toml
Due: none
