Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

chore: handle empty results gracefully (#455)
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: none

chore: fix condition
  .circleci/continue_config.yml
Due: all

updated the upload_results doc to more accurately describe its input and output
  kolena/dataset/evaluation.py
Due: none

chore: diverge a job for dataset integration test
  .circleci/continue_config.yml
Due: all

Fix s3 reference in docs
  docs/dataset/quickstart.md
Due: none

responding to comments
  docs/reference/dataset/index.md
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
Due: all

minor change
  kolena/dataset/evaluation.py
Due: none

fix: skip condition
  .circleci/continue_config.yml
Due: all

Fix s3 reference in docs (#461)
  docs/dataset/quickstart.md
Due: none

ci: simplify and fix the dataset integration tests double trigger (#458)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: all

chore: remove dummy tests
  tests/integration/dataset/test_dummy.py
Due: none

ci poke
  tests/integration/workflow/dummy.py
Due: none

chore: remove dummy tests (#462)
  tests/integration/dataset/test_dummy.py
Due: none

nits
  docs/metrics/consistency-score.md
  docs/metrics/prompt-based-hallucination-metric.md
Due: none

add read retry for GET/PUT/DELETE calls
  kolena/_utils/krequests.py
Due: all

moved long lines to the next line
  docs/metrics/consistency-score.md
  docs/metrics/prompt-based-hallucination-metric.md
Due: none

rename
  kolena/_utils/krequests.py
Due: all

Added more content to the cost limitation
  docs/metrics/consistency-score.md
  docs/metrics/prompt-based-hallucination-metric.md
Due: none

add read retry for GET/PUT/DELETE calls (#464)
  kolena/_utils/krequests.py
Due: all

LLM Hallucination Metrics Docs: consistency score + prompt-based metrics (#459)
  docs/metrics/HHEM-score.md
  docs/metrics/consistency-score.md
  docs/metrics/index.md
  docs/metrics/prompt-based-hallucination-metric.md
  mkdocs.yml
Due: none

update mypy for workflow/text_summarization
  .pre-commit-config.yaml
  examples/workflow/text_summarization/text_summarization/evaluator.py
  examples/workflow/text_summarization/text_summarization/seed_test_run.py
  examples/workflow/text_summarization/text_summarization/seed_test_suite.py
  examples/workflow/text_summarization/text_summarization/workflow.py
Due: example

Add AudioAsset
  kolena/asset.py
Due: all

enable mypy for examples
  .pre-commit-config.yaml
  examples/workflow/age_estimation/age_estimation/evaluator.py
  examples/workflow/age_estimation/age_estimation/seed_test_run.py
  examples/workflow/age_estimation/age_estimation/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/evaluator.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_run.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/seed_test_suite.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/utils.py
  examples/workflow/automatic_speech_recognition/automatic_speech_recognition/workflow.py
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/face_recognition_11/face_recognition_11/utils.py
  examples/workflow/keypoint_detection/keypoint_detection/evaluator.py
  examples/workflow/keypoint_detection/keypoint_detection/seed_test_run.py
  examples/workflow/keypoint_detection/keypoint_detection/seed_test_suite.py
  examples/workflow/keypoint_detection/keypoint_detection/workflow.py
  examples/workflow/object_detection_3d/object_detection_3d/evaluator.py
  examples/workflow/object_detection_3d/object_detection_3d/seed_test_run.py
  examples/workflow/object_detection_3d/object_detection_3d/seed_test_suite.py
  examples/workflow/object_detection_3d/object_detection_3d/utils.py
  examples/workflow/question_answering/question_answering/utils.py
Due: example

fix some semantic segmentation mypy errors
  examples/workflow/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/workflow/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/workflow/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/workflow/semantic_segmentation/tests/test_model_sanitize.py
  kolena/_experimental/object_detection/evaluator.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/workflow.py
Due: example

update semantic_text_similarity
  examples/workflow/semantic_segmentation/tests/test_model_sanitize.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/evaluator.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_run.py
  examples/workflow/semantic_textual_similarity/semantic_textual_similarity/seed_test_suite.py
Due: example

Added sem seg dataset example
  .circleci/continue_config.yml
  examples/dataset/rain_forecast/README.md
  examples/dataset/rain_forecast/rain_forecast/metrics.py
  examples/dataset/rain_forecast/rain_forecast/upload_results.py
  examples/dataset/semantic_segmentation/README.md
  examples/dataset/semantic_segmentation/pyproject.toml
  examples/dataset/semantic_segmentation/semantic_segmentation/__init__.py
  examples/dataset/semantic_segmentation/semantic_segmentation/activation_map_uploader.py
  examples/dataset/semantic_segmentation/semantic_segmentation/constants.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_activation_map.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_dataset.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_results.py
  examples/dataset/semantic_segmentation/semantic_segmentation/utils.py
  examples/dataset/semantic_segmentation/tests/test_semantic_segmentation.py
Due: all, example

Update kolena/asset.py
  kolena/asset.py
Due: all

Move `kolena.workflow.metrics` to `kolena.metrics`
  docs/metrics/accuracy.md
  docs/metrics/f1-score.md
  docs/metrics/fpr.md
  docs/metrics/geometry-matching.md
  docs/metrics/iou.md
  docs/metrics/precision.md
  docs/metrics/recall.md
  docs/metrics/specificity.md
  docs/metrics/tp-fp-fn-tn.md
  docs/reference/metrics.md
  docs/reference/workflow/metrics.md
  examples/workflow/classification/classification/evaluator_binary.py
  examples/workflow/classification/classification/evaluator_multiclass.py
  examples/workflow/face_recognition_11/face_recognition_11/evaluator.py
  examples/workflow/semantic_segmentation/semantic_segmentation/evaluator.py
  kolena/_experimental/classification/utils.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/metrics/__init__.py
  kolena/metrics/_formula.py
  kolena/metrics/_geometry.py
  kolena/workflow/evaluator.py
  mkdocs.yml
  tests/unit/_experimental/object_detection/test_evaluators.py
  tests/unit/_experimental/object_detection/test_plots.py
  tests/unit/_experimental/object_detection/test_polygons.py
  tests/unit/_experimental/object_detection/test_utils.py
  tests/unit/workflow/metrics/test_formula.py
  tests/unit/workflow/metrics/test_geometry.py
Due: generic, example

Add AudioAsset (#465)
  kolena/asset.py
Due: all

create a private upload_result that does not expose private API response
  docs/reference/dataset/index.md
  kolena/_api/v2/model.py
  kolena/dataset/evaluation.py
  tests/integration/dataset/test_evaluation.py
Due: all

fix integ test
  tests/integration/dataset/test_evaluation.py
Due: none

fix integ test pt2
  kolena/dataset/evaluation.py
Due: none

remove with_event for private function
  kolena/dataset/evaluation.py
Due: none

Retain backwards compatability
  examples/workflow/classification/classification/evaluator_binary.py
  examples/workflow/classification/classification/evaluator_multiclass.py
  examples/workflow/face_recognition_11/face_recognition_11/evaluator.py
  examples/workflow/semantic_segmentation/semantic_segmentation/evaluator.py
  kolena/_experimental/classification/utils.py
  kolena/_experimental/object_detection/evaluator_multiclass.py
  kolena/_experimental/object_detection/evaluator_single_class.py
  kolena/_experimental/object_detection/utils.py
  kolena/workflow/evaluator.py
  kolena/workflow/metrics.py
  tests/unit/_experimental/object_detection/test_evaluators.py
  tests/unit/_experimental/object_detection/test_plots.py
  tests/unit/_experimental/object_detection/test_polygons.py
  tests/unit/_experimental/object_detection/test_utils.py
  tests/unit/metrics/__init__.py
  tests/unit/metrics/test_formula.py
  tests/unit/metrics/test_geometry.py
Due: generic, example

periods
  kolena/dataset/evaluation.py
Due: none

update mypy for question answering example
  examples/workflow/question_answering/question_answering/evaluator.py
  examples/workflow/question_answering/question_answering/seed_test_run.py
  examples/workflow/question_answering/question_answering/seed_test_suite.py
  examples/workflow/question_answering/question_answering/utils.py
Due: example

Updated bucket to the kolena-public-examples
  examples/dataset/semantic_segmentation/semantic_segmentation/constants.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_activation_map.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_dataset.py
  examples/dataset/semantic_segmentation/semantic_segmentation/upload_results.py
  examples/dataset/semantic_segmentation/semantic_segmentation/utils.py
  examples/dataset/semantic_segmentation/tests/test_semantic_segmentation.py
Due: example

Update `kolena.workflow.metrics` page with deprecation warning
  docs/reference/workflow/metrics.md
  mkdocs.yml
Due: none

Remove upgrade advice
  docs/reference/workflow/metrics.md
Due: none

fix mypy for fr_11 example
  examples/workflow/face_recognition_11/face_recognition_11/evaluator.py
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_run.py
  examples/workflow/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/workflow/face_recognition_11/face_recognition_11/workflow.py
Due: example

Path conditions:
  classification: (any of: kolena/classification/.*) or (any of: tests/integration/classification/.*)
  detection: (any of: kolena/detection/.*) or (any of: tests/integration/detection/.*)
  fr: (any of: kolena/fr/.*) or (any of: tests/integration/fr/.*)
  generic: (any of: kolena/workflow/.*) or (any of: tests/integration/generic/.*)
  all: (((any of: kolena/_(api|utils)/.*) or (any of: kolena/[^/]*.py)) or (any of: tests/integration/[^/]*.py)) or (any of: .circleci/.*)
  example: any of: examples/.*.py
