Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Make perplexity visible on public docs
  docs/metrics/index.md
  docs/metrics/perplexity.md
  mkdocs.yml
Due: none

Reuse activation maps from public s3 for seed_test_run
  examples/semantic_segmentation/semantic_segmentation/activation_map/map_uploader.py
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

[KOL-2675] add event api to kolena client (#271)
  kolena/_api/v1/event.py
  kolena/_utils/instrumentation.py
  kolena/initialize.py
  kolena/workflow/model.py
  kolena/workflow/test_case.py
  kolena/workflow/test_run.py
  kolena/workflow/test_suite.py
Due: generic, all

added more metadata stratifications
  examples/rating_based_recommendation/pyproject.toml
  examples/rating_based_recommendation/rating_based_recommendation/__init__.py
  examples/rating_based_recommendation/rating_based_recommendation/evaluator.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_run.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_suite.py
  examples/rating_based_recommendation/rating_based_recommendation/utils.py
  examples/rating_based_recommendation/rating_based_recommendation/workflow.py
  examples/rating_prediction/rating_prediction/seed_test_run.py
  examples/rating_prediction/rating_prediction/seed_test_suite.py
  examples/rating_prediction/rating_prediction/utils.py
  examples/rating_prediction/rating_prediction/workflow.py
  examples/recommender_system/README.md
  examples/recommender_system/pyproject.toml
  examples/recommender_system/recommender_system/__init__.py
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/utils.py
Due: example

Improve result mask upload and test computation
  examples/semantic_segmentation/semantic_segmentation/activation_map/map_uploader.py
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

Fix formatting
  examples/semantic_segmentation/semantic_segmentation/activation_map/map_uploader.py
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

Use kolena utils for progress bar and logging
  examples/semantic_segmentation/semantic_segmentation/activation_map/map_uploader.py
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
Due: example

minor fixes
  examples/rating_based_recommendation/rating_based_recommendation/evaluator.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_run.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_suite.py
  examples/rating_based_recommendation/rating_based_recommendation/utils.py
  examples/rating_based_recommendation/rating_based_recommendation/workflow.py
Due: example

Add Kolena logo to 'Supported Python Versions' table
  docs/installing-kolena.md
Due: none

TimeSegment annotation type (#290)
  kolena/workflow/annotation.py
Due: generic

Add Kolena logo to 'Supported Python Versions' table (#292)
  docs/installing-kolena.md
Due: none

Add seed_activation_map script
  examples/semantic_segmentation/semantic_segmentation/activation_map/map_uploader.py
  examples/semantic_segmentation/semantic_segmentation/activation_map_uploader.py
  examples/semantic_segmentation/semantic_segmentation/seed_activation_map.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

Update README with seed_activation_map script
  examples/semantic_segmentation/README.md
Due: none

Update README with memory usage warning
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
Due: example

tabular demo prep
  examples/rating_based_recommendation/rating_based_recommendation/evaluator.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_run.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_suite.py
  examples/rating_based_recommendation/rating_based_recommendation/utils.py
  examples/rating_based_recommendation/rating_based_recommendation/workflow.py
Due: example

rename client initialization event name
  kolena/_api/v1/event.py
  kolena/initialize.py
Due: all

rename all events as <noun>-<verb> for consistency
  kolena/_api/v1/event.py
Due: all

added missing dependency
  examples/rating_based_recommendation/pyproject.toml
Due: none

add sdk- prefix to all event names
  kolena/_api/v1/event.py
Due: all

added custom metrics
  examples/rating_based_recommendation/rating_based_recommendation/evaluator.py
  examples/rating_based_recommendation/rating_based_recommendation/workflow.py
Due: example

fix for division by 0
  examples/rating_based_recommendation/rating_based_recommendation/evaluator.py
Due: example

Point to smaller results csv
  examples/rating_based_recommendation/rating_based_recommendation/evaluator.py
  examples/rating_based_recommendation/rating_based_recommendation/seed_test_run.py
Due: example

rename client event names for consistency (#293)
  kolena/_api/v1/event.py
  kolena/initialize.py
Due: all

chore: fall back data point type to TABULAR
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

chore: sort DatapointType enum
  kolena/_experimental/dataset/_dataset.py
Due: none

chore: fall back data point type to TABULAR (#294)
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

Remove parallelism from integration tests
  .circleci/continue_config.yml
Due: all

Add NoOp auth to krequests to bypass netrc auth priority
  kolena/_utils/krequests.py
Due: all

Update Auth class from NoOpAuth to JWTAuth
  kolena/_utils/krequests.py
Due: all

Fix README activation map typos
  examples/semantic_segmentation/README.md
Due: none

Update JWTAuth constructor signature to non optional jwt
  kolena/_utils/krequests.py
Due: all

Remove unused Optional import in krequests
  kolena/_utils/krequests.py
Due: all

Improve semantic segmentation example (#291)
  examples/semantic_segmentation/README.md
  examples/semantic_segmentation/semantic_segmentation/activation_map_uploader.py
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_activation_map.py
  examples/semantic_segmentation/semantic_segmentation/utils.py
Due: example

Add JWTAuth to krequests to bypass netrc auth priority (#296)
  kolena/_utils/krequests.py
Due: all

skeleton recsys workflow
  examples/rating_based_recommendation/rating_based_recommendation/evaluator.py
  examples/recommender_system/pyproject.toml
  examples/recommender_system/recommender_system/__init__.py
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/seed_test_suite.py
  examples/recommender_system/recommender_system/utils.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

publish kolena document to production s3
  .github/workflows/docs.yml
Due: none

publish kolena document to production s3 (#297)
  .github/workflows/docs.yml
Due: none

update
  examples/recommender_system/recommender_system/evaluator.py
  examples/recommender_system/recommender_system/metrics.py
  examples/recommender_system/recommender_system/seed_test_run.py
  examples/recommender_system/recommender_system/workflow.py
Due: example

Update quickstart to reference Object Detection 2d example
  docs/core-concepts/workflow.md
  docs/quickstart.md
Due: none
