Repository kolenaIO/kolena: changes, and which CircleCI parameters are due for each by the changed paths.
All: classification, detection, fr, generic, all, example

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  setup:
    executor: path-filtering/default
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set base-revision
          command: echo "export BASE_REVISION=$(git merge-base trunk << pipeline.git.revision >>)" >> $BASH_ENV
      - path-filtering/set-parameters:
          base-revision: ${BASE_REVISION}
          mapping: |
            kolena/classification/.* classification true
            tests/integration/classification/.* classification true
            kolena/detection/.* detection true
            tests/integration/detection/.* detection true
            kolena/fr/.* fr true
            tests/integration/fr/.* fr true
            kolena/workflow/.* generic true
            tests/integration/generic/.* generic true
            kolena/_(api|utils)/.* all true
            kolena/[^/]*.py all true
            tests/integration/[^/]*.py all true
            .circleci/.* all true
            examples/.*.py example true
      - run:
          name: Print parameters
          command: cat /tmp/pipeline-parameters.json
      - run:
          name: Generate config
          command: |
            export INT_MATRIX=$(jq -c 'if (.all) then (["detection", "fr", "classification", "generic"])
              else (to_entries | map(select((.value) and (.key | contains("example") | not)) | .key)) end' \
              /tmp/pipeline-parameters.json)
            yq '(.workflows.ci.jobs[] | select(."integration-test".matrix.parameters."pytest-group")
              ."integration-test".matrix.parameters."pytest-group")=env(INT_MATRIX)' \
              .circleci/continue_config.yml > .circleci/generated_config.yml
      - run:
          name: Print generated config
          command: cat .circleci/generated_config.yml
      - continuation/continue:
          configuration_path: .circleci/generated_config.yml
          parameters: /tmp/pipeline-parameters.json

workflows:
  setup:
    when:
      not:
        equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - setup
  manual:
    when:
      equal: [ "trunk", << pipeline.git.branch >> ]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: '{"all": true}'

Proper serialization of nested list of dataobjects in dataframe
  kolena/workflow/_datatypes.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: generic

Addresses Gordon's comments (n-gram definition + meteor updated example)
  docs/metrics/bleu.md
  docs/metrics/meteor.md
Due: none

Disallow empty configurations when using configured evaluator function
  kolena/workflow/test_run.py
  tests/integration/workflow/test_test_run.py
Due: generic

Added ThresholdedMetrics class to support thresholds, updated validators and evaluator to support this new field.
  docs/advanced-usage/nesting-test-case-metrics.md
  kolena/workflow/__init__.py
  kolena/workflow/_thresholded.py
  kolena/workflow/_validators.py
  kolena/workflow/evaluator.py
  tests/unit/workflow/test_evaluator.py
  tests/unit/workflow/test_validators.py
Due: generic

Rename kembeddings to kembed
  docs/advanced-usage/set-up-natural-language-search.md
  examples/search_embeddings/search/extract_embeddings.py
Due: example

Add instructions for enabling natural language search (#269)
  docs/advanced-usage/index.md
  docs/advanced-usage/set-up-natural-language-search.md
  examples/search_embeddings/search/extract_embeddings.py
  mkdocs.yml
Due: example

Bring back test was remove before
  tests/unit/workflow/test_evaluator.py
Due: none

Remove trailing whitespaces
  docs/metrics/meteor.md
Due: none

time profiling
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
Due: example

Addresses Andrew's comments (n-gram definition + meteor updated example) (#275)
  docs/metrics/bleu.md
  docs/metrics/meteor.md
Due: none

reproduce issuse with model not loading
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_run.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

no-ops evalutor example
  examples/semantic_segmentation/semantic_segmentation/data_loader.py
  examples/semantic_segmentation/semantic_segmentation/evaluator.py
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

Create perplexity.md
  docs/metrics/perplexity.md
Due: none

exclude from search
  docs/metrics/perplexity.md
Due: none

fixes for metric misalignment
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

narrow down necessary placeholder
  examples/semantic_segmentation/semantic_segmentation/seed_test_suite.py
  examples/semantic_segmentation/semantic_segmentation/workflow.py
Due: example

fix style error
  kolena/_api/v1/event_tracking.py
  kolena/_utils/instrumentation.py
  kolena/workflow/model.py
  kolena/workflow/test_run.py
Due: generic, all

Update mkdocs social plugin cache dir to avoid conflicts
  mkdocs.insiders.yml
  mkdocs.yml
Due: none

Update mkdocs ci to use cache from previous runs
  .circleci/continue_config.yml
Due: all

Fix MkDocs cache path
  .circleci/continue_config.yml
Due: all

clean up unused codes
  kolena/workflow/_datatypes.py
Due: generic

Preserve dataframe column order for relevant client operations (#273)
  kolena/_experimental/dataset/_dataset.py
  kolena/workflow/_datatypes.py
  kolena/workflow/io.py
  tests/unit/_experimental/dataset/test_dataset.py
  tests/unit/workflow/test_io.py
Due: generic

Update mkdocs social plugin cache dir to avoid conflicts (#280)
  .circleci/continue_config.yml
  mkdocs.insiders.yml
  mkdocs.yml
Due: all

update
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

remove test sample verbiage from datasets (#258)
  kolena/_experimental/dataset/_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

resolve merge
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

initial commit for remodelling
  examples/face_recognition_11/face_recognition_11/evaluator.py
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
  examples/face_recognition_11/face_recognition_11/workflow.py
Due: example

update
  examples/face_recognition_11/face_recognition_11/seed_test_suite.py
Due: example

resolve conflict
  examples/face_recognition_11/face_recognition_11/evaluator.py
Due: example

Add noop_evaluator function
  kolena/workflow/__init__.py
  kolena/workflow/evaluator_function.py
  tests/integration/workflow/test_test_run.py
Due: generic

Add docstring
  kolena/workflow/evaluator_function.py
Due: generic

Remove unused fixture in tests
  tests/integration/workflow/test_test_run.py
Due: none

Keep column order with persisted data
  kolena/_experimental/dataset/_dataset.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: none

use constant
  kolena/_experimental/dataset/_dataset.py
Due: none

add field_order to dataobject
  kolena/_experimental/dataset/_dataset.py
  kolena/workflow/_datatypes.py
  tests/integration/_experimental/dataset/test_dataset.py
  tests/unit/_experimental/dataset/test_dataset.py
  tests/unit/workflow/test_annotation.py
  tests/unit/workflow/test_asset.py
  tests/unit/workflow/test_data_object.py
  tests/unit/workflow/test_plot.py
  tests/unit/workflow/test_test_sample.py
Due: generic

missed update
  kolena/workflow/io.py
Due: generic

revert replace nan
  kolena/workflow/io.py
  tests/unit/_experimental/dataset/test_dataset.py
Due: generic

use set
  kolena/workflow/_datatypes.py
Due: generic
